.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.App_base_cc {
    min-width: 363rem;
    margin: 20rem 0;
}

.App_text_99 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    justify-content: center;
    align-items: center;
    max-width: 300rem;
}

.App_header_98 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10rem 0 25rem;
    padding: 0 10rem;
}

.Column_base_0a {
    flex: 1 1 auto;
    position: relative;
}

.Column_base__first_77::after {
    width: 1rem;
    height: 100%;
    background:
        linear-gradient(to bottom, transparent 50%, rgba(18, 17, 11, 1) 50%), linear-gradient(180deg, #c9c9b6 100%);
    background-size:
        4rem 3rem,
        100% 100%;
    opacity: 0.2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
}

.Column_battleType_fd {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30rem;
    padding: 0 25rem;
    position: relative;
}

.Column_base__first_77 .Column_battleType_fd {
    justify-content: flex-end;
}

.Column_cell_15 {
    justify-content: center;
    position: relative;
}

.Column_separator_9f {
    width: 100%;
    height: 1rem;
    background:
        linear-gradient(to left, transparent 50%, rgba(18, 17, 11, 1) 50%),
        linear-gradient(90deg, #c9c9b6 0%, #12110b 100%);
    background-size:
        3rem 2rem,
        100% 100%;
    opacity: 0.2;
    position: relative;
}

.Column_base__first_77 .Column_separator_9f {
    background-image:
        linear-gradient(to right, transparent 50%, rgba(18, 17, 11, 1) 50%),
        linear-gradient(270deg, #c9c9b6 0%, #12110b 100%);
}

.Column_row_a1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32rem;
    margin: 5rem 0;
    padding: 0 25rem;
    position: relative;
}

.Column_base__first_77 .Column_row_a1 {
    justify-content: space-between;
}

.Column_pointContainer_ac {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
}

.Column_base__first_77 .Column_pointContainer_ac {
    margin-left: 30rem;
}

.Column_point_2a {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 5rem;
}

.Column_place_70 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Column_reward_9c {
    width: 16rem;
    height: 16rem;
    margin-top: 1rem;
    background: url('R.images.gui.maps.icons.missions.tokens.c_16x16.token_comp7_light') no-repeat center / cover;
}

.Column_dash_be {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 15rem;
}

.Table_base_8f {
    width: 100%;
    position: relative;
}

.Table_battleTypeBg_c6 {
    width: 100%;
    height: 32rem;
    background: url('R.images.gui.maps.icons.comp7.icons.battleType_bg') no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.Table_table_12 {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}
