body {
    margin: 1rem;
    overflow: hidden;
}

.Counter_base_9e {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
    min-width: 21rem;
    height: 21rem;
}

.Counter_base__small_3b {
    min-width: 13rem;
    height: 13rem;
}

.Counter_base__empty_98 {
    min-width: 6rem;
    height: 6rem;
}

.Counter_base__animated_40 {
    animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
    animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 6rem rgba(254, 103, 0, 0.2),
        0 0 12rem 4rem rgba(249, 0, 0, 0.3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
    border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
    border-radius: 7rem;
}
.Counter_value_3e {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
    padding: 0 7rem;
    font-size: 14rem;
    line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
    font-size: 9rem;
    line-height: 12rem;
}
.Counter_value__text_d6 {
    padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
    padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
    padding: 0 5rem;
    font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
    display: none;
}
.Counter_plus_15 {
    position: relative;
    top: -1rem;
}
.Counter_pattern_83 {
    display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
    display: block;
    border-radius: 50%;
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes Counter_show_be {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_b6 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.App_base_ee {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    position: relative;
}

.App_base_clickable_d1 {
    cursor: pointer;
}

.App_bg_2d {
    width: 100%;
    height: 100%;
    border-radius: 3rem;
    background: url('R.images.grinch.gui.maps.icons.banner_entry_point.c_220x112') no-repeat center / cover;
    filter: brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition:
        filter 0.5s cubic-bezier(0.07, 0.82, 0.17, 1),
        transform 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}

.mediaMedium .App_bg_2d {
    background-image: url('R.images.grinch.gui.maps.icons.banner_entry_point.c_300x150');
}

.mediaLarge .App_bg_2d {
    background-image: url('R.images.grinch.gui.maps.icons.banner_entry_point.c_300x150');
}

.App_base_ee:hover .App_bg_2d {
    filter: brightness(1.05);
    transform: scale(1.03);
}

.App_base__disabled_ef .App_bg_2d {
    filter: brightness(1) grayscale(100%);
}

.App_base__disabled_ef:hover .App_bg_2d {
    filter: brightness(1.05) grayscale(100%);
}

.App_base__notSingle_fd .App_bg_2d {
    background-image: url('R.images.grinch.gui.maps.icons.banner_entry_point.c_300x112');
}

.mediaLarge .App_base__notSingle_fd .App_bg_2d {
    background-image: url('R.images.grinch.gui.maps.icons.banner_entry_point.c_300x150');
}

.App_shadow_82 {
    width: 100%;
    height: 100%;
    border: 2rem solid rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    background:
        linear-gradient(0deg, rgba(255, 0, 0, 0.01) 0%, rgba(255, 0, 0, 0.01) 100%),
        linear-gradient(180deg, rgba(0, 0, 0, 0.3) 49.38%, rgba(0, 0, 0, 0.5) 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.App_noise_0b {
    width: 100%;
    height: 100%;
    border: 2rem solid rgba(0, 0, 0, 0);
    border-radius: 2rem;
    background: url('R.images.grinch.gui.maps.icons.banner_entry_point.noise') no-repeat center;
    position: absolute;
    top: 0;
    left: 0;
}

.App_highlight_30 {
    width: 100%;
    height: 100%;
    border-image-source: url('R.images.grinch.gui.maps.icons.banner_entry_point.border');
    border-image-slice: 1 fill;
    border-image-width: 1rem;
    background: url('R.images.grinch.gui.maps.icons.banner_entry_point.highlight') no-repeat bottom / cover;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
}

.App_overlay_c7 {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}

.App_base_ee:hover .App_overlay_c7 {
    opacity: 0.8;
}

.App_particles_99 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 160rem;
    height: 112rem;
    filter: contrast(0%) brightness(2);
    mix-blend-mode: screen;
    transform: rotate(180deg);
}

.mediaMedium .App_particles_99 {
    width: 100%;
}

.mediaLarge .App_particles_99 {
    width: 300rem;
    height: 150rem;
}

.App_base__notSingle_fd .App_particles_99 {
    width: 300rem;
}

.App_content_fe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: -10rem;
    position: relative;
}

.App_title_9e {
    margin-left: 8rem;
    margin-right: 8rem;
    color: #ffffff;
    font-size: 15rem;
    font-weight: 700;
    text-align: center;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.6);
    letter-spacing: 1rem;
}

.mediaMedium .App_title_9e {
    font-size: 18rem;
}

.mediaLarge .App_title_9e {
    margin-bottom: 8rem;
    font-size: 24rem;
}

.App_base__notSingle_fd .App_title_9e {
    font-size: 22rem;
}

.mediaLarge .App_base__notSingle_fd .App_title_9e {
    font-size: 24rem;
}

.App_subtitle_af {
    margin-left: 8rem;
    margin-right: 8rem;
    color: #ffffff;
    font-size: 16rem;
    font-weight: 400;
    line-height: 20rem;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    letter-spacing: 1rem;
    opacity: 0.85;
}

.mediaLarge .App_subtitle_af {
    margin-top: -8rem;
    line-height: 20rem;
}

.App_base__notSingle_fd .App_subtitle_af {
    font-size: 12rem;
    line-height: 15rem;
}

.mediaLarge .App_base__notSingle_fd .App_subtitle_af {
    font-size: 16rem;
}

.App_subtitlePostmortem_54 {
    color: #ffdd99;
    text-shadow:
        0px 0px 15px #e52,
        0px 0px 8px #ff2a00;
}

.App_info_00 {
    max-width: 150rem;
    margin-top: 4rem;
    color: #fefeec;
    font-size: 14rem;
    text-align: center;
    opacity: 0.7;
}

.mediaMedium .App_info_00 {
    max-width: 200rem;
    font-size: 16rem;
}

.mediaLarge .App_info_00 {
    max-width: 280rem;
    margin-top: 2rem;
}

.App_base__notSingle_fd .App_info_00 {
    max-width: 280rem;
    font-size: 16rem;
}

.App_startsIn_3e {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38rem;
    background: url('R.images.grinch.gui.maps.icons.banner_entry_point.lock_background') no-repeat center 6rem;
    position: absolute;
    bottom: 0;
    left: 0;
}

.App_startsIn_lock_a1 {
    padding-left: 24rem;
    background: url('R.images.grinch.gui.maps.icons.banner_entry_point.lock') no-repeat left 0;
    background-size: 24rem 24rem;
    color: #ffdd99;
    font-size: 16rem;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.App_postMortem_43 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 38rem;
    color: #ffdd99;
    position: absolute;
    bottom: 0;
    left: 0;
}

.App_base_ee:hover .App_startsIn_3e {
    background: none;
}

.App_seasonDate_5f {
    color: #ffdd99;
    position: absolute;
    bottom: 7rem;
}

.mediaLarge .App_seasonDate_5f {
    bottom: 12rem;
}

.App_seasonDateIcon_19 {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
}

.App_base__disabled_ef .App_seasonDateIcon_19 {
    width: 46rem;
    height: 46rem;
    top: 55%;
    left: -14rem;
    transform: translateY(-50%);
}

.App_base__endSoon_e9 .App_seasonDateIcon_19 {
    width: 46rem;
    height: 46rem;
    background: url('R.images.gui.maps.icons.library.ClockIcon_1') no-repeat center / contain;
    top: 55%;
    left: -14rem;
    transform: translateY(-50%);
}

.App_seasonDateText_0c {
    font-size: 14rem;
    text-align: center;
}

.mediaMedium .App_seasonDateText_0c {
    font-size: 16rem;
}

.App_base__endSoon_e9 .App_seasonDateText_0c {
    padding-left: 21rem;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.App_base__notSingle_fd .App_seasonDateText_0c {
    font-size: 16rem;
}

.App_performanceIcon_09 {
    width: 16rem;
    height: 16rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: 9rem;
    left: 9rem;
}

.App_banner__mediumRisk_9b .App_performanceIcon_09 {
    background-image: url('R.images.gui.maps.icons.library.alertIcon');
}

.App_banner__highRisk_fd .App_performanceIcon_09 {
    background-image: url('R.images.gui.maps.icons.library.CancelIcon_1');
}

.App_new_c0 {
    position: absolute;
    top: 9rem;
    left: 9rem;
}

.Countdown_base_fe {
    display: flex;
    align-items: center;
}

.Countdown_icon_8b {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_8d {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
