.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.InfoBlock_titleBlock_22 {
    text-align: center;
}

.InfoBlock_title_af {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.InfoBlock_subtitle_f4 {
    color: rgb(2, 190, 100);
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24rem;
}

.InfoBlock_eventTime_b5 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.InfoBlock_cardsContainer_2c {
    display: flex;
    margin-top: 47rem;
}

.InfoBlock_card_b7 {
    width: 310rem;
    text-align: center;
}

.InfoBlock_card_b7 + .InfoBlock_card_b7 {
    margin-left: 18rem;
}

.InfoBlock_img_13 {
    width: 100%;
    height: 185rem;
    margin-bottom: 30rem;
    background: no-repeat center / contain;
}

.InfoBlock_cardTitle_dd {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 6rem;
}

.InfoBlock_cardSubtitle_65 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    line-height: 20rem;
}

.mediaMedium .InfoBlock_cardSubtitle_65 {
    line-height: 24rem;
}

body {
    overflow: hidden;
}

.App_base_2f {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background:
        radial-gradient(transparent 50%, rgba(0, 0, 0, 0.5) 75%),
        linear-gradient(90deg, rgba(0, 0, 0, 0.6)),
        url('R.images.battle_royale.gui.maps.infopage.background') no-repeat center / cover;
}

.App_buttonContainer_e4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 66rem;
    height: 66rem;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.15);
    white-space: nowrap;
    filter: brightness(1);
    position: absolute;
    top: 55rem;
    right: 25rem;
    z-index: 1;
    transition:
        0.3s cubic-bezier(0.07, 0.82, 0.17, 1) filter,
        1s opacity;
    cursor: pointer;
}

.mediaSmall .App_buttonContainer_e4 {
    top: 44rem;
    right: 25rem;
}

.mediaMedium .App_buttonContainer_e4 {
    width: auto;
    padding: 0 63rem 0 15rem;
    background: rgba(0, 0, 0, 0.15) url('R.images.gui.maps.icons.common.components.intro_view.video_button_bg') repeat-y
        right center;
    top: 57rem;
    right: 38rem;
}

.mediaLarge .App_buttonContainer_e4 {
    top: 70rem;
}

.App_base__video_38 .App_buttonContainer_e4 {
    opacity: 0;
    pointer-events: none;
}

.App_buttonContainer_e4:hover {
    filter: brightness(1.2);
}

.App_icon_16 {
    width: 52rem;
    height: 52rem;
    background: url('R.images.gui.maps.icons.common.components.intro_view.youtube_button') no-repeat center / contain;
}

.App_label_77 {
    display: none;
}

.mediaMedium .App_label_77 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: block;
    margin: 0 0 4rem 4rem;
}

.App_content_b7 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 45rem;
    transition: 1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s;
}

.App_base__video_38 .App_content_b7 {
    opacity: 0;
}

.mediaMedium .App_content_b7 {
    padding-top: 85rem;
}

.mediaMedium .App_content_b7 {
    padding-top: 113rem;
}

.App_title_5d {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaSmall .App_title_5d {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaLarge .App_title_5d {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_subtitle_73 {
    color: rgb(2, 190, 100);
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 9rem;
}

.mediaSmall .App_subtitle_73 {
    margin-top: 0;
    margin-bottom: 10rem;
    font-size: 22rem;
}

.mediaMedium .App_subtitle_73 {
    margin-bottom: 34rem;
}

.App_cardsContainer_9b {
    margin-top: 27rem;
}

.mediaSmall .App_cardsContainer_9b {
    margin-top: 17rem;
}

.mediaMedium .App_cardsContainer_9b {
    margin-top: 70rem;
}

.mediaLarge .App_cardsContainer_9b {
    margin-top: 115rem;
}

.App_img_92 {
    margin-bottom: 10rem;
}

.mediaSmall .App_img_92 {
    margin-bottom: 15rem;
}

.mediaMedium .App_img_92 {
    margin-bottom: 20rem;
}

.mediaLarge .App_img_92 {
    margin-bottom: 20rem;
}

.App_button_e4 {
    min-height: 24rem;
    margin-bottom: 68rem;
    padding: 0 49rem;
    transform: translateY(0);
    transition:
        1s cubic-bezier(0.07, 0.82, 0.17, 1) opacity 0.1s,
        1s cubic-bezier(0.07, 0.82, 0.17, 1) transform 0.1s;
}

.App_base__video_38 .App_button_e4 {
    opacity: 0;
    transform: translateY(100%);
}

.mediaMedium .App_button_e4 {
    min-height: 32rem;
    margin-bottom: 90rem;
}

.mediaLarge .App_button_e4 {
    margin-bottom: 135rem;
}

.mediaExtraLarge .App_button_e4 {
    margin-bottom: 485rem;
}
