body {
    margin: 1rem;
    overflow: hidden;
}

html {
    overflow: hidden;
}

@keyframes Content_zoom-in_e8 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.03);
    }
}
@keyframes Content_zoom-out_39 {
    0% {
        transform: scale(1.03);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Content_brightness-in_e7 {
    0% {
        filter: brightness(1);
    }

    100% {
        filter: brightness(1.05);
    }
}
@keyframes Content_brightness-out_72 {
    0% {
        filter: brightness(1.05);
    }

    100% {
        filter: brightness(1);
    }
}
.Content_base_5b {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: #272727;
    position: relative;
    cursor: pointer;
}
.Content_bg_2c {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: no-repeat center / cover;
    filter: brightness(1);
    position: absolute;
    transform: scale(1);
    transition:
        filter 0.5s cubic-bezier(0.07, 0.82, 0.17, 1),
        transform 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.Content_base_5b:hover .Content_bg_2c {
    filter: brightness(1.05);
    transform: scale(1.03);
}
.Content_base__disabled_80 .Content_bg_2c {
    filter: brightness(1) grayscale(100%);
}
.Content_base__disabled_80:hover .Content_bg_2c {
    filter: brightness(1.05) grayscale(100%);
}
.Content_base__big_7a .Content_bg_2c {
    background-image: url('R.images.gui.maps.icons.mapbox.entryPoint.bg.big');
}
.Content_base__thinSmall_a8 .Content_bg_2c {
    background-image: url('R.images.gui.maps.icons.mapbox.entryPoint.bg.thinSmall');
}
.Content_base__wideSmall_07 .Content_bg_2c {
    background-image: url('R.images.gui.maps.icons.mapbox.entryPoint.bg.wideSmall');
}
.Content_base__thinExtraSmall_82 .Content_bg_2c {
    background-image: url('R.images.gui.maps.icons.mapbox.entryPoint.bg.thinExtraSmall');
}
.Content_shadow_96 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
    position: absolute;
}
.Content_noice_50 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: url('R.images.gui.maps.icons.common.components.banner.noice') no-repeat center / contain;
    opacity: 0.1;
    mix-blend-mode: soft-light;
}
.Content_overlay_ad {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    position: absolute;
    transition: opacity 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.Content_base_5b:hover .Content_overlay_ad {
    opacity: 0.8;
}
.Content_stroke_26 {
    width: 100%;
    height: 100%;
    border: 1rem solid rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    box-shadow: 0 0 25rem 0 rgba(0, 0, 0, 0.05) inset;
    position: absolute;
}
.Content_base_5b:hover .Content_stroke_26 {
    border-color: rgba(255, 255, 255, 0.4);
}
.Content_base__highlighted_c2 .Content_stroke_26 {
    border-color: #ffdd99;
    box-shadow: 0 0 20rem -10rem #ffdd99 inset;
}
.Content_base__highlighted_c2:hover .Content_stroke_26 {
    border-color: #ffdd99;
    box-shadow:
        0 0 25rem 0 rgba(0, 0, 0, 0.05) inset,
        0 0 20rem -10rem #ffdd99 inset;
}
.Content_particles_ec {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 160rem;
    height: 112rem;
    mix-blend-mode: screen;
}
.mediaMedium .Content_particles_ec {
    width: 220rem;
}
.mediaLarge .Content_particles_ec {
    width: 300rem;
    height: 150rem;
}
.Content_base__single_c0 .Content_particles_ec {
    width: 300rem;
}
.Content_content_a1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15rem;
}
.Content_highlight_e6 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.common.components.banner.highlight') no-repeat center / cover;
    opacity: 0.7;
    mix-blend-mode: screen;
    position: absolute;
    transition: opacity 0.5s;
}
.Content_base_5b:hover .Content_highlight_e6 {
    opacity: 1;
}
.Content_title_a9 {
    color: #ffffff;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-top: -6rem;
    text-align: center;
    text-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.6);
    letter-spacing: 1rem;
}
.Content_base__disabled_80 .Content_title_a9 {
    opacity: 0.7;
}
.Content_base__thinSmall_a8 .Content_title_a9 {
    font-size: 22rem;
}
.Content_base__wideSmall_07 .Content_title_a9,
.Content_base__big_7a .Content_title_a9 {
    margin-top: -8rem;
    font-size: 24rem;
}
.Content_subtitle_d9 {
    color: #ffffff;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 100%;
    text-align: center;
    text-shadow: 0 1rem 1rem rgba(0, 0, 0, 1.25);
    opacity: 0.8;
}
.Content_base__disabled_80 .Content_subtitle_d9 {
    opacity: 0.56;
}
.Content_base__thinExtraSmall_82 .Content_subtitle_d9 {
    font-size: 12rem;
}
.Content_alertIcon_5a {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.library.alertBigIcon') no-repeat left / contain;
    position: absolute;
    top: 5rem;
    left: 6rem;
}

.DateText_base_07 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 12rem;
}

.DateText_base_07.DateText_base__wideSmall_17 {
    bottom: 9rem;
}

.DateText_base_07.DateText_base__thinSmall_75 {
    bottom: 8rem;
}

.DateText_base_07.DateText_base__thinExtraSmall_4b {
    bottom: 12rem;
}

.DateText_dateText_d4 {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    z-index: 1;
}

.DateText_base__highlighted_b8 .DateText_dateText_d4 {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.DateText_base__thinExtraSmall_4b .DateText_dateText_d4 {
    font-size: 14rem;
}

.DateText_redLineGlow_8d {
    width: 300rem;
    height: 28rem;
    background: url('R.images.gui.maps.icons.common.components.banner.redLine') no-repeat center / contain;
    opacity: 0.5;
    position: absolute;
    z-index: 0;
}

.DateText_timerIcon_85 {
    width: 24rem;
    height: 24rem;
    margin: 0 0 -2rem;
    background: url('R.images.gui.maps.icons.common.components.banner.clock') no-repeat center / contain;
    z-index: 1;
}

.DateText_base__thinExtraSmall_4b .DateText_timerIcon_85 {
    margin: 2rem 0 1rem;
}

.DateText_base__disabled_e7 .DateText_timerIcon_85 {
    margin: 0 0 -4rem;
    background-image: url('R.images.gui.maps.icons.common.components.banner.lock');
}

.DateText_base__thinExtraSmall_4b .DateText_base__disabled_e7 .DateText_timerIcon_85 {
    margin: -1rem 0 -4rem;
}
