body {
    margin: 1rem;
    overflow: hidden;
}

html {
    overflow: hidden;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

@keyframes ProgressionView_slideUp_e8 {
    0% {
        transform: translateY(8rem);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes ProgressionView_slideDown_4a {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(8rem);
    }
}
@keyframes ProgressionView_fadeIn_0f {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes ProgressionView_fadeOut_c8 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
.ProgressionView_base_9a {
    animation: ProgressionView_slideUp_e8 0.2s linear forwards;
    display: flex;
    justify-content: center;
    width: 210rem;
    height: 208rem;
    position: relative;
    cursor: pointer;
    pointer-events: none;
}
.ProgressionView_base_9a:hover {
    animation: ProgressionView_slideDown_4a 0.2s linear forwards;
}
.ProgressionView_wrapper_89 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 210rem;
    height: 208rem;
    /* prettier-ignore*/
    clip-path: polygon(
        0 -40rem
        210rem -40rem
        210rem 162rem
        105rem 208rem
        0 162rem
        0 -40rem
    );
    position: relative;
}
.ProgressionView_base__broken_07 .ProgressionView_wrapper_89 {
    filter: grayscale(90%);
}
.ProgressionView_bg_68 {
    width: 170rem;
    height: 208rem;
    background: url('R.images.gui.maps.icons.bob.hangar.widget.bg') no-repeat center / contain;
    position: absolute;
    top: 0;
    pointer-events: auto;
}
.ProgressionView_base__team1_b6 .ProgressionView_bg_68 {
    background-image: url('R.images.gui.maps.icons.bob.hangar.widget.bg_team1');
}
.ProgressionView_base__team2_42 .ProgressionView_bg_68 {
    background-image: url('R.images.gui.maps.icons.bob.hangar.widget.bg_team2');
}
.ProgressionView_base__team3_21 .ProgressionView_bg_68 {
    background-image: url('R.images.gui.maps.icons.bob.hangar.widget.bg_team3');
}
.ProgressionView_base__team4_f1 .ProgressionView_bg_68 {
    background-image: url('R.images.gui.maps.icons.bob.hangar.widget.bg_team4');
}
.ProgressionView_icon_a4 {
    width: 180rem;
    height: 335rem;
    background: no-repeat center / cover;
    position: absolute;
    top: 5rem;
    pointer-events: none;
}
.ProgressionView_separator_17 {
    width: 160rem;
    height: 120rem;
    background: no-repeat center / cover;
    position: absolute;
    bottom: -15rem;
    pointer-events: none;
}
.ProgressionView_teamName_d8 {
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    width: 100%;
    text-align: center;
    white-space: pre-wrap;
    position: absolute;
    top: 141rem;
}
.ProgressionView_rank_cf {
    width: 100%;
    color: #f2f2f7;
    font-size: 110rem;
    font-weight: 700;
    line-height: 110rem;
    text-align: center;
    mask-image: linear-gradient(
        180deg,
        #fff 0%,
        #fff 65.82%,
        rgba(255, 255, 255, 0.13) 78.47%,
        rgba(255, 255, 255, 0) 86.44%
    );
    position: absolute;
    bottom: 35rem;
}
.ProgressionView_base__hidden_a1 .ProgressionView_rank_cf,
.ProgressionView_base__broken_07 .ProgressionView_rank_cf {
    visibility: hidden;
}
.ProgressionView_base__team1_b6 .ProgressionView_rank_cf {
    text-shadow:
        0 0 5rem rgba(255, 0, 0, 0.5),
        0 0 12rem rgba(238, 34, 34, 0.5),
        0 0 12rem rgba(255, 101, 101, 0.5);
}
.ProgressionView_base__team2_42 .ProgressionView_rank_cf {
    text-shadow:
        0 0 5rem rgba(255, 184, 0, 0.5),
        0 0 12rem rgba(238, 193, 34, 0.5),
        0 0 12rem rgba(255, 193, 101, 0.5);
}
.ProgressionView_base__team3_21 .ProgressionView_rank_cf {
    text-shadow:
        0 0 5rem rgba(250, 0, 255, 0.5),
        0 0 12rem rgba(148, 34, 238, 0.5),
        0 0 12rem rgba(159, 101, 255, 0.5);
}
.ProgressionView_base__team4_f1 .ProgressionView_rank_cf {
    text-shadow:
        0 0 5rem rgba(0, 117, 255, 0.5),
        0 0 12rem rgba(34, 103, 238, 0.5),
        0 0 12rem rgba(101, 200, 255, 0.5);
}
.ProgressionView_alertIcon_ba {
    width: 32rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.bob.hangar.widget.icon_alert') no-repeat center / cover;
    visibility: hidden;
    position: absolute;
    bottom: 65rem;
}
.ProgressionView_base__broken_07 .ProgressionView_alertIcon_ba {
    visibility: visible;
}

@keyframes SkillsView_slideUp_64 {
    0% {
        transform: translateY(8rem);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes SkillsView_slideDown_e6 {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(8rem);
    }
}
@keyframes SkillsView_fadeIn_52 {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes SkillsView_fadeOut_16 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}
.SkillsView_base_b6 {
    animation: SkillsView_slideUp_64 0.2s linear forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 124rem;
    height: 156rem;
    position: relative;
    cursor: pointer;
    pointer-events: none;
}
.SkillsView_base_b6:hover {
    animation: SkillsView_slideDown_e6 0.2s linear forwards;
}
.SkillsView_wrapper_49 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90rem;
    height: 100%;
    padding-top: 10rem;
    background: url('R.images.gui.maps.icons.bob.hangar.widget.skill_bg_active') no-repeat center / cover;
    pointer-events: auto;
}
.SkillsView_base__inactive_e4 .SkillsView_wrapper_49 {
    padding-top: 20rem;
    background-image: url('R.images.gui.maps.icons.bob.hangar.widget.skill_bg_inactive');
}
.SkillsView_icon_69 {
    width: 72rem;
    height: 72rem;
    margin-bottom: -18rem;
    background: no-repeat center center / cover;
}
.SkillsView_base__inactive_e4 .SkillsView_icon_69 {
    width: 40rem;
    height: 48rem;
    margin: 8rem 0 -4rem;
}
.SkillsView_label_62 {
    width: 90rem;
    padding-top: 10rem;
    color: #f2f2f7;
    font-size: 14rem;
    text-align: center;
    text-overflow: ellipsis;
}
.SkillsView_base__inactive_e4 .SkillsView_label_62 {
    padding: 10rem 4rem;
    color: #8c8c7e;
    text-shadow: 0 1rem 4rem #000000;
}
.SkillsView_time_db {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: -6rem;
    color: #ffc363;
    font-size: 14rem;
    position: relative;
}
.SkillsView_base__inactive_e4 .SkillsView_time_db {
    visibility: hidden;
}
.SkillsView_timerIcon_d4 {
    width: 37rem;
    height: 37rem;
    margin: 0 -8rem 0 -12rem;
    background: url('R.images.gui.maps.icons.bob.hangar.entrypoint.timer') no-repeat center / contain;
}
.SkillsView_count_df {
    display: flex;
    align-items: center;
    width: 34rem;
    height: 34rem;
    padding-left: 3rem;
    background: url('R.images.gui.maps.icons.bob.hangar.widget.count_bg') no-repeat center / cover;
    color: #ffc363;
    font-size: 14rem;
    position: absolute;
    top: 10rem;
    right: 1rem;
}
.SkillsView_base__inactive_e4 .SkillsView_count_df {
    visibility: hidden;
}
.SkillsView_countIcon_7d {
    width: 17rem;
    height: 19rem;
    background: url('R.images.gui.maps.icons.bob.hangar.widget.count_icon') no-repeat center / contain;
}

.App_base_ba {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    cursor: default;
}

.App_progression_59 {
    margin-right: -10rem;
}

.App_skills_d4 {
    margin-left: -10rem;
}
