.SubView_base_df {
    width: 100%;
    height: 100%;
    position: relative;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.TextOverflow_base_3b {
    max-width: 100%;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.DialogTemplateButton_base_0b {
    min-width: 160rem;
}

.DialogTemplateButton_base_0b + .DialogTemplateButton_base_0b {
    margin-left: 14rem;
}

.DialogTemplateButton_label_83 {
    line-height: 1.2;
    text-align: center;
}

.DialogTemplateButton_label__noTooltip_14 {
    pointer-events: none;
}

.DialogTemplateButtonList_base_8e {
    display: flex;
}

.DialogTemplateWrapper_base_f7 {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    position: relative;
}

.DialogTemplateWrapper_base__hidden_5f {
    visibility: hidden;
}

.DialogTemplateWrapper_subView_30 {
    height: auto;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.DefaultDialogTemplate_base_d2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.DefaultDialogTemplate_topRight_eb {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.DefaultDialogTemplate_center_b4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720rem;
    opacity: 0;
    position: relative;
}

.DefaultDialogTemplate_center__shown_e1 {
    animation-name: DefaultDialogTemplate_windowIn_3b;
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

.DefaultDialogTemplate_center__withIcon_f9 {
    margin-top: -164rem;
}

.DefaultDialogTemplate_base__extraSmallHeight_f5
    .DefaultDialogTemplate_center__withIcon_f9.DefaultDialogTemplate_center__responsive_21,
.DefaultDialogTemplate_base__smallHeight_52
    .DefaultDialogTemplate_center__withIcon_f9.DefaultDialogTemplate_center__responsive_21 {
    margin-top: -82rem;
}

.DefaultDialogTemplate_icon_36 {
    margin-bottom: 32rem;
    z-index: 1;
}

.DefaultDialogTemplate_base__extraSmallHeight_f5 .DefaultDialogTemplate_icon__responsive_e0,
.DefaultDialogTemplate_base__smallHeight_52 .DefaultDialogTemplate_icon__responsive_e0 {
    margin-bottom: 43rem;
}

.DefaultDialogTemplate_title_c6 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 17rem;
    z-index: 2;
}

.DefaultDialogTemplate_base__extraSmallHeight_f5 .DefaultDialogTemplate_title__responsive_6e,
.DefaultDialogTemplate_base__smallHeight_52 .DefaultDialogTemplate_title__responsive_6e {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}

.DefaultDialogTemplate_content_22 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    z-index: 3;
}

.DefaultDialogTemplate_footer_4e {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #c9c9b6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 14rem;
}

.DefaultDialogTemplate_buttons_f7 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    z-index: 2;
}

.DefaultDialogTemplate_divider_d5 {
    width: 100%;
    height: 1rem;
    margin: 25rem 0 27rem;
    background-color: #ffffff;
    opacity: 0.1;
}

.DefaultDialogTemplate_divider__noContent_3f {
    margin-top: 23rem;
}

.DefaultDialogTemplate_divider__noFooter_10 {
    margin-bottom: 29rem;
}

.DefaultDialogTemplate_closeBtn_5e {
    align-self: flex-end;
    margin: 31rem 28rem 0 0;
}

.DefaultDialogTemplate_base__extraSmallHeight_f5 .DefaultDialogTemplate_closeBtn__responsive_49,
.DefaultDialogTemplate_base__smallHeight_52 .DefaultDialogTemplate_closeBtn__responsive_49 {
    margin: 11rem 8rem 0 0;
}

@keyframes DefaultDialogTemplate_windowIn_3b {
    from {
        opacity: 0;
        transform: scale(1.1);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.DropDownControl_base_46 {
    display: flex;
    height: 100%;
    border: 1rem solid #464538;
    border-radius: 2rem;
    box-shadow:
        inset 0 0 1rem #000,
        inset 0 0 8rem #000;
    position: relative;
    cursor: pointer;
}

.DropDownControl_base__extraSmall_a3 {
    height: 20rem;
}

.DropDownControl_base__small_22 {
    height: 24rem;
}

.DropDownControl_base__medium_09 {
    height: 32rem;
}

.DropDownControl_base__disabled_37 {
    cursor: default;
}

.DropDownControl_base__focused_63 {
    border-color: #75552c;
}

.DropDownControl_base__selected_46 {
    border-color: #7ab300;
}
.DropDownControl_stateHighlight_16 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}
.DropDownControl_base__over_e7 .DropDownControl_stateHighlight_16 {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 1;
}
.DropDownControl_base__down_1c .DropDownControl_stateHighlight_16,
.DropDownControl_base__open_e3 .DropDownControl_stateHighlight_16 {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.4) 100%);
    opacity: 1;
}
.DropDownControl_label_12 {
    display: flex;
    align-items: flex-end;
    flex: 1;
    padding: 0 8rem;
    color: #8c8c7e;
}
.DropDownControl_label__extraSmall_3d {
    padding-bottom: 2rem;
    font-size: 14rem;
}
.DropDownControl_label__small_e7 {
    padding-bottom: 2rem;
    font-size: 14rem;
}
.DropDownControl_label__medium_0b {
    padding-bottom: 5rem;
    font-size: 16rem;
}
.DropDownControl_label__placeholder_98 {
    color: #595950;
}
.DropDownControl_base__down_1c .DropDownControl_label_12,
.DropDownControl_base__open_e3 .DropDownControl_label_12 {
    opacity: 0.8;
}
.DropDownControl_base__disabled_37 .DropDownControl_label_12 {
    color: #37362e;
}
.DropDownControl_button_cb {
    display: flex;
    background: url('R.images.gui.maps.icons.components.dropdown.button') no-repeat center / 100%;
    position: relative;
    top: 1rem;
    right: 1rem;
    pointer-events: none;
}
.DropDownControl_button__extraSmall_d2 {
    width: 22rem;
    height: 16rem;
}
.DropDownControl_button__small_b5 {
    width: 22rem;
    height: 20rem;
}
.DropDownControl_button__medium_14 {
    width: 28rem;
    height: 28rem;
}
.DropDownControl_base__down_1c .DropDownControl_button_cb {
    opacity: 0.6;
}
.DropDownControl_base__open_e3 .DropDownControl_button_cb {
    opacity: 0.8;
}
.DropDownControl_base__disabled_37 .DropDownControl_button_cb {
    opacity: 0.8;
}
.DropDownControl_gradient_b5 {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.25s ease-in-out;
}
.DropDownControl_base__over_e7 .DropDownControl_gradient_b5 {
    opacity: 1;
}
.DropDownControl_disabled_4e {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.library.disabled_pattern') center / 9rem;
    opacity: 0.8;
    position: absolute;
}
.DropDownControl_arrow_de {
    background: no-repeat center / contain;
    position: absolute;
}
.DropDownControl_arrow__extraSmall_eb {
    width: 9rem;
    height: 6rem;
    background-image: url('R.images.gui.maps.icons.components.dropdown.arrow_small');
    top: 6rem;
    left: 7rem;
}
.DropDownControl_arrow__small_77 {
    width: 9rem;
    height: 6rem;
    background-image: url('R.images.gui.maps.icons.components.dropdown.arrow_small');
    top: 7rem;
    left: 7rem;
}
.DropDownControl_arrow__medium_3d {
    width: 13rem;
    height: 7rem;
    background-image: url('R.images.gui.maps.icons.components.dropdown.arrow_medium');
    top: 11rem;
    left: 8rem;
}
.DropDownControl_base__open_e3 .DropDownControl_arrow_de {
    transform: rotate(180deg);
}
.DropDownControl_alert_75 {
    border: 1rem solid #ee7000;
    border-radius: 2rem;
    box-shadow: inset 0 0 6rem rgba(141, 13, 3, 0.1);
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    z-index: 1;
    animation: DropDownControl_blink_68 2s ease-in-out infinite;
    pointer-events: none;
}
@keyframes DropDownControl_blink_68 {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

.HorizontalBar_base__nonActive_82 {
    visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

.VerticalBar_base__nonActive_42 {
    visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

/* bugfix WOTD-242261: due to using Chat as Subview in MembersWindow in platoon feature
2 bundles (Chat.css and MembersWindow.css) start to conflict with each other

for example, provided selectors as css mixClasses for Scroll component can be overwritten by basic css classes of Scroll component
because both in Chat.tsx and MembersWindow.tsx <Scroll> component is used

so we just add specificity to css classes here
*/

.VerticalAutoScroll_base_db .VerticalAutoScroll_content_47 {
    height: auto;
    min-height: 1rem;
    max-height: 100%;
}

.VerticalAutoScroll_base_db .VerticalAutoScroll_barBase_93 {
    position: absolute;
    right: 0;
}

.DropDownItem_base_5e {
    padding-left: 8rem;
    padding-right: 8rem;
    color: #8c8c7e;
    cursor: pointer;
}

.DropDownItem_base_5e:hover {
    background-color: #1c1b12;
}

.DropDownItem_base__extraSmall_5a {
    padding-top: 2rem;
    padding-bottom: 4rem;
}

.DropDownItem_base__small_d6 {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.DropDownItem_base__medium_e4 {
    padding-top: 6rem;
    padding-bottom: 8rem;
}

.DropDownItem_base__selected_8e {
    color: #cbac77;
}

.DropDownItem_base__disabled_21 {
    color: #37362e;
    pointer-events: none;
}

.DropDownItems_base__withScroll_19 {
    padding-right: 15rem;
}

.DropDownList_base_62 {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 198rem;
    position: relative;
}

.DropDownList_base__extraSmall_60 {
    font-size: 14rem;
    line-height: 16rem;
}

.DropDownList_base__small_0c {
    font-size: 14rem;
    line-height: 16rem;
}

.DropDownList_base__medium_99 {
    font-size: 16rem;
    line-height: 18rem;
}

.PureDropDown_base_fc {
    display: flex;
    flex-direction: column;
    width: 200rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
    background-color: rgba(23, 23, 15, 0.8);
    position: relative;
}

.PureDropDown_base__extraSmall_31 {
    height: 20rem;
}

.PureDropDown_base__small_a6 {
    height: 24rem;
}

.PureDropDown_base__medium_05 {
    height: 32rem;
}
.PureDropDown_control__down_18 {
    z-index: 3;
}
.PureDropDown_list_28 {
    display: flex;
    width: 100%;
    border: 1rem solid #464538;
    border-radius: 2rem;
    background-color: #090906;
    position: absolute;
    left: 0;
    transition: opacity 0.25s;
}
.PureDropDown_list__up_a1 {
    opacity: 0;
    z-index: -1;
    pointer-events: none;
}
.PureDropDown_list__down_c4 {
    opacity: 1;
    z-index: 2;
}
.PureDropDown_list__under_64 {
    margin-top: -1rem;
    top: 100%;
}
.PureDropDown_list__above_c8 {
    top: 1rem;
    transform: translateY(-100%);
}

.NameDropdown_title_4b {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: 6rem;
}

.NameDropdown_dropdownList_6e {
    max-height: 224rem;
}

.DocumentChangeContent_base_c6 {
    display: flex;
    margin-bottom: 12rem;
}

.DocumentChangeContent_firstName_18 {
    margin-right: 20rem;
}

.DocumentChangeContent_lastName_0b {
    margin-left: 20rem;
}
