.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_91 {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_00 {
    justify-content: flex-start;
}

.ExtendedText_tooltip__justify-center_08 {
    justify-content: center;
}

.ExtendedText_tooltip__justify-flex-end_90 {
    justify-content: flex-end;
}

.ExtendedText_tooltip__align-flex-start_40 {
    align-content: flex-start;
}

.ExtendedText_tooltip__align-center_54 {
    align-content: center;
}

.ExtendedText_tooltip__align-flex-end_d2 {
    align-content: flex-end;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: pre;
    overflow-wrap: normal;
}

.TankmanIcon_base_f9 {
    background: no-repeat center / contain;
}

.TankmanIcon_base__big_98 {
    width: 158rem;
    height: 118rem;
}

.TankmanIcon_base__small_b2,
.TankmanIcon_base__barracks_62 {
    width: 100rem;
    height: 60rem;
}

.TankmanIcon_base__special_3f {
    width: 444rem;
    height: 300rem;
}

.TankmanIcon_base__c_204x256_97 {
    width: 204rem;
    height: 256rem;
}

.TankmanFolder_base_00 {
    width: 360rem;
    height: 360rem;
    display: flex;
    position: relative;
    pointer-events: none;
}

.TankmanFolder_folder_f5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background: url('R.images.gui.maps.icons.tankmen.crew.frames.folder') no-repeat center / contain;
    pointer-events: none;
}

.TankmanFolder_folder__postProgression_07 {
    background-image: url('R.images.gui.maps.icons.tankmen.crew.frames.folder_post_progression');
}

.TankmanFolder_photoFrame_ae {
    width: 240rem;
    height: 210rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.frames.photo_frame_small') no-repeat center / contain;
    position: absolute;
    top: 38rem;
    left: 80rem;
}

.TankmanFolder_base__big_60 .TankmanFolder_photoFrame_ae {
    width: 260rem;
    height: 320rem;
    background-image: url('R.images.gui.maps.icons.tankmen.crew.frames.photo_frame_big');
    top: 20rem;
    left: 56rem;
}

.TankmanFolder_veteranBlick_14 {
    width: 88rem;
    height: 232rem;
    mix-blend-mode: additive;
    position: absolute;
    top: -32rem;
    left: 49rem;
}

.TankmanFolder_veteranFrame_9c {
    width: 280rem;
    height: 240rem;
    mix-blend-mode: additive;
    position: absolute;
    top: 9rem;
    left: 78rem;
}

.TankmanFolder_base__big_60 .TankmanFolder_veteranFrame_9c {
    width: 320rem;
    height: 376rem;
    top: -7rem;
    left: 31rem;
}

.TankmanFolder_icon_74 {
    position: absolute;
    bottom: 53rem;
    left: 59rem;
}

.TankmanFolder_base__big_60 .TankmanFolder_icon_74 {
    bottom: 32rem;
    left: 33rem;
}

.TankmanFolder_innerShadow_44 {
    width: 204rem;
    height: 256rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.icon_shadow') no-repeat center / contain;
    position: absolute;
    bottom: 53rem;
    left: 59rem;
    pointer-events: none;
}

.TankmanFolder_base__big_60 .TankmanFolder_innerShadow_44 {
    bottom: 32rem;
    left: 33rem;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.RetrainAndEfficiency_base_71 {
    display: flex;
    justify-content: center;
}

.RetrainAndEfficiency_canNotRetrainIcon_82 {
    width: 50rem;
    height: 30rem;
    margin-left: 14rem;
    background: url('R.images.gui.maps.icons.crew.profile.untrained') no-repeat center / contain;
    position: relative;
    top: -5rem;
}

.RetrainAndEfficiency_retrainWarningLabel_af {
    color: #ff2717;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.RetrainAndEfficiency_skillsEfficiencyLabel_45 {
    color: rgba(242, 242, 247, 0.6);
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 14rem;
}

.mediaExtraLarge .RetrainAndEfficiency_skillsEfficiencyLabel_45 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.RetrainAndEfficiency_skillsEfficiencyLabel__red_e9 {
    color: #ff2717;
}

.RetrainAndEfficiency_skillsEfficiencyRateContainer_5c {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.RetrainAndEfficiency_skillsEfficiencyNumber_9a {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaExtraLarge .RetrainAndEfficiency_skillsEfficiencyNumber_9a {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.RetrainAndEfficiency_skillsEfficiencyNumber__red_a1 {
    color: #ffc3be;
    text-shadow:
        #ff2717 0 0 20rem,
        #ff2717 0 0 20rem;
}

.RetrainAndEfficiency_skillsEfficiencyInfoIcon_76 {
    width: 14rem;
    height: 14rem;
    margin-left: 5rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.information') no-repeat center / contain;
    position: relative;
    top: 2rem;
}

.mediaExtraLarge .RetrainAndEfficiency_skillsEfficiencyInfoIcon_76 {
    background-image: url('R.images.gui.maps.icons.tankmen.crew.information_big');
}

.CurrentVehicleTrain_base_22 {
    display: flex;
    height: 20rem;
}

.CurrentVehicleTrain_currentVehicle_9d {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaExtraLarge .CurrentVehicleTrain_currentVehicle_9d {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.CurrentVehicleTrain_currentVehicleName_19 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaExtraLarge .CurrentVehicleTrain_currentVehicleName_19 {
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.CurrentVehicleTrain_currentVehicleName__isPremium_86 {
    color: #ffc363;
}

.CurrentVehicleTrain_retrainContainer_6a {
    display: flex;
    align-items: center;
    position: relative;
}

.CurrentVehicleTrain_retrainBtnContainer_00 {
    width: 120rem;
    height: 20rem;
    margin-left: 12rem;
}

.CurrentVehicleTrain_retrainBtn_3e {
    width: 100%;
    height: 100%;
    border: 1rem solid #ffdd99;
    box-shadow:
        0 0 4rem 0 rgba(255, 127, 0, 0.25),
        0 0 8rem 0 rgba(255, 42, 0, 0.5),
        0 0 15rem 0 rgba(238, 85, 34, 0.3);
}

.CurrentVehicleTrain_discountContainer_24 {
    display: flex;
    position: relative;
}

.CurrentVehicleTrain_discountText_45 {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-left: 14rem;
    position: relative;
}

.CurrentVehicleTrain_retrainDiscountIcon_91,
.CurrentVehicleTrain_penaltyDiscountIcon_33 {
    width: 80rem;
    height: 45rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.discount_retrain') no-repeat center / contain;
    position: absolute;
    z-index: -1;
}

.CurrentVehicleTrain_penaltyDiscountIcon_33 {
    top: -13rem;
    right: -35rem;
}

.CurrentVehicleTrain_retrainDiscountIcon_91 {
    top: -10rem;
    right: -30rem;
}

.Name_base_2d {
    display: flex;
    margin-top: 4rem;
    position: relative;
}

.mediaMedium .Name_base_2d {
    margin-top: 2rem;
}

.mediaExtraLarge .Name_base_2d {
    margin-top: 6rem;
}

.Name_labelWrapper_a0 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .Name_labelWrapper_a0 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.Name_labelWrapper_a0 {
    position: relative;
}

.Name_labelHiglight_7d {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-shadow:
        0 0 14rem rgba(255, 153, 0, 1),
        0 0 4rem rgba(251, 120, 0, 0.63);
    opacity: 0.8;
}

.Name_voiceButton_00 {
    width: 34rem;
    height: 24rem;
    position: absolute;
    top: 5rem;
    right: -48rem;
}

.Name_soundIcon_2a {
    width: 24rem;
    height: 24rem;
    margin: 2rem 0 0 1rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.sound') no-repeat center / contain;
}

.Name_animationGlow_08 {
    width: 778rem;
    height: 438rem;
    background: url('R.images.gui.maps.icons.crew.profile.glow_spot_white') no-repeat center / contain;
    position: absolute;
    top: -200rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.RoleIcon_base_51 {
    background: no-repeat center / contain;
}

.RoleIcon_base__small_68 {
    width: 13rem;
    height: 13rem;
}

.RoleIcon_base__c_14x14_8f {
    width: 14rem;
    height: 14rem;
}

.RoleIcon_base__c_18x18_0b {
    width: 18rem;
    height: 18rem;
}

.RoleIcon_base__c_24x24_new_fe,
.RoleIcon_base__c_24x24_52 {
    width: 24rem;
    height: 24rem;
}

.RoleIcon_base__c_30x30_red_85,
.RoleIcon_base__c_30x30_e9 {
    width: 30rem;
    height: 30rem;
}

.RoleIcon_base__c_40x40_99 {
    width: 40rem;
    height: 40rem;
}

.RoleIcon_base__medium_5d {
    width: 33rem;
    height: 33rem;
}

.RoleIcon_base__white_2a {
    width: 44rem;
    height: 44rem;
}

.RoleIcon_base__big_b4 {
    width: 60rem;
    height: 60rem;
}

.Role_base_e0 {
    display: flex;
    height: 24rem;
}

.mediaMedium .Role_base_e0 {
    margin-top: 0;
}

.mediaExtraLarge .Role_base_e0 {
    align-items: center;
}

.Role_role_2a {
    display: flex;
    align-items: center;
}

.mediaExtraLarge .Role_role_2a {
    align-items: flex-end;
}

.Role_roleName_79 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin: 2rem 6rem;
}

.mediaExtraLarge .Role_roleName_79 {
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.Role_commanderFeature_e2 {
    display: flex;
    align-items: center;
}

.Role_sense_21,
.Role_commanderBonus_99 {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / contain;
}

.mediaExtraLarge .Role_sense_21,
.mediaExtraLarge .Role_commanderBonus_99 {
    width: 34rem;
    height: 34rem;
}

.Role_sense_21 {
    background-image: url('R.images.gui.maps.icons.tankmen.skills.medium.commander_sixthSense');
}

.mediaExtraLarge .Role_sense_21 {
    background-image: url('R.images.gui.maps.icons.tankmen.skills.big.commander_sixthSense');
}

.Role_commanderBonus_99 {
    background-image: url('R.images.gui.maps.icons.tankmen.skills.medium.commander_bonus');
}

.mediaExtraLarge .Role_commanderBonus_99 {
    background-image: url('R.images.gui.maps.icons.tankmen.skills.big.commander_bonus');
}

.FlagIcon_base_25 {
    background: no-repeat top center / cover;
}

.FlagIcon_base__c_1080x454_6c {
    width: 1080rem;
    height: 454rem;
}

.FlagIcon_base__c_240x118_92 {
    width: 240rem;
    height: 118rem;
}

.FlagIcon_base__c_155x31_41 {
    width: 155rem;
    height: 31rem;
}

.VehicleTypeIcon_base_80 {
    background: no-repeat center / contain;
}

.VehicleTypeIcon_base__big_01 {
    width: 83rem;
    height: 74rem;
}

.VehicleTypeIcon_base__c_44x44_80 {
    width: 44rem;
    height: 44rem;
}

.VehicleTypeIcon_base__c_48x48_specSlot_c4 {
    width: 48rem;
    height: 48rem;
}

.VehicleTypeIcon_base__c_60x54_08 {
    width: 60rem;
    height: 54rem;
}

.SpecializationSlots_base_1a {
    display: flex;
    margin: 7rem 0 15rem;
}

.mediaExtraLarge .SpecializationSlots_base_1a {
    margin: 5rem 0 21rem;
}

.SpecializationSlots_frame_85,
.SpecializationSlots_frameChange_c6 {
    display: flex;
    width: 170rem;
    height: 33rem;
    border: 1rem solid rgba(242, 242, 247, 0.1);
    border-radius: 2rem;
    position: relative;
}

.SpecializationSlots_frameChange_c6 {
    margin-right: 10rem;
    cursor: pointer;
}

.SpecializationSlots_frameChange_c6:hover .SpecializationSlots_darkFrame_34 {
    display: block;
}

.SpecializationSlots_frameChange_c6:hover .SpecializationSlots_shadow_4a,
.SpecializationSlots_frameChange_c6:hover .SpecializationSlots_arrows_6e {
    display: flex;
}

.SpecializationSlots_frameChange_c6:hover .SpecializationSlots_info_7c {
    display: none;
}

.SpecializationSlots_darkFrame_34,
.SpecializationSlots_shadow_4a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.SpecializationSlots_darkFrame_34 {
    background-color: rgba(0, 0, 0, 0.3);
}

.SpecializationSlots_shadow_4a {
    background-color: rgba(0, 0, 0, 0.4);
}

.SpecializationSlots_arrows_6e {
    display: none;
    align-items: center;
    position: absolute;
    top: -3rem;
    left: 7rem;
}

.SpecializationSlots_arrowsIcon_fc {
    width: 34rem;
    height: 34rem;
    background: url('R.images.gui.maps.icons.tankmen.crew.arrows') no-repeat center / contain;
}

.SpecializationSlots_changeVehicle_58 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.SpecializationSlots_tier_68 {
    color: #fefeec;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.SpecializationSlots_vehicle_b6 {
    color: #fefeec;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    position: relative;
    left: -19rem;
}

.SpecializationSlots_vehicleTypeIcon_77 {
    width: 48rem;
    height: 48rem;
    position: relative;
    left: -10rem;
}

.SpecializationSlots_info_7c {
    display: flex;
    align-items: center;
    padding: 0 0 2rem 8rem;
    pointer-events: none;
}

.SpecializationSlots_flag_84 {
    position: absolute;
    top: 0;
    left: 0;
}

.SpecializationSlots_vehicleIcon_ec {
    width: 80rem;
    height: 31rem;
    background: no-repeat 0 / cover;
    position: absolute;
    top: 0;
    right: 0;
}

.SpecializationSlots_premVehicle_c3 {
    color: #ffc363;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    position: relative;
    top: 5rem;
}

.SpecializationSlots_premVehicleTypeIcon_c9 {
    width: 28rem;
    height: 28rem;
    background-size: 48rem 48rem;
    position: relative;
    top: -5rem;
}

.SpecializationSlots_wotPlusBg_ce {
    width: 122rem;
    height: 31rem;
    background: url('R.images.gui.maps.icons.crew.profile.specialization_wot_plus_bg') no-repeat center / contain;
    position: absolute;
    top: 0;
    right: 0;
}

.TankmanInfoApp_base_bc {
    display: flex;
    height: 232rem;
    padding-left: 24rem;
    position: relative;
}

.mediaMedium .TankmanInfoApp_base_bc {
    height: 244rem;
    padding-left: 330rem;
}

.mediaExtraLarge .TankmanInfoApp_base_bc {
    height: 282rem;
    padding-left: 344rem;
}

.TankmanInfoApp_tankmanFolder_6d {
    display: none;
}

.mediaMedium .TankmanInfoApp_tankmanFolder_6d {
    display: flex;
    position: absolute;
    top: -65rem;
    left: 0;
}

.mediaExtraLarge .TankmanInfoApp_tankmanFolder_6d {
    top: -44rem;
}

.TankmanInfoApp_descriptionBlock_00 {
    display: flex;
    flex-direction: column;
}

.TankmanInfoApp_description_3c {
    color: rgba(242, 242, 247, 0.6);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 544rem;
    max-height: 64rem;
    margin-top: 6rem;
}

.mediaMedium .TankmanInfoApp_description_3c {
    width: 526rem;
    margin-top: 9rem;
}

.mediaLarge .TankmanInfoApp_description_3c {
    width: 662rem;
    font-size: 16rem;
}

.mediaExtraLarge .TankmanInfoApp_description_3c {
    width: 952rem;
}

.TankmanInfoApp_specializationLabel_a3 {
    color: rgba(242, 242, 247, 0.6);
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 29rem;
}

.mediaMedium .TankmanInfoApp_specializationLabel_a3 {
    margin-top: 27rem;
}

.mediaExtraLarge .TankmanInfoApp_specializationLabel_a3 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    margin-top: 25rem;
}

.TankmanInfoApp_specializationLabel__withDescription_2e {
    margin-top: 19rem;
}

.mediaMedium .TankmanInfoApp_specializationLabel__withDescription_2e {
    margin-top: 19rem;
}

.mediaLarge .TankmanInfoApp_specializationLabel__withDescription_2e {
    margin-top: 15rem;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

.HorizontalBar_base__nonActive_82 {
    visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

.VerticalBar_base__nonActive_42 {
    visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.ScrollWithLips_base_a2 {
    width: 100%;
    position: relative;
}

.ScrollWithLips_bar_67 {
    position: absolute;
    top: 0;
    right: -27rem;
}

.ScrollWithLips_content_6d {
    height: auto;
    max-height: 100%;
}

.ScrollWithLips_fadeContainerTop_6d {
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: -1rem;
}

.ScrollWithLips_fadeContainerBottom_43 {
    width: 100%;
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transform: rotate(180deg);
}

.ScrollWithLips_fade_5e {
    width: 100%;
    height: 30rem;
    background: linear-gradient(
        180deg,
        #000000 0%,
        rgba(0, 0, 0, 0.5) 40%,
        rgba(0, 0, 0, 0.3) 60%,
        rgba(0, 0, 0, 0) 100%
    );
    opacity: 0.3;
}

.AchievementsList_base_90 {
    display: flex;
    justify-content: center;
    flex: 0;
}

.AchievementsList_scrollableContent_5c {
    width: 582rem;
}

.mediaMedium .AchievementsList_scrollableContent_5c {
    width: 854rem;
}

.mediaLarge .AchievementsList_scrollableContent_5c {
    width: 948rem;
}

.AchievementsList_title_f4 {
    color: WHITE;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 25rem;
    text-align: center;
    opacity: 0.8;
}

.mediaMedium .AchievementsList_title_f4 {
    margin-top: 23rem;
    font-size: 16rem;
}

.AchievementsList_container_a7 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6rem;
}

.mediaLarge .AchievementsList_container_a7 {
    margin-top: 10rem;
}

.AchievementsList_item_10 {
    margin: 8rem 15rem;
}

.mediaMedium .AchievementsList_item_10 {
    margin: 12rem;
}

.mediaLarge .AchievementsList_item_10 {
    margin: 6rem;
}

.AchievementsList_bar_4a {
    padding: 1rem 0 6rem;
    right: -15rem;
}

.AchievementItem_base_45 {
    position: relative;
    width: 146rem;
    height: 146rem;
}

.AchievementItem_base__small_b4 {
    width: 67rem;
    height: 71rem;
}

.AchievementItem_icon_91 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
}

.AchievementItem_amountBG_46 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16rem;
    padding: 1rem 4rem;
    border-radius: 4rem;
    background: radial-gradient(50% 50% at 50% 50%, #6c2222 0%, #481111 100%);
    position: absolute;
    right: 9rem;
    bottom: 10rem;
}

.AchievementItem_base__small_b4 .AchievementItem_amountBG_46 {
    right: -1rem;
    bottom: -1rem;
}

.AchievementItem_amount_65 {
    color: WHITE;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    margin: -2rem 1rem 0;
}

.BattlesInfo_base_25 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 126rem;
    padding: 10rem 0;
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.08) 15%,
        rgba(255, 255, 255, 0.08) 85%,
        rgba(255, 255, 255, 0) 100%
    );
}

.BattlesInfo_container_da {
    display: flex;
    justify-content: space-between;
    width: 384rem;
}

.Item_base_e0 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 106rem;
    padding-top: 2rem;
    position: relative;
}

.Item_icon_81 {
    background: no-repeat center / contain;
    width: 48rem;
    height: 48rem;
}

.Item_value_28 {
    color: WHITE;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    text-shadow:
        0 1rem 2rem rgba(0, 0, 0, 0.25),
        0 2rem 4rem rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 37rem;
}

.Item_name_35 {
    color: WHITE;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 20rem;
    text-align: center;
    opacity: 0.8;
}

.RankIcon_base_a6 {
    display: flex;
    background: no-repeat center / cover;
}

.RankIcon_base__big_51 {
    width: 160rem;
    height: 118rem;
}

.RankIcon_base__small_26 {
    width: 95rem;
    height: 60rem;
}

.RankItem_base_19 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 106rem;
}

.RankItem_icon_10 {
    width: 84rem;
    height: 62rem;
    mask-image: linear-gradient(to bottom, #000000 70%, transparent 100%);
}

.RankItem_name_9d {
    color: WHITE;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 8rem;
    text-align: center;
    opacity: 0.8;
}

.NoAchievements_base_a5 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NoAchievements_icon_c7 {
    width: 118rem;
    height: 100rem;
    background: url('R.images.gui.maps.icons.crew.serviceRecord.noAchievementsIcon') no-repeat center / contain;
}

.mediaLarge .NoAchievements_icon_c7 {
    width: 156rem;
    height: 132rem;
}

.NoAchievements_text_34 {
    color: #c9c9b6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 25rem;
}

.ServiceRecordApp_base_3d {
    display: flex;
    height: 100%;
    padding-left: 370rem;
}

.mediaSmall .ServiceRecordApp_base_3d {
    justify-content: center;
    padding-left: 0;
}

.ServiceRecordApp_content_08 {
    width: 602rem;
    padding-top: 80rem;
}

.mediaMedium .ServiceRecordApp_content_08 {
    width: 930rem;
    padding-top: 110rem;
}

.mediaLarge .ServiceRecordApp_content_08 {
    width: 1064rem;
    padding-top: 136rem;
}

.mediaExtraLarge .ServiceRecordApp_content_08 {
    width: 1388rem;
    padding-top: 144rem;
}

.ServiceRecordApp_battlesInfo_ff {
    margin-top: 10rem;
}

.mediaMedium .ServiceRecordApp_battlesInfo_ff {
    margin-top: 74rem;
}

.mediaLarge .ServiceRecordApp_battlesInfo_ff {
    margin-top: 95rem;
}

.mediaExtraLarge .ServiceRecordApp_battlesInfo_ff {
    margin-top: 93rem;
}

.ServiceRecordApp_noAchievements_07 {
    margin-top: 30rem;
}

.mediaLarge .ServiceRecordApp_noAchievements_07 {
    margin-top: 50rem;
}
