.Illustration_base_e1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30rem;
}

.Illustration_chapter_6b {
    width: 234rem;
    height: 313rem;
    background: no-repeat center / contain;
    position: relative;
    z-index: 1;
}

.mediaMedium .Illustration_chapter_6b {
    width: 334rem;
    height: 444rem;
}

.mediaLarge .Illustration_chapter_6b {
    width: 414rem;
    height: 550rem;
}

.mediaExtraLarge .Illustration_chapter_6b {
    width: 608rem;
    height: 808rem;
}

.Illustration_tank_f9 {
    width: 242rem;
    height: 159rem;
    background: no-repeat center / contain;
    position: absolute;
    bottom: 0;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.mediaMedium .Illustration_tank_f9 {
    width: 376rem;
    height: 248rem;
}

.mediaLarge .Illustration_tank_f9 {
    width: 452rem;
    height: 298rem;
}

.mediaExtraLarge .Illustration_tank_f9 {
    width: 608rem;
    height: 400rem;
}

.ExtraChapterDescription_base_fe {
    width: 100%;
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.mediaMedium .ExtraChapterDescription_base_fe {
    font-size: 16rem;
}

.ExtraChapterDescription_description_8f {
    justify-content: center;
    align-items: center;
}

.ExtraChapterDescription_warningIcon_9e {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.library.alertBigIcon') no-repeat center / contain;
}

.ExtraChapterDescription_highlightText_7e {
    color: #feab34;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.App_base_92 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App_title_95 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    width: 800rem;
    margin-bottom: 19rem;
    text-align: center;
}

.mediaMedium .App_title_95 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaLarge .App_title_95 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_subTitle_5f {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 570rem;
    text-align: center;
}

.mediaMedium .App_subTitle_5f {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
