.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_d5 {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_d8 {
    color: #ffffff;
}

.FormatTextWithColorTags_white_b9 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_ea {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_54 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_c1 {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_4e {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_14 {
    color: #37362e;
}

.FormatTextWithColorTags_red_d9 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_ea {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_48 {
    color: #feab34;
}

.FormatTextWithColorTags_orange_ad {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_96 {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_27 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_04 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_58 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_b3 {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_ab {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_d3 {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_28 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_74 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_58 {
    color: #a29b70;
}

.Counter_base_9e {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
    min-width: 21rem;
    height: 21rem;
}

.Counter_base__small_3b {
    min-width: 13rem;
    height: 13rem;
}

.Counter_base__empty_98 {
    min-width: 6rem;
    height: 6rem;
}

.Counter_base__animated_40 {
    animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
    animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 6rem rgba(254, 103, 0, 0.2),
        0 0 12rem 4rem rgba(249, 0, 0, 0.3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
    border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
    border-radius: 7rem;
}
.Counter_value_3e {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
    padding: 0 7rem;
    font-size: 14rem;
    line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
    font-size: 9rem;
    line-height: 12rem;
}
.Counter_value__text_d6 {
    padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
    padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
    padding: 0 5rem;
    font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
    display: none;
}
.Counter_plus_15 {
    position: relative;
    top: -1rem;
}
.Counter_pattern_83 {
    display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
    display: block;
    border-radius: 50%;
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes Counter_show_be {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_b6 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.CardWrapper_base_b7 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}

.CardWrapper_base__disabled_4f {
    pointer-events: none;
}

.CardWrapper_base__isNotStarted_29 {
    cursor: default;
}

.CardWrapper_mask_f7 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    clip-path: inset(0 0 0 0 round 3rem);
}

.CardWrapper_border_a3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    border: 1rem solid rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
    box-shadow:
        0 0 12rem 1rem rgba(0, 0, 0, 0.5),
        inset 0 1rem 0 0 rgba(0, 0, 0, 0.15);
    opacity: 1;
    position: relative;
    pointer-events: none;
}

.CardWrapper_hover_af {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    height: 100%;
    border-radius: 3rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.hover') no-repeat 50% / 100% 100%;
    opacity: 0;
    mix-blend-mode: screen;
    transition: opacity 0.3s easeOut;
    transition-delay: 0.15s;
    pointer-events: none;
}

.CardWrapper_hover__anim_10 {
    opacity: 1;
}

.CardWrapper_animBg_f3 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: url('swf://gui/flash/animations/modeSelector/animCardSparksBg.swf') no-repeat 50% 100% / cover;
    mix-blend-mode: screen;
    pointer-events: none;
}

.CardWrapper_animBg__wide_16 {
    background-image: url('swf://gui/flash/animations/modeSelector/animCardSparksWideBg.swf');
}

.CardWrapper_selection_35 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-image: url('R.images.gui.maps.icons.mode_selector.common.border_selected') 28 fill / 28rem / 10rem;
    background: linear-gradient(180deg, rgba(31, 32, 29, 0) 12.74%, rgba(31, 32, 29, 0.8) 76.81%);
    pointer-events: none;
}

.CardWrapper_check_c1 {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    width: 54rem;
    height: 56rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.check_orange') no-repeat 50% / cover;
    position: absolute;
    bottom: -25rem;
    z-index: 1;
    pointer-events: none;
}

.CardWrapper_check__extraSmall_fa,
.CardWrapper_check__small_33 {
    width: 50rem;
    height: 52rem;
    background-image: url('R.images.gui.maps.icons.mode_selector.common.check_orange_small');
    bottom: -24rem;
}

.CardWrapper_checkBackground_bd {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    width: 238rem;
    height: 180rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.checkGlow') no-repeat 50% / cover;
    mix-blend-mode: screen;
    position: absolute;
    bottom: -90rem;
    z-index: 1;
    pointer-events: none;
}

.CardWrapper_checkBackground__extraSmall_ff,
.CardWrapper_checkBackground__small_d8 {
    width: 138rem;
    height: 104rem;
    background-image: url('R.images.gui.maps.icons.mode_selector.common.checkGlowSmall');
    bottom: -52rem;
}

.CardWrapper_disabling_63 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: rgba(28, 30, 28, 0.7) url('R.images.gui.maps.icons.mode_selector.common.disabled') repeat 50% / auto;
}

.CardWrapper_background_34 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    border-radius: 2rem;
    background: #000000 no-repeat 50%;
    transform: scale(1);
    transition: transform 0.3s easeOut;
    transition-delay: 0.15s;
}

.CardWrapper_background__anim_34 {
    transform: scale(1.03);
}

.CardWrapper_background__empty_bb {
    opacity: 0.45;
}

.CardWrapper_novelty_ae {
    position: absolute;
    top: 9rem;
    left: 7rem;
}

.CardWrapper_info_49 {
    width: 32rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.btn_info_normal') no-repeat 50% / contain;
    opacity: 0;
    position: absolute;
    right: 8rem;
    bottom: 8rem;
    transform: translateY(2rem);
    transition:
        transform 0.3s easeOut,
        opacity 0.3s easeOut;
    transition-delay: 0.15s;
    pointer-events: none;
}

.CardWrapper_info__anim_81 {
    opacity: 1;
    transform: translateY(0rem);
    cursor: pointer;
    pointer-events: auto;
}

.CardWrapper_info_49:hover {
    background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_hover');
}

.CardWrapper_info__extraSmall_fc,
.CardWrapper_info__small_9c,
.CardWrapper_info__medium_9f {
    width: 24rem;
    height: 24rem;
    background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_normal_small');
    right: 5rem;
    bottom: 5rem;
}

.CardWrapper_info__extraSmall_fc:hover,
.CardWrapper_info__small_9c:hover,
.CardWrapper_info__medium_9f:hover {
    background-image: url('R.images.gui.maps.icons.mode_selector.common.btn_info_hover_small');
}

.CardWrapper_infoCorner_49 {
    width: 70rem;
    height: 34rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.btn_info_corner') no-repeat 50% / contain;
    opacity: 0;
    mix-blend-mode: additive;
    position: absolute;
    right: 0;
    bottom: 0;
    transition: opacity 0.3s easeOut;
    transition-delay: 0.15s;
    pointer-events: none;
}

.CardWrapper_infoCorner__anim_ba {
    opacity: 1;
}

.CardWrapper_children_88 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.Performance_base_fd {
    margin-top: 12rem;
    padding: 0 8rem;
    pointer-events: auto;
}

.Performance_base__b2_73 {
    margin-top: 3rem;
}

.mediaLarge .Performance_base__b2_73 {
    margin-top: 10rem;
}

.Performance_text_2f {
    display: flex;
    justify-content: center;
    max-height: 40rem;
}

.Performance_base__mediumRisk_ad .Performance_text_2f {
    color: #ee7000;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Performance_base__highRisk_ab .Performance_text_2f {
    color: #ff2717;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Performance_base__b2_73 .Performance_text_2f {
    max-height: 20rem;
}

.Performance_icon_69 {
    width: 16rem;
    height: 16rem;
    margin-top: 2rem;
    background: no-repeat 50% / contain;
}

.Performance_base__mediumRisk_ad .Performance_icon_69 {
    background-image: url('R.images.gui.maps.icons.library.alertIcon');
}

.Performance_base__highRisk_ab .Performance_icon_69 {
    background-image: url('R.images.gui.maps.icons.library.CancelIcon_1');
}

.Performance_iconBig_d5 {
    width: 24rem;
    height: 24rem;
    background: no-repeat left / contain;
    position: absolute;
    bottom: 6rem;
    left: 6rem;
}

.Performance_iconBig__mediumRisk_59 {
    background-image: url('R.images.gui.maps.icons.library.alertBigIcon');
}

.Performance_iconBig__highRisk_5a {
    background-image: url('R.images.gui.maps.icons.library.CancelBigIcon');
}

.mediaMedium .Performance_iconBig_d5 {
    bottom: 9rem;
    left: 11rem;
}

.mediaLarge .Performance_iconBig_d5 {
    bottom: 9rem;
    left: 11rem;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_91 {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_00 {
    justify-content: flex-start;
}

.ExtendedText_tooltip__justify-center_08 {
    justify-content: center;
}

.ExtendedText_tooltip__justify-flex-end_90 {
    justify-content: flex-end;
}

.ExtendedText_tooltip__align-flex-start_40 {
    align-content: flex-start;
}

.ExtendedText_tooltip__align-center_54 {
    align-content: center;
}

.ExtendedText_tooltip__align-flex-end_d2 {
    align-content: flex-end;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: pre;
    overflow-wrap: normal;
}

.TimeLeft_base_cf {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
}

.TimeLeft_base__small_7c {
    color: #e9e2bf;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.TimeLeft_icon_5d {
    width: 32rem;
    height: 32rem;
    margin: -1rem 1rem -1rem -1rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.image_calendar_32x32') no-repeat 50% / contain;
}

.TimeLeft_base__small_7c .TimeLeft_icon_5d {
    width: 24rem;
    height: 24rem;
    background-image: url('R.images.gui.maps.icons.mode_selector.common.image_calendar_24x24');
}

.BattlePassIcon_base_bf {
    position: absolute;
    top: auto;
    bottom: auto;
    width: 128rem;
    height: 128rem;
    top: 0;
    right: 0;
    pointer-events: none;
}

.BattlePassIcon_bpIcon_18 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.bp_icon_24x24') no-repeat 50% / contain;
    position: absolute;
    top: 18rem;
    right: 18rem;
    transform: translate(50%, -50%);
    pointer-events: auto;
}

.BattlePassIcon_bpIcon__extraLarge_b3,
.BattlePassIcon_bpIcon__large_c2 {
    width: 32rem;
    height: 32rem;
    background-image: url('R.images.gui.maps.icons.mode_selector.common.bp_icon_32x32');
    top: 26rem;
    right: 26rem;
}

.BattlePassIcon_bpAnim_01 {
    width: 128rem;
    height: 128rem;
    background: url('swf://gui/flash/animations/modeSelector/icon_BP_anim.swf?name=bpAnim') no-repeat 50% / cover;
    mix-blend-mode: screen;
    position: absolute;
    top: -46rem;
    left: 46rem;
    transform: scale(0.8);
}

.BattlePassIcon_bpAnim__extraLarge_38,
.BattlePassIcon_bpAnim__large_1e {
    top: -38rem;
    left: 38rem;
    transform: scale(1);
}

.Reward_base_80 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.Reward_header_7c {
    color: #f2f2f7;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    position: absolute;
    top: -8rem;
}

.Reward_vehicleType_fa {
    width: 24rem;
    height: 24rem;
    background: no-repeat 50% / contain;
    position: relative;
    top: -1rem;
}

.Reward_icon_93 {
    width: 64rem;
    height: 64rem;
    margin: 0 21rem;
    background: no-repeat 50% / contain;
}

.Reward_base__small_cb .Reward_icon_93,
.Reward_base__small-b0_c5 .Reward_icon_93,
.Reward_base__small-b1_16 .Reward_icon_93 {
    margin: 0 19rem;
}

.Reward_base__medium_ce .Reward_icon_93 {
    margin: 0 23rem;
}

.Reward_base__medium-b1_3f .Reward_icon_93 {
    margin: 0 27rem;
}

.Reward_base__small_cb .Reward_icon_93,
.Reward_base__small-b0_c5 .Reward_icon_93,
.Reward_base__small-b1_16 .Reward_icon_93,
.Reward_base__medium_ce .Reward_icon_93 {
    width: 48rem;
    height: 48rem;
}

.Reward_name_17 {
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    justify-content: center;
    margin-top: -6rem;
    padding: 0 2rem;
    line-height: 14rem;
    text-align: center;
    top: 64rem;
}

.Reward_base__small_cb .Reward_name_17,
.Reward_base__small-b0_c5 .Reward_name_17,
.Reward_base__small-b1_16 .Reward_name_17,
.Reward_base__medium_ce .Reward_name_17 {
    top: 48rem;
}

.Reward_base__small_cb .Reward_name_17,
.Reward_base__small-b0_c5 .Reward_name_17,
.Reward_base__small-b1_16 .Reward_name_17,
.Reward_base__medium_ce .Reward_name_17,
.Reward_base__medium-b1_3f .Reward_name_17 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -6rem;
    line-height: 12rem;
}

.Rewards_base_c8 {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    bottom: 50rem;
}
.Rewards_base__extraSmall_9b,
.Rewards_base__small_78 {
    bottom: 37rem;
}
.Rewards_base__medium_75 {
    bottom: 40rem;
}

.NormalCard_base_7a {
    width: 222rem;
    margin: 5rem;
    position: relative;
}
.NormalCard_base__medium_34 {
    width: 300rem;
    margin: 7rem;
}
.NormalCard_base__extraLarge_87,
.NormalCard_base__large_a8 {
    width: 370rem;
    margin: 10rem;
}
.NormalCard_base__b0_17 {
    width: 454rem;
}
.NormalCard_base__b0__medium_8c {
    width: 614rem;
}
.NormalCard_base__b0__extraLarge_bc,
.NormalCard_base__b0__large_ff {
    width: 760rem;
}
.NormalCard_base__b0_17,
.NormalCard_base__b1_ff {
    height: 470rem;
}
.NormalCard_base__b0__medium_8c,
.NormalCard_base__b1__medium_63 {
    height: 586rem;
}
.NormalCard_base__b0__extraLarge_bc,
.NormalCard_base__b0__large_ff,
.NormalCard_base__b1__extraLarge_b0,
.NormalCard_base__b1__large_f9 {
    height: 700rem;
}
.NormalCard_base__b2_54 {
    height: 230rem;
}
.NormalCard_base__b2__medium_57 {
    height: 286rem;
}
.NormalCard_base__b2__extraLarge_c0,
.NormalCard_base__b2__large_22 {
    height: 340rem;
}
.NormalCard_base__b3_50 {
    height: 150rem;
}
.NormalCard_base__b3__medium_25 {
    height: 186rem;
}
.NormalCard_base__b3__extraLarge_8f,
.NormalCard_base__b3__large_18 {
    height: 220rem;
}
.NormalCard_base__b4_d9 {
    height: 110rem;
}
.NormalCard_base__b4__medium_5c {
    height: 136rem;
}
.NormalCard_base__b4__extraLarge_c3,
.NormalCard_base__b4__large_52 {
    height: 160rem;
}
.NormalCard_base__b5_f3 {
    height: 86rem;
}
.NormalCard_base__b5__medium_30 {
    height: 106rem;
}
.NormalCard_base__b5__extraLarge_2b,
.NormalCard_base__b5__large_df {
    height: 124rem;
}
.NormalCard_base__b6_8b {
    height: 70rem;
}
.NormalCard_base__b6__medium_10 {
    height: 86rem;
}
.NormalCard_base__b6__extraLarge_35,
.NormalCard_base__b6__large_5c {
    height: 100rem;
}

.NormalCard_name_ce {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

.NormalCard_name__b0_98,
.NormalCard_name__b1_a6 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 271rem;
}

.NormalCard_name__b0__medium_d2,
.NormalCard_name__b1__medium_e3 {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 328rem;
}

.NormalCard_name__b0__extraLarge_0e,
.NormalCard_name__b0__large_d2,
.NormalCard_name__b1__extraLarge_a3,
.NormalCard_name__b1__large_20 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 398rem;
}

.NormalCard_name__b2_73 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 138rem;
}

.NormalCard_name__b2__medium_1c {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 143rem;
}

.NormalCard_name__b2__extraLarge_76,
.NormalCard_name__b2__large_53 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 184rem;
}

.NormalCard_name__b3_49 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 68rem;
}

.NormalCard_name__b3__medium_78 {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 82rem;
}

.NormalCard_name__b3__extraLarge_e9,
.NormalCard_name__b3__large_68 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 89rem;
}

.NormalCard_name__b4_ac {
    color: #ffdd99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    bottom: 39rem;
}

.NormalCard_name__b4__medium_e4 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 50rem;
}

.NormalCard_name__b4__extraLarge_2b,
.NormalCard_name__b4__large_a3 {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 66rem;
}

.NormalCard_name__b5_2b {
    color: #ffdd99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    bottom: 34rem;
}

.NormalCard_name__b5__medium_c3 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 46rem;
}

.NormalCard_name__b5__extraLarge_78,
.NormalCard_name__b5__large_9b {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 47rem;
}

.NormalCard_name__b6_49 {
    color: #ffdd99;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    bottom: 25rem;
}

.NormalCard_name__b6__medium_dc {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 38rem;
}

.NormalCard_name__b6__extraLarge_83,
.NormalCard_name__b6__large_89 {
    color: #ffdd99;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 40rem;
}

.NormalCard_formatText_cb {
    justify-content: center;
    margin: 0 12rem;
    line-height: 1.3;
}

.NormalCard_formatText__b0__extraSmall_7b,
.NormalCard_formatText__b0__small_65,
.NormalCard_formatText__b1__extraSmall_e4,
.NormalCard_formatText__b1__small_1e,
.NormalCard_formatText__b2__extraSmall_e0,
.NormalCard_formatText__b2__small_e4,
.NormalCard_formatText__b3__extraSmall_13,
.NormalCard_formatText__b3__small_8c,
.NormalCard_formatText__b4__extraSmall_f5,
.NormalCard_formatText__b4__small_49,
.NormalCard_formatText__b5__extraSmall_04,
.NormalCard_formatText__b5__small_b6 {
    margin: 0 10rem;
}

.NormalCard_formatText__b6__extraSmall_a3,
.NormalCard_formatText__b6__small_e0 {
    margin: 0;
}

.NormalCard_subtitle_75 {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    line-height: 16rem;
    transition-delay: 0.15s;
    pointer-events: none;
}

.NormalCard_subtitle__b0_bf,
.NormalCard_subtitle__b1_2e {
    padding-top: 200rem;
}

.NormalCard_subtitle__b0__medium_42,
.NormalCard_subtitle__b1__medium_95 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 257rem;
}

.NormalCard_subtitle__b0__extraLarge_f2,
.NormalCard_subtitle__b0__large_76,
.NormalCard_subtitle__b1__extraLarge_8f,
.NormalCard_subtitle__b1__large_d1 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 301rem;
}

.NormalCard_subtitle__b2_98 {
    padding-top: 93rem;
}

.NormalCard_subtitle__b2__medium_86 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 142rem;
}

.NormalCard_subtitle__b2__extraLarge_44,
.NormalCard_subtitle__b2__large_77 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 155rem;
}

.NormalCard_subtitle__b3_7e {
    padding-top: 82rem;
}

.NormalCard_subtitle__b3__medium_57 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 103rem;
}

.NormalCard_subtitle__b3__extraLarge_f3,
.NormalCard_subtitle__b3__large_00 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 132rem;
}

.NormalCard_subtitle__b4_b1 {
    padding-top: 71rem;
}

.NormalCard_subtitle__b4__medium_64 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 87rem;
}

.NormalCard_subtitle__b4__extraLarge_44,
.NormalCard_subtitle__b4__large_6d {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 95rem;
}

.NormalCard_subtitle__b5_4a {
    padding-top: 52rem;
}

.NormalCard_subtitle__b5__medium_03 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 63rem;
}

.NormalCard_subtitle__b5__extraLarge_04,
.NormalCard_subtitle__b5__large_14 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 78rem;
}

.NormalCard_subtitle__b6_51 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 45rem;
}

.NormalCard_subtitle__b6__medium_94 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 49rem;
}

.NormalCard_subtitle__b6__extraLarge_34,
.NormalCard_subtitle__b6__large_f3 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 61rem;
}

.NormalCard_subtitle__normal_23 {
    color: #fefeec;
}

.NormalCard_subtitle__noReward_9c {
    color: #e9e2bf;
}

.NormalCard_subtitle__statusActive_8c {
    height: 100rem;
    color: #8c8c7e;
    opacity: 0;
    transform: translate(-50%, 2rem);
    transition:
        transform 0.3s easeOut,
        opacity 0.3s easeOut;
}

.NormalCard_subtitle__staticPrepare_7c {
    opacity: 1;
    transform: translate(-50%, 0rem);
    transition:
        transform steps(1, end),
        opacity steps(1, end);
}

.NormalCard_subtitle__anim_07 {
    opacity: 1;
    transform: translate(-50%, 0rem);
}

.NormalCard_subtitle__disable_9d {
    color: #8c8c7e;
    opacity: 1;
    z-index: 1;
    transform: translate(-50%, 0rem);
    transition: none;
}

.NormalCard_statusDescription_9b {
    margin: -1rem 0 -5rem;
}

.NormalCard_statusDescription__position_e1 {
    margin: 0;
}

.NormalCard_statusDescription__color_b5 {
    color: #e9e2bf;
}

.NormalCard_belowStatus_05 {
    position: absolute;
    top: 0;
    left: 0;
}

.NormalCard_subtitle__b0_bf .NormalCard_belowStatus_05,
.NormalCard_subtitle__b1_2e .NormalCard_belowStatus_05 {
    position: relative;
}

.NormalCard_calendarIcon_c1 {
    width: 32rem;
    height: 32rem;
    align-self: center;
    margin: -5rem 0 0 -5rem;
    background: url('R.images.gui.maps.icons.mode_selector.common.image_calendar') no-repeat 50% / contain;
}

.NormalCard_calendarIcon__hover_7c {
    background-image: url('R.images.gui.maps.icons.mode_selector.common.image_calendar_hover');
}

.NormalCard_calendarIcon__extraSmall_9a,
.NormalCard_calendarIcon__small_3d {
    margin-top: -8rem;
}

.NormalCard_timeLeft_28 {
    position: absolute;
    top: auto;
    bottom: auto;
    top: 8rem;
    left: 8rem;
}

.NormalCard_timeLeft__small_a5 {
    top: 5rem;
    left: 5rem;
}

.NormalCard_footer_ba {
    position: absolute;
    top: auto;
    bottom: auto;
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    line-height: 14rem;
    opacity: 0;
    bottom: 20rem;
    transform: translateY(2rem);
    transition:
        transform 0.3s easeOut,
        opacity 0.3s easeOut;
    transition-delay: 0.15s;
    pointer-events: none;
}

.NormalCard_footer__medium_77 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.NormalCard_footer__extraLarge_5e,
.NormalCard_footer__large_69 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    bottom: 25rem;
}

.NormalCard_footer__anim_73 {
    opacity: 1;
    transform: translateY(0rem);
}

.NormalCard_mask_ee {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    transition: mask-size 0.3s easeOut;
    mask-size: 100% 90%;
    transition-delay: 0.15s;
}

.NormalCard_mask__b0_e9,
.NormalCard_mask__b1_02 {
    mask-position: 0 -35rem;
    mask-image: url('R.images.gui.maps.icons.mode_selector.common.card_masks.b1');
}

.NormalCard_mask__b0__medium_ac,
.NormalCard_mask__b1__medium_26 {
    mask-position: 0 -36rem;
}

.NormalCard_mask__b0__extraLarge_28,
.NormalCard_mask__b0__large_d1,
.NormalCard_mask__b1__extraLarge_74,
.NormalCard_mask__b1__large_74 {
    mask-position: 0 -44rem;
}

.NormalCard_mask__b2_71 {
    mask-position: 0 -55rem;
    mask-image: url('R.images.gui.maps.icons.mode_selector.common.card_masks.b2');
}

.NormalCard_mask__b2__medium_b2 {
    mask-position: 0 -45rem;
}

.NormalCard_mask__b2__extraLarge_6c,
.NormalCard_mask__b2__large_b2 {
    mask-position: 0 -61rem;
}

.NormalCard_mask__b3_f4 {
    mask-position: 0 -24rem;
    mask-image: url('R.images.gui.maps.icons.mode_selector.common.card_masks.b3');
}

.NormalCard_mask__b3__medium_d1 {
    mask-position: 0 -27rem;
}

.NormalCard_mask__b3__extraLarge_3a,
.NormalCard_mask__b3__large_17 {
    mask-position: 0 -23rem;
}

.NormalCard_mask__b4_3c {
    mask-image: linear-gradient(180deg, #000000 47rem, rgba(0, 0, 0, 0) 60rem);
}

.NormalCard_mask__b4__medium_b1 {
    mask-image: linear-gradient(180deg, #000000 60rem, rgba(0, 0, 0, 0) 75rem);
}

.NormalCard_mask__b4__extraLarge_4c,
.NormalCard_mask__b4__large_ed {
    mask-image: linear-gradient(180deg, #000000 62rem, rgba(0, 0, 0, 0) 77rem);
}

.NormalCard_mask__b5_85 {
    mask-image: linear-gradient(180deg, #000000 35rem, rgba(0, 0, 0, 0) 45rem);
}

.NormalCard_mask__b5__medium_99 {
    mask-image: linear-gradient(180deg, #000000 34rem, rgba(0, 0, 0, 0) 50rem);
}

.NormalCard_mask__b5__extraLarge_8a,
.NormalCard_mask__b5__large_cc {
    mask-image: linear-gradient(180deg, #000000 45rem, rgba(0, 0, 0, 0) 60rem);
}

.NormalCard_mask__b6_90 {
    mask-image: linear-gradient(180deg, #000000 30rem, rgba(0, 0, 0, 0) 40rem);
}

.NormalCard_mask__b6__medium_fe {
    mask-image: linear-gradient(180deg, #000000 27rem, rgba(0, 0, 0, 0) 38rem);
}

.NormalCard_mask__b6__extraLarge_97,
.NormalCard_mask__b6__large_bc {
    mask-image: linear-gradient(180deg, #000000 35rem, rgba(0, 0, 0, 0) 55rem);
}

.NormalCard_mask__static_ae {
    mask-position: 0rem 0rem;
}

.NormalCard_mask__anim_b6 {
    mask-size: 100% 100%;
}

.NormalCard_icon_cb {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: no-repeat 50% / cover;
    transform: translate(-50%, 0rem);
    transition-delay: 0.15s;
}

.NormalCard_icon__animPrepare_a2 {
    transition: transform 0.3s easeOut;
}

.NormalCard_icon__static__b0_3c,
.NormalCard_icon__static__b1_36,
.NormalCard_icon__static__b2_13,
.NormalCard_icon__static__b3_6d {
    transition: transform steps(1, end);
}

.NormalCard_icon__static__b0_3c,
.NormalCard_icon__static__b1_36,
.NormalCard_icon__anim__b0_e3,
.NormalCard_icon__anim__b1_04 {
    transform: translate(-50%, -20rem);
}

.NormalCard_icon__static__b0__medium_64,
.NormalCard_icon__static__b1__medium_b9,
.NormalCard_icon__anim__b0__medium_a6,
.NormalCard_icon__anim__b1__medium_6c {
    transform: translate(-50%, -35rem);
}

.NormalCard_icon__static__b0__extraLarge_0b,
.NormalCard_icon__static__b0__large_7c,
.NormalCard_icon__static__b1__extraLarge_8b,
.NormalCard_icon__static__b1__large_f0,
.NormalCard_icon__anim__b0__extraLarge_2c,
.NormalCard_icon__anim__b0__large_07,
.NormalCard_icon__anim__b1__extraLarge_a7,
.NormalCard_icon__anim__b1__large_0a {
    transform: translate(-50%, -40rem);
}

.NormalCard_icon__static__b2_13,
.NormalCard_icon__anim__b2_19 {
    transform: translate(-50%, -15rem);
}

.NormalCard_icon__static__b2__medium_92,
.NormalCard_icon__anim__b2__medium_da {
    transform: translate(-50%, -25rem);
}

.NormalCard_icon__static__b2__extraLarge_99,
.NormalCard_icon__static__b2__large_e3,
.NormalCard_icon__anim__b2__extraLarge_8e,
.NormalCard_icon__anim__b2__large_94 {
    transform: translate(-50%, -36rem);
}

.NormalCard_icon__static__b3_6d,
.NormalCard_icon__anim__b3_e8 {
    transform: translate(-50%, -10rem);
}

.NormalCard_icon__static__b3__medium_1a,
.NormalCard_icon__anim__b3__medium_eb {
    transform: translate(-50%, -15rem);
}

.NormalCard_icon__static__b3__extraLarge_a0,
.NormalCard_icon__static__b3__large_e3,
.NormalCard_icon__anim__b3__extraLarge_92,
.NormalCard_icon__anim__b3__large_7a {
    transform: translate(-50%, -25rem);
}

.NormalCard_icon__huge_56 {
    width: 136rem;
    height: 136rem;
}

.NormalCard_icon__big_c9 {
    width: 72rem;
    height: 72rem;
}

.NormalCard_icon__medium_87 {
    width: 64rem;
    height: 64rem;
}

.NormalCard_icon__small_a6 {
    width: 40rem;
    height: 40rem;
}

.NormalCard_icon__b0_f2,
.NormalCard_icon__b1_50 {
    top: 127rem;
}

.NormalCard_icon__b0__medium_d8,
.NormalCard_icon__b1__medium_d4 {
    top: 138rem;
}

.NormalCard_icon__b0__extraLarge_3b,
.NormalCard_icon__b0__large_32,
.NormalCard_icon__b1__extraLarge_db,
.NormalCard_icon__b1__large_53 {
    top: 187rem;
}

.NormalCard_icon__b2_ae {
    top: 21rem;
}

.NormalCard_icon__b2__medium_17 {
    top: 21rem;
}

.NormalCard_icon__b2__extraLarge_b9,
.NormalCard_icon__b2__large_a7 {
    top: 41rem;
}

.NormalCard_icon__b3_28 {
    top: 10rem;
}

.NormalCard_icon__b3__medium_74 {
    top: 29rem;
}

.NormalCard_icon__b3__extraLarge_64,
.NormalCard_icon__b3__large_89 {
    top: 15rem;
}

.NormalCard_icon__b4_f8 {
    top: 12rem;
}

.NormalCard_icon__b4__medium_c6 {
    top: 18rem;
}

.NormalCard_icon__b4__extraLarge_eb,
.NormalCard_icon__b4__large_90 {
    top: 22rem;
}

.NormalCard_icon__b5_e9 {
    top: 10rem;
}

.NormalCard_icon__b5__medium_df {
    top: 6rem;
}

.NormalCard_icon__b5__extraLarge_e3,
.NormalCard_icon__b5__large_2d {
    top: 9rem;
}

.NormalCard_icon__b6_dc {
    top: 4rem;
}

.NormalCard_icon__b6__medium_73 {
    top: 6rem;
}

.NormalCard_icon__b6__extraLarge_63,
.NormalCard_icon__b6__large_c3 {
    top: 3rem;
}

.NormalCard_statusNotActive_9c {
    position: absolute;
    top: auto;
    bottom: auto;
    position: absolute;
    top: auto;
    left: 50%;
    transform: translate(-50%);
    padding: 0 15rem;
}

.NormalCard_statusNotActive__b0_4f,
.NormalCard_statusNotActive__b1_78 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 0 5rem;
    line-height: 16rem;
    top: 396rem;
}

.NormalCard_statusNotActive__b0__medium_8f,
.NormalCard_statusNotActive__b1__medium_f6 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0 15rem;
    top: 491rem;
}

.NormalCard_statusNotActive__b0__extraLarge_33,
.NormalCard_statusNotActive__b0__large_bf,
.NormalCard_statusNotActive__b1__extraLarge_d8,
.NormalCard_statusNotActive__b1__large_10 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0 15rem;
    top: 598rem;
}

.NormalCard_statusNotActive__b2_35 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 0 5rem;
    line-height: 16rem;
    top: 156rem;
}

.NormalCard_statusNotActive__b2__medium_f9 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0 15rem;
    top: 206rem;
}

.NormalCard_statusNotActive__b2__extraLarge_09,
.NormalCard_statusNotActive__b2__large_a0 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding: 0 15rem;
    top: 238rem;
}

.NormalCard_statusNotActive__b3_fe {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 82rem;
    line-height: 16rem;
}

.NormalCard_statusNotActive__b3__medium_88 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 103rem;
}

.NormalCard_statusNotActive__b3__extraLarge_b2,
.NormalCard_statusNotActive__b3__large_69 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 132rem;
}

.NormalCard_statusNotActive__b4_dd {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 71rem;
}

.NormalCard_statusNotActive__b4__medium_ae {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 87rem;
}

.NormalCard_statusNotActive__b4__extraLarge_78,
.NormalCard_statusNotActive__b4__large_d5 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 95rem;
}

.NormalCard_statusNotActive__b5_02 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 52rem;
}

.NormalCard_statusNotActive__b5__medium_24 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 63rem;
}

.NormalCard_statusNotActive__b5__extraLarge_f4,
.NormalCard_statusNotActive__b5__large_1f {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 78rem;
}

.NormalCard_statusNotActive__b6_9d {
    padding-top: 45rem;
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}

.NormalCard_statusNotActive__b6__medium_cd {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-top: 49rem;
}

.NormalCard_statusNotActive__b6__extraLarge_09,
.NormalCard_statusNotActive__b6__large_09 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-top: 61rem;
}

.NormalCard_widgetOverlay_09 {
    pointer-events: none;
}

.NormalCard_widgetOverlay__hide_7e {
    display: none;
    pointer-events: auto;
}

.NormalCard_darken__show_3f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-color: #151514;
    opacity: 0.7;
    pointer-events: none;
}

.Comp7BattleCard_widget_db {
    position: absolute;
    top: 10rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.Comp7BattleCard_base__b0_98 .Comp7BattleCard_widget_db,
.Comp7BattleCard_base__b1_61 .Comp7BattleCard_widget_db {
    top: 108rem;
}

.mediaMedium .Comp7BattleCard_base__b0_98 .Comp7BattleCard_widget_db,
.mediaMedium .Comp7BattleCard_base__b1_61 .Comp7BattleCard_widget_db {
    width: 150rem;
    height: 150rem;
    top: 80rem;
}

.mediaLarge .Comp7BattleCard_base__b0_98 .Comp7BattleCard_widget_db,
.mediaLarge .Comp7BattleCard_base__b1_61 .Comp7BattleCard_widget_db {
    top: 126rem;
}

.mediaMedium .Comp7BattleCard_base__b2_b8 .Comp7BattleCard_widget_db {
    width: 110rem;
    height: 110rem;
    top: 4rem;
}

.mediaLarge .Comp7BattleCard_base__b2_b8 .Comp7BattleCard_widget_db {
    top: 14rem;
}

.Comp7BattleCard_belowStatus_dc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__small_df {
    height: 2rem;
}
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_46 {
    height: 2rem;
}
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}

.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.ProgressBarBlink_base__small_0f {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
    background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
    background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-disabled);
    left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
    display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.5));
}
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
    left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
    display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

/* should be percentage of screen width */
.Progress_base_ef {
    width: 86rem;
}
.Progress_progress_b0 {
    margin-bottom: 10rem;
}
.Progress_status_01 {
    color: #cbac77;
    font-size: 12rem;
    text-align: center;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}
.Progress_statusPoints_c2 {
    color: #ffdd99;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}
.Progress_points_a1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Progress_dash_e0 {
    width: 66rem;
    height: 31rem;
    background: url('R.images.comp7.gui.maps.icons.icons.light_dash') no-repeat center / cover;
}
.Progress_dash__right_b4 {
    transform: rotate(180deg);
}
.Progress_score_06 {
    margin: 0 -6rem;
    color: #ffdd99;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

/* should be percentage of screen width */
.QualificationCounter_base_0f {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.QualificationCounter_dash_64 {
    width: 66rem;
    height: 32rem;
    background: url('R.images.comp7.gui.maps.icons.icons.light_dash') no-repeat center / cover;
}
.QualificationCounter_dash__right_f9 {
    transform: rotate(180deg);
}
.QualificationCounter_iconContainer_1b {
    display: flex;
    width: 26rem;
    position: relative;
    transform: translateY(1rem);
}
.QualificationCounter_battleIcon_64 {
    width: 42rem;
    height: 42rem;
    background: url('R.images.comp7.gui.maps.icons.icons.battles_42x42') no-repeat center / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.QualificationCounter_score_31 {
    margin: 0 -6rem 0 -12rem;
    color: #cbac77;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
    transform: translateY(-1rem);
}

/* should be percentage of screen width */
.Warning_base_28 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12rem;
    position: relative;
}
.Warning_lighting_17 {
    width: 111rem;
    height: 58rem;
    background: url('R.images.comp7.gui.maps.icons.icons.lighting') no-repeat center / cover;
    opacity: 0.6;
    position: absolute;
    top: -12rem;
    right: 50%;
    transform: translateX(55rem);
    pointer-events: none;
}
.Warning_value_38 {
    color: #ffdd99;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}
.Warning_base__text_7e .Warning_value_38 {
    color: #ff2717;
    text-shadow: 0 0 14rem #f00;
}
.Warning_timer_37 {
    width: 30rem;
    height: 30rem;
    margin: 0 -10rem -2rem -5rem;
    background: url('R.images.comp7.gui.maps.icons.icons.timer') no-repeat center / cover;
    position: relative;
}

.Progression_base_88 {
    display: flex;
    justify-content: center;
}

.Progression_progress_5f {
    margin-top: 18rem;
}

.Progression_warning_21 {
    margin-top: -5rem;
}

.Progression_battlesCounter__b0_e6,
.Progression_battlesCounter__b1_12 {
    margin-top: 20rem;
}

.Progression_battlesCounter__b2_43 .Progression_battlesCounter_7c {
    margin-top: 10rem;
}

.RankEmblem_base_2d {
    width: var(--imageSize);
    height: var(--imageSize);
    background: no-repeat center / cover;
}
