@keyframes Title_fadeIn_2e63cf3 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Title_90aac9d5 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.3em;
    color: #f2f2f7;
}
.mediaMedium .Title_90aac9d5 {
    font-size: 56rem;
}
.mediaExtraLarge .Title_90aac9d5 {
    font-size: 73rem;
}
