.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #e9e2bf;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.NyCurrency_base_30,
.NyCurrency_container_b9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.NyCurrency_container_b9 {
    margin: 0;
}

.NyCurrency_icon_1d {
    width: 16rem;
    height: 16rem;
    background: no-repeat center / cover;
}

.NyCurrency_icon__left_79 {
    margin-right: 10rem;
}

.NyCurrency_icon__right_6f {
    margin-left: 10rem;
}

.NyCurrency_icon__medium_63 {
    width: 24rem;
    height: 24rem;
}

.NyCurrency_icon__c_48x48_74 {
    width: 48rem;
    height: 48rem;
}

.NyCurrency_icon__c_64x64_60 {
    width: 64rem;
    height: 64rem;
}

.NyCurrency_value_e4 {
    color: #8c8c7e;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    font-weight: 700;
    line-height: 14rem;
}

.NyCurrency_value__medium_61 {
    color: #8c8c7e;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.NyCurrency_value__c_48x48_5c {
    color: #8c8c7e;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.NyCurrency_value__c_64x64_71 {
    color: #8c8c7e;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.NyCurrency_value__ny25_mandarin_81,
.NyCurrency_value__ny25Token_94,
.NyCurrency_value__freeXP_43 {
    color: #f2f2f7;
}

.NyCurrency_value__credits_d7 {
    color: #ced9d9;
}

.NyCurrency_value__gold_07 {
    color: #ffc363;
}

.NyCurrency_value__xp_d0,
.NyCurrency_value__crystal_ba,
.NyCurrency_value__equipCoin_f1 {
    color: #c9c9b6;
}

.NyCurrency_value__notAvailable__small_51 {
    transform: translateY(-2rem);
}

.NyCurrency_value__notAvailable__medium_9d {
    transform: translateY(-3rem);
}

.NyCurrency_value__notAvailable__c_48x48_3c,
.NyCurrency_value__notAvailable__c_64x64_b3 {
    transform: translateY(-5rem);
}

.VehicleName_base_ec {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VehicleName_base__white_d8 {
    color: #f2f2f7;
}

.VehicleName_base__whiteSpanish_54 {
    color: #e9e2bf;
}

.VehicleName_nation_b1 {
    width: 25rem;
    height: 17rem;
    margin-top: 4rem;
    margin-right: 5rem;
    background: no-repeat center / contain;
}

.VehicleName_base__colored_16 .VehicleName_level_1f {
    color: #e9e2bf;
}

.VehicleName_type_93 {
    width: 60rem;
    height: 54rem;
    margin: 0 -14rem;
    background: no-repeat center / contain;
    position: relative;
}

.VehicleName_type__elite_95 {
    margin: 0 -8rem;
}

.VehicleName_base__medium_de .VehicleName_type_93 {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
    background: no-repeat center / contain;
    position: relative;
    top: -18rem;
}

.VehicleName_base__medium_de .VehicleName_type__elite_95 {
    margin: 0 -16rem;
}

.VehicleName_base__colored_16 .VehicleName_name_a0 {
    color: #8c8c7e;
}

.VehicleRentTip_base_8b {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VehicleRentTip_icon_30 {
    width: 41rem;
    height: 40rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.rentTip') no-repeat center / contain;
}

.VehicleRentTip_label_c7 {
    color: #fd9;
    font-size: 20rem;
    text-shadow:
        0 0 15rem #e52,
        0 0 8rem rgba(255, 42, 0, 0.6),
        0 0 4rem rgba(255, 127, 0, 0.25);
}

.App_base_c1,
.App_tvContent_8b,
.App_tip_22,
.App_hasCoins_e5,
.App_labelContent_4a,
.App_warning_37,
.App_rewardContainer_7d {
    display: flex;
    justify-content: center;
    align-items: center;
}
.App_base_c1 {
    width: 512rem;
    height: 512rem;
    background: #2e82e4;
    position: relative;
}
.App_tvContent_8b {
    width: 400rem;
    height: 300rem;
    border-radius: 30rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.tvBg') no-repeat center / cover;
    overflow: hidden;
    position: relative;
}
.App_video_44 {
    width: 100%;
    height: 100%;
    border-radius: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.App_hasCoins_e5,
.App_labelContent_4a,
.App_warning_37,
.App_rewardContainer_7d {
    flex-direction: column;
}
.App_coinContainer_e4 {
    width: 142rem;
    height: 142rem;
    margin: 5rem 0;
}
.App_hasCoins_e5,
.App_rewardContainer_7d {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.App_rewardContainer_7d {
    opacity: 0;
}
.App_rewardContainer__animated_a8 {
    opacity: 1;
    animation: App_fadeIn_db 0.5s linear;
}
.App_stroke_0c,
.App_shadow_09,
.App_mask_25,
.App_rays_fd,
.App_sparks_c1 {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.App_stroke_0c {
    background-image: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.tv_stroke');
}
.App_shadow_09 {
    background-image: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.tv_shadow');
}
.App_mask_25 {
    border-radius: 30rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.tv_texture_pixel');
    background-size: 5rem 5rem;
    opacity: 0.08;
}
.App_title_8f,
.App_countText_4a {
    z-index: 1;
    animation: App_fadeIn_db 0.8s linear;
}
.App_title_8f {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.App_countText_4a {
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.App_count_c4 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -5rem;
}
.App_count__zero_ba {
    color: #ff2717;
}
.App_rays_fd {
    opacity: 1;
    animation-name: App_raysAppearance_c3, App_rotate_f5;
    animation-duration: 0.4s, 50s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
    animation-delay: 0.9s, 1.1s;
    animation-iteration-count: 1, infinite;
    width: 550rem;
    background-image: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.rays');
    top: -20rem;
    left: -80rem;
    z-index: 0;
}
.App_sunShine_0d {
    width: 300rem;
    height: 300rem;
    position: absolute;
    top: 50%;
    left: auto;
    transform: translateY(-56%) translateX(-2%);
}
.App_sunShineCanvas_7a {
    width: 100%;
    height: 100%;
}
.App_sparks_c1 {
    width: 430rem;
    background-image: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.sparks');
    top: -30rem;
    left: -15rem;
    z-index: 0;
}
.App_rewarding_99 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230rem;
    height: 240rem;
    margin-top: -15rem;
}
.App_reward_c6 {
    width: 100%;
    height: 80%;
}
.App_rewardLabel_7b {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -42rem;
}
.App_currencyContainer_64 {
    position: absolute;
    top: 20rem;
    left: 27rem;
}
.App_currencyIcon_54 {
    width: 40rem;
    height: 40rem;
}
.App_labelContent_4a {
    width: 300rem;
    margin-top: 0;
    text-align: center;
    position: relative;
}
.App_labelContent__vehicles_2e {
    margin-top: -30rem;
}
.App_label_77 {
    color: #f2f2f7;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.App_labelText_2b {
    margin-top: 0;
}
.App_tip_22 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: -6rem;
}
.App_rentTipLabel_8f {
    font-size: 16rem;
}
.App_rentTipIcon_e8 {
    width: 35rem;
    height: 35rem;
}
.App_warning_37 {
    width: 250rem;
    text-align: center;
}
.App_warningIcon_30 {
    width: 96rem;
    height: 75rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.robot_tv.alert') no-repeat center / cover;
}
.App_warningText_10 {
    color: #f2f2f7;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
@keyframes App_raysAppearance_c3 {
    0% {
        transform: translateY(20rem);
    }

    100% {
        transform: translateY(0);
    }
}
@keyframes App_rotate_f5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
@keyframes App_fadeIn_db {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes App_fadeOut_70 {
    0% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}
