.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.DecorationContent_base_c1 {
    display: flex;
    flex-direction: column;
}

.DecorationContent_image_3c {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.5rem;
    margin-bottom: 28rem;
    position: relative;
}

.DecorationContent_background_00 {
    width: 387rem;
    height: 239rem;
    background: url('R.images.gui.maps.icons.newYear.tooltips.decorations.background') no-repeat center / contain;
    position: absolute;
}

.DecorationContent_toy_b2 {
    width: 200rem;
    height: 200rem;
    background: no-repeat center / contain;
    position: relative;
}

.DecorationContent_description_bc {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 10rem 0 10rem 10rem;
    white-space: pre-wrap;
}

.DecorationHeader_base_fe {
    position: relative;
}

.DecorationHeader_icon_21 {
    width: 48rem;
    height: 48rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.DecorationHeader_base__small_21 .DecorationHeader_icon_21 {
    width: 32rem;
    height: 32rem;
}

.DecorationHeader_title_0c {
    display: flex;
    flex-direction: column;
    margin-left: 54rem;
}

.DecorationHeader_base__small_21 .DecorationHeader_title_0c {
    margin-left: 48rem;
}

.DecorationHeader_name_92 {
    margin-bottom: -1rem;
    color: #ffffff;
    font-size: 16rem;
    font-weight: 700;
    line-height: 20rem;
}

.DecorationHeader_type_38 {
    color: #9a9ea2;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_base_80 {
    width: 360rem;
    padding: 20rem;
    background: url('R.images.gui.maps.icons.newYear.tooltips.decorations.content.toy_corner_regular') no-repeat -15rem -5rem /
        contain;
}

.App_content_c6 {
    margin-left: 60rem;
    position: relative;
}

.App_content_c6::after {
    width: 50%;
    height: 1rem;
    margin: 0;
    padding: 0;
    background-color: #8c8c7e;
    opacity: 0.2;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}

.App_dropSource_fb {
    margin: 10rem 0 0;
    position: relative;
}

.App_dropSourceText_1f {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_dropSourceIcon_e8 {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: -34rem;
    transform: translateY(-50%);
}

.App_footer_06 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 10rem 0 15rem;
}

.App_description_a7 {
    color: #cbac77;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-left: 50rem;
}
