.PurchaseButton_base_86 {
    width: 160rem;
    height: 120rem;
    position: relative;
    cursor: pointer;
}

.PurchaseButton_wrapper_5d {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.PurchaseButton_image_46 {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    animation: PurchaseButton_brightOut_60 0.25s ease-in-out forwards;
}

.PurchaseButton_wrapper_5d:hover .PurchaseButton_image_46 {
    animation: PurchaseButton_bright_b4 0.25s ease-in-out forwards;
}

.PurchaseButton_textBlock_52 {
    color: #ffc363;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 14rem;
}

.PurchaseButton_text_56 {
    text-align: center;
}

.PurchaseButton_icon_a3 {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / cover;
}

@keyframes PurchaseButton_bright_b4 {
    from {
        filter: brightness(1);
    }

    to {
        filter: brightness(1.3);
    }
}

@keyframes PurchaseButton_brightOut_60 {
    from {
        filter: brightness(1.3);
    }

    to {
        filter: brightness(1);
    }
}
