.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

.Footer_wrapper_cc {
    display: flex;
    justify-content: center;
}

.Footer_check_b9 {
    width: 24rem;
    height: 24rem;
    margin-top: -2rem;
    margin-right: 5rem;
    background: url('R.images.advent_calendar.gui.maps.icons.common.check') no-repeat center / contain;
}

.Footer_lock_c7 {
    width: 24rem;
    height: 24rem;
    margin: -1rem 2rem 0rem -5rem;
    background: url('R.images.advent_calendar.gui.maps.icons.tooltips.lock') no-repeat center / contain;
}

.Footer_notReceivedWrapper_98 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Footer_notReceivedTitle_92 {
    color: #ffdd99;
    font-weight: 700;
}

.Footer_notReceivedDescription_dd {
    color: rgba(255, 255, 255, 0.5);
    line-height: 1.2;
}

.Footer_received_59 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #bdd4ff;
}

.Footer_inProgress_3e {
    color: #f2f2f7;
    line-height: 1.3;
}

.Footer_notReceivedYet_cd {
    color: #ffdd99;
}

.Reward_base_51 {
    display: flex;
    align-items: center;
}

.Reward_base__vertical_8a {
    flex-direction: column;
    margin-right: 5rem;
}

.Reward_image_35 {
    width: 48rem;
    height: 48rem;
    margin-right: 8rem;
    background-size: 100%;
}

.Reward_image__vertical_02 {
    margin-right: 0rem;
}

.Reward_title_44 {
    color: #8c8c7e;
    line-height: 1.3;
}

.Reward_value_55 {
    display: flex;
}

.Reward_value__ny_iron_93 {
    color: #e2e2cc;
}

.Reward_value__ny_emerald_12 {
    color: #8ada80;
}

.Reward_value__ny_crystal_2c {
    color: #ccdaf3;
}

.Reward_value__ny_amber_9c {
    color: #eeaf6e;
}

.Reward_value__gold_25 {
    color: #ffc363;
}

.Reward_value__highTierVehicles_e9 {
    color: #ffdd99;
}

.Reward_value__lowTierVehicles_05 {
    color: #ffdd99;
}

.Reward_description_b2 {
    max-width: 450rem;
    color: #ced9d9;
}

.Reward_description__vertical_a0 {
    width: 48rem;
    text-align: center;
}

.Reward_description__smallLength_9e {
    max-width: 130rem;
}

.Reward_description__fullLength_6f {
    width: 100%;
}

.TooltipWithProbabilities_title_4a {
    padding: 9rem 0rem;
    color: #ffffff;
    font-weight: 700;
    line-height: 1.3;
}

.TooltipWithProbabilities_sectionWrapper_4b {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.TooltipWithProbabilities_sectionWrapper_4b > div {
    width: 33.3%;
}

.TooltipWithProbabilities_sectionWrapper__isNotGuaranteed_45 {
    margin-bottom: 5rem;
}

.TooltipWithProbabilities_sectionWrapper__fullLength_8a > div {
    width: 100%;
}

.TooltipWithProbabilities_sectionBlock_d2 {
    position: relative;
}

.TooltipWithProbabilities_sectionBlock__separator_16::after {
    width: 100%;
    height: 9rem;
    background: url('R.images.gui.maps.icons.tooltip.separator_dashed_long') no-repeat center / contain;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes App_slideInFadeIn_05 {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes App_fadeOut_f9 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes App_fadeIn_97 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes App_fadeInWithScale_48 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_e0 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_scale_a8 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes App_spin_80 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes App_blink_4e {
    0% {
        transform: translateY(0rem);
    }

    15% {
        transform: translateY(15rem);
    }

    30% {
        transform: translateY(0rem);
    }

    45% {
        transform: translateY(15rem);
    }

    60%,
    100% {
        transform: translateY(0rem);
    }
}
@keyframes App_slideInNotification_71 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.App_base_19 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    width: 600rem;
    padding: 24rem;
    position: relative;
}
.App_glow_40 {
    width: 300rem;
    height: 300rem;
    background: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}
.App_title_df {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.App_base__cn_e7 .App_title_df {
    margin-bottom: 15rem;
}
.App_footer_6a {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
    padding-top: 20rem;
    position: relative;
}
.App_footer_6a::before {
    width: 100%;
    height: 9rem;
    background: url('R.images.gui.maps.icons.tooltip.separator_dashed_long') no-repeat center / contain;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
}
.App_base__cn_e7 .App_footer_6a {
    margin-top: 0rem;
}
