body {
    margin: 0;
    line-height: normal;
    overflow: hidden;
}

.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_bfac3 {
    flex-direction: row-reverse;
}
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
.TextButton_icon__forward_efa2d {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_efa2d {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_e2f0f {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_e32c0 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
.TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
    opacity: 0;
}
.TextButton_caption_f4e8d {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_d358d,
.TextButton_caption__forward_ff93d,
.TextButton_caption__close_fc554 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_a231c:hover .TextButton_caption__back_d358d,
.TextButton_base_a231c:hover .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
    color: #fffa9f;
}
.TextButton_base_a231c:active .TextButton_caption__back_d358d,
.TextButton_base_a231c:active .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:active .TextButton_caption__close_fc554 {
    color: #ffdd99;
}
.TextButton_caption__info_c263a {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
    margin-left: 8rem;
}
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
    margin-right: 8rem;
}
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
    left: -4rem;
}
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_shine_f8873 {
    opacity: 0;
}

/* colors*/

/* buttons*/

@keyframes Header_fadeOut_cbbd6 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Header_fadeIn_aa4df {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Header_fadeInWithScale_e5756 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Header_slideUp_dea85 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Header_scale_bbd9e {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Header_rotate_e3353 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Header_base_e1d5e {
    align-items: center;
}

.Header_title_a4581 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    text-align: center;
}

.mediaSmall .Header_title_a4581 {
    font-size: 24rem;
}

.Header_status_b9684 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    text-align: center;
}

.mediaSmall .Header_status_b9684 {
    font-size: 56rem;
}

.mediaExtraLarge .Header_status_b9684 {
    font-size: 73rem;
}

.Header_subtitle_d54f8 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 42rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.mediaSmall .Header_subtitle_d54f8 {
    font-size: 56rem;
}

.Reward_base_b1fec {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_ea3ee,
.Reward_base__small_d4940 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_de3ac,
.Reward_base__big_a4f0e {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c29f0 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_cb4c8 {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_aea24 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_cbf7c {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_bb29d {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_c4f07 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_af665 {
    height: 100%;
}

.Reward_icon_b619b {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_dac5c {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_ea3ee .Reward_overlay_dac5c,
.Reward_base__small_d4940 .Reward_overlay_dac5c {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_de3ac .Reward_overlay_dac5c,
.Reward_base__big_a4f0e .Reward_overlay_dac5c {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_cb4c8 .Reward_overlay_dac5c {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_aea24 .Reward_overlay_dac5c {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_cbf7c .Reward_overlay_dac5c {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_bb29d .Reward_overlay_dac5c {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_c4f07 .Reward_overlay_dac5c {
    width: 670rem;
    height: 575rem;
}

.Reward_base__normalize_b8703 .Reward_overlay_dac5c {
    width: 100%;
    height: 100%;
}

.Reward_highlight_df36b {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_e2997 {
    position: relative;
}

.Reward_info_b27d2 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_info_b27d2,
.Reward_base__small_d4940 .Reward_info_b27d2 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_e08a5 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_ea3ee .Reward_info__multi_e08a5,
.Reward_base__small_d4940 .Reward_info__multi_e08a5 {
    margin-right: 0;
}

.Reward_info__credits_ccc0d {
    color: #ced9d9;
}

.Reward_info__gold_af0a5 {
    color: #ffc363;
}

.Reward_info__bptaler_d4229,
.Reward_info__crystal_b0d9d {
    color: #c9c9b6;
}

.Reward_info__premiumTank_f53be {
    color: #ffdd99;
}

.Reward_title_ab4e2 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_ab4e2 {
    max-width: 100rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.Reward_base__s48x48_ea3ee .Reward_title_ab4e2,
.Reward_base__small_d4940 .Reward_title_ab4e2 {
    margin: -10rem -10rem 0;
}

.Reward_timer_c097c {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_ea3ee .Reward_timer_c097c,
.Reward_base__small_d4940 .Reward_timer_c097c {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_de3ac .Reward_timer_c097c,
.Reward_base__big_a4f0e .Reward_timer_c097c {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

/* colors*/

@keyframes AdditionalRewards_fadeIn_ca8f8 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes AdditionalRewards_slideUp_bb61b {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* colors*/

/* buttons*/

@keyframes AdditionalRewards_fadeOut_b2c1d {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes AdditionalRewards_fadeIn_ca8f8 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes AdditionalRewards_fadeInWithScale_d99ee {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes AdditionalRewards_slideUp_bb61b {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes AdditionalRewards_scale_f1de9 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes AdditionalRewards_rotate_f3d82 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.AdditionalRewards_base_d0cb8 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.AdditionalRewards_title_bb5e3,
.AdditionalRewards_subtitle_fc831 {
    opacity: 0;
    animation-name: AdditionalRewards_slideUp_bb61b;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    justify-content: center;
    margin: 0 0 10rem;
    color: #e9e2bf;
    font-size: 14rem;
    text-align: center;
    position: relative;
    z-index: 4;
}

.AdditionalRewards_title__updateAnimation_c49b7,
.AdditionalRewards_subtitle__updateAnimation_dac7a {
    opacity: 0;
    animation-name: AdditionalRewards_slideUp_bb61b;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.8s;
    animation-iteration-count: 1;
}

.AdditionalRewards_subtitle_fc831 {
    max-width: 730rem;
    margin-top: 96rem;
}

.mediaLarge .AdditionalRewards_subtitle_fc831 {
    max-width: 1100rem;
    margin-top: 140rem;
}

.mediaExtraLarge .AdditionalRewards_subtitle_fc831 {
    margin-top: 160rem;
}

.AdditionalRewards_reward_d61fb {
    margin: 0 20rem;
    position: relative;
}

.mediaLarge .AdditionalRewards_reward_d61fb {
    margin: 0 15rem;
}

.AdditionalRewards_rewardsList_f65e3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.AdditionalRewards_buttonWrapper_d83ff {
    opacity: 0;
    animation-name: AdditionalRewards_slideUp_bb61b;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 140rem;
    position: relative;
    z-index: 4;
}

.mediaLarge .AdditionalRewards_buttonWrapper_d83ff {
    min-width: 160rem;
}

.AdditionalRewards_footer_a62e4 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.AdditionalRewards_caption_b8f52 {
    opacity: 0;
    animation-name: AdditionalRewards_slideUp_bb61b;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    padding: 30rem 0;
    text-align: center;
    position: relative;
    z-index: 4;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_dd05d,
.CButton_base__primary_c75a2,
.CButton_base__primaryGreen_ae65b,
.CButton_base__primaryRed_b1341,
.CButton_base__secondary_f2c20 {
    background-size: 100% 100%;
}

.CButton_base__main_dd05d {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_c75a2 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_ae65b {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_b1341 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_f2c20 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_f452b {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_e1273 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_c20a3,
.CButton_base__medium_ef59a {
    padding: 0 20rem;
}

.CButton_base__small_c20a3 {
    min-height: 18rem;
}

.CButton_base__medium_ef59a {
    min-height: 32rem;
}

.CButton_base__large_bafd5 {
    min-height: 48rem;
}

.CButton_base__disabled_eef7a {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_c75a2 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_f2c20 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 1;
}
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
    opacity: 1;
}
.CButton_stateDisabled_ed209 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
    visibility: inherit;
}
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
.CButton_content_a99fc[lang='ko'],
.CButton_content_a99fc[lang='zh_tw'],
.CButton_content_a99fc[lang='zh_sg'],
.CButton_content_a99fc[lang='zh_cn'],
.CButton_content_a99fc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_dd05d .CButton_content_a99fc,
.CButton_base__primaryRed_b1341 .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
    font-size: 12rem;
}
.CButton_base__small_c20a3 .CButton_content_a99fc {
    font-size: 14rem;
}
.CButton_base__medium_ef59a .CButton_content_a99fc {
    font-size: 15rem;
}
.CButton_base__large_bafd5 .CButton_content_a99fc {
    font-size: 18rem;
}
.CButton_base__disabled_eef7a .CButton_content_a99fc {
    opacity: 0.6;
}

/* colors*/

/* buttons*/

@keyframes Banner_fadeOut_a34ff {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Banner_fadeIn_af6f6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Banner_fadeInWithScale_d6509 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Banner_slideUp_d679c {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Banner_scale_cb319 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Banner_rotate_e98e4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Banner_base_d9c79 {
    max-width: 800rem;
    position: relative;
    z-index: 0;
}

.Banner_content_ee8e5 {
    display: flex;
    align-items: center;
    margin-bottom: 10rem;
}

.Banner_icon_ed591 {
    width: 160rem;
    height: 115rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.battle_pass_banner') no-repeat center / contain;
}

.mediaLarge .Banner_icon_ed591 {
    width: 210rem;
    height: 150rem;
}

.Banner_description_e212e {
    max-width: 500rem;
    margin-left: 5rem;
}

.Banner_title_bd882 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5rem;
}

.mediaLarge .Banner_title_bd882 {
    margin-bottom: 10rem;
    font-size: 36rem;
}

.Banner_text_ed284 {
    color: #e9e2bf;
    font-size: 16rem;
    line-height: 20rem;
}

.Banner_buttonContainer_e0ff9 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.Banner_buttonWrapper_d99c1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 140rem;
}

.mediaLarge .Banner_buttonWrapper_d99c1 {
    min-width: 160rem;
}

.Banner_buttonGlow_ff23e {
    width: 769rem;
    height: 452rem;
    margin: -226rem 0 0 -384rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.button_blink') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    pointer-events: none;
}

/* colors*/

/* buttons*/

@keyframes Footer_fadeOut_ec3b8 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Footer_fadeIn_a784a {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Footer_fadeInWithScale_c086b {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Footer_slideUp_f89ef {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Footer_scale_f7932 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Footer_rotate_e1019 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Footer_base_c1678 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.Footer_base__withPostProgressionPath_f5432 {
    margin-top: 40rem;
}

.mediaMedium .Footer_base__withPostProgressionPath_f5432 {
    margin-top: 50rem;
}

.Footer_postProgressionInfo_f3eea {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 520rem;
    height: 98rem;
    text-align: center;
    position: relative;
}

.mediaMedium .Footer_postProgressionInfo_f3eea {
    width: 632rem;
    height: 118rem;
}

.Footer_lockImage_a6ac6 {
    width: 520rem;
    height: 196rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.lock_small') no-repeat center / contain;
    mix-blend-mode: normal;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.mediaMedium .Footer_lockImage_a6ac6 {
    width: 632rem;
    height: 238rem;
    background-image: url('R.images.gui.maps.icons.battlePass.rewards.lock');
}

.Footer_title_bda5f {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 800rem;
    margin-bottom: 30rem;
    text-align: center;
    opacity: 0.5;
}

.Footer_title__highlight_c68bb {
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    max-width: 900rem;
    opacity: 1;
}

.mediaMedium .Footer_title__highlight_c68bb {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.Footer_buttonContainer_c8ec6 {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-width: 140rem;
    position: relative;
}

.mediaLarge .Footer_buttonContainer_c8ec6 {
    min-width: 160rem;
}

.Footer_postProgressionButton_a3664 {
    margin-left: 12rem;
}

/* colors*/

/* buttons*/

@keyframes ChapterLogo_fadeOut_ba7ba {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes ChapterLogo_fadeIn_e3865 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ChapterLogo_fadeInWithScale_df909 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes ChapterLogo_slideUp_b14a2 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes ChapterLogo_scale_f3321 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes ChapterLogo_rotate_c65e8 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.ChapterLogo_base_fb389 {
    opacity: 0;
    animation-name: ChapterLogo_fadeInWithScale_df909;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    width: 400rem;
    height: 300rem;
    background: no-repeat center / contain;
    position: relative;
}

.mediaMedium .ChapterLogo_base_fb389 {
    width: 600rem;
    height: 450rem;
}

/* colors*/

/* buttons*/

@keyframes Glow_fadeOut_ad0c3 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Glow_fadeIn_e703a {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Glow_fadeInWithScale_e472e {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Glow_slideUp_e84bc {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Glow_scale_e8a55 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Glow_rotate_bcd62 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Glow_base_b7019 {
    position: relative;
}

.Glow_glow_b9c55 {
    width: 560rem;
    height: 560rem;
    margin-left: -280rem;
    margin-top: -280rem;
    opacity: 0;
    mix-blend-mode: additive;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: Glow_fadeIn_e703a 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 1.2s forwards 1;
}

.mediaMedium .Glow_glow_b9c55 {
    width: 666rem;
    height: 666rem;
    margin-left: -333rem;
    margin-top: -333rem;
}

.mediaLarge .Glow_glow_b9c55 {
    width: 800rem;
    height: 800rem;
    margin-left: -400rem;
    margin-top: -400rem;
}

.AttachmentOverlay_base_fd37b {
    width: 100%;
    height: 100%;
    background: no-repeat center / 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.TankName_base_b6e97 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #e9e2bf;
    line-height: 1.3;
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.mediaMedium .TankName_base_b6e97 {
    font-size: 18rem;
}
.TankName_base__wide_ef847 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaMedium .TankName_base__wide_ef847 {
    font-size: 24rem;
}

.TankName_type_a9ea0 {
    width: 56rem;
    height: 50rem;
    margin: 0 -10rem;
    background: no-repeat center / contain;
}

.TankName_base__wide_ef847 .TankName_type_a9ea0 {
    margin: 0 -8rem;
}

.mediaMedium .TankName_base__wide_ef847 .TankName_type_a9ea0 {
    width: 83rem;
    height: 74rem;
    margin: 0 -14rem;
}

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.text_textCenter_aac77 {
    justify-content: center;
}

.Title_base_ae7ad {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Title_title_f8b43 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    line-height: 1.3;
}

.mediaMedium .Title_title_f8b43 {
    font-size: 18rem;
}

.Title_base__wide_e4af5 .Title_title_f8b43 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    line-height: 1.3;
}

.mediaMedium .Title_base__wide_e4af5 .Title_title_f8b43 {
    font-size: 22rem;
}

.Title_base__credits_f524b .Title_title_f8b43 {
    color: #ced9d9;
}

.Title_base__gold_ab4d2 .Title_title_f8b43 {
    color: #ffc363;
}

.Title_base__bptaler_f7191 .Title_title_f8b43,
.Title_base__crystal_e3960 .Title_title_f8b43 {
    color: #c9c9b6;
}

.Title_subtitle_fc931 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.mediaMedium .Title_subtitle_fc931 {
    font-size: 18rem;
}

.Title_base__wide_e4af5 .Title_subtitle_fc931 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaMedium .Title_base__wide_e4af5 .Title_subtitle_fc931 {
    font-size: 22rem;
}

/* colors*/

/* buttons*/

@keyframes Reward_fadeOut_dca6f {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Reward_fadeIn_da4c6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Reward_fadeInWithScale_ac421 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Reward_slideUp_a540d {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Reward_scale_e3ee2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Reward_rotate_b58a3 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Reward_base_b1bd1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.mediaSmall .Reward_base_b1bd1 {
    margin: 0 10rem;
}

.mediaMedium .Reward_base_b1bd1 {
    margin: 0;
}

.Reward_imageWrapper_f3760 {
    position: relative;
}

.Reward_image_deca3 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    width: 232rem;
    height: 174rem;
    background: no-repeat center / contain;
    position: relative;
}

.mediaMedium .Reward_image_deca3 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__updateAnimation_e0a64 .Reward_image_deca3 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.Reward_base__wide_de42e .Reward_image_deca3 {
    width: 400rem;
    height: 300rem;
}

.mediaMedium .Reward_base__wide_de42e .Reward_image_deca3 {
    width: 600rem;
    height: 450rem;
}

.mediaMedium .Reward_base__small_b574e .Reward_image_deca3 {
    width: 296rem;
    height: 222rem;
}

.Reward_attachment_fc520 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
}

.Reward_base__updateAnimation_e0a64 .Reward_attachment_fc520 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.Reward_title_e87c5 {
    opacity: 0;
    animation-name: Reward_fadeIn_da4c6;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    width: 214rem;
    text-align: center;
    position: relative;
    z-index: 4;
}

.mediaSmall .Reward_title_e87c5 {
    width: 110%;
}

.Reward_base__updateAnimation_e0a64 .Reward_title_e87c5 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.Reward_base__wide_de42e .Reward_title_e87c5 {
    width: 380rem;
}

.mediaMedium .Reward_base__wide_de42e .Reward_title_e87c5 {
    position: relative;
    top: -24rem;
}

.mediaLarge .Reward_base__wide_de42e .Reward_title_e87c5 {
    position: static;
}

.Reward_count_e23b4 {
    opacity: 0;
    animation-name: Reward_fadeIn_da4c6;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.8s;
    animation-iteration-count: 1;
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    position: absolute;
    top: 82%;
    right: 5%;
    z-index: 4;
}

.mediaMedium .Reward_count_e23b4 {
    right: 10%;
}

.Reward_base__updateAnimation_e0a64 .Reward_count_e23b4 {
    opacity: 0;
    animation-name: Reward_fadeInWithScale_ac421;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
}

.Rewards_base_a678b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rewards_base__updateSize_b52d7 {
    height: 300rem;
}

.mediaMedium .Rewards_base__updateSize_b52d7 {
    height: 450rem;
}

/* colors*/

/* buttons*/

@keyframes Ribbon_fadeOut_cbd19 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Ribbon_fadeIn_ce21d {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Ribbon_fadeInWithScale_e8a3f {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Ribbon_slideUp_be35d {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Ribbon_scale_e82d2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Ribbon_rotate_c93c4 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Ribbon_base_b8e70 {
    opacity: 0;
    animation-name: Ribbon_slideUp_be35d;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1s;
    animation-iteration-count: 1;
    width: 1366rem;
    height: 356rem;
    margin-left: -683rem;
    background: no-repeat center center / contain;
    opacity: 0;
    position: absolute;
    top: 10rem;
    left: 50%;
}

.mediaMedium .Ribbon_base_b8e70 {
    width: 1600rem;
    height: 417rem;
    margin-left: -800rem;
    top: 40rem;
}

.mediaLarge .Ribbon_base_b8e70 {
    width: 1920rem;
    height: 500rem;
    margin-left: -960rem;
}

.Ribbon_base__indentWide_a7df7 {
    top: 60rem;
}

.mediaMedium .Ribbon_base__indentWide_a7df7 {
    top: 120rem;
}

/* colors*/

/* buttons*/

@keyframes MainRewards_fadeOut_d2eaf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes MainRewards_fadeIn_f511a {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MainRewards_fadeInWithScale_b3e88 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes MainRewards_slideUp_a33ed {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes MainRewards_scale_c2a66 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes MainRewards_rotate_d5250 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* colors*/

@keyframes MainRewards_fadeIn_f511a {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes MainRewards_slideUp_a33ed {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.MainRewards_base_f3527 {
    display: flex;
    justify-content: center;
    position: relative;
}

.MainRewards_glow_dc2ef {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mediaMedium .MainRewards_glow_dc2ef {
    top: 50%;
}

.MainRewards_rays_c2d33 {
    width: 910rem;
    height: 910rem;
    margin-left: -455rem;
    margin-top: -455rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.lines') no-repeat center center / contain;
    opacity: 0;
    mix-blend-mode: additive;
    position: absolute;
    top: 60%;
    left: 50%;
    animation:
        MainRewards_raysAppearance_ebe9a 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 0.8s forwards,
        MainRewards_rotate_d5250 120s linear 1.2s infinite forwards;
    pointer-events: none;
}

.mediaMedium .MainRewards_rays_c2d33 {
    width: 1080rem;
    height: 1080rem;
    margin-left: -540rem;
    margin-top: -540rem;
}

.mediaLarge .MainRewards_rays_c2d33 {
    width: 1300rem;
    height: 1300rem;
    margin-left: -650rem;
    margin-top: -650rem;
}

@keyframes MainRewards_raysAppearance_ebe9a {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 0.2;
        transform: translateY(0);
    }
}

@keyframes MainRewards_rotate_d5250 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* colors*/

/* buttons*/

@keyframes RewardsApp_fadeOut_e7517 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes RewardsApp_fadeIn_abe14 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes RewardsApp_fadeInWithScale_a29b6 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes RewardsApp_slideUp_b2459 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes RewardsApp_scale_bb974 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes RewardsApp_rotate_d120a {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.RewardsApp_base_c3e69 {
    display: flex;
    width: 100%;
    height: 100%;
    background: #000 no-repeat center / cover;
    position: relative;
}

.RewardsApp_overlay_b4cde {
    background-color: rgba(17, 17, 17, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.RewardsApp_overlay__common_ac862 {
    background-color: rgba(17, 17, 17, 0.5);
}

.RewardsApp_main_f19a5 {
    opacity: 0;
    animation-name: RewardsApp_fadeInWithScale_a29b6;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40rem 0 50rem;
}

.mediaExtraLarge .RewardsApp_main_f19a5 {
    padding-top: 100rem;
    padding-bottom: 100rem;
}

.RewardsApp_close_e1699 {
    position: absolute;
    top: 42rem;
    right: 42rem;
    z-index: 2;
}

.RewardsApp_content_f1e48 {
    display: flex;
    align-items: center;
    flex: 1;
    width: 100%;
    position: relative;
}

.RewardsApp_header_be34c {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.RewardsApp_rewards_f2203 {
    width: 100%;
    position: relative;
}

.RewardsApp_rewards__additionalCentring_d0e97 {
    transform: translateY(-37rem);
}

.mediaMedium .RewardsApp_rewards__additionalCentring_d0e97 {
    transform: translateY(-10rem);
}

.mediaLarge .RewardsApp_rewards__additionalCentring_d0e97 {
    transform: translateY(-37rem);
}

.RewardsApp_additionalRewards_e5d58 {
    width: 100%;
    margin-top: 30rem;
    position: absolute;
    top: 100%;
    left: 0;
}

.mediaLarge .RewardsApp_additionalRewards_e5d58 {
    margin-top: 113rem;
}

.RewardsApp_additionalRewards__diffTop_a6eb4 {
    margin-top: -19rem;
}

.mediaMedium .RewardsApp_additionalRewards__diffTop_a6eb4 {
    padding-top: 15rem;
}

.mediaLarge .RewardsApp_additionalRewards__diffTop_a6eb4 {
    margin-top: 35rem;
}

.RewardsApp_additionalRewards__slideTop_f2eb7 {
    transform: translateY(calc(var(--banner-height) / -2.5));
}

.RewardsApp_base__buyWithLevels_c0eb6 .RewardsApp_additionalRewards_e5d58 {
    margin-top: 40rem;
}

.mediaLarge .RewardsApp_base__buyWithLevels_c0eb6 .RewardsApp_additionalRewards_e5d58 {
    margin-top: 45rem;
}

.RewardsApp_additionalRewards__animateSlide_f18af {
    transition: transform 0.3s ease-in-out 0.3s;
}

.mediaMedium .RewardsApp_additionalRewards__indentS_f2e5d {
    margin-top: -10rem;
}

.mediaLarge .RewardsApp_additionalRewards__indentS_f2e5d {
    margin-top: 55rem;
}

.RewardsApp_base__buyWithLevels_c0eb6 .RewardsApp_mainRewards_b2c65 {
    margin-top: 74rem;
}

.RewardsApp_mainRewards__slideTop_d633c {
    transform: translateY(calc(var(--banner-height) / -2.5));
}

.RewardsApp_mainRewards__animateSlide_c4a45 {
    transition: transform 0.3s ease-in-out 0.2s;
}

.RewardsApp_footer_ce49c {
    opacity: 0;
    animation-name: RewardsApp_slideUp_b2459;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.6s;
    animation-iteration-count: 1;
}

.RewardsApp_footer__hide_f15f8 {
    opacity: 1;
    animation-name: RewardsApp_fadeOut_e7517;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    pointer-events: none;
}

.RewardsApp_footer__diffTop_c984c {
    margin-top: 0;
}

.RewardsApp_banner_a4c26 {
    opacity: 0;
    animation-name: RewardsApp_slideUp_b2459;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.6s;
    animation-iteration-count: 1;
}

.RewardsApp_banner__showPreparation_d35ec {
    opacity: 0;
    animation-name: RewardsApp_slideUp_b2459;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: 1;
    position: absolute;
    bottom: 50rem;
    z-index: 1;
}

.mediaExtraLarge .RewardsApp_banner__showPreparation_d35ec {
    bottom: 100rem;
}
