/* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HintSlide_root_d63aa727,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}

html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HintSlide_e291e2ca {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 1024rem;
    height: 600rem;
}

.HintSlide_hintIcon_3212061 {
    display: flex;
    width: 100%;
    height: 100%;
    background: no-repeat 50% / cover;
    position: absolute;
    mask-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, black 20%);
    mask-repeat: no-repeat;
}

.HintSlide_text_b7b9001a {
    margin-bottom: 31rem;
    padding: 0 100rem;
    text-align: center;
}

.HintSlide_title_669cf402 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    margin-bottom: 9rem;
    position: relative;
}

.HintSlide_description_2ee3501c {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    position: relative;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HelpApp_root_622f877d,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}

html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable scss/dollar-variable-pattern */
.HelpApp_a4ec8984 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.HelpApp_header_51c3d04b {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.2);
}

.HelpApp_title_3461492e {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 4rem;
}

.HelpApp_close_6aeb8f26 {
    padding-bottom: 1rem;
    position: absolute;
    top: 14rem;
    right: 11rem;
}

.HelpApp_content_d73325a4 {
    display: flex;
    flex-direction: column;
    width: 1024rem;
    height: 720rem;
    background: url('R.atlases.battleAtlas.helpWindow_bg') no-repeat 0 0 / cover;
    position: relative;
}

.HelpApp_pagination_b9109639 {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    padding-bottom: 20rem;
    position: relative;
    z-index: 1;
}

.HelpApp_slide_10c12dfe {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.HelpApp_sizer_1fa63daa {
    display: flex;
    width: 894rem;
    height: 544rem;
}

.HelpApp_bottomBg_7e66c3a1 {
    display: flex;
    width: 100%;
    height: 60rem;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 0;
    left: 0;
}
