.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.Video_video_e6 {
    width: 100%;
    height: auto;
    background: no-repeat center / contain;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Video_video__visible_c9 {
    visibility: visible;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.TankName_base_c0 {
    display: flex;
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.TankName_type_3c {
    width: 83rem;
    height: 74rem;
    margin: 0 -20rem;
    background: no-repeat center / contain;
    position: relative;
    top: -12rem;
}

.TankName_type__elite_c7 {
    margin: 0 -16rem;
    top: -15rem;
}

@keyframes Content_slideInFadeIn_cf {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes Content_fadeOut_6c {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes Content_fadeIn_10 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes Content_fadeInWithScale_ff {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Content_slideUp_37 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Content_scale_fe {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Content_spin_5e {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes Content_blink_3b {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes Content_slideInNotification_57 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.Content_base_c9 {
    display: flex;
    flex-direction: column;
}
.Content_buttons_38 {
    display: flex;
    justify-content: center;
}
.Content_button_da {
    min-width: 160rem;
}
.Content_button__gap_86 {
    margin-right: 20rem;
}
.Content_text_44 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15rem;
}
.Content_tankName_4f {
    font-family: DINRoundPro;
}
[lang='th'] .Content_tankName_4f,
[lang='el'] .Content_tankName_4f,
[lang='vi'] .Content_tankName_4f {
    font-family: Warhelios;
}
[lang='ja'] .Content_tankName_4f {
    font-family: WarheliosJA;
}
[lang='ko'] .Content_tankName_4f {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .Content_tankName_4f {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .Content_tankName_4f,
[lang='zh_cn'] .Content_tankName_4f {
    font-family: WarheliosZHCN;
}
.Content_title_cd {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    font-family: DINRoundPro;
}
[lang='th'] .Content_title_cd,
[lang='el'] .Content_title_cd,
[lang='vi'] .Content_title_cd {
    font-family: Warhelios;
}
[lang='ja'] .Content_title_cd {
    font-family: WarheliosJA;
}
[lang='ko'] .Content_title_cd {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .Content_title_cd {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .Content_title_cd,
[lang='zh_cn'] .Content_title_cd {
    font-family: WarheliosZHCN;
}
.Content_title_cd {
    margin-bottom: 15rem;
}
.mediaMedium .Content_title_cd {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 25rem;
}
.Content_title__guaranteedReward_99 {
    color: #ffdd99;
}
.Content_buttonText_dd {
    color: #f2f2e6;
}

@keyframes App_fadeInWithSlideAndBrightness_09 {
    16% {
        filter: brightness(1.5) sepia(0.2);
        opacity: 1;
        transform: translateX(0);
    }

    20% {
        filter: brightness(1.5) sepia(0.2);
    }

    100% {
        filter: brightness(1) sepia(0);
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
@keyframes App_slideInFadeIn_01 {
    100% {
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
    }
}
@keyframes App_fadeIn_37 {
    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes App_fadeOut_68 {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes App_slideInFadeIn_01 {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes App_fadeOut_68 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes App_fadeIn_37 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes App_fadeInWithScale_e7 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_11 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_scale_0f {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes App_spin_44 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes App_blink_43 {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes App_slideInNotification_31 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.App_base_39 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #120a0d;
    overflow: hidden;
}
.App_video_ae {
    width: 100%;
    height: 100%;
}
.App_vignette_1f {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.library.vignette') no-repeat 100% 100% / 100% 100%;
    opacity: 0.8;
    position: absolute;
}
.App_content_00 {
    display: flex;
    justify-content: center;
    opacity: 0;
    position: absolute;
    right: 0;
    bottom: 6%;
    left: 0;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}
.App_content__visible_36 {
    opacity: 1;
    pointer-events: auto;
}
.App_closeButton_ca {
    opacity: 0;
    position: absolute;
    top: 20rem;
    right: 10rem;
    transition: opacity 1s ease-in-out;
    pointer-events: none;
}
.App_closeButton__visible_d8 {
    opacity: 1;
    pointer-events: auto;
}
.App_label_a6 {
    opacity: 0;
    visibility: hidden;
    animation-name: App_fadeIn_37;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
    font-family: DINRoundPro;
}
[lang='th'] .App_label_a6,
[lang='el'] .App_label_a6,
[lang='vi'] .App_label_a6 {
    font-family: Warhelios;
}
[lang='ja'] .App_label_a6 {
    font-family: WarheliosJA;
}
[lang='ko'] .App_label_a6 {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .App_label_a6 {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .App_label_a6,
[lang='zh_cn'] .App_label_a6 {
    font-family: WarheliosZHCN;
}
.App_label_a6 {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: flex-end;
    width: 395rem;
    height: 218rem;
    padding-left: 25rem;
    padding-bottom: 100rem;
    background: url('R.images.gui.maps.icons.newYear.loot_box.guaranteed_reward_label.gr_bg_small') no-repeat center /
        contain;
    text-shadow: 0 0 14rem #ff0000;
    mix-blend-mode: additive;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.mediaMedium .App_label_a6 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    width: 527rem;
    height: 290rem;
    padding-bottom: 133rem;
    background-image: url('R.images.gui.maps.icons.newYear.loot_box.guaranteed_reward_label.gr_bg_large');
}
.App_label__hidden_52 {
    opacity: 1;
    visibility: visible;
    animation-name: App_fadeOut_68;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 0.1s;
}
.App_label__forceHidden_90 {
    display: none;
}
