.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.Points_base_51 {
    display: flex;
    align-items: center;
}

.Points_icon_7c {
    margin-left: 6rem;
    background: url('R.images.frontline.gui.maps.icons.point') no-repeat 50% / contain;
}

.Points_icon__small_8d {
    width: 16rem;
    height: 16rem;
}

.Points_icon__normal_9d {
    width: 26rem;
    height: 24rem;
}

.Points_label_db {
    display: flex;
}

.Points_label__white_d3 {
    color: #f2f1e1;
}

.Points_label__brown_c0 {
    color: #cbac77;
}

.Points_label__red_22 {
    color: #ff2717;
}

/* common*/
/* skills page*/
.SkillsSubTitle_base_92 {
    color: rgba(242, 242, 247, 0.7);
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    font-size: 18rem;
}
.mediaMedium .SkillsSubTitle_base_92 {
    font-size: 24rem;
}
.SkillsSubTitle_points_c8 {
    width: 1rem;
}

.PageTitle_base_ef {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PageTitle_title_33 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .PageTitle_title_33 {
    font-size: 56rem;
}

.CategoryTitle_base_fe {
    display: flex;
    align-items: center;
}

.CategoryTitle_title_49 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    position: relative;
    top: -2rem;
}

.CategoryTitle_base__uppercase_60 .CategoryTitle_title_49 {
    color: #f2f2f7;
    font-size: 12rem;
    font-weight: 700;
    top: -1rem;
}

.mediaMedium .CategoryTitle_base__uppercase_60 .CategoryTitle_title_49 {
    font-size: 14rem;
}

.CategoryTitle_icon_f2 {
    width: 32rem;
    height: 32rem;
    margin-left: -7rem;
    background: no-repeat center / contain;
    transform: translateY(-1rem);
}

.CategoryTitle_base__uppercase_60 .CategoryTitle_icon_f2 {
    margin: 0 -4rem 0 -7rem;
    transform: none;
}

.mediaSmall .CategoryTitle_base__uppercase_60 .CategoryTitle_icon_f2 {
    width: 48rem;
    height: 48rem;
    margin: 0 -6rem 0 -13rem;
}

.mediaMedium .CategoryTitle_base__uppercase_60 .CategoryTitle_icon_f2 {
    width: 64rem;
    height: 64rem;
    margin: 0 -8rem 0 -17rem;
}

.mediaLarge .CategoryTitle_base__uppercase_60 .CategoryTitle_icon_f2 {
    width: 80rem;
    height: 80rem;
    margin: 0 -10rem 0 -21rem;
}

/* common*/
/* skills page*/
.Category_base_b6 {
    display: flex;
    flex-direction: column;
}
.Category_title_42 {
    opacity: 0.5;
    transition: opacity 0.16s;
}
.Category_base_b6:hover .Category_title_42 {
    opacity: 1;
}
.Category_base__active_fa .Category_title_42 {
    opacity: 1;
}
.mediaMedium .Category_title_42 {
    margin-bottom: -8rem;
}
.Category_skills_f9 {
    display: flex;
    flex-direction: column;
}

.ActivatedLabel_base_b8 {
    padding-left: 16rem;
    position: relative;
}

.ActivatedLabel_activatedIcon_c6 {
    width: 20rem;
    height: 20rem;
    background: url('R.images.frontline.gui.maps.icons.check.large') no-repeat 50% / contain;
    position: absolute;
    top: 1rem;
    left: -3rem;
}

.ActivatedLabel_activated_00 {
    color: #7ab300;
}

/* common*/
/* skills page*/
.Skill_base_63 {
    display: flex;
    flex-direction: column;
    width: 168rem;
    height: 136rem;
    margin: 0 16rem 8rem 0;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.45);
    position: relative;
    transition: background-color 0.16s;
    cursor: pointer;
}
.Skill_base__hovered_c7 {
    background-color: rgba(0, 0, 0, 0.6);
}
.Skill_base__selected_33 {
    border-color: transparent #b18933;
    box-shadow:
        inset 0 0 38rem 2px rgba(255, 98, 36, 0.25),
        0 0 12rem 5rem rgba(255, 98, 36, 0.35);
    background-color: rgba(0, 0, 0, 0.45);
}
.mediaSmall .Skill_base_63 {
    width: 240rem;
    margin: 0 32rem 16rem 0;
}
.mediaMedium .Skill_base_63 {
    width: 256rem;
    height: 160rem;
}
.mediaLarge .Skill_base_63 {
    width: 270rem;
    height: 188rem;
}
.Skill_activeBg_3f {
    position: absolute;
    top: -1rem;
    right: -1rem;
    bottom: -1rem;
    left: -1rem;
    border-radius: 2rem;
    background:
        linear-gradient(to right, #b18933, #f1c453, #b18933) no-repeat left top / 100% 1rem,
        linear-gradient(to right, #b18933, #f1c453, #b18933) no-repeat left bottom / 100% 1rem;
}
.Skill_activatedBg_a7 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.frontline.gui.maps.bg.skillShine') no-repeat bottom left;
}
.Skill_disabledBg_56 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.frontline.gui.maps.bg.skillDisabled');
}
.Skill_icon_c0 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / cover;
    position: absolute;
    top: 8rem;
    left: 50%;
    transform: translateX(-50%);
    transition:
        opacity 0.16s,
        filter 0.16s;
}
.mediaMedium .Skill_icon_c0 {
    width: 100rem;
    height: 100rem;
}
.mediaLarge .Skill_icon_c0 {
    width: 128rem;
    height: 128rem;
}
.Skill_info_18 {
    position: absolute;
    bottom: 10rem;
    left: 12rem;
    z-index: 1;
}
.Skill_base__disabled_a9 .Skill_info_18 {
    opacity: 0.5;
}
.mediaMedium .Skill_info_18 {
    bottom: 14rem;
    left: 16rem;
}
.Skill_title_21 {
    margin-bottom: 1rem;
    color: #e9e2bf;
    font-size: 14rem;
}
.mediaMedium .Skill_title_21 {
    font-size: 16rem;
}
.Skill_activatedLabel_8c {
    font-size: 13rem;
}
.Skill_price_91 {
    padding-right: 5rem;
    color: #cbac77;
}
.Skill_base__disabled_a9 .Skill_price_91 {
    color: #b70000;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.InfoIcon_base_ff {
    display: flex;
    justify-content: center;
    align-items: center;
}

.InfoIcon_icon_bc {
    width: 16rem;
    height: 16rem;
    background: url('R.images.frontline.gui.maps.icons.info');
}

.LevelTab_base_48 {
    display: flex;
    justify-content: center;
    padding: 7rem 0;
    color: #8d8e80;
    position: relative;
    cursor: pointer;
}

.LevelTab_base__active_dc {
    color: #ffdd99;
    text-shadow: 0 0 12rem #ff7f00;
}

.LevelTab_base_48:hover {
    color: #e9e2bf;
}

.LevelTab_label_17 {
    justify-content: center;
    width: 16rem;
    font-size: 15rem;
    transition: color 0.16s;
    pointer-events: none;
}

/* common*/
/* skills page*/
.SkillParam_base_bf {
    display: flex;
    width: 290rem;
    margin-bottom: 8rem;
    padding-left: 80rem;
    font-size: 14rem;
    position: relative;
}
.mediaSmall .SkillParam_base_bf {
    width: 303rem;
}
.mediaMedium .SkillParam_base_bf {
    width: 310rem;
    padding-left: 87rem;
    font-size: 16rem;
}
.SkillParam_valueWrapper_bd {
    display: flex;
    align-items: center;
    padding-right: 7rem;
    color: #f7f3e8;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    top: 0;
    right: 100%;
}
.SkillParam_diff_d0 {
    padding-right: 2rem;
    font-size: 13rem;
}
.SkillParam_diffValue_a9 {
    color: #8ec63f;
    position: relative;
    top: 1rem;
}
.SkillParam_labelWrapper_85 {
    width: 100%;
}
.SkillParam_label_89 {
    color: #e9e4c0;
}
.SkillParam_progress_fd {
    display: flex;
    height: 3rem;
    margin-top: 8rem;
    background-color: rgba(255, 255, 255, 0.3);
    position: relative;
}
.SkillParam_progressDot_56 {
    width: 3rem;
    height: 100%;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 2rem 0 10rem 1rem rgba(255, 147, 0, 0.5);
    background-color: #fff1ce;
    position: absolute;
    top: 0;
    right: 0;
}
.SkillParam_progressValue_06 {
    box-shadow: 0 0 10rem #ff9300;
    background-color: #fff1ce;
    position: relative;
}
.SkillParam_progressValueDot_55 {
    width: 2rem;
    height: 10rem;
    margin-top: -5rem;
    background-color: #d9cfb2;
    position: absolute;
    top: 50%;
    left: 100%;
}
.SkillParam_progressDelta_a3 {
    background-color: #8ec63f;
    transition: width 0.16s;
}

/* common*/
/* skills page*/
.Levels_base_f5 {
    display: flex;
    flex-direction: column;
}
.Levels_tabsWrapper_9e {
    display: flex;
    justify-content: space-between;
    height: 32rem;
    margin-bottom: 20rem;
    position: relative;
}
.Levels_tabsBorder_68 {
    width: 100%;
    height: 1rem;
    background: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.1) 30%,
        rgba(255, 255, 255, 0.1) 70%,
        transparent
    );
    position: absolute;
    left: 0;
}
.Levels_tabsBorder__top_ee {
    top: 0;
}
.Levels_tabsBorder__bottom_56 {
    bottom: 0;
}
.Levels_tabsLabel_c3 {
    padding: 7rem 0;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 1.4;
}
.Levels_tabs_6f {
    display: flex;
    flex: 1;
    position: relative;
}
.Levels_tab_d1 {
    width: 80rem;
}
.mediaLarge .Levels_tab_d1 {
    width: 90rem;
}
.Levels_arrow_13 {
    width: 8rem;
    height: 6rem;
    background: url('R.images.frontline.gui.maps.icons.arrow.skillParam') no-repeat;
    position: absolute;
    top: 13rem;
    right: 0;
    transition: background-image 0.16s;
}
.Levels_arrow__active_b0 {
    background-image: url('R.images.frontline.gui.maps.icons.arrow.skillParamHover');
}
.Levels_caret_87 {
    width: 102rem;
    height: 60rem;
    background: url('R.images.frontline.gui.maps.bg.skillParam') no-repeat;
    mix-blend-mode: screen;
    position: absolute;
    top: -5rem;
    transform: translateX(-11rem);
    transition: left 0.16s cubic-bezier(0, 0.58, 0.98, 1) 0.16s;
    pointer-events: none;
}
.Levels_params_33 {
    display: flex;
    flex-direction: column;
}

.Details_base_04 {
    display: flex;
    flex-direction: column;
}

.Details_icon_2a {
    width: 176rem;
    height: 176rem;
    display: none;
}

.mediaMedium .Details_icon_2a {
    display: flex;
    flex: 1;
    align-self: center;
    background: no-repeat 50% / contain;
}

.Details_description_93 {
    margin-bottom: 20rem;
}

.Details_title_24 {
    color: #fefeec;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: -5rem;
    font-weight: 700;
    line-height: 1.25;
}

.Details_category_79 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    line-height: 1;
}

.Details_text_5a {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 7rem;
    line-height: 1.25;
}

.mediaMedium .Details_text_5a {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Details_footer_31 {
    display: flex;
    justify-content: center;
    height: 40rem;
    margin-top: 20rem;
    padding-top: 20rem;
    border-top: 1rem solid rgba(254, 254, 236, 0.1);
    position: relative;
}

.Details_activatedLabel_c2 {
    font-size: 15rem;
}

.Details_activateLabel_d2 {
    display: flex;
    align-items: center;
    color: #f2f1e1;
}

.Details_tooltipIcon_c6 {
    margin-top: 2rem;
}

/* common*/
/* skills page*/
.SkillsViewApp_base_d5 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40rem;
    color: #f2f2f7;
}
.mediaMedium .SkillsViewApp_base_d5 {
    padding-top: 122rem;
}
.SkillsViewApp_pageTitle_36 {
    position: absolute;
    top: 42rem;
    left: 50%;
    transform: translate(-50%);
}
.mediaLarge .SkillsViewApp_pageTitle_36 {
    top: 88rem;
}
.SkillsViewApp_pageTitle_36 {
    z-index: 1;
}
.SkillsViewApp_content_0f {
    flex: 1;
    padding-left: 120rem;
}
.mediaMedium .SkillsViewApp_content_0f {
    padding-left: 174rem;
}
.SkillsViewApp_wrapper_3c {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    position: relative;
}
.SkillsViewApp_categories_40 {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
}
.SkillsViewApp_category_29 {
    position: relative;
    top: 17rem;
}
.mediaMedium .SkillsViewApp_category_29 {
    top: -23rem;
}
.SkillsViewApp_detailsWrapper_43 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 345rem;
    height: 554rem;
    padding: 0 28rem 22rem;
    background: linear-gradient(
        to bottom,
        transparent 0,
        rgba(0, 0, 0, 0.6) 15%,
        rgba(0, 0, 0, 0.6) 65%,
        transparent 100%
    );
    position: relative;
    top: 17rem;
}
.mediaSmall .SkillsViewApp_detailsWrapper_43 {
    width: 410rem;
    height: 600rem;
    padding: 0 42rem 35rem;
}
.mediaMedium .SkillsViewApp_detailsWrapper_43 {
    height: 750rem;
    background-image: linear-gradient(
        to bottom,
        transparent 0,
        rgba(0, 0, 0, 0.55) 25%,
        rgba(0, 0, 0, 0.55) 65%,
        transparent 100%
    );
    top: -23rem;
}
.mediaLarge .SkillsViewApp_detailsWrapper_43 {
    height: 865rem;
    padding-bottom: 90rem;
}
.mediaMedium .SkillsViewApp_details_e8 {
    justify-content: flex-end;
    height: 100%;
}
.SkillsViewApp_footerWrapper_22 {
    position: absolute;
    bottom: 0;
    left: 30rem;
}
.mediaSmall .SkillsViewApp_footerWrapper_22 {
    left: 0;
}
.mediaMedium .SkillsViewApp_footerWrapper_22 {
    left: 40rem;
}
.SkillsViewApp_footerBg_98 {
    width: 100%;
    height: 1rem;
    background-image: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.2) 30%,
        rgba(255, 255, 255, 0.2) 70%,
        transparent
    );
    position: absolute;
    top: 0;
    left: 0;
}
.SkillsViewApp_footer_0e {
    width: 535rem;
    padding: 10rem 22rem;
    background: linear-gradient(
        to right,
        transparent,
        rgba(255, 255, 255, 0.07) 15%,
        rgba(255, 255, 255, 0.07) 85%,
        transparent
    );
    position: relative;
}
.mediaSmall .SkillsViewApp_footer_0e {
    width: 785rem;
    padding: 20rem;
}
.mediaMedium .SkillsViewApp_footer_0e {
    width: 835rem;
}
.mediaLarge .SkillsViewApp_footer_0e {
    width: 870rem;
}
.SkillsViewApp_footerText_54 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    justify-content: center;
}
.SkillsViewApp_tooltipIcon_b0 {
    position: relative;
    top: 2rem;
}
