.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

@keyframes HangarName_slideInFadeIn_51 {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes HangarName_fadeOut_12 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes HangarName_fadeIn_d3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes HangarName_fadeInWithScale_8e {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes HangarName_slideUp_cb {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes HangarName_scale_d2 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes HangarName_spin_c6 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes HangarName_blink_a8 {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes HangarName_slideInNotification_a8 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.HangarName_base_bd {
    font-family: Pacifico;
}
[lang='th'] .HangarName_base_bd,
[lang='el'] .HangarName_base_bd {
    font-family: Warhelios;
}
[lang='ja'] .HangarName_base_bd {
    font-family: WarheliosJA;
}
[lang='ko'] .HangarName_base_bd {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .HangarName_base_bd {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .HangarName_base_bd,
[lang='zh_cn'] .HangarName_base_bd {
    font-family: WarheliosZHCN;
}
[lang='th'] .HangarName_base_bd,
[lang='el'] .HangarName_base_bd,
[lang='ja'] .HangarName_base_bd,
[lang='ko'] .HangarName_base_bd,
[lang='zh_tw'] .HangarName_base_bd,
[lang='zh_sg'] .HangarName_base_bd,
[lang='zh_cn'] .HangarName_base_bd {
    font-weight: 700;
}
.HangarName_base_bd {
    color: #ffffff;
    line-height: 1.8;
    text-align: center;
    letter-spacing: -0.02em;
}
/* additional area for mask*/
.mediaMedium .HangarName_base_bd {
    line-height: 2;
}
[lang='th'] .HangarName_base_bd {
    letter-spacing: 0;
}
.HangarName_base__large_a1 {
    line-height: 2.2;
}
.mediaMedium .HangarName_base__large_a1 {
    line-height: 2.2;
}
.mediaLarge .HangarName_base__large_a1 {
    line-height: 2;
}
.HangarName_description_83 {
    --shadow-radius: 20rem;
    margin-left: -0.5em; /* fix incorrect text position (gf font engine is bad working with this font)*/
    padding: 0 0.2em; /* additional area for mask*/
    position: relative;
    transform: rotate(-2deg);
}
.HangarName_base__dynamic_6f .HangarName_description_83 {
    font-size: 1.1em;
}
.HangarName_base__small_b6 .HangarName_description_83 {
    font-size: 11rem;
}
.mediaSmall .HangarName_base__small_b6 .HangarName_description_83 {
    font-size: 15rem;
}
.mediaMedium .HangarName_base__small_b6 .HangarName_description_83 {
    font-size: 18rem;
}
.mediaLarge .HangarName_base__small_b6 .HangarName_description_83 {
    font-size: 21rem;
}
.HangarName_base__middle_4f .HangarName_description_83 {
    font-size: 40rem;
}
.mediaMedium .HangarName_base__middle_4f .HangarName_description_83 {
    font-size: 50rem;
}
.mediaLarge .HangarName_base__middle_4f .HangarName_description_83 {
    font-size: 60rem;
}
.mediaExtraLarge .HangarName_base__middle_4f .HangarName_description_83 {
    font-size: 80rem;
}
.HangarName_base__large_a1 .HangarName_description_83 {
    font-size: 50rem;
}
.mediaMedium .HangarName_base__large_a1 .HangarName_description_83 {
    font-size: 69rem;
}
.mediaLarge .HangarName_base__large_a1 .HangarName_description_83 {
    font-size: 80rem;
}
.mediaExtraLarge .HangarName_base__large_a1 .HangarName_description_83 {
    font-size: 100rem;
}
.HangarName_base__additionalEffects_3a .HangarName_description_83 {
    text-shadow: 0 0 var(--shadow-radius) rgba(0, 194, 255, 0.7);
}
.HangarName_titleBox_d7 {
    margin-top: -50rem;
    position: relative;
}
.HangarName_base__dynamic_6f .HangarName_titleBox_d7 {
    margin-top: -1.1em;
}
.HangarName_base__small_b6 .HangarName_titleBox_d7 {
    margin-top: -11rem;
}
.HangarName_title_70 {
    padding: 0 0.2em; /* additional area for mask*/
    position: relative;
    transform: rotate(-2deg);
    --shadow-radius: 10rem;
}
.mediaMedium .HangarName_title_70 {
    --shadow-radius: 12rem;
}
.mediaLarge .HangarName_title_70 {
    --shadow-radius: 14rem;
}
.HangarName_base__dynamic_6f .HangarName_title_70 {
    margin-top: 14rem;
    --shadow-radius: 1em;
    font-size: 1.5em;
}
.HangarName_base__small_b6 .HangarName_title_70 {
    font-size: 15rem;
}
.mediaSmall .HangarName_base__small_b6 .HangarName_title_70 {
    font-size: 20rem;
}
/* 0.8 * 0.9 0.72 */
.mediaMedium .HangarName_base__small_b6 .HangarName_title_70 {
    font-size: 25rem;
}
.mediaLarge .HangarName_base__small_b6 .HangarName_title_70 {
    font-size: 30rem;
}
.HangarName_base__middle_4f .HangarName_title_70 {
    --shadow-radius: 20rem;
    font-size: 56rem;
}
.mediaMedium .HangarName_base__middle_4f .HangarName_title_70 {
    --shadow-radius: 24rem;
    font-size: 70rem;
}
.mediaLarge .HangarName_base__middle_4f .HangarName_title_70 {
    --shadow-radius: 30rem;
    font-size: 85rem;
}
.mediaExtraLarge .HangarName_base__middle_4f .HangarName_title_70 {
    --shadow-radius: 38rem;
    font-size: 110rem;
}
.HangarName_base__large_a1 .HangarName_title_70 {
    --shadow-radius: 24rem;
    font-size: 70rem;
}
.mediaLarge .HangarName_base__large_a1 .HangarName_title_70 {
    --shadow-radius: 38rem;
    font-size: 110rem;
}
.mediaExtraLarge .HangarName_base__large_a1 .HangarName_title_70 {
    --shadow-radius: 47rem;
    font-size: 140rem;
}
.HangarName_base__additionalEffects_3a .HangarName_title_70 {
    text-shadow: 0 0 var(--shadow-radius) #00c2ff;
}
.HangarName_gradient_9e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8ab9ff;
    text-shadow: none;
}
.HangarName_gradient__title_cb {
    mask-image: linear-gradient(to bottom, transparent 50%, #000 75%);
}
.HangarName_gradient__description_de {
    mask-image: linear-gradient(to top, transparent 30%, #000 75%);
}
.HangarName_line_9d {
    height: 3rem;
    position: absolute;
    top: 80%;
    right: -5rem;
    left: -5rem;
    transform: rotate(-3deg);
    pointer-events: none;
}
.HangarName_base__small_b6 .HangarName_line_9d {
    height: 3rem;
}
.mediaLarge .HangarName_base__small_b6 .HangarName_line_9d {
    height: 5rem;
}
.HangarName_base__middle_4f .HangarName_line_9d {
    height: 7rem;
    top: 84%;
    right: -20rem;
    left: -20rem;
}
.mediaLarge .HangarName_base__middle_4f .HangarName_line_9d {
    height: 10rem;
    top: 82%;
    right: -30rem;
    left: -30rem;
}
.mediaExtraLarge .HangarName_base__middle_4f .HangarName_line_9d {
    height: 13rem;
}
.HangarName_base__large_a1 .HangarName_line_9d {
    height: 8rem;
    top: 83%;
    right: -24rem;
    left: -24rem;
}
.mediaLarge .HangarName_base__large_a1 .HangarName_line_9d {
    height: 13rem;
    right: -38rem;
    left: -38rem;
}
.mediaExtraLarge .HangarName_base__large_a1 .HangarName_line_9d {
    height: 16rem;
}
.HangarName_base__dynamic_6f .HangarName_line_9d {
    height: 0.3em;
    right: -2%;
    left: -2%;
}
.HangarName_svg_8f {
    width: 100%;
    height: 100%;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

@keyframes Base_slideInFadeIn_bd {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes Base_fadeOut_ea {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes Base_fadeIn_34 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes Base_fadeInWithScale_dc {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Base_slideUp_64 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Base_scale_63 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Base_spin_bd {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes Base_blink_38 {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes Base_slideInNotification_c0 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.Base_base_c5 {
    opacity: 0;
    visibility: hidden;
    animation-name: Base_fadeIn_34;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(13, 9, 55, 0.7) radial-gradient(45% 45% at 50% 50%, rgba(125, 145, 252, 0.2) 0%, transparent 80%);
    overflow: hidden;
    position: relative;
}
.Base_vignette_25 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.newYear.common.vignette.ice_extraLarge') no-repeat 100% 100% / 100% 100%;
    pointer-events: none;
}
.Base_closeButton_5f {
    position: absolute;
    top: 30rem;
    right: 30rem;
}
.Base_content_db {
    opacity: 0;
    visibility: hidden;
    animation-name: Base_fadeIn_34;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.6s;
    animation-iteration-count: 1;
}

.App_base_9e {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100%;
    background: radial-gradient(45% 45% at 50% 50%, rgba(60, 90, 248, 0.15), transparent) no-repeat center / 974rem
        614rem;
}

.App_content_fb {
    color: #f2f2f7;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    width: 100%;
    max-width: 800rem;
    padding-bottom: 3vh;
    text-align: center;
    position: relative;
}

.App_hangarName_fe {
    margin-bottom: 40rem;
}

.App_description_92 {
    margin-bottom: 34rem;
}

.App_separator_bb {
    width: 100%;
    height: 1rem;
    margin-bottom: 34rem;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
}

.App_footer_f1 {
    display: flex;
    justify-content: center;
}

.App_button_3a {
    min-width: 160rem;
}

.App_button_3a + .App_button_3a {
    margin-left: 16rem;
}
