.ChallengeButton_base_c7 {
    display: flex;
    align-items: center;
    min-width: 200rem;
    height: 30rem;
    padding-right: 22rem;
    filter: brightness(1);
    position: relative;
    transition: filter 0.2s ease-in;
    cursor: pointer;
}
.mediaMedium .ChallengeButton_base_c7 {
    min-width: 233rem;
    height: 45rem;
}
.ChallengeButton_base_c7:hover {
    filter: brightness(1.2);
}

.ChallengeButton_background_60 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.new_year.gui.maps.icons.newYear.toy_storage.button_s') no-repeat center / contain;
}

.mediaMedium .ChallengeButton_background_60 {
    background-image: url('R.images.new_year.gui.maps.icons.newYear.toy_storage.button_l');
}

.ChallengeButton_icon_13 {
    display: flex;
    width: 66rem;
    height: 30rem;
    position: relative;
}

.mediaMedium .ChallengeButton_icon_13 {
    width: 100rem;
    height: 44rem;
}

.ChallengeButton_text_53 {
    color: #cff;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: -10rem;
    margin-top: -2rem;
    position: relative;
}

.mediaMedium .ChallengeButton_text_53 {
    color: #cff;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: -20rem;
}
