@keyframes App_slideUp_a1 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_fadeIn_ac {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes App_slideUpIn_bf {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_rotation_37 {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes App_scaleDownIn_4f {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.App_base_35 {
    opacity: 0;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-name: App_fadeIn_ac;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.App_closeButton_43 {
    position: absolute;
    top: 40rem;
    right: 40rem;
    z-index: 1;
}
.mediaExtraLarge .App_closeButton_43 {
    top: 30rem;
    right: 30rem;
}

.Body_base_20 {
    position: relative;
}

.Body_header_c1 {
    margin-bottom: 133rem;
    padding-top: 50rem;
}

.mediaLarge .Body_header_c1 {
    margin-bottom: 222rem;
}

.mediaExtraLarge .Body_header_c1 {
    margin-bottom: 314rem;
    padding-top: 100rem;
}

.Body_main_9b {
    margin-bottom: 88rem;
}

.mediaMedium .Body_main_9b {
    margin-bottom: 121rem;
}

.mediaLarge .Body_main_9b {
    margin-bottom: 98rem;
}

.mediaExtraLarge .Body_main_9b {
    margin-bottom: 278rem;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

@keyframes Footer_slideUp_bb {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Footer_fadeIn_c2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Footer_slideUpIn_17 {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Footer_rotation_e5 {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes Footer_scaleDownIn_61 {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.Footer_base_56 {
    display: flex;
    justify-content: center;
    opacity: 0;
}
.Footer_base__shown_f7 {
    animation: Footer_slideUpIn_17 400ms ease-out forwards;
}
.Footer_button_ec {
    min-width: 160rem;
    height: 24rem;
}
.mediaMedium .Footer_button_ec {
    height: 32rem;
}

@keyframes Header_slideUp_46 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Header_fadeIn_4b {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Header_slideUpIn_d5 {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Header_rotation_49 {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes Header_scaleDownIn_62 {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.Header_base_d2 {
    text-align: center;
}
.Header_subheading_6a {
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 400ms;
    animation-name: Header_slideUpIn_d5;
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 7rem;
}
.mediaMedium .Header_subheading_6a {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Header_heading_98 {
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 600ms;
    animation-name: Header_slideUpIn_d5;
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaMedium .Header_heading_98 {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaExtraLarge .Header_heading_98 {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

@keyframes Main_slideUp_b7 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Main_fadeIn_97 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Main_slideUpIn_21 {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Main_rotation_db {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes Main_scaleDownIn_53 {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.Main_base_5e {
    width: 1366rem;
    height: 356rem;
}
.mediaMedium .Main_base_5e {
    width: 1600rem;
    height: 417rem;
}
.mediaLarge .Main_base_5e {
    width: 1920rem;
    height: 500rem;
}
.Main_ribbonWrapper_dd {
    width: 100%;
    height: 100%;
    position: relative;
}
.Main_ribbon_0a {
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 800ms;
    animation-name: Main_slideUpIn_21;
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.small') no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
}
.mediaMedium .Main_ribbon_0a {
    background-image: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.medium');
}
.mediaLarge .Main_ribbon_0a {
    background-image: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.large');
}
.Main_base__includesVehicle_de .Main_ribbon_0a {
    background-image: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.small_gold');
}
.mediaMedium .Main_base__includesVehicle_de .Main_ribbon_0a {
    background-image: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.medium_gold');
}
.mediaLarge .Main_base__includesVehicle_de .Main_ribbon_0a {
    background-image: url('R.images.gui.maps.icons.clanSupply.rewardsView.ribbon.large_gold');
}
.Main_glow_6e,
.Main_radialLinesWrapper_55 {
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -35%);
}
.Main_glow_6e {
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 800ms;
    animation-name: Main_fadeIn_97;
    width: 800rem;
    height: 800rem;
    background: url('swf://gui/flash/animations/glows/rays.swf') no-repeat center / contain;
}
.mediaMedium .Main_glow_6e {
    width: 1000rem;
    height: 1000rem;
}
.Main_radialLinesFadeInWrapper_10 {
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-delay: 800ms;
    animation-name: Main_fadeIn_97;
}
.Main_radialLinesWrapper_55 {
    width: 920rem;
    height: 920rem;
}
.mediaMedium .Main_radialLinesWrapper_55 {
    width: 1300rem;
    height: 1300rem;
}
.Main_radialLines_54 {
    animation-name: Main_rotation_db;
    animation-duration: 120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.clanSupply.rewardsView.radialLines') no-repeat center / contain;
}
.Main_rewards_f4 {
    transform: translateY(-11rem);
}
.mediaMedium .Main_rewards_f4 {
    transform: translateY(-42rem);
}
.Main_base__includesVehicle_de .Main_rewards_f4 {
    transform: translateY(-72rem);
}
.mediaSmall .Main_base__includesVehicle_de .Main_rewards_f4 {
    transform: translateY(-63rem);
}
.mediaLarge .Main_base__includesVehicle_de .Main_rewards_f4 {
    transform: translateY(-121rem);
}
.mediaExtraLarge .Main_base__includesVehicle_de .Main_rewards_f4 {
    transform: translateY(-122rem);
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: -13rem;
    text-align: center;
    position: relative;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #ced9d9;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__bptaler_82,
.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_title_36 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-width: 80rem;
    margin: -13rem -16rem 0;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.mediaMedium .Reward_title_36 {
    max-width: 100rem;
    margin-left: -10rem;
    margin-right: -10rem;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.AnimatedReward_base_f5 {
    position: relative;
}

.Rewards_base_a4 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Rewards_labelWrapper_05 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
}

.Rewards_label_bb {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 100%;
    max-width: 190rem;
    margin: 5rem auto 0;
    text-align: center;
}

.mediaMedium .Rewards_label_bb {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 250rem;
}

.Rewards_info_60 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -15rem;
}

.mediaMedium .Rewards_info_60 {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -29rem;
}

.mediaLarge .Rewards_info_60 {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -26rem;
}

.Rewards_info__currency_fe {
    margin-top: 3rem;
}

.mediaMedium .Rewards_info__currency_fe {
    margin-top: -3rem;
}

.Rewards_info__compensation_1b {
    color: #ced9d9;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -10rem;
}

.mediaMedium .Rewards_info__compensation_1b {
    color: #ced9d9;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -18rem;
}

.mediaLarge .Rewards_info__compensation_1b {
    color: #ced9d9;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -45rem;
}

.Rewards_info__hidden_13 {
    display: none;
}

.Rewards_overlay_90 {
    background-size: auto;
}

.Rewards_overlay__battleBooster_57 {
    background-size: 80%;
}

.mediaLarge .Rewards_overlay__battleBooster_57 {
    background-size: 75%;
}

.CommonRewards_base_bd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.StyleReward_base_16 {
    width: 232rem;
    height: 174rem;
}
.mediaMediumWidth .StyleReward_base_16 {
    width: 400rem;
    height: 300rem;
}

.StyleReward_image_4f {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
}

.StyleReward_text_ed {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 5rem;
    text-align: center;
}

.mediaMedium .StyleReward_text_ed {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.EliteRewards_base_df {
    display: flex;
    justify-content: center;
    align-items: center;
}

.VehicleReward_base_60 {
    width: 400rem;
    height: 300rem;
    position: relative;
}
.mediaLarge .VehicleReward_base_60 {
    width: 600rem;
    height: 450rem;
}

.VehicleReward_image_85 {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.clanSupply.rewardsView.rewards.It20_Carro_Combattimento_45t') no-repeat
        center / contain;
}

.VehicleReward_name_0d {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
}

.mediaMedium .VehicleReward_name_0d {
    color: #fefeec;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 12rem;
    transform: none;
}

.VehicleReward_typeIcon_ae {
    width: 24rem;
    height: 24rem;
    margin: 0 5rem;
    background: url('R.images.gui.maps.icons.vehicleTypes.large.mediumTank_elite') no-repeat center / contain;
}

.mediaMedium .VehicleReward_typeIcon_ae {
    width: 32rem;
    height: 32rem;
}

.EliteWithVehicleRewards_base_49 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.EliteWithVehicleRewards_wrapper_65 {
    position: relative;
}

.EliteWithVehicleRewards_iconCompensation_9e {
    width: 36rem;
    height: 36rem;
    background: url('R.images.gui.maps.icons.clanSupply.rewardsView.icon_compensation') no-repeat center / contain;
    position: absolute;
    top: 16rem;
    right: 16rem;
}

.mediaLarge .EliteWithVehicleRewards_iconCompensation_9e {
    top: 60rem;
    right: 60rem;
}

.EliteWithVehicleRewards_mainRewards_ee {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 68rem;
}

.mediaMedium .EliteWithVehicleRewards_mainRewards_ee {
    margin-bottom: 40rem;
}

.mediaLarge .EliteWithVehicleRewards_mainRewards_ee {
    margin-bottom: 73rem;
}

.mediaExtraLarge .EliteWithVehicleRewards_mainRewards_ee {
    margin-bottom: 93rem;
}

.EliteWithVehicleRewards_additionalRewards_f5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes AdditionalRewards_slideUp_39 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes AdditionalRewards_fadeIn_d7 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes AdditionalRewards_slideUpIn_1f {
    from {
        opacity: 0;
        transform: translateY(20rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes AdditionalRewards_rotation_08 {
    from {
        transform: rotateZ(0);
    }

    to {
        transform: rotateZ(360deg);
    }
}
@keyframes AdditionalRewards_scaleDownIn_24 {
    from {
        opacity: 0;
        transform: scale(1.2);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}
.AdditionalRewards_base_f6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.AdditionalRewards_title_ab {
    opacity: 0;
    animation-name: AdditionalRewards_slideUp_39;
    animation-duration: var(--additionalTitleDuration);
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-bottom: 10rem;
    animation-delay: var(--additionalTitleDelay);
}
.mediaMedium .AdditionalRewards_title_ab {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.AdditionalRewards_content_f9 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.VideoBack_base_e2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.VideoBack_video_ac {
    width: 1024rem;
    height: 768rem;
}

.mediaSmallWidth .VideoBack_video_ac {
    width: 1366rem;
}

.mediaMediumWidth .VideoBack_video_ac {
    width: 1600rem;
    height: 900rem;
}

.mediaLargeWidth .VideoBack_video_ac {
    width: 1920rem;
    height: 1080rem;
}

.mediaExtraLargeWidth .VideoBack_video_ac {
    width: 2560rem;
    height: 1440rem;
}

.Background_base_f5 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #131d2f url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1024x768') no-repeat center /
        1224rem 968rem;
    z-index: -1;
}
.mediaSmallWidth .Background_base_f5 {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1366x768');
    background-size: 1568rem 968rem;
}
.mediaMediumWidth .Background_base_f5 {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1600x900');
    background-size: 2000rem 1300rem;
}
.mediaLargeWidth .Background_base_f5 {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1920x1080');
    background-size: 2320rem 1480rem;
}
.mediaExtraLargeWidth .Background_base_f5 {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s2560x1440');
    background-size: 2960rem 1840rem;
}
.Background_base__2x_1b {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1024x768_2x');
}
.mediaSmallWidth .Background_base__2x_1b {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1366x768_2x');
}
.mediaMediumWidth .Background_base__2x_1b {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1600x900_2x');
}
.mediaLargeWidth .Background_base__2x_1b {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s1920x1080_2x');
}
.mediaExtraLargeWidth .Background_base__2x_1b {
    background-image: url('R.images.gui.maps.icons.clanSupply.backgrounds.map_screen_s2560x1440');
}
.Background_base__shaded_0f {
    filter: blur(3rem);
}

.Background_shadow_ba {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.gui.maps.icons.clanSupply.backgrounds.back_shadow') no-repeat center / cover;
}

.Background_videoBack_d9 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
