.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

/* should be percentage of screen width */
.page_heading_9c {
    padding-top: 54rem;
}
.mediaMedium .page_heading_9c {
    padding-top: 63rem;
    padding-bottom: 9rem;
}
.page_close_4e {
    position: absolute;
    top: 54rem;
    right: 29rem;
}
.mediaMedium .page_close_4e {
    top: 63rem;
}
.mediaLarge .page_close_4e {
    right: 40rem;
}

.App_base_b0 {
    display: flex;
    width: 100%;
    height: 100%;
    background: url('R.images.comp7.gui.maps.icons.whatsNewView.backdrop') no-repeat center / cover;
    position: relative;
}

.App_container_14 {
    display: flex;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.App_waiting_35 {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: absolute;
}

.Spinner_base_87 {
    width: 260rem;
    height: 260rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.Spinner_caption_cf {
    color: #8c8c7e;
    font-size: 12rem;
    text-align: center;
    white-space: pre;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(48rem);
}

.Spinner_gear_c4 {
    width: 260rem;
    height: 260rem;
    margin-top: 2rem;
    background: url('R.images.gui.maps.icons.components.spinner.spinner') 0 0;
    background-size: 260rem 520rem;
    position: absolute;
    top: -4rem;
    left: 0;
    animation: Spinner_spin_f5 0.28s linear infinite;
}

.Spinner_logo_bf {
    width: 260rem;
    height: 260rem;
    background: url('R.images.gui.maps.icons.components.spinner.spinner') 0 -260rem no-repeat;
    background-size: 260rem 520rem;
    position: absolute;
    top: -4rem;
    left: 0;
}

@keyframes Spinner_spin_f5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

.HorizontalBar_base__nonActive_82 {
    visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

.VerticalBar_base__nonActive_42 {
    visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.grid_container_6b {
    width: 900rem;
}
.mediaSmall .grid_container_6b {
    width: 1060rem;
}
.mediaLarge .grid_container_6b {
    width: 1440rem;
}
.grid_header_49 {
    display: flex;
    align-items: center;
}
.grid_header_49 > *:last-child {
    margin-left: 20rem;
}
.grid_row_46 {
    display: flex;
}
.grid_cell_e8 {
    flex: 1 1 100%;
}
.grid_cell_e8 + .grid_cell_e8 {
    margin-left: 20rem;
}
.mediaSmall .grid_cell_e8 + .grid_cell_e8 {
    margin-left: 32rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.FormatTextWithColorTags_blackReal_3c {
    color: #000000;
}

.FormatTextWithColorTags_whiteReal_8a {
    color: #ffffff;
}

.FormatTextWithColorTags_white_16 {
    color: #f2f2f7;
}

.FormatTextWithColorTags_whiteOrange_18 {
    color: #fefeec;
}

.FormatTextWithColorTags_whiteSpanish_10 {
    color: #e9e2bf;
}

.FormatTextWithColorTags_par_ca {
    color: #8c8c7e;
}

.FormatTextWithColorTags_parSecondary_8d {
    color: #595950;
}

.FormatTextWithColorTags_parTertiary_a3 {
    color: #37362e;
}

.FormatTextWithColorTags_red_60 {
    color: #ff2717;
}

.FormatTextWithColorTags_redDark_03 {
    color: #b70000;
}

.FormatTextWithColorTags_yellow_ad {
    color: #feab34;
}

.FormatTextWithColorTags_orange_e4 {
    color: #ee7000;
}

.FormatTextWithColorTags_cream_cd {
    color: #ffdd99;
}

.FormatTextWithColorTags_brown_c8 {
    color: #cbac77;
}

.FormatTextWithColorTags_greenBright_f0 {
    color: #80d43a;
}

.FormatTextWithColorTags_green_c5 {
    color: #7ab300;
}

.FormatTextWithColorTags_greenDark_af {
    color: #497212;
}

.FormatTextWithColorTags_blueBooster_ac {
    color: #ccffff;
}

.FormatTextWithColorTags_blueTeamkiller_6f {
    color: #09e2ff;
}

.FormatTextWithColorTags_cred_4e {
    color: #ced9d9;
}

.FormatTextWithColorTags_gold_90 {
    color: #ffc363;
}

.FormatTextWithColorTags_bond_71 {
    color: #c9c9b6;
}

.FormatTextWithColorTags_prom_dd {
    color: #a29b70;
}

/* This specific rule is used to fix https://jira.wargaming.net/browse/WOTPRG-9871 */

.FormatTextWithColorTags_parNoWidth_5a {
    width: 0;
    color: #8c8c7e;
}

.ActiveSeasonState_base_07 {
    display: flex;
    align-items: center;
}

.ActiveSeasonState_calendarIcon_ba {
    width: 21rem;
    height: 21rem;
    margin-right: 8rem;
    background: url('R.images.comp7.gui.maps.icons.icons.calendar') no-repeat center / cover;
    transform: translateY(2rem);
}

.mediaLarge .ActiveSeasonState_calendarIcon_ba {
    width: 14rem;
    height: 16rem;
    background-image: url('R.images.comp7.gui.maps.icons.icons.calendar_14x16');
}

.ActiveSeasonState_divider_db {
    width: 2rem;
    height: 17rem;
    margin: 2rem 12rem 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.ScheduleSubheading_base_a5 {
    color: #ffffff;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}
.mediaLarge .ScheduleSubheading_base_a5 {
    color: #ffffff;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.typography_h1_f3 {
    color: #ffffff;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaLarge .typography_h1_f3 {
    color: #ffffff;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

.typography_h2_43 {
    color: #ffffff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaSmall .typography_h2_43 {
    color: #ffffff;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.mediaLarge .typography_h2_43 {
    color: #ffffff;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.typography_h3_6f {
    color: #ffffff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaSmall .typography_h3_6f {
    color: #ffffff;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.mediaLarge .typography_h3_6f {
    color: #ffffff;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.typography_paragraphText_3f {
    color: #ffffff;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    opacity: 0.6;
}

.mediaMedium .typography_paragraphText_3f {
    color: #ffffff;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Banner_base_d8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 144rem 0 80rem;
}
.mediaSmall .Banner_base_d8 {
    padding: 189rem 0 90rem;
}
.mediaMedium .Banner_base_d8 {
    padding-top: 171rem;
    padding-bottom: 110rem;
}
.mediaLarge .Banner_base_d8 {
    padding: 190rem 0 170rem;
}
.mediaExtraLarge .Banner_base_d8 {
    padding: 320rem 0 180rem;
}

.Banner_h3_7e {
    margin-bottom: 8rem;
}

.mediaSmall .Banner_h3_7e {
    color: #ffffff;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}

.Banner_date_ab {
    margin: 26rem 0 52rem;
}

.mediaSmall .Banner_date_ab {
    margin: 32rem 0 71rem;
}

.WatchVideo_base_19 {
    display: flex;
    align-items: center;
    padding: 4rem 20rem 4rem 11rem;
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 1rem;
    background: rgba(0, 0, 0, 0.15);
    position: relative;
    cursor: pointer;
}

.WatchVideo_base_19:hover .WatchVideo_backdrop_e8 {
    opacity: 1;
}

.WatchVideo_backdrop_e8 {
    background: rgba(255, 255, 255, 0.03);
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.WatchVideo_videoButton_8b {
    width: 52rem;
    height: 42rem;
    background: url('R.images.comp7.gui.maps.icons.whatsNewView.videoButton') no-repeat center / contain;
}

.WatchVideo_text_18 {
    color: #ffffff;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.mediaSmall .WatchVideo_text_18 {
    color: #ffffff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.WatchVideo_videoButton_8b + .WatchVideo_text_18 {
    margin-left: 7rem;
}

.Tag_base_c7 {
    color: #ffffff;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding: 6rem 10rem;
    border-radius: 2rem;
}

.Tag_base__new_c0 {
    background-color: #c93303;
}

.Tag_base__changed_89 {
    background-color: #2e7228;
}

.Tag_base__seasonUpdate_de {
    background-color: #285772;
}

.Tag_base__revamped_43 {
    background-color: #5a2872;
}

.Tag_base__returned_ec {
    background-color: #447228;
}

.BondShopIntegration_base_4b {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1;
    padding-top: 50rem;
}
.mediaMedium .BondShopIntegration_base_4b {
    padding-top: 68rem;
}
.mediaLarge .BondShopIntegration_base_4b {
    flex-direction: column;
    justify-content: space-between;
    height: 368rem;
    padding-top: 0;
}

.BondShopIntegration_image_06 {
    width: 215rem;
    height: 120rem;
    margin-right: 20rem;
    background: url('R.images.comp7.gui.maps.icons.whatsNewView.bondShop') no-repeat center bottom / cover;
}

.mediaLarge .BondShopIntegration_image_06 {
    width: 458rem;
    height: 270rem;
    margin-right: 0;
}

.BondShopIntegration_headingContainer_8c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12rem;
}

.BondShopIntegration_heading_79 {
    margin-right: 12rem;
}

.mediaMedium .BondShopIntegration_heading_79 {
    margin-right: 20rem;
}

.Introduction_row_7a + .Introduction_row_7a {
    margin-top: 20rem;
}
.mediaSmall .Introduction_row_7a + .Introduction_row_7a {
    margin-top: 32rem;
}
.Introduction_h2_5d {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 22rem;
    line-height: 1;
}
.mediaSmall .Introduction_h2_5d {
    font-size: 36rem;
}
.mediaLarge .Introduction_h2_5d {
    font-size: 48rem;
}
.Introduction_tag_6b {
    transform: translateY(1rem);
}
.mediaSmall .Introduction_tag_6b {
    transform: translateY(5rem);
}
.mediaLarge .Introduction_tag_6b {
    transform: translateY(7rem);
}
.Introduction_seasonText_63 {
    margin-top: 16rem;
}
.mediaLarge .Introduction_seasonText_63 {
    margin-top: 24rem;
}
.Introduction_introContainer_af {
    width: 100%;
    height: 288rem;
    background: url('R.images.comp7.gui.maps.icons.whatsNewView.introBackground') no-repeat center bottom / cover;
    position: relative;
    z-index: 0;
}
.mediaSmall .Introduction_introContainer_af {
    height: 340rem;
}
.mediaLarge .Introduction_introContainer_af {
    height: 460rem;
}
.Introduction_introDescription_6e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 44%;
    height: 100%;
    padding-left: 10rem;
    padding-top: 42rem;
    padding-right: 20rem;
    position: relative;
    left: 50%;
}
.mediaSmall .Introduction_introDescription_6e {
    padding-left: 16rem;
    padding-top: 48rem;
    padding-right: 32rem;
}
.mediaLarge .Introduction_introDescription_6e {
    padding-top: 66rem;
}

/* should be percentage of screen width */
@keyframes Main_fadeIn_c7 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Main_fadeInThreeQuarters_f6 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}
@keyframes Main_fadeInHalf_c4 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}
@keyframes Main_fadeOut_1f {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes Main_fadeInWithScale_ee {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes Main_slideUp_0f {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes Main_scale_44 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Main_raysAppearance_37 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 0.2;
        transform: translateY(0);
    }
}
@keyframes Main_rotate_d0 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes Main_reverse-rotate_f3 {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}
@keyframes Main_glowAppearance_ff {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Main_highlightAppearance_f7 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.8;
    }
}
@keyframes Main_blink_57 {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.2;
    }

    100% {
        opacity: 1;
    }
}
@keyframes Main_slideUpIn_d2 {
    from {
        opacity: 0;
        transform: translateY(50rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.Main_base_f9 {
    width: 100%;
    height: 100%;
    position: relative;
}
.Main_areaBaseWrapper_42 {
    mask-image: linear-gradient(to bottom, transparent, #000 10%, #000 90%, transparent);
}
.mediaMedium .Main_areaBaseWrapper_42 {
    mask-image: linear-gradient(to bottom, transparent, #000 12%, #000 88%, transparent);
}
.mediaExtraLarge .Main_areaBaseWrapper_42 {
    mask-image: linear-gradient(to bottom, transparent, #000 10%, #000 90%, transparent);
}
.Main_content_95 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: no-repeat top / contain;
}
.Main_content__first_13 {
    background-image: url('R.images.comp7.gui.maps.icons.whatsNewView.bg_first');
}
.Main_content__second_bb {
    background-image: url('R.images.comp7.gui.maps.icons.whatsNewView.bg_second');
}
.Main_content__third_3a {
    background-image: url('R.images.comp7.gui.maps.icons.whatsNewView.bg_third');
}
.Main_scrollBar_d6 {
    height: 84vh;
    position: absolute;
    top: 50%;
    right: 12rem;
    transform: translateY(-45%);
}
.mediaMedium .Main_scrollBar_d6 {
    transform: translateY(-46%);
}
.mediaLarge .Main_scrollBar_d6 {
    height: 86vh;
    transform: translateY(-46%);
}
.mediaExtraLarge .Main_scrollBar_d6 {
    transform: translateY(-48%);
}
.Main_banner_fb {
    margin-bottom: 32rem;
}
.mediaLarge .Main_banner_fb {
    margin-bottom: 0;
}
.Main_section_15 {
    margin-bottom: 50rem;
}
.mediaMedium .Main_section_15 {
    margin-bottom: 68rem;
}
.Main_button_e9 {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 2700ms;
    width: 180rem;
    height: 24rem;
    margin-top: 68rem;
    margin-bottom: 80rem;
}
.mediaMedium .Main_button_e9 {
    height: 32rem;
    margin-top: 100rem;
    margin-bottom: 120rem;
}
.mediaExtraLarge .Main_button_e9 {
    margin-bottom: 140rem;
}
.Main_container__1_4d {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 450ms;
}
.Main_container__2_7d {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 900ms;
}
.Main_container__3_fc {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 1350ms;
}
.Main_container__4_30 {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 1800ms;
}
.Main_container__5_96 {
    opacity: 0;
    animation-name: Main_slideUpIn_d2;
    animation-duration: 450ms;
    animation-fill-mode: forwards;
    animation-delay: 2250ms;
}
.Main_wrapper_4d {
    display: flex;
    flex-direction: column;
}
.mediaLarge .Main_wrapper_4d {
    flex-direction: row;
}

.Map_base_64 {
    width: 210rem;
    height: 205rem;
    background: no-repeat center / contain;
    position: relative;
    z-index: 0;
}
.mediaSmall .Map_base_64 {
    width: 241rem;
    height: 236rem;
}
.mediaLarge .Map_base_64 {
    width: 336rem;
    height: 330rem;
}

.Map_gradient_9b {
    background: radial-gradient(143% 140% at 1% 100%, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%) no-repeat center /
        contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.Map_content_d7 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding: 10rem;
}

.mediaSmall .Map_content_d7 {
    padding: 18rem;
}

.mediaLarge .Map_content_d7 {
    padding: 20rem;
}

.Map_nameContainer_c5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex: 1 1;
}

.Map_name_f0 {
    color: #ffffff;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    text-shadow:
        0 4rem 4rem rgba(0, 0, 0, 0.4),
        0 4rem 4rem rgba(0, 0, 0, 0.25);
}

.mediaSmall .Map_name_f0 {
    color: #ffffff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.Map_stamp_f7 {
    padding: 4rem 10rem;
    border: 2rem solid;
    border-radius: 2rem;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-30deg);
    transform-origin: 50% 50%;
}

.mediaSmall .Map_stamp_f7 {
    padding: 6rem 22rem;
}

.mediaSmall .Map_stamp_f7 {
    font-size: 15rem;
}

.mediaLarge .Map_stamp_f7 {
    font-size: 20rem;
}

.Map_stamp__removed_21 {
    border-color: #ff2717;
    background-color: rgba(183, 0, 0, 0.1);
    color: #ff2717;
    font-size: 18rem;
}

.mediaSmall .Map_stamp__removed_21 {
    font-size: 22rem;
}

.mediaLarge .Map_stamp__removed_21 {
    font-size: 28rem;
}

.Map_stamp__underDevelopment_d9 {
    border-color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
}

.MapChanges_header_35 {
    margin-bottom: 16rem;
}
.mediaSmall .MapChanges_header_35 {
    margin-bottom: 28rem;
}

.MapChanges_legend_f2 {
    margin-bottom: 14rem;
}

.RankEmblem_base_2d {
    width: var(--imageSize);
    height: var(--imageSize);
    background: no-repeat center / cover;
}

.tooltips_base_e1 {
    display: flex;
    flex-direction: column;
    padding: 15rem 20rem 20rem;
}

.tooltips_heading_92 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.tooltips_subHeading_de {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_subHeading__topIndent_88 {
    margin-top: 8rem;
}

.tooltips_divider_81 {
    width: 100%;
    height: 1rem;
    margin: 12rem 0 8rem;
    background: linear-gradient(
            to right,
            rgba(201, 201, 182, 0.2) 33.33%,
            rgba(201, 201, 182, 0) 33.33%,
            rgba(201, 201, 182, 0)
        )
        repeat right / 3rem 1rem;
    mask: linear-gradient(
        90deg,
        transparent,
        rgba(0, 0, 0, 0.6) 5%,
        rgba(0, 0, 0, 1) 30%,
        rgba(0, 0, 0, 1) 70%,
        rgba(0, 0, 0, 0.6) 95%,
        transparent
    );
}

.tooltips_description_f6 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.tooltips_description__topIndent_e2 {
    margin-top: 14rem;
}

.tooltips_highlight_ec {
    color: #e9e2bf;
}

.RankCompatibilityTable_base_fe {
    width: 100%;
    padding: 19rem 20rem 30rem 0;
    color: rgba(140, 140, 126, 1);
}

.RankCompatibilityTable_row_f5 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RankCompatibilityTable_tableHeading_c1 {
    margin-bottom: 15rem;
}

.RankCompatibilityTable_heading_62 {
    flex: 1 1;
}

.RankCompatibilityTable_teammates_c2 {
    display: flex;
    width: 202rem;
    margin-left: 8rem;
}

.RankCompatibilityTable_teammates__heading_70 {
    justify-content: center;
    text-align: center;
}

.RankCompatibilityTable_rank_29 {
    margin-right: 4rem;
}

.RankCompatibilityTable_emptySlot_5c {
    width: 22rem;
    height: 22rem;
    background: url('R.images.comp7.gui.maps.icons.icons.emptySlot') no-repeat center / cover;
}

.RankCompatibilityTable_divider_a6 {
    margin: 10rem 0;
}

.RadioButton_base_d9 {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.RadioButton_base__disabled_84 {
    opacity: 0.5;
    cursor: default;
}

.RadioButton_input_24 {
    display: flex;
    position: relative;
}

.RadioButton_base__small_71 .RadioButton_input_24 {
    width: 12rem;
    height: 12rem;
    margin-right: 6rem;
}

.RadioButton_base__medium_d8 .RadioButton_input_24 {
    width: 18rem;
    height: 18rem;
    margin-right: 8rem;
}

.RadioButton_blank_b5,
.RadioButton_blankHover_5e,
.RadioButton_blankMousedown_0e,
.RadioButton_check_f2,
.RadioButton_checkHover_c6,
.RadioButton_checkMousedown_a7 {
    opacity: 0;
    pointer-events: none;
}

.RadioButton_transition_b3 {
    transition: opacity 0.1s ease-out;
}

.RadioButton_blank_b5 {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blank_b5 {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_small') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blank_b5 {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_medium') center / 18rem no-repeat;
}

.RadioButton_base__blank_46 .RadioButton_blank_b5 {
    opacity: 1;
}

.RadioButton_blankHover_5e {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blankHover_5e {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_small_hover') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blankHover_5e {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_medium_hover') center / 18rem no-repeat;
}

.RadioButton_base__blankHover_9a .RadioButton_blankHover_5e {
    opacity: 1;
}

.RadioButton_blankMousedown_0e {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
}

.RadioButton_base__small_71 .RadioButton_blankMousedown_0e {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_small_mousedown') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_blankMousedown_0e {
    background: url('R.images.gui.maps.icons.components.radiobutton.blank_medium_mousedown') center / 18rem no-repeat;
}

.RadioButton_base__blankMousedown_cd .RadioButton_blankMousedown_0e {
    opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_check_f2 {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_small') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_check_f2 {
    position: absolute;
    top: -15rem;
    right: -15rem;
    bottom: -15rem;
    left: -15rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_medium') center / 48rem no-repeat;
}

.RadioButton_base__check_fe .RadioButton_check_f2 {
    opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_checkHover_c6 {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_small_hover') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_checkHover_c6 {
    position: absolute;
    top: -15rem;
    right: -15rem;
    bottom: -15rem;
    left: -15rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_medium_hover') center / 48rem no-repeat;
}

.RadioButton_base__checkHover_2f .RadioButton_checkHover_c6 {
    opacity: 1;
}

.RadioButton_base__small_71 .RadioButton_checkMousedown_a7 {
    position: absolute;
    top: -3rem;
    right: -3rem;
    bottom: -3rem;
    left: -3rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_small_mousedown') center / 16rem no-repeat;
}

.RadioButton_base__medium_d8 .RadioButton_checkMousedown_a7 {
    position: absolute;
    top: -15rem;
    right: -15rem;
    bottom: -15rem;
    left: -15rem;
    background: url('R.images.gui.maps.icons.components.radiobutton.checked_medium_mousedown') center / 48rem no-repeat;
}

.RadioButton_base__checkMousedown_83 .RadioButton_checkMousedown_a7 {
    opacity: 1;
}

.RadioButton_label_7f {
    color: #8c8c7e;
    line-height: 1.3;
    transition:
        color 0.1s ease-out,
        opacity 0.1s ease-out;
}

.RadioButton_base_d9:hover > .RadioButton_label_7f {
    color: #e9e2bf;
}

.RadioButton_base_d9.RadioButton_base__disabled_84 > .RadioButton_label_7f,
.RadioButton_base_d9.RadioButton_base__disabled_84:hover > .RadioButton_label_7f {
    color: #8c8c7e;
    transition: none;
}

.RadioButton_base__small_71 .RadioButton_label_7f {
    font-size: 12rem;
}

.RadioButton_base__medium_d8 .RadioButton_label_7f {
    font-size: 14rem;
}

.PlatoonState_base_78 {
    display: flex;
    flex-direction: column;
    padding: 20rem 100rem 20rem 0;
    background: no-repeat right / cover;
    position: relative;
}
.mediaSmall .PlatoonState_base_78 {
    margin-right: 30rem;
}
.PlatoonState_base__active_50 {
    background-image: url('R.images.comp7.gui.maps.icons.whatsNewView.platoonTypeBg');
    color: rgba(255, 221, 153, 1);
}

.PlatoonState_radioButton_84 {
    display: flex;
}

.PlatoonState_label_fd {
    opacity: 1;
}

.PlatoonState_base__active_50 .PlatoonState_label_fd {
    color: rgba(255, 221, 153, 1);
    text-shadow:
        0 0 15rem rgba(238, 85, 34, 1),
        0 0 8rem rgba(255, 42, 0, 0.2),
        0 0 4rem rgba(255, 127, 0, 0.25);
}

.PlatoonState_description_4e {
    margin-top: 6rem;
}

.RankRestrictions_base_0d {
    display: flex;
    align-items: center;
    width: 100%;
    height: 368rem;
    margin-right: 32rem;
    padding: 32rem 0 32rem 32rem;
    background: url('R.images.comp7.gui.maps.icons.whatsNewView.rankRestrictionBg') no-repeat center bottom / cover;
}
.mediaLarge .RankRestrictions_base_0d {
    width: 950rem;
}

.RankRestrictions_headingContainer_ea {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.RankRestrictions_heading_89 {
    margin-right: 12rem;
}

.mediaMedium .RankRestrictions_heading_89 {
    margin-right: 20rem;
}

.RankRestrictions_tag_2f {
    margin: 12rem 0;
}

.RankRestrictions_table_40 {
    width: 384rem;
    padding: 19rem 40rem 30rem 20rem;
    color: #ffffff;
}

.RankRestrictions_tableHeading_30 {
    color: rgba(255, 255, 255, 0.5);
}

.RoleSkills_base_de {
    display: flex;
    flex-direction: column;
}

.RoleSkills_row_86 {
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -40rem;
}

.RoleSkills_header_cc {
    margin-bottom: 12rem;
}

.RoleSkills_description_f2 {
    margin-bottom: 40rem;
}

.RoleSkills_skill_92 {
    margin-bottom: 40rem;
}

.RoleSkills_skill_92 + .RoleSkills_skill_92 {
    margin-left: 60rem;
}

.mediaSmall .RoleSkills_skill_92 + .RoleSkills_skill_92 {
    margin-left: 92rem;
}

.mediaLarge .RoleSkills_skill_92 + .RoleSkills_skill_92 {
    margin-left: 134rem;
}

.RoleSkills_skill__aligned_06 + .RoleSkills_skill_92 {
    margin-left: 0;
}

.mediaSmall .RoleSkills_skill__aligned_06 + .RoleSkills_skill_92 {
    margin-left: 0;
}

.mediaLarge .RoleSkills_skill__aligned_06 + .RoleSkills_skill_92 {
    margin-left: 0;
}

.Skill_base_6a {
    display: flex;
    width: 100rem;
    height: 100rem;
    background: no-repeat center / contain;
    position: relative;
}
.mediaLarge .Skill_base_6a {
    width: 128rem;
    height: 128rem;
}

.Skill_state_7f {
    width: 42rem;
    height: 42rem;
    background: no-repeat center / contain;
    position: absolute;
    right: -10rem;
    bottom: -6rem;
}

.mediaLarge .Skill_state_7f {
    width: 56rem;
    height: 56rem;
    bottom: -10rem;
}

.LastUpdateNote_base_70 {
    display: flex;
    align-items: center;
}

.LastUpdateNote_infoIcon_6f {
    width: 24rem;
    height: 24rem;
    background: url('R.images.comp7.gui.maps.icons.icons.infoIcon') no-repeat center / cover;
}

.SeasonalChanges_base_99 {
    align-items: stretch;
    width: 100%;
}

.SeasonalChanges_container_f8 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: no-repeat center top / cover;
    position: relative;
}

.SeasonalChanges_image_6f {
    width: 100%;
    height: 205rem;
    background: no-repeat center / contain;
}

.mediaSmall .SeasonalChanges_image_6f {
    height: 240rem;
}

.mediaLarge .SeasonalChanges_image_6f {
    height: 290rem;
}

.SeasonalChanges_textContainer_74 {
    margin-top: 10rem;
}

.mediaLarge .SeasonalChanges_textContainer_74 {
    margin-top: 20rem;
}

.SeasonalChanges_headingContainer_18 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 12rem;
}

.SeasonalChanges_heading_ca {
    margin-right: 12rem;
}

.mediaMedium .SeasonalChanges_heading_ca {
    margin-right: 20rem;
}

.SeasonalChanges_description_24 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14rem;
    line-height: 1.3;
}

.mediaMedium .SeasonalChanges_description_24 {
    font-size: 16rem;
    line-height: 1.25;
}

.VehicleName_base_cd {
    display: flex;
    align-items: center;
    color: #ffffff;
    position: relative;
}

.VehicleName_base__24x24_c2,
.VehicleName_base__24x24_metal_e6 {
    font-size: 14rem;
}

.VehicleName_base__48x48_ed {
    font-size: 22rem;
    font-weight: 700;
}

.VehicleName_base__64x64_43 {
    font-size: 22rem;
    font-weight: 700;
}

.VehicleName_base__83x74_a7 {
    font-size: 24rem;
    font-weight: 700;
}

.VehicleName_vehicleTypeContainer_9f {
    position: relative;
}

.VehicleName_base__24x24_c2 .VehicleName_vehicleTypeContainer_9f,
.VehicleName_base__24x24_metal_e6 .VehicleName_vehicleTypeContainer_9f {
    width: 24rem;
}

.VehicleName_base__48x48_ed .VehicleName_vehicleTypeContainer_9f {
    width: 48rem;
}

.VehicleName_base__60x54_e2 .VehicleName_vehicleTypeContainer_9f {
    width: 40rem;
}

.VehicleName_base__64x64_43 .VehicleName_vehicleTypeContainer_9f {
    width: 64rem;
}

.VehicleName_base__83x74_a7 .VehicleName_vehicleTypeContainer_9f {
    width: 55rem;
}

.VehicleName_vehicleType_93 {
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.VehicleName_base__24x24_c2 .VehicleName_vehicleType_93,
.VehicleName_base__24x24_metal_e6 .VehicleName_vehicleType_93 {
    width: 24rem;
    height: 24rem;
}

.VehicleName_base__48x48_ed .VehicleName_vehicleType_93 {
    width: 48rem;
    height: 48rem;
}

.VehicleName_base__60x54_e2 .VehicleName_vehicleType_93 {
    width: 60rem;
    height: 54rem;
}

.VehicleName_base__64x64_43 .VehicleName_vehicleType_93 {
    width: 64rem;
    height: 64rem;
}

.VehicleName_base__83x74_a7 .VehicleName_vehicleType_93 {
    width: 83rem;
    height: 74rem;
}

.VehicleRole_base_47 {
    display: flex;
    align-items: center;
    position: relative;
}

.VehicleRole_base__22x22_59 {
    color: #feab34;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.VehicleRole_iconContainer_07 {
    position: relative;
}

.VehicleRole_base__22x22_59 .VehicleRole_iconContainer_07 {
    width: 22rem;
}

.VehicleRole_icon_f1 {
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.VehicleRole_base__22x22_59 .VehicleRole_icon_f1 {
    width: 22rem;
    height: 22rem;
}

.Vehicle_base_e0 {
    display: flex;
    width: 286rem;
    height: 204rem;
    background: no-repeat center / contain;
    position: relative;
}
.mediaSmall .Vehicle_base_e0 {
    width: 332rem;
    height: 240rem;
}
.mediaLarge .Vehicle_base_e0 {
    width: 458rem;
    height: 330rem;
}

.Vehicle_gradient_01 {
    background: radial-gradient(143% 140% at 1% 100%, rgba(0, 0, 0, 0.4), transparent) no-repeat center / contain;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Vehicle_details_13 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    flex: 1 1;
    padding: 0 0 10rem 14rem;
}

.mediaSmall .Vehicle_details_13 {
    padding: 0 0 14rem 18rem;
}

.mediaLarge .Vehicle_details_13 {
    padding: 0 0 18rem 22rem;
}

.Vehicle_shortName_6f,
.Vehicle_level_a2 {
    color: #ffffff;
    font-size: 16rem;
    font-weight: 700;
    line-height: 17rem;
}

.mediaSmall .Vehicle_vehicleName_6f {
    margin-bottom: 4rem;
}

.Vehicle_typeIcon_42.Vehicle_type_4d {
    width: 28rem;
    height: 28rem;
}

.Vehicle_vehicleRole_df {
    transform: translateX(-4rem);
}

.VehiclesForRent_header_1d {
    margin-bottom: 28rem;
}
