body {
    margin: 1rem;
    overflow: hidden;
}

.SmokeParticles_base_1b {
    width: 280rem;
    height: 170rem;
}

/* should be percentage of screen width */
.App_base_f8 {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    position: relative;
    cursor: pointer;
}
.App_bg_cb {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background: url('R.images.comp7.gui.maps.icons.banner.c_160x112') no-repeat center / cover;
    filter: brightness(1);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1);
    transition:
        filter 0.5s cubic-bezier(0.07, 0.82, 0.17, 1),
        transform 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.mediaMedium .App_bg_cb {
    background-image: url('R.images.comp7.gui.maps.icons.banner.c_220x112');
}
.mediaLarge .App_bg_cb {
    background-image: url('R.images.comp7.gui.maps.icons.banner.c_300x150');
}
.App_base_f8:hover .App_bg_cb {
    filter: brightness(1.05);
    transform: scale(1.03);
}
.App_base__notStarted_03 .App_bg_cb::after {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    content: '';
}
.App_base__single_bb .App_bg_cb {
    background-image: url('R.images.comp7.gui.maps.icons.banner.c_300x112');
}
.mediaLarge .App_base__single_bb .App_bg_cb {
    background-image: url('R.images.comp7.gui.maps.icons.banner.c_300x150');
}
.App_shadow_50 {
    width: 100%;
    height: 100%;
    border: 1rem solid rgba(255, 255, 255, 0.25);
    border-radius: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.3) 100%);
    position: absolute;
    top: 0;
    left: 0;
}
.App_base__justStarted_35 .App_shadow_50,
.App_base__active_95 .App_shadow_50,
.App_base__endSoon_f4 .App_shadow_50 {
    border-color: #ffdd99;
}
.App_highlight_5c {
    width: 100%;
    height: 100%;
    background: url('R.images.comp7.gui.maps.icons.banner.highlight') no-repeat center / cover;
    filter: brightness(0.6);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    transition:
        filter 0.5s cubic-bezier(0.07, 0.82, 0.17, 1),
        opacity 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.App_base_f8:hover .App_highlight_5c {
    filter: brightness(1);
    opacity: 1;
}
.App_overlay_7a {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s cubic-bezier(0.07, 0.82, 0.17, 1);
}
.App_base_f8:hover .App_overlay_7a {
    opacity: 0.8;
}
.App_particles_64 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    width: 160rem;
    height: 112rem;
}
.mediaMedium .App_particles_64 {
    width: 220rem;
}
.mediaLarge .App_particles_64 {
    width: 300rem;
    height: 150rem;
}
.App_base__single_bb .App_particles_64 {
    width: 300rem;
}
.App_content_ba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.App_title_ff {
    margin-top: -6rem;
    color: #ffffff;
    font-size: 15rem;
    font-weight: 700;
    letter-spacing: 1rem;
}
.mediaMedium .App_title_ff {
    margin-top: -10rem;
    font-size: 22rem;
}
.mediaLarge .App_title_ff {
    font-size: 24rem;
}
.App_base__single_bb .App_title_ff {
    margin-top: -8rem;
    font-size: 22rem;
}
.mediaLarge .App_base__single_bb .App_title_ff {
    margin-top: -10rem;
    font-size: 24rem;
}
.App_seasonName_08 {
    color: #f2f2f7;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 2rem;
}
.mediaMedium .App_seasonName_08 {
    margin-top: -1rem;
    font-size: 16rem;
}
.App_base__single_bb .App_seasonName_08 {
    margin-top: 0;
    font-size: 16rem;
}
.mediaLarge .App_base__single_bb .App_seasonName_08 {
    margin-top: -1rem;
    font-size: 16rem;
}
.App_base__notStarted_03 .App_title_ff,
.App_base__notStarted_03 .App_seasonName_08 {
    opacity: 0.6;
}
.App_info_53 {
    max-width: 150rem;
    margin-top: 5rem;
    color: #e9e2bf;
    font-size: 12rem;
    text-align: center;
}
.mediaMedium .App_info_53 {
    max-width: 200rem;
    font-size: 14rem;
}
.mediaLarge .App_info_53 {
    max-width: 280rem;
    font-size: 16rem;
}
.App_base__single_bb .App_info_53 {
    max-width: 280rem;
    font-size: 16rem;
}
.App_seasonDate_64 {
    display: flex;
    align-items: center;
    color: #ffdd99;
    position: absolute;
    bottom: 7rem;
}
.mediaMedium .App_seasonDate_64 {
    bottom: 10rem;
}
.App_base__single_bb .App_seasonDate_64 {
    font-size: 16rem;
    bottom: 10rem;
}
.mediaLarge .App_base__single_bb .App_seasonDate_64 {
    bottom: 10rem;
}
.App_glow_bc {
    width: 160rem;
    height: 24rem;
    background: url('R.images.comp7.gui.maps.icons.icons.redGlow_400x38') no-repeat center / cover;
    opacity: 0.5;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.mediaMedium .App_glow_bc {
    width: 200rem;
    height: 26rem;
}
.mediaLarge .App_glow_bc {
    width: 300rem;
    height: 30rem;
}
.App_glow_bc .App_base__single_bb {
    width: 300rem;
    height: 30rem;
}
.App_base__disabled_ed .App_seasonDateIcon_18 {
    width: 24rem;
    height: 27rem;
    margin: -4rem -3rem;
    background: url('R.images.gui.maps.icons.library.icon_lock') no-repeat center / cover;
    position: relative;
}
.App_seasonDateText_cf {
    font-size: 14rem;
    text-align: center;
    position: relative;
}
.mediaMedium .App_seasonDateText_cf {
    font-size: 16rem;
}
.App_base__disabled_ed .App_seasonDateText_cf {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}
.App_base__single_bb .App_seasonDateText_cf {
    font-size: 16rem;
}

.Countdown_base_fe {
    display: flex;
    align-items: center;
}

.Countdown_icon_8b {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_8d {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
