.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

@keyframes App_fadeOut_ef {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes App_fadeIn_0a {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes App_fadeInWithScale_01 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_30 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_slideUpCenter_9c {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_blink_4d {
    0% {
        filter: brightness(1);
    }

    16% {
        filter: brightness(3);
    }

    100% {
        filter: brightness(1);
    }
}
.App_base_e5 {
    opacity: 0;
    animation: App_fadeIn_0a 0.4s cubic-bezier(0.47, 0, 0.75, 0.72) 0.45s forwards;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #131417 url('R.images.resource_well.gui.maps.icons.backgrounds.mainBg') no-repeat center;
    background-size: 1766rem 922rem;
    overflow: hidden;
}
.mediaMedium .App_base_e5 {
    background-size: 2290rem 1194rem;
}
.mediaLarge .App_base_e5 {
    background-size: 2700rem 1408rem;
}
.mediaExtraLarge .App_base_e5 {
    background-size: 3640rem 1900rem;
}
.App_animationBg_4c {
    opacity: 0;
    animation: App_fadeIn_0a 0.4s cubic-bezier(0.47, 0, 0.75, 0.72) 0s forwards;
    width: 100%;
    height: 100%;
    background-color: #151619;
    position: absolute;
    z-index: -1;
}
.App_additionalBg_40 {
    width: 100%;
    height: 100%;
    background: url('R.images.resource_well.gui.maps.icons.backgrounds.additionalBg') no-repeat center / cover;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}
.App_aboutButton_97 {
    position: absolute;
    top: 55rem;
    left: 40rem;
    z-index: 2;
}
.App_close_e1 {
    position: absolute;
    top: 60rem;
    right: 50rem;
    z-index: 3;
}
.App_affirmative_22 {
    width: 200rem;
    height: 32rem;
    position: absolute;
    bottom: 50rem;
    z-index: 1;
}
.App_eventInfo_d2 {
    margin-top: 55rem;
}
.mediaExtraLarge .App_eventInfo_d2 {
    margin: 50rem 25rem 25rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.TimerEntryPointTooltip_base_43 {
    display: flex;
}

.TimerEntryPointTooltip_text_50 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-right: 5rem;
    line-height: 1;
}

.TimerEntryPointTooltip_lastUntil_f4 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    line-height: 1;
}

.TimerEntryPointTooltip_leftTime_98 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.TimerMainScreen_shineWrapper_61 {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.TimerMainScreen_shineBg_aa {
    width: 462rem;
    height: 260rem;
    background: url('R.images.resource_well.gui.maps.icons.timer.shine_timer_small') no-repeat center / contain;
    opacity: 1;
    position: relative;
    top: -129rem;
}

.mediaMedium .TimerMainScreen_shineBg_aa {
    width: 700rem;
    height: 394rem;
    background-image: url('R.images.resource_well.gui.maps.icons.timer.shine_timer');
    top: -182rem;
}

.TimerMainScreen_content_2d {
    display: flex;
    position: relative;
    z-index: 1;
}

.TimerMainScreen_text_23,
.TimerMainScreen_time_5b {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-right: 5rem;
}

.mediaMedium .TimerMainScreen_text_23,
.mediaMedium .TimerMainScreen_time_5b {
    font-size: 18rem;
}

.TimerMainScreen_content__daysLeft_7f .TimerMainScreen_text_23,
.TimerMainScreen_content__daysLeft_7f .TimerMainScreen_time_5b {
    color: #f2f2f7;
    opacity: 0.5;
}

.TimerMainScreen_content__endingSoon_bb .TimerMainScreen_text_23,
.TimerMainScreen_content__endingSoon_bb .TimerMainScreen_time_5b {
    color: #ffdd99;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.TimerMainScreen_time_5b {
    margin: 0;
}

.Timer_base_45 {
    position: relative;
}

.EventInfo_base_ab {
    text-align: center;
    position: relative;
    z-index: 1;
}

.EventInfo_title_9a {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 5rem;
}

.mediaMedium .EventInfo_title_9a {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

.mediaLarge .EventInfo_title_9a {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

.EventInfo_description_51 {
    color: #f2f2f7;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    opacity: 0.75;
}

.mediaMedium .EventInfo_description_51 {
    color: #f2f2f7;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.mediaExtraLarge .EventInfo_description_51 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.EventInfo_subTitle_03 {
    color: rgba(242, 242, 247, 0.5);
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.mediaMedium .EventInfo_subTitle_03 {
    color: rgba(242, 242, 247, 0.5);
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaExtraLarge .EventInfo_subTitle_03 {
    color: rgba(242, 242, 247, 0.5);
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.NoVehiclesState_footerTitle_29 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 15rem;
    margin-bottom: 2rem;
    text-align: center;
}
.mediaMedium .NoVehiclesState_footerTitle_29 {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.NoVehiclesState_footerSubtitle_e6 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.mediaMedium .NoVehiclesState_footerSubtitle_e6 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.NoVehiclesState_buttonsBlock_d7 {
    display: flex;
    justify-content: center;
    margin-top: 13rem;
}

.mediaMedium .NoVehiclesState_buttonsBlock_d7 {
    margin-top: 18rem;
}

.NoVehiclesState_button_bb {
    min-width: 200rem;
    min-height: 24rem;
    z-index: 2;
}

.mediaMedium .NoVehiclesState_button_bb {
    min-height: 32rem;
}

.Footer_base_a4 {
    width: 950rem;
    height: 140rem;
    background: url('R.images.resource_well.gui.maps.icons.footer.footer_shadow_bg_small') no-repeat 50% 100% / cover;
    text-align: center;
    position: absolute;
    bottom: -25rem;
    z-index: 3;
}
.mediaMedium .Footer_base_a4 {
    width: 1080rem;
    height: 160rem;
    background-image: url('R.images.resource_well.gui.maps.icons.footer.footer_shadow_bg');
    bottom: -15rem;
}
.Footer_base__active_bf {
    bottom: -5rem;
}
.mediaMedium .Footer_base__active_bf {
    bottom: -10rem;
}

.Footer_topLip_f9 {
    width: 828rem;
    height: 26rem;
    background: url('R.images.resource_well.gui.maps.icons.footer.footer_lipBig_small') no-repeat center / cover;
    position: absolute;
    top: -19rem;
    z-index: 1;
}

.mediaMedium .Footer_topLip_f9 {
    width: 958rem;
    background-image: url('R.images.resource_well.gui.maps.icons.footer.footer_lipBig');
    top: -21rem;
}

.Footer_topLightline_31 {
    width: 950rem;
    height: 1rem;
    background: url('R.images.resource_well.gui.maps.icons.footer.footer_lite_line') no-repeat center / cover;
    position: absolute;
    top: 0;
    z-index: 2;
}

.mediaMedium .Footer_topLightline_31 {
    width: 1080rem;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBar_base_45 {
    width: 100%;
    height: 12rem;
    position: relative;
}
.ProgressBar_base__small_df {
    height: 2rem;
}
.ProgressBar_background_51 {
    width: 100%;
    max-width: 8001px;
    height: 100%;
    background-image: var(--progress-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 0;
    left: 0;
}
.ProgressBar_background__small_46 {
    height: 2rem;
}
.ProgressBar_lineWrapper_6a {
    display: flex;
    flex: 1;
}

.ProgressBarBlink_base_24 {
    width: 60rem;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
    pointer-events: none;
}

.ProgressBarBlink_base__small_0f {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaSimple_base_6c {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
}
.ProgressBarDeltaSimple_delta_99 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1), cubic-bezier(0.21, 0.61, 0.35, 1);
    transition-property: width, transform;
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressLineImpose_base_80 {
    max-width: 8001px;
    height: 100%;
    background-color: var(--progress-line-base);
    position: relative;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressLineImpose_base__disabled_cc {
    background-color: var(--progress-line-disabled);
}
.ProgressLineImpose_base__finished_d4 {
    background-color: var(--progress-line-finished);
}
.ProgressLineImpose_base__withoutBounce_56 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressLineImpose_pattern_1c {
    max-width: 8001px;
    background-image: var(--progress-pattern-base);
    background-repeat: repeat;
    background-position: 0 50%;
    background-size: 3rem 10rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_pattern_1c {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-disabled);
    left: 0;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_pattern_1c {
    background-image: var(--progress-pattern-finished);
}
.ProgressLineImpose_gradient_35 {
    max-width: 8001px;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75));
    mix-blend-mode: overlay;
    position: absolute;
    top: 1rem;
    right: 0;
    bottom: 1rem;
    left: 0;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_gradient_35 {
    top: 0;
    bottom: 0;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_gradient_35 {
    display: none;
}
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_gradient_35 {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0.5));
}
.ProgressLineImpose_glow_a5 {
    width: 60rem;
    max-width: 8001px;
    height: 100rem;
    background-image: var(--progress-glow);
    background-size: contain;
    mix-blend-mode: lighten;
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.ProgressLineImpose_glow__left_d8 {
    left: 1rem;
}
.ProgressLineImpose_base__disabled_cc .ProgressLineImpose_glow_a5,
.ProgressLineImpose_base__finished_d4 .ProgressLineImpose_glow_a5 {
    display: none;
}
.ProgressLineImpose_base__small_55 .ProgressLineImpose_glow_a5 {
    width: 44rem;
    height: 43rem;
    background-image: var(--progress-glow-small);
}

/*
    Gameface can't calculate gradient biggest than 8128px
    in JS 8000 reserved like anchor for start optimization
*/
/* stylelint-disable-line */
.ProgressBarDeltaGrow_base_7e {
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}
.ProgressBarDeltaGrow_glow_68 {
    width: 0;
    max-width: 8001px;
    height: 100%;
    box-shadow: var(--progress-delta-shadow);
    background-color: var(--progress-delta-color);
    position: absolute;
    bottom: 0;
    transform-origin: right center;
    transition-timing-function: cubic-bezier(1, 0, 0.92, 1);
    transition-property: width;
}
.ProgressBarDeltaGrow_base__withoutBounce_b5 .ProgressBarDeltaGrow_glow_68 {
    transition-timing-function: cubic-bezier(1, 0, 0.75, 0.75);
}

.TankName_base_f1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.3;
}

.TankName_base__sizeMedium_3a {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.TankName_base__sizBig_a9 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.TankName_base__typeWhite_32 {
    color: #f2f2f7;
}

.TankName_base__typeWhiteSpanish_e2 {
    color: #e9e2bf;
}

.TankName_base__typeWhiteOrange_ac {
    color: #fefeec;
}

.TankName_base__typeColored_bc .TankName_level_bb {
    color: #e9e2bf;
}

.TankName_type_3c {
    width: 42rem;
    height: 38rem;
    background: no-repeat center / contain;
    position: relative;
}

.TankName_type__extraSmall_80 {
    margin: 0 -9rem;
    top: -8rem;
}

.TankName_type__medium_ff {
    top: -16rem;
}

.TankName_type__big_9a {
    top: -10rem;
}

.TankName_type__medium_ff,
.TankName_type__big_9a {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
}

.TankName_type__eliteExtraSmall_74 {
    margin: 0 -6rem;
}

.TankName_type__eliteMedium_10 {
    margin: 0 -16rem;
}

.TankName_type__eliteBig_ac {
    margin: 0 -13rem;
}

.TankName_base__typeColored_bc .TankName_name_56 {
    color: #8c8c7e;
}

.TankName_premiumIGR_25 {
    width: 10rem;
    height: 10rem;
    margin: 0 3rem 0 -2rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat center / contain;
    position: relative;
    top: 5rem;
}

.ActiveState_progressionWrapper_9d {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5rem;
}
.mediaMedium .ActiveState_progressionWrapper_9d {
    padding: 0;
}

.ActiveState_topLine_04 {
    display: flex;
    justify-content: center;
    width: 870rem;
    position: relative;
}

.mediaMedium .ActiveState_topLine_04 {
    width: 1000rem;
}

.ActiveState_progressionTitle_27 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: flex-end;
    position: absolute;
    top: 10rem;
    left: 0;
    transform: translateY(-2rem);
}

.mediaMedium .ActiveState_progressionTitle_27 {
    transform: translateY(8rem);
}

.mediaLarge .ActiveState_progressionTitle_27 {
    font-size: 16rem;
    top: 15rem;
    transform: translateY(1rem);
}

.ActiveState_tankName_78 {
    height: 19rem;
    margin-left: 4rem;
    font-weight: 700;
}

.mediaLarge .ActiveState_tankName_78 {
    height: 21rem;
}

.ActiveState_progressionBg_72 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 950rem;
    height: 17rem;
    background: url('R.images.resource_well.gui.maps.icons.footer.progressbar_bg_small') no-repeat center / contain;
}

.mediaMedium .ActiveState_progressionBg_72 {
    width: 1080rem;
    background-image: url('R.images.resource_well.gui.maps.icons.footer.progressbar_bg');
}

.ActiveState_progressBar_bd {
    width: 870rem;
    text-align: left;
    position: relative;
    top: -1rem;
}

.mediaMedium .ActiveState_progressBar_bd {
    width: 1000rem;
}

.ActiveState_minValue_54 {
    position: relative;
    left: -1rem;
}

.ActiveState_scaleValueWrapper_c7 {
    color: #e9e2bf;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: space-between;
    width: 870rem;
    opacity: 0.3;
}

.mediaMedium .ActiveState_scaleValueWrapper_c7 {
    width: 1000rem;
}

.ActiveState_percentWrapper_a8 {
    display: flex;
    justify-content: center;
    margin: 5rem 0 7rem;
}

.mediaMedium .ActiveState_percentWrapper_a8 {
    margin-top: 15rem;
}

.ActiveState_activePercent_35 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    position: relative;
    left: -3rem;
}

.mediaMedium .ActiveState_activePercent_35 {
    left: 7rem;
}

.ActiveState_buttonsBlock_e4 {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}

.ActiveState_activeState_23 .ActiveState_buttonsBlock_e4 {
    margin: 0;
}

.ActiveState_button_73 {
    min-width: 200rem;
    z-index: 2;
}

.ActiveState_activeState_23 .ActiveState_button_73 {
    margin: 0 5rem;
}

.ActiveState_footerDescr_f1 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.ActiveState_buttonReturnBlock_da {
    display: flex;
    position: relative;
}

.ActiveState_buttonReturnTooltipText_98 {
    color: #e9e2bf;
}

.ActiveState_iconInfo_82 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.resource_well.gui.maps.icons.icon_info') no-repeat center / contain;
}

.mediaMedium .ActiveState_iconInfo_82 {
    margin-top: 4rem;
}

.ActiveState_iconInfoEmpty_42 {
    width: 24rem;
    height: 24rem;
}

.Forbidden_footerTitle_2a {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 15rem;
    text-align: center;
}
.mediaMedium .Forbidden_footerTitle_2a {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.Forbidden_footerSubtitle_dc {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-align: center;
}

.mediaMedium .Forbidden_footerSubtitle_dc {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Forbidden_buttonsBlock_89 {
    display: flex;
    justify-content: center;
    margin-top: 20rem;
}

.Forbidden_button_da {
    min-width: 200rem;
    z-index: 2;
}

.NoProgress_footerTitle_9e {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 15rem;
    text-align: center;
}
.mediaMedium .NoProgress_footerTitle_9e {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.NoProgress_buttonsBlock_38 {
    display: flex;
    justify-content: center;
    margin-top: 15rem;
}

.mediaMedium .NoProgress_buttonsBlock_38 {
    margin-top: 20rem;
}

.NoProgress_button_a1 {
    min-width: 200rem;
    min-height: 24rem;
    z-index: 2;
}

.mediaMedium .NoProgress_button_a1 {
    min-height: 32rem;
}

.NoProgress_footerDescr_a2 {
    color: #595950;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.mediaMedium .NoProgress_footerDescr_a2 {
    margin-top: 15rem;
}

.NoProgress_selectVehicleTitle_e0 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 24rem;
    text-align: center;
}

.mediaMedium .NoProgress_selectVehicleTitle_e0 {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.NoProgress_selectVehicleDescription_bb {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 12rem;
    text-align: center;
}

.mediaMedium .NoProgress_selectVehicleDescription_bb {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.NoProgress_tankName_5b {
    height: 0;
    font-size: 18rem;
    font-weight: 700;
    transform: translateY(-2rem);
}

.mediaMedium .NoProgress_tankName_5b {
    font-size: 22rem;
    transform: translateY(-1rem);
}

.NoProgress_tankIcon_9d {
    margin-left: -7rem;
    margin-right: -7rem;
    top: -6rem;
}

.mediaMedium .NoProgress_tankIcon_9d {
    width: 63rem;
    height: 58rem;
    margin-left: -12rem;
    margin-right: -11rem;
    top: -14rem;
}

.ErrorState_errorWrapper_8f {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    pointer-events: auto;
}

.ErrorState_alertIcon_2f {
    width: 24rem;
    height: 24rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.alertIcon') no-repeat center / contain;
}

.ErrorState_decoration_35 {
    position: absolute;
    top: 14rem;
}

.ErrorState_counterBg_9d {
    width: 310rem;
    height: 200rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.counter_bg') no-repeat center / contain;
    position: absolute;
    top: -83rem;
    left: -93rem;
    z-index: -1;
}

.ErrorState_errorLineWrapper_83 {
    display: flex;
    justify-content: space-around;
    width: 115rem;
    height: 5rem;
    margin-top: 14rem;
}

.mediaExtraLarge .ErrorState_errorLineWrapper_83 {
    width: 120rem;
    height: 6rem;
}

.ErrorState_errorLine_23 {
    width: 14rem;
    height: 100%;
    background-color: #ffdd99;
}

.ErrorState_tanksLeftText_b5 {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 26rem;
    text-align: center;
}

.Counter_base_27 {
    position: relative;
}

.Counter_base_27.Counter_base__entryPointTooltip_98 {
    margin-top: -59rem;
}

.Counter_counterNumber_8f {
    position: relative;
    pointer-events: auto;
}

.Counter_counterNumber__less_54 {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.Counter_base__mainScreen_2e .Counter_counterNumber_8f {
    color: #ffdd99;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -10rem;
}

.mediaLarge .Counter_base__mainScreen_2e .Counter_counterNumber_8f {
    font-size: 56rem;
}

.Counter_base__entryPointTooltip_98 .Counter_counterNumber_8f {
    color: #ffdd99;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.Counter_textWrapper_40 {
    position: relative;
}

.Counter_tanksOverText_0c {
    opacity: 0.5;
}

.Counter_base__mainScreen_2e .Counter_tanksOverText_0c {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.mediaMedium .Counter_base__mainScreen_2e .Counter_tanksOverText_0c {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    line-height: 80%;
}

.mediaLarge .Counter_base__mainScreen_2e .Counter_tanksOverText_0c {
    line-height: 170%;
}

.Counter_base__entryPointTooltip_98 .Counter_tanksOverText_0c {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin: 0;
}

.Counter_counterBg_e6 {
    width: 310rem;
    height: 210rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.counter_bg') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -48%);
}

.Counter_counterBgGlow_6e {
    width: 488rem;
    height: 108rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.counter_glow') no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.ActiveState_base_c9 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ActiveState_button_06 {
    margin-top: 23rem;
}

.ActiveState_title_e0 {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 4rem;
    text-align: center;
}

.mediaExtraLarge .ActiveState_title_e0 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}

.VehicleReceivedState_base_fe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.VehicleReceivedState_receiveDecoration_d5 {
    width: 48rem;
    height: 48rem;
    position: relative;
}

.VehicleReceivedState_receiveDoneIcon_5a {
    width: 48rem;
    height: 48rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.done_icon') no-repeat center / contain;
    z-index: 1;
}

.VehicleReceivedState_receiveGreenBg_01 {
    width: 320rem;
    height: 259rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.green_bg') no-repeat center / contain;
    position: absolute;
    top: -111rem;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.VehicleReceivedState_receiveGreenLine_a0 {
    width: 450rem;
    height: 1rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.green_line') no-repeat center / contain;
    position: absolute;
    top: 51%;
    left: 50%;
    z-index: -1;
    transform: translateX(-50%);
}

.VehicleReceivedState_receiveTitle_a0 {
    color: #7ab300;
    white-space: nowrap;
    position: absolute;
    top: 43rem;
    z-index: 1;
}

.DisabledState_base_1a {
    position: relative;
}

.DisabledState_lockIcon_02 {
    width: 90rem;
    height: 90rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.lock_small') no-repeat center / contain;
    position: absolute;
    top: -52rem;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}

.mediaLarge .DisabledState_lockIcon_02 {
    width: 136rem;
    height: 136rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.lock') no-repeat center / contain;
    top: -78rem;
}

.DisabledState_textInfoWrapper_2f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 440rem;
    height: 50rem;
    background: url('R.images.resource_well.gui.maps.icons.counterStates.disable_small') no-repeat center / contain;
}

.mediaLarge .DisabledState_textInfoWrapper_2f {
    width: 520rem;
    height: 63rem;
    background-image: url('R.images.resource_well.gui.maps.icons.counterStates.disable');
}

.DisabledState_tanksLeftBlockedText_ed {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    justify-content: center;
}

.mediaLarge .DisabledState_tanksLeftBlockedText_ed {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.DisabledState_innerWrapper_a3 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.CounterStates_activeState_b3 {
    margin-top: 25rem;
}

.CounterStates_errorState_79 {
    margin-top: 8rem;
}

.mediaLarge .CounterStates_errorState_79 {
    margin-top: 19rem;
}

.CounterStates_disabledState_bb {
    margin-top: 61rem;
}

.CounterStates_vehicleReceivedState_29 {
    margin-top: 16rem;
    font-size: 16rem;
}

.mediaLarge .CounterStates_vehicleReceivedState_29 {
    margin-top: 27rem;
}

.mediaExtraLarge .CounterStates_vehicleReceivedState_29 {
    font-size: 18rem;
}

.Tank_base_9c {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Tank_tankWrapper_30 {
    width: 1766rem;
    height: 922rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.mediaMedium .Tank_tankWrapper_30 {
    width: 2290rem;
    height: 1194rem;
}

.mediaLarge .Tank_tankWrapper_30 {
    width: 2700rem;
    height: 1408rem;
}

.mediaExtraLarge .Tank_tankWrapper_30 {
    width: 3640rem;
    height: 1900rem;
}

.Tank_tank_42 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
}

.Tank_tank__state--show_a5 {
    opacity: 1;
}

.Tank_tankLight_81 {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1766rem 922rem;
    opacity: 0;
    mix-blend-mode: screen;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.mediaMedium .Tank_tankLight_81 {
    background-size: 2290rem 1194rem;
}

.mediaLarge .Tank_tankLight_81 {
    background-size: 2700rem 1408rem;
}

.mediaExtraLarge .Tank_tankLight_81 {
    background-size: 3640rem 1900rem;
}

.Tank_tankLight__state--show_73 {
    opacity: 1;
}

.TankDust_base_94 {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.TankDust_base__state--show_9c {
    opacity: 1;
}

.TankDust_particles_88 {
    width: 1070rem;
    height: 890rem;
    position: absolute;
}

.IconButton_base_d0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60rem;
    height: 60rem;
    opacity: 0.7;
    position: relative;
    transition: opacity 0.25s ease-out;
    cursor: pointer;
}

.IconButton_base__hovered_26 {
    opacity: 1;
}

.IconButton_base__disabled_7d {
    cursor: auto;
}
.IconButton_icon_26 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: no-repeat center / contain;
    transition: opacity 0.25s ease-out;
    pointer-events: none;
}
.IconButton_icon__preview_58 {
    background-image: url('R.images.gui.maps.icons.library.previewVehicle');
}
.IconButton_icon__compare_4d {
    background-image: url('R.images.gui.maps.icons.library.compare');
}
.IconButton_base__disabled_7d .IconButton_icon__compare_4d {
    background-image: url('R.images.gui.maps.icons.library.compareDisabled');
}
.IconButton_icon__small_b8 {
    width: 70rem;
    height: 70rem;
}
.IconButton_icon__normal_d3 {
    width: 100rem;
    height: 100rem;
}
.IconButton_base__mouseDown_06 .IconButton_icon_26 {
    opacity: 0.7;
}
.IconButton_label_73 {
    color: #ffdd99;
    font-size: 14rem;
    line-height: 1.25;
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 12rem #e52;
    white-space: nowrap;
    opacity: 0;
    position: absolute;
    transform: translateY(-5rem);
    transition:
        transform 0.25s ease-out,
        opacity 0.25s ease-out;
}
.IconButton_label__small_3a {
    bottom: -2rem;
}
.IconButton_label__normal_ef {
    bottom: -8rem;
}
.IconButton_base__visibleLabel_3a .IconButton_label_73,
.IconButton_base__hovered_26 .IconButton_label_73 {
    opacity: 1;
    transform: translateY(0rem);
}
.IconButton_base__disabled_7d .IconButton_label_73 {
    opacity: 0;
}

.VehicleInfo_base_a4 {
    display: flex;
    align-items: center;
}

.VehicleInfo_base__intro_3f {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .VehicleInfo_base__intro_3f {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}

.mediaLarge .VehicleInfo_base__intro_3f {
    color: #ffdd99;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaExtraLarge .VehicleInfo_base__intro_3f {
    color: #ffdd99;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.VehicleInfo_base__progression_3a {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    color: #fff;
}

.mediaLarge .VehicleInfo_base__progression_3a {
    font-size: 36rem;
}

.VehicleInfo_type_41 {
    position: relative;
}

.VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.VehicleInfo_base__intro_3f .VehicleInfo_type_41 {
    width: 36rem;
    transform: translateY(2rem);
}

.VehicleInfo_base__intro_3f .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.mediaMedium .VehicleInfo_base__intro_3f .VehicleInfo_type_41 {
    width: 50rem;
    transform: translateY(4rem);
}

.mediaMedium .VehicleInfo_base__intro_3f .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.mediaExtraLarge .VehicleInfo_base__intro_3f .VehicleInfo_type_41 {
    width: 55rem;
}

.VehicleInfo_base__award_f8 .VehicleInfo_type_41 {
    width: 50rem;
    transform: translateY(3rem);
}

.VehicleInfo_base__award_f8 .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.mediaLarge .VehicleInfo_base__award_f8 .VehicleInfo_type_41 {
    width: 60rem;
    transform: translateY(4rem);
}

.mediaLarge .VehicleInfo_base__award_f8 .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.VehicleInfo_base__progression_3a .VehicleInfo_type_41 {
    width: 50rem;
    transform: translateY(2rem);
}

.VehicleInfo_base__progression_3a .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-2rem);
}

.mediaLarge .VehicleInfo_base__progression_3a .VehicleInfo_type_41[lang='ko'] {
    transform: translateY(-4rem);
}

.VehicleInfo_ico_6c {
    background: no-repeat center / contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.VehicleInfo_base__intro_3f .VehicleInfo_ico_6c {
    width: 56rem;
    height: 56rem;
}

.mediaMedium .VehicleInfo_base__intro_3f .VehicleInfo_ico_6c {
    width: 83rem;
    height: 74rem;
}

.VehicleInfo_base__award_f8 .VehicleInfo_ico_6c {
    width: 74rem;
    height: 74rem;
}

.mediaLarge .VehicleInfo_base__award_f8 .VehicleInfo_ico_6c {
    width: 84rem;
    height: 84rem;
}

.VehicleInfo_base__progression_3a .VehicleInfo_ico_6c {
    width: 70rem;
    height: 70rem;
}

@keyframes VehicleInfo_fadeOut_12 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes VehicleInfo_fadeIn_42 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes VehicleInfo_fadeInWithScale_72 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes VehicleInfo_slideUp_4a {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes VehicleInfo_slideUpCenter_d0 {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes VehicleInfo_blink_54 {
    0% {
        filter: brightness(1);
    }

    16% {
        filter: brightness(3);
    }

    100% {
        filter: brightness(1);
    }
}
.VehicleInfo_base_ae {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.VehicleInfo_base_ae::before {
    width: 600rem;
    height: 350rem;
    background: url('R.images.resource_well.gui.maps.icons.shadow_vehicle_info') no-repeat center / contain;
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    pointer-events: none;
}
.VehicleInfo_preview_fb {
    position: absolute;
}
.VehicleInfo_label_c1 {
    width: 200rem;
    text-align: center;
}
.VehicleInfo_vehicleInfoWrapper_77 {
    margin-top: 80rem;
    text-align: center;
    z-index: 1;
}
.VehicleInfo_vehicleInfo_97 {
    white-space: nowrap;
}
.VehicleInfo_vehicleInfo__disabled_af {
    opacity: 0.7;
}
.VehicleInfo_styleInfo_7a {
    display: flex;
    margin-top: 10rem;
}
.VehicleInfo_infoWrapper_2f {
    display: flex;
    position: relative;
    z-index: 2;
}
.VehicleInfo_infoText_a5 {
    color: #ffdd99;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-right: 2rem;
}
.mediaLarge .VehicleInfo_infoText_a5 {
    color: #ffdd99;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.VehicleInfo_infoIcon_c2 {
    width: 24rem;
    height: 24rem;
    background: url('R.images.resource_well.gui.maps.icons.icon_info') no-repeat center / contain;
}
.mediaLarge .VehicleInfo_infoIcon_c2 {
    margin-top: 2rem;
}

.OneSerialVehicle_base_5b {
    width: 100%;
    height: 100%;
    position: absolute;
}

.OneSerialVehicle_tank_61 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.OneSerialVehicle_dust_a9 {
    position: absolute;
    top: 0;
    z-index: 1;
}

.OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_dust_a9 {
    left: 385rem;
}

.mediaMedium .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_dust_a9 {
    top: 103rem;
    left: 480rem;
}

.mediaLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_dust_a9 {
    top: 240rem;
    left: 700rem;
}

.mediaExtraLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_dust_a9 {
    top: 556rem;
    left: 1060rem;
}

.OneSerialVehicle_parts_f9 {
    position: absolute;
    top: 0;
    z-index: 1;
}

.OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_parts_f9 {
    left: 385rem;
}

.mediaMedium .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_parts_f9 {
    top: 103rem;
    left: 480rem;
}

.mediaLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_parts_f9 {
    top: 240rem;
    left: 700rem;
}

.mediaExtraLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_parts_f9 {
    top: 556rem;
    left: 1060rem;
}

.OneSerialVehicle_vehicleInfo_37 {
    width: 360rem;
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
}

.mediaMedium .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_vehicleInfo_37 {
    top: 47%;
}

.mediaLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_vehicleInfo_37 {
    top: 48%;
}

.mediaExtraLarge .OneSerialVehicle_base__tankIndex--0_a5 .OneSerialVehicle_vehicleInfo_37 {
    top: 48%;
}

.ParallelVehicle_base_80 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ParallelVehicle_vehicle_69 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.ParallelVehicle_dust_ce {
    position: absolute;
    top: 0;
    z-index: 1;
}

.ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_dust_ce {
    left: 210rem;
}

.mediaMedium .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_dust_ce {
    top: 103rem;
    left: 280rem;
}

.mediaLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_dust_ce {
    top: 240rem;
    left: 445rem;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_dust_ce {
    top: 556rem;
    left: 760rem;
}

.ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_dust_ce {
    right: 265rem;
}

.mediaMedium .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_dust_ce {
    top: 103rem;
    right: 412rem;
}

.mediaLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_dust_ce {
    top: 240rem;
    right: 608rem;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_dust_ce {
    top: 556rem;
    right: 915rem;
}

.ParallelVehicle_parts_ee {
    position: absolute;
    top: 0;
    z-index: 1;
}

.ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_parts_ee {
    left: 210rem;
}

.mediaMedium .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_parts_ee {
    top: 103rem;
    left: 280rem;
}

.mediaLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_parts_ee {
    top: 240rem;
    left: 445rem;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_parts_ee {
    top: 556rem;
    left: 760rem;
}

.ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_parts_ee {
    right: 265rem;
}

.mediaMedium .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_parts_ee {
    top: 103rem;
    right: 412rem;
}

.mediaLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_parts_ee {
    top: 240rem;
    right: 608rem;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_parts_ee {
    top: 556rem;
    right: 915rem;
}

.ParallelVehicle_vehicleInfo_c8 {
    width: 360rem;
    position: absolute;
    top: 45%;
    z-index: 2;
}

.ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_vehicleInfo_c8 {
    left: 29%;
}

.mediaSmall .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_vehicleInfo_c8 {
    left: 29%;
}

.mediaMedium .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_vehicleInfo_c8 {
    top: 47%;
    left: 30%;
}

.mediaLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_vehicleInfo_c8 {
    top: 48%;
    left: 31%;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--0_d8 .ParallelVehicle_vehicleInfo_c8 {
    top: 48%;
    left: 33%;
}

.ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_vehicleInfo_c8 {
    right: 29%;
}

.mediaSmall .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_vehicleInfo_c8 {
    right: 29%;
}

.mediaMedium .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_vehicleInfo_c8 {
    top: 47%;
    right: 30%;
}

.mediaLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_vehicleInfo_c8 {
    top: 48%;
    right: 31%;
}

.mediaExtraLarge .ParallelVehicle_base__tankIndex--1_2a .ParallelVehicle_vehicleInfo_c8 {
    top: 48%;
    right: 33%;
}

.SequentialVehicle_base_8b {
    width: 100%;
    height: 100%;
    position: absolute;
}

.SequentialVehicle_tank_e1 {
    width: 100%;
    height: 100%;
    position: absolute;
}

.SequentialVehicle_dust_3f {
    position: absolute;
    top: 0;
    z-index: 1;
}

.SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_dust_3f {
    left: 210rem;
}

.mediaMedium .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_dust_3f {
    top: 103rem;
    left: 280rem;
}

.mediaLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_dust_3f {
    top: 240rem;
    left: 445rem;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_dust_3f {
    top: 556rem;
    left: 760rem;
}

.SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_dust_3f {
    right: 265rem;
}

.mediaMedium .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_dust_3f {
    top: 103rem;
    right: 412rem;
}

.mediaLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_dust_3f {
    top: 240rem;
    right: 608rem;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_dust_3f {
    top: 556rem;
    right: 915rem;
}

.SequentialVehicle_parts_d3 {
    position: absolute;
    top: 0;
    z-index: 1;
}

.SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_parts_d3 {
    left: 210rem;
}

.mediaMedium .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_parts_d3 {
    top: 103rem;
    left: 280rem;
}

.mediaLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_parts_d3 {
    top: 240rem;
    left: 445rem;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_parts_d3 {
    top: 556rem;
    left: 760rem;
}

.SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_parts_d3 {
    right: 265rem;
}

.mediaMedium .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_parts_d3 {
    top: 103rem;
    right: 412rem;
}

.mediaLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_parts_d3 {
    top: 240rem;
    right: 608rem;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_parts_d3 {
    top: 556rem;
    right: 915rem;
}

.SequentialVehicle_vehicleInfo_5c {
    width: 360rem;
    position: absolute;
    top: 45%;
    z-index: 2;
}

.SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_vehicleInfo_5c {
    left: 29%;
}

.mediaSmall .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_vehicleInfo_5c {
    left: 29%;
}

.mediaMedium .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_vehicleInfo_5c {
    top: 47%;
    left: 30%;
}

.mediaLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_vehicleInfo_5c {
    top: 48%;
    left: 31%;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--0_40 .SequentialVehicle_vehicleInfo_5c {
    top: 48%;
    left: 33%;
}

.SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_vehicleInfo_5c {
    right: 29%;
}

.mediaSmall .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_vehicleInfo_5c {
    right: 29%;
}

.mediaMedium .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_vehicleInfo_5c {
    top: 47%;
    right: 30%;
}

.mediaLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_vehicleInfo_5c {
    top: 48%;
    right: 31%;
}

.mediaExtraLarge .SequentialVehicle_base__tankIndex--1_65 .SequentialVehicle_vehicleInfo_5c {
    top: 48%;
    right: 33%;
}

.Rewards_base_07 {
    width: 1953rem;
    height: 1018rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.mediaMedium .Rewards_base_07 {
    width: 2290rem;
    height: 1194rem;
}

.mediaLarge .Rewards_base_07 {
    width: 2700rem;
    height: 1408rem;
}

.mediaExtraLarge .Rewards_base_07 {
    width: 3640rem;
    height: 1900rem;
}
