.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.images.gui.maps.icons.tooltip.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.TooltipAndPopoverStyleWrapper_base_f8 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 10rem;
    border: 1rem solid #95694e;
    border-radius: 4rem;
    box-shadow:
        4rem 4rem 6rem rgba(255, 255, 255, 0.06) inset,
        -4rem -4rem 6rem rgba(255, 255, 255, 0.06) inset;
    background: linear-gradient(180deg, rgba(60, 84, 124, 0.85) 0%, rgba(23, 28, 35, 0.85) 100%);
    filter: drop-shadow(-1rem 1rem 2rem rgba(0, 0, 0, 0.3)) drop-shadow(-2rem 3rem 4rem rgba(0, 0, 0, 0.5));
    position: relative;
}
.TooltipAndPopoverStyleWrapper_base_f8::before {
    border: 1rem solid rgba(39, 30, 24, 0.6);
    border-radius: 3rem;
    content: '';
    position: absolute;
    top: 0rem;
    right: 0rem;
    bottom: 0rem;
    left: 0rem;
    z-index: 1;
}
.TooltipAndPopoverStyleWrapper_base_f8::after {
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    content: '';
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    z-index: 1;
}
.TooltipAndPopoverStyleWrapper_pattern_f6 {
    width: 100%;
    height: 100%;
    background-image: url('R.images.new_year.gui.maps.icons.newYear.tooltips.pattern');
    position: absolute;
}
.TooltipAndPopoverStyleWrapper_snowIconContainer_33 {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.TooltipAndPopoverStyleWrapper_snowIcon_d7 {
    width: 236rem;
    height: 60rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.tooltips.snow') no-repeat center / cover;
}
.TooltipAndPopoverStyleWrapper_content_8a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.PopoverDecorator_base_ed {
    display: flex;
    position: absolute;
}

.PopoverDecorator_decorator_d3 {
    padding: 58rem;
    border-image-source: url('R.images.gui.maps.icons.popovers.popover_bg');
    border-image-slice: 90 fill;
    border-image-width: 90rem;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

.PopoverDecorator_arrow_8a {
    background: no-repeat 0 0 / contain;
    position: absolute;
}

.PopoverDecorator_arrow__bottom_c3,
.PopoverDecorator_arrow__top_6e {
    width: 301rem;
    height: 90rem;
    margin: 0 58rem;
    background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_top');
    left: 50%;
}

.PopoverDecorator_arrow__left_7a,
.PopoverDecorator_arrow__right_b6 {
    width: 84rem;
    height: 181rem;
    margin: 58rem 0;
    background-image: url('R.images.gui.maps.icons.popovers.popover_arrow_left');
    top: 50%;
}

.PopoverDecorator_arrow__left_7a {
    right: 10rem;
    transform: scaleX(-1) translateY(-90rem);
}

.PopoverDecorator_arrow__right_b6 {
    left: 10rem;
    transform: translateY(-90rem);
}

.PopoverDecorator_arrow__top_6e {
    bottom: 8rem;
    transform: scaleY(-1) translateX(-150rem);
}

.PopoverDecorator_arrow__bottom_c3 {
    top: 8rem;
    transform: translateX(-150rem);
}

.PopoverDecorator_closeBtn_32 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.popovers.close_button_slim_up') no-repeat 0 0 / contain;
    position: absolute;
    top: 6rem;
    right: 6rem;
    z-index: 3;
    cursor: pointer;
}

.PopoverDecorator_closeBtn_32:hover {
    filter: brightness(160%);
}

.PopoverDecorator_closeBtn_32:active {
    background-image: url('R.images.gui.maps.icons.popovers.close_button_slim_press');
    filter: brightness(100%);
}

.PopoverDecorator_content_f0 {
    position: relative;
    z-index: 2;
}

.Countdown_base_2a {
    display: flex;
    align-items: center;
}

.Countdown_icon_ff {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
}

.Countdown_description_32 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Progress_base_3a {
    width: 112rem;
    height: 51rem;
    overflow: hidden;
    position: relative;
}

.Progress_potentialProgress_57 {
    height: 14rem;
    background: no-repeat top left / cover;
    opacity: 0.4;
    position: absolute;
    top: 20rem;
}

.Progress_progress_de {
    display: flex;
    height: 14rem;
    background: no-repeat top left / cover;
    overflow: hidden;
    position: relative;
    top: 20rem;
    transition: width cubic-bezier(0.68, 0.04, 0.34, 1.01);
}

.Progress_progress__multyBounce_d5 {
    animation: Progress_multyBounce_a7 1000ms 200ms ease-out;
}

.Progress_timer_af {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116rem;
    height: 28rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.timer.shadow')
        no-repeat center / contain;
    opacity: 0;
    position: absolute;
    bottom: 32rem;
    left: -5rem;
    animation: Progress_fadeIn_ec 150ms 300ms forwards;
}

.Progress_timerIcon_14 {
    width: 24rem;
    height: 28rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.timer.clock')
        no-repeat top right / cover;
}

.Progress_downgradeTime_f1 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    text-shadow: 0 0 7rem #00000080;
}

.Progress_dynamicBackground_52 {
    width: 248rem;
    height: 14rem;
    background: no-repeat top left / cover;
    animation: Progress_moveLeft_58 10000ms infinite linear;
}

.Progress_dynamicMask_76 {
    width: 248rem;
    height: 14rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.dynamicBackground.background')
        no-repeat top right / cover;
    position: absolute;
    right: 0;
    animation: Progress_moveRight_9a 10000ms infinite linear;
}

.Progress_cursor_1f {
    height: 14rem;
    position: absolute;
    transition: width cubic-bezier(0.68, 0.04, 0.34, 1.01);
}

.Progress_cursor__multyBounce_06 {
    animation: Progress_multyBounce_a7 1000ms 200ms ease-out;
}

.Progress_cursorContainer_d6 {
    width: 100%;
    height: 100%;
    position: relative;
    top: 20rem;
}

.Progress_cursorPointer_e4 {
    width: 82rem;
    height: 51rem;
    background: url('swf://gui/flash/animations/newYear/petProgressCursor.swf') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -18rem;
    right: -30rem;
    transition: opacity 150ms;
}

.Progress_cursorPointer__visible_f9 {
    opacity: 1;
}

.Progress_mask_c4 {
    width: 116rem;
    height: 18rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.mask') no-repeat
        center/contain;
    position: absolute;
    top: 18rem;
    left: -2rem;
}

@keyframes Progress_fadeIn_ec {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes Progress_moveLeft_58 {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes Progress_moveRight_9a {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(50%);
    }
}

@keyframes Progress_multyBounce_a7 {
    0% {
        width: 100%;
    }

    80% {
        width: 60%;
    }

    86% {
        width: 100%;
    }

    92% {
        width: 95%;
    }

    100% {
        width: 100%;
    }
}

.Indicator_base_05 {
    display: flex;
    position: relative;
    cursor: pointer;
}

.Indicator_base__locked_82 {
    cursor: default;
}

.Indicator_base__loading_8f {
    cursor: default;
}
.Indicator_background_13 {
    width: 497rem;
    height: 105rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.background.default_mask')
        no-repeat center/cover;
    position: absolute;
    top: -10rem;
    left: -17rem;
    z-index: -3;
    pointer-events: none;
}
.Indicator_onboardingBorder_26 {
    width: 505rem;
    height: 113rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.onboardingBorder') no-repeat
        center / contain;
    filter: brightness(1);
    opacity: 0;
    position: absolute;
    top: -18rem;
    left: -18rem;
    animation: Indicator_fadeInOut_85 2000ms forwards infinite;
}
.Indicator_backgroundHovered_8b {
    width: 477rem;
    height: 85rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.background.hover') no-repeat
        center/cover;
    opacity: 0;
    position: absolute;
    top: -4rem;
    left: -4rem;
    z-index: -2;
    transition: opacity 300ms;
    pointer-events: none;
}
.Indicator_backgroundHovered__visible_79 {
    opacity: 1;
}
.Indicator_backgroundSelected_79 {
    width: 477rem;
    height: 85rem;
    background: no-repeat center/cover;
    opacity: 0;
    position: absolute;
    top: -4rem;
    left: -4rem;
    z-index: -1;
    transition: opacity 300ms;
    pointer-events: none;
}
.Indicator_backgroundSelected__visible_11 {
    opacity: 1;
}
.Indicator_backgroundDisabled_b9 {
    width: 477rem;
    height: 85rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.background.disabled_mask')
        no-repeat center/cover;
    opacity: 0;
    position: absolute;
    top: -4rem;
    left: -4rem;
    z-index: 1;
    transition: opacity 300ms;
    pointer-events: none;
}
.Indicator_backgroundDisabled__visible_0f {
    opacity: 1;
}
.Indicator_mainIcon_ae {
    width: 62rem;
    height: 77rem;
    background: no-repeat center/cover;
    position: relative;
}
.Indicator_mainIconHovered_4b {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;
    opacity: 0;
    position: absolute;
    transition: opacity 300ms;
}
.Indicator_mainIconHovered__visible_49 {
    opacity: 1;
}
.Indicator_mainIconSelected_e8 {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover;
    opacity: 0;
    position: absolute;
    transition: opacity 300ms;
}
.Indicator_mainIconSelected__visible_83 {
    opacity: 1;
}
.Indicator_mainIconSelectedMask_ae {
    width: 80rem;
    height: 95rem;
    background: no-repeat center/cover;
    opacity: 0;
    position: absolute;
    top: -9rem;
    left: -9rem;
    transition: opacity 300ms;
}
.Indicator_mainIconSelectedMask__visible_93 {
    opacity: 1;
}
.Indicator_mainIconMask_3a {
    width: 62rem;
    height: 77rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.mainIcon.mask') no-repeat
        center/cover;
    position: absolute;
    top: 0;
    left: 0;
}
.Indicator_mainCategoryImageIcon_1d {
    width: 34rem;
    height: 34rem;
    background: no-repeat center/cover;
    opacity: 1;
    position: absolute;
    top: 22rem;
    left: 16rem;
    transition: opacity 150ms;
}
.Indicator_base__locked_82 .Indicator_mainCategoryImageIcon_1d {
    opacity: 0.5;
}
.Indicator_base__waiting_56 .Indicator_mainCategoryImageIcon_1d {
    opacity: 0.5;
}
.Indicator_mainIconLoading_61 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.mainIcon.spinner') no-repeat
        center / cover;
    position: absolute;
    top: 30rem;
    left: 24rem;
    z-index: 2;
    animation: Indicator_spinner_9c 1s linear infinite;
}
.Indicator_bodyBackground_25 {
    width: 415rem;
    height: 77rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.background.default') no-repeat
        center/cover;
    position: relative;
    top: 0rem;
    left: -8rem;
}
.Indicator_base__locked_82 .Indicator_bodyBackground_25 {
    background-image: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.background.disabled');
}
.Indicator_topContainer_e1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 8rem 0 10rem;
    position: absolute;
    top: 6rem;
}
.Indicator_topContainerLeftSide_62 {
    display: flex;
    align-items: center;
}
.Indicator_type_6a {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: center;
    margin-top: -5rem;
    margin-right: 15rem;
    opacity: 1;
    transition: opacity 150ms;
}
.Indicator_base__locked_82 .Indicator_type_6a {
    opacity: 0.5;
}
.Indicator_base__waiting_56 .Indicator_type_6a {
    opacity: 0.5;
}
.Indicator_itemsAmount_fc {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 61rem;
    height: 24rem;
    padding: 2rem 7rem 3rem;
    border-radius: 20rem;
    box-shadow:
        0rem 0rem 5rem 1rem #ffffff1f,
        -3rem 3rem 4rem 0rem #00000040 inset;
    background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.3) 100%);
    opacity: 1;
    transition: opacity 150ms;
}
.Indicator_base__locked_82 .Indicator_itemsAmount_fc {
    opacity: 0.5;
}
.Indicator_itemsAmountIcon_1e {
    width: 24rem;
    height: 24rem;
    margin-left: -5rem;
    background: no-repeat center/cover;
}
.Indicator_itemsAmountText_88 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: -2rem;
    margin-top: -1rem;
}
.Indicator_breakPointNum_ad {
    position: absolute;
    bottom: 26rem;
}
.Indicator_breakPointNumContainer_a2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50rem;
    position: relative;
    pointer-events: none;
}
.Indicator_firstNum_5c {
    left: -5rem;
}
.Indicator_secondNum_f5 {
    left: 129rem;
}
.Indicator_thirdNum_d0 {
    left: 263rem;
}
.Indicator_topNum_3b {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-bottom: -4rem;
    opacity: 0.5;
    pointer-events: none;
}
.Indicator_infinity_80 {
    width: 11rem;
    height: 8rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.infinity') no-repeat
        center / cover;
    position: absolute;
    top: 43rem;
    right: 8rem;
}
.Indicator_activeLight_37 {
    width: 22rem;
    height: 30rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.default') no-repeat
        center / cover;
    opacity: 0;
    position: absolute;
    top: 15rem;
    transition: opacity 150ms;
}
.Indicator_activeLight__visible_2a {
    opacity: 1;
}
.Indicator_blink_4a {
    width: 56rem;
    height: 88rem;
    background: no-repeat center / cover;
    opacity: 0;
    position: absolute;
    top: -14rem;
    animation: Indicator_blink_4a 1000ms forwards linear;
}
.Indicator_progresses_c3 {
    display: flex;
    position: absolute;
    bottom: -13rem;
    left: 31rem;
    pointer-events: none;
}
.Indicator_progress_8a + .Indicator_progress_8a {
    margin-left: 22rem;
}
.Indicator_disabledText_38 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    position: absolute;
    bottom: 10rem;
    left: 25rem;
    z-index: 1;
}
.Indicator_disabledValue_24 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-left: 1rem;
    margin-top: 1rem;
}
.Indicator_temppp_05 {
    position: absolute;
    right: -200rem;
}
@keyframes Indicator_blink_4a {
    0% {
        filter: brightness(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        filter: brightness(2);
        opacity: 1;
    }

    70% {
        filter: brightness(2);
        opacity: 1;
    }

    100% {
        filter: brightness(1);
        opacity: 0;
    }
}
@keyframes Indicator_spinner_9c {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes Indicator_fadeIn_e8 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
@keyframes Indicator_fadeInOut_85 {
    0% {
        filter: brightness(1);
        opacity: 0.5;
    }

    50% {
        filter: brightness(2);
        opacity: 1;
    }

    100% {
        filter: brightness(1);
        opacity: 0.5;
    }
}

.SlotIndicators_base_a4 {
    display: flex;
    width: 36rem;
    height: 26rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.header.categories.background') no-repeat
        center / cover;
}

.SlotIndicators_base__locked_17 {
    background-image: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.header.categories.lock');
}

.SlotIndicators_lightContainer_82 {
    display: flex;
    width: 22rem;
    height: 30rem;
    margin-left: -1rem;
    margin-top: -2rem;
    position: relative;
}

.SlotIndicators_lightContainer_82 + .SlotIndicators_lightContainer_82 {
    margin-left: -14rem;
}

.SlotIndicators_light_40 {
    width: 100%;
    height: 100%;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.default') no-repeat
        center / cover;
    opacity: 0;
    position: absolute;
    transition: opacity 150ms;
}

.SlotIndicators_light__visible_c4 {
    opacity: 1;
}

.SlotIndicators_blink_98 {
    width: 56rem;
    height: 88rem;
    background: no-repeat center / cover;
    opacity: 0;
    position: absolute;
    top: -29rem;
    left: -17rem;
    animation: SlotIndicators_blink_98 1000ms forwards linear;
}

.SlotIndicators_lock_cc {
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.categories.progress.default') no-repeat
        center / cover;
}

@keyframes SlotIndicators_blink_98 {
    0% {
        filter: brightness(1);
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    30% {
        filter: brightness(2);
        opacity: 1;
    }

    70% {
        filter: brightness(2);
        opacity: 1;
    }

    100% {
        filter: brightness(1);
        opacity: 0;
    }
}

.PetTooltipsIndicator_base_92 {
    display: flex;
    align-items: center;
    width: 354rem;
    height: 35rem;
    padding: 0 15rem 0 9rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.tooltips.petWidget.indicatorBackground') no-repeat
        center / contain;
}

.PetTooltipsIndicator_content_8d {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
}

.PetTooltipsIndicator_type_bf {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
    margin-left: -2rem;
    margin-top: -1rem;
}

.PetTooltipsIndicator_roundedValue_45 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 61rem;
    height: 24rem;
    padding: 2rem 7rem 3rem;
    border-radius: 20rem;
    box-shadow:
        -2rem 4rem 6rem 0 #00000026 inset,
        0 0 4rem 1rem #ffffff14;
    background: #0000000f;
}

.PetTooltipsIndicator_bonusValue_18 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.PetTooltipsIndicator_bonusValue__green_fd {
    color: #80d43a;
}

.PetTooltipsIndicator_mailsToUnlock_38 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 8rem;
    margin-top: -2rem;
}

.PetTooltipsIndicator_mailsToUnlockValue_e9 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_base_38 {
    display: flex;
    flex-direction: column;
    width: 368rem;
}

.App_title_0d {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 21rem 24rem 23rem 23rem;
}

.App_indicators_c3 {
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
}

.App_indicator_05 + .App_indicator_05 {
    margin-top: 4rem;
}

.App_minBonus_8a {
    display: flex;
    justify-content: space-between;
    margin: 10rem 0;
    padding: 0 23rem;
}

.App_minBonusText_bb {
    color: rgba(201, 201, 182, 0.7);
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.App_minBonusValue_de {
    color: #c9c9b6;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    justify-content: center;
    width: 60rem;
}

.App_currentBonus_59 {
    display: flex;
    align-items: center;
    width: 354rem;
    height: 47rem;
    margin-left: 7rem;
    padding: 0 15rem 0 12rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.tooltips.petWidget.bonusBackground') no-repeat center /
        contain;
}

.App_currentBonusContent_9c {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: -1rem;
}

.App_currentBonusImage_ba {
    width: 43rem;
    height: 20rem;
    background: url('R.images.new_year.gui.maps.icons.newYear.mainView.petView.header.bonusIcon') no-repeat center /
        contain;
}

.App_currentBonusText_5e {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
    margin-left: 2rem;
}

.App_currentBonusValueWrapper_88 {
    position: relative;
    top: -2rem;
}

.App_currentBonusValue_98 {
    color: #c9c9b6;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_currentBonusValue__med_ef {
    color: #cbac77;
}

.App_currentBonusValue__gold_8d {
    color: #f4e58b;
}

.App_currentBonusValue__copied_63 {
    color: #ddab61;
    position: absolute;
    mask-image: linear-gradient(transparent, #fff);
}

.App_currentBonusValuePrefix_d8 {
    margin-top: -1rem;
}

.App_maxBonus_fb {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    margin-left: 4rem;
    margin-top: -1rem;
}

.App_bottom_b4 {
    display: flex;
    flex-direction: column;
    padding: 15rem 23rem 23rem;
}

.App_howToUpgradeTitle_2d {
    color: #cbac77;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.App_howToUpgradeDescription_a5 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
    padding-bottom: 11rem;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.1);
}

.App_pointsToLeaderBoardTitle_8f {
    color: #cbac77;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-top: 10rem;
    border-top: 1rem solid rgba(0, 0, 0, 0.1);
}

.App_pointsToLeaderBoardDescription_26 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-top: 4rem;
}
