body {
    margin: 0;
    line-height: normal;
    overflow: hidden;
}

.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_bfac3 {
    flex-direction: row-reverse;
}
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
.TextButton_icon__forward_efa2d {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_efa2d {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_e2f0f {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_e32c0 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
.TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
    opacity: 0;
}
.TextButton_caption_f4e8d {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_d358d,
.TextButton_caption__forward_ff93d,
.TextButton_caption__close_fc554 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_a231c:hover .TextButton_caption__back_d358d,
.TextButton_base_a231c:hover .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
    color: #fffa9f;
}
.TextButton_base_a231c:active .TextButton_caption__back_d358d,
.TextButton_base_a231c:active .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:active .TextButton_caption__close_fc554 {
    color: #ffdd99;
}
.TextButton_caption__info_c263a {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
    margin-left: 8rem;
}
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
    margin-right: 8rem;
}
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
    left: -4rem;
}
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_shine_f8873 {
    opacity: 0;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_dd05d,
.CButton_base__primary_c75a2,
.CButton_base__primaryGreen_ae65b,
.CButton_base__primaryRed_b1341,
.CButton_base__secondary_f2c20 {
    background-size: 100% 100%;
}

.CButton_base__main_dd05d {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_c75a2 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_ae65b {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_b1341 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_f2c20 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_f452b {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_e1273 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_c20a3,
.CButton_base__medium_ef59a {
    padding: 0 20rem;
}

.CButton_base__small_c20a3 {
    min-height: 18rem;
}

.CButton_base__medium_ef59a {
    min-height: 32rem;
}

.CButton_base__large_bafd5 {
    min-height: 48rem;
}

.CButton_base__disabled_eef7a {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_c75a2 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_f2c20 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 1;
}
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
    opacity: 1;
}
.CButton_stateDisabled_ed209 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
    visibility: inherit;
}
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
.CButton_content_a99fc[lang='ko'],
.CButton_content_a99fc[lang='zh_tw'],
.CButton_content_a99fc[lang='zh_sg'],
.CButton_content_a99fc[lang='zh_cn'],
.CButton_content_a99fc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_dd05d .CButton_content_a99fc,
.CButton_base__primaryRed_b1341 .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
    font-size: 12rem;
}
.CButton_base__small_c20a3 .CButton_content_a99fc {
    font-size: 14rem;
}
.CButton_base__medium_ef59a .CButton_content_a99fc {
    font-size: 15rem;
}
.CButton_base__large_bafd5 .CButton_content_a99fc {
    font-size: 18rem;
}
.CButton_base__disabled_eef7a .CButton_content_a99fc {
    opacity: 0.6;
}

/* colors*/

/* buttons*/

@keyframes Header_fadeOut_cbbd6 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Header_fadeIn_aa4df {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Header_fadeInWithScale_e5756 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Header_slideUp_dea85 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Header_scale_bbd9e {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Header_rotate_e3353 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Header_base_e1d5e {
    align-items: center;
}

.Header_title_a4581 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.6s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    text-align: center;
}

.mediaSmall .Header_title_a4581 {
    font-size: 24rem;
}

.Header_status_b9684 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    text-align: center;
}

.mediaSmall .Header_status_b9684 {
    font-size: 56rem;
}

.mediaExtraLarge .Header_status_b9684 {
    font-size: 73rem;
}

.Header_subtitle_d54f8 {
    opacity: 0;
    animation-name: Header_slideUp_dea85;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0.8s;
    animation-iteration-count: 1;
    color: #f2f2f7;
    font-size: 42rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.mediaSmall .Header_subtitle_d54f8 {
    font-size: 56rem;
}

/* colors*/

/* buttons*/

@keyframes VehicleAward_fadeOut_f5aaf {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes VehicleAward_fadeIn_eedb5 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes VehicleAward_fadeInWithScale_b2d18 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes VehicleAward_slideUp_c5151 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes VehicleAward_scale_a64db {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes VehicleAward_rotate_f7265 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.VehicleAward_base_af167 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-top: -40rem;
    color: #fefeec;
}

.VehicleAward_content_fdc5f {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.VehicleAward_vehicle_b4b87 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 360rem;
    height: 270rem;
    position: relative;
    z-index: 2;
}

.mediaLarge .VehicleAward_vehicle_b4b87 {
    width: 600rem;
    height: 450rem;
}

.VehicleAward_imageContainer_b8d6f {
    width: 360rem;
    height: 225rem;
    position: relative;
}

.mediaLarge .VehicleAward_imageContainer_b8d6f {
    width: 600rem;
    height: 320rem;
}

.VehicleAward_crop_d6dd4 {
    height: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.VehicleAward_border_bc0fe {
    opacity: 0;
    animation-name: VehicleAward_fadeIn_eedb5;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    width: 150%;
    height: 1rem;
    background-image: linear-gradient(
        to left,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0)
    );
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
}

.VehicleAward_image_fadcc {
    opacity: 0;
    animation-name: VehicleAward_slideUp_c5151;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    width: 100%;
    height: 134%;
    background: no-repeat center / contain;
    position: absolute;
    top: 0;
    left: 0;
}

.VehicleAward_score_bc6f2 {
    opacity: 0;
    animation-name: VehicleAward_slideUp_c5151;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.4s;
    animation-iteration-count: 1;
    align-items: center;
    margin: -48rem 0 2rem;
    color: #f5eed5;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.05;
    position: relative;
    z-index: 3;
}

.mediaLarge .VehicleAward_score_bc6f2 {
    margin-top: -60rem;
    font-size: 100rem;
}

.VehicleAward_scoreIcon_ba57a {
    width: 56rem;
    height: 56rem;
    margin: 14rem 0 0 10rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.point') no-repeat center / contain;
}

.mediaLarge .VehicleAward_scoreIcon_ba57a {
    width: 80rem;
    height: 80rem;
    background-image: url('R.images.gui.maps.icons.battlePass.rewards.point_80');
}

.VehicleAward_level_f2688,
.VehicleAward_name_e5d99 {
    font-size: 24rem;
    line-height: 1;
    position: relative;
}

.VehicleAward_title_b5d38 {
    opacity: 0;
    animation-name: VehicleAward_slideUp_c5151;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.5s;
    animation-iteration-count: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -26rem;
}

.mediaLarge .VehicleAward_title_b5d38 {
    margin-top: -81rem;
}

.VehicleAward_levelIcon_d0fab {
    width: 83rem;
    height: 74rem;
    margin: 4rem -10rem 0;
    background: no-repeat center / contain;
}

.VehicleAward_light_d5f2a {
    width: 700rem;
    height: 700rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.light') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: overlay;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    animation: VehicleAward_lightFadeIn_fae73 0.8s cubic-bezier(0.07, 0.82, 0.17, 1) 1.2s forwards 1;
    pointer-events: none;
}

.mediaSmall .VehicleAward_light_d5f2a {
    width: 830rem;
    height: 830rem;
}

.mediaLarge .VehicleAward_light_d5f2a {
    width: 997rem;
    height: 999rem;
}

/* TODO: https://jira.wargaming.net/browse/WOTD-200026*/

/* check animation*/

.VehicleAward_rays_a00e7 {
    opacity: 0;
    animation-name: VehicleAward_fadeIn_eedb5;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.2s;
    animation-iteration-count: 1;
    width: 1300rem;
    height: 1300rem;
    margin: -650rem 0 0 -650rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.lines') no-repeat center / contain;
    opacity: 0;
    mix-blend-mode: additive;
    position: absolute;
    top: 100%;
    left: 50%;
    animation-name: VehicleAward_raysAppearance_cc564, VehicleAward_rotate_f7265;
    animation-duration: 0.8s, 120s;
    animation-fill-mode: forwards, forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1), linear;
    animation-delay: 0.9s, 0s;
    animation-iteration-count: 1, infinite;
    pointer-events: none;
}

@keyframes VehicleAward_lightFadeIn_fae73 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.5;
    }
}

@keyframes VehicleAward_raysAppearance_cc564 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 0.2;
        transform: translateY(0);
    }
}

@keyframes VehicleAward_rotate_f7265 {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* colors*/

/* buttons*/

@keyframes Content_fadeOut_a7cf2 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes Content_fadeIn_fd4a3 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Content_fadeInWithScale_b17e7 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes Content_slideUp_bdcbd {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes Content_scale_e6557 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes Content_rotate_d6cb5 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.Content_base_ef7a9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.Content_subTitle_dc2d7 {
    opacity: 0;
    animation-name: Content_slideUp_bdcbd;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.7s;
    animation-iteration-count: 1;
    margin-bottom: 2rem;
    color: #e9e2bf;
    font-size: 16rem;
    line-height: 1.2;
}

.mediaLarge .Content_subTitle_dc2d7 {
    margin-bottom: 0;
    color: #fefeec;
    font-size: 24rem;
    line-height: 1.3;
}

.Content_bonusPoints_b09e6 {
    opacity: 0;
    animation-name: Content_slideUp_bdcbd;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 1.9s;
    animation-iteration-count: 1;
    justify-content: center;
    align-items: center;
    color: #f5eed5;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1;
}

.mediaLarge .Content_bonusPoints_b09e6 {
    font-size: 56rem;
}

.Content_bonusIcon_e564b {
    width: 24rem;
    height: 24rem;
    margin: 8rem 0 0 5rem;
    background: url('R.images.gui.maps.icons.battlePass.rewards.point_24') no-repeat center / contain;
}

.mediaLarge .Content_bonusIcon_e564b {
    width: 48rem;
    height: 48rem;
    margin-top: 12rem;
    background-image: url('R.images.gui.maps.icons.battlePass.rewards.point_48');
}

.Content_content_d29e2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.Content_bottom_ed356 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.Content_reward_ec9f3 {
    margin-top: -55rem;
    margin-bottom: 120rem;
}

.mediaSmall .Content_reward_ec9f3 {
    margin-top: -40rem;
    margin-bottom: 105rem;
}

.mediaMedium .Content_reward_ec9f3 {
    margin-top: -96rem;
    margin-bottom: 160rem;
}

.mediaLarge .Content_reward_ec9f3 {
    margin-top: -85rem;
    margin-bottom: 160rem;
}

.mediaExtraLarge .Content_reward_ec9f3 {
    margin-top: -215rem;
    margin-bottom: 310rem;
}

.Content_buttonWrapper_d5ff2 {
    opacity: 0;
    animation-name: Content_slideUp_bdcbd;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 2.1s;
    animation-iteration-count: 1;
    width: 160rem;
}

/* colors*/

/* buttons*/

@keyframes App_fadeOut_fee19 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes App_fadeIn_ecabb {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes App_fadeInWithScale_ef366 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes App_slideUp_a23da {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes App_scale_d0fdf {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes App_rotate_acd13 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.App_base_bf689 {
    opacity: 0;
    animation-name: App_fadeInWithScale_ef366;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.07, 0.82, 0.17, 1);
    animation-delay: 0s;
    animation-iteration-count: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 50rem 0;
    position: relative;
}

.mediaExtraLarge .App_base_bf689 {
    padding-top: 100rem;
    padding-bottom: 80rem;
}

.App_background_f2d86 {
    width: 100vw;
    height: 100vh;
    background: no-repeat center / cover;
    position: absolute;
    top: 0;
    left: 0;
}

.App_background__shaded_cc7ce {
    filter: brightness(0.5);
}

.App_close_f8496 {
    position: absolute;
    top: 42rem;
    right: 42rem;
    z-index: 1;
}
