.Point_base_c2fb7 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Point_points_c0c0c {
    color: #e9e2bf;
    font-size: 16rem;
}

.Point_points__special_c9030 {
    color: #80d43a;
    font-size: 16rem;
}

.Point_pointIcon_aae9f {
    width: 24rem;
    height: 24rem;
    margin-left: 6rem;
    margin-top: 4rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.points_24') center / contain no-repeat;
}
