.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

@keyframes ResourcesList_slideInFadeIn_8e {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes ResourcesList_fadeOut_f0 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes ResourcesList_fadeIn_70 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes ResourcesList_fadeInWithScale_c2 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes ResourcesList_slideUp_80 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes ResourcesList_scale_2a {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes ResourcesList_spin_b1 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes ResourcesList_blink_e5 {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes ResourcesList_slideInNotification_03 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.ResourcesList_base_9e {
    font-family: DINRoundPro;
}
[lang='th'] .ResourcesList_base_9e,
[lang='el'] .ResourcesList_base_9e,
[lang='vi'] .ResourcesList_base_9e {
    font-family: Warhelios;
}
[lang='ja'] .ResourcesList_base_9e {
    font-family: WarheliosJA;
}
[lang='ko'] .ResourcesList_base_9e {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .ResourcesList_base_9e {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .ResourcesList_base_9e,
[lang='zh_cn'] .ResourcesList_base_9e {
    font-family: WarheliosZHCN;
}
.ResourcesList_base_9e {
    display: flex;
    justify-content: center;
}
.ResourcesList_item_6c {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 25%;
}
.ResourcesList_item_6c:nth-child(2),
.ResourcesList_item_6c:nth-child(3) {
    padding-top: 90rem;
}
.mediaLarge .ResourcesList_item_6c:nth-child(2),
.mediaLarge .ResourcesList_item_6c:nth-child(3) {
    padding-top: 110rem;
}
.ResourcesList_resource_31 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 40rem;
    position: relative;
}
.mediaExtraLarge .ResourcesList_resource_31 {
    padding-bottom: 32rem;
}
.ResourcesList_resourceIcon_cd {
    width: 160rem;
    height: 160rem;
    background: no-repeat center / contain;
}
.mediaMedium .ResourcesList_resourceIcon_cd {
    width: 240rem;
    height: 240rem;
}
.mediaExtraLarge .ResourcesList_resourceIcon_cd {
    width: 400rem;
    height: 400rem;
}
.ResourcesList_resourceIcon__ny_crystal_88 {
    background-image: url('R.images.gui.maps.icons.newYear.resources.size_400.ny_crystal');
}
.ResourcesList_resourceIcon__ny_iron_31 {
    background-image: url('R.images.gui.maps.icons.newYear.resources.size_400.ny_iron');
}
.ResourcesList_resourceIcon__ny_emerald_36 {
    background-image: url('R.images.gui.maps.icons.newYear.resources.size_400.ny_emerald');
}
.ResourcesList_resourceIcon__ny_amber_5b {
    background-image: url('R.images.gui.maps.icons.newYear.resources.size_400.ny_amber');
}
.ResourcesList_resourceLabel_7c {
    color: #d9dee4;
    font-size: 18rem;
    font-weight: 700;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.mediaMedium .ResourcesList_resourceLabel_7c {
    font-size: 20rem;
}
.mediaExtraLarge .ResourcesList_resourceLabel_7c {
    font-size: 24rem;
}
.ResourcesList_info_2e {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 74rem 35rem 0;
    position: relative;
}
.mediaMedium .ResourcesList_info_2e {
    padding: 58rem 50rem 0;
}
.mediaLarge .ResourcesList_info_2e {
    padding: 95rem 62rem 0;
}
.mediaExtraLarge .ResourcesList_info_2e {
    padding: 112rem 90rem 0;
}
.ResourcesList_item_6c + .ResourcesList_item_6c .ResourcesList_info_2e::before {
    width: 2rem;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.2), transparent);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
}
.ResourcesList_infoNumber_f2 {
    color: rgba(255, 255, 255, 0.2);
    font-size: 90rem;
    line-height: 1;
    mask-image: linear-gradient(180deg, #000 30%, transparent 100%);
}
.mediaMedium .ResourcesList_infoNumber_f2 {
    font-size: 128rem;
}
.mediaExtraLarge .ResourcesList_infoNumber_f2 {
    font-size: 160rem;
}
.ResourcesList_infoText_81 {
    color: rgba(255, 255, 255, 0.6);
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    flex: 1;
    margin-left: -6rem;
    position: relative;
}
.mediaSmall .ResourcesList_infoText_81 {
    font-size: 18rem;
}
.mediaMedium .ResourcesList_infoText_81 {
    margin-left: -18rem;
}
.mediaLarge .ResourcesList_infoText_81 {
    font-size: 20rem;
}
.mediaExtraLarge .ResourcesList_infoText_81 {
    font-size: 24rem;
}

@keyframes App_slideInFadeIn_f1 {
    100% {
        opacity: 1;
        transform: none;
    }
}
@keyframes App_fadeOut_63 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes App_fadeIn_5b {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}
@keyframes App_fadeInWithScale_30 {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes App_slideUp_51 {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes App_scale_7c {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes App_spin_ac {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}
@keyframes App_blink_7d {
    0% {
        transform: translateY(0rem);
    }

    100% {
        transform: translateY(15rem);
    }
}
@keyframes App_slideInNotification_c5 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}
.App_base_b9 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 68rem 0 83rem;
    background: url('R.images.gui.maps.icons.newYear.common.main_background') no-repeat center / cover;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s;
    pointer-events: none;
}
.mediaMedium .App_base_b9 {
    padding: 81rem 0 92rem;
}
.mediaLarge .App_base_b9 {
    padding-top: 126rem;
}
.mediaExtraLarge .App_base_b9 {
    padding: 138rem 0 95rem;
}
.App_base__visible_7f {
    opacity: 1;
    pointer-events: auto;
}
.App_closeButton_d3 {
    position: absolute;
    top: 33rem;
    right: 28rem;
}
.App_title_9c {
    font-family: DINRoundPro;
}
[lang='th'] .App_title_9c,
[lang='el'] .App_title_9c,
[lang='vi'] .App_title_9c {
    font-family: Warhelios;
}
[lang='ja'] .App_title_9c {
    font-family: WarheliosJA;
}
[lang='ko'] .App_title_9c {
    font-family: WarheliosKO;
}
[lang='zh_tw'] .App_title_9c {
    font-family: WarheliosZHTW;
}
[lang='zh_sg'] .App_title_9c,
[lang='zh_cn'] .App_title_9c {
    font-family: WarheliosZHCN;
}
.App_title_9c {
    color: #d9e4ff;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    max-width: 600rem;
    text-align: center;
    letter-spacing: -0.7rem;
}
.mediaMedium .App_title_9c {
    max-width: 725rem;
    font-size: 42rem;
}
.mediaLarge .App_title_9c {
    max-width: 872rem;
    font-size: 52rem;
}
.mediaExtraLarge .App_title_9c {
    max-width: 1095rem;
    font-size: 64rem;
}
.App_content_13 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    max-width: 1024rem;
    padding-bottom: 80rem;
}
.mediaSmall .App_content_13 {
    max-width: 1240rem;
}
.mediaMedium .App_content_13 {
    max-width: 1450rem;
}
.mediaLarge .App_content_13 {
    max-width: 1665rem;
}
.mediaExtraLarge .App_content_13 {
    max-width: 2080rem;
}
.App_buttonBox_fd {
    display: flex;
}
.App_button_04 {
    min-width: 160rem;
    min-height: 24rem;
    padding: 0 15rem;
}
.mediaMedium .App_button_04 {
    min-height: 32rem;
    padding: 0 25rem;
    font-size: 15rem;
}
