.TooltipDecorator_base_c9 {
    display: flex;
    position: absolute;
}

.TooltipDecorator_base__theme-default_6d .TooltipDecorator_decorator_3d {
    padding: 4rem 6rem 8rem;
    border-image-source: url('R.atlases.components.tooltip_background');
    border-image-slice: 24 fill;
    border-image-width: 24rem;
    position: relative;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.App_base_8c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 392rem;
    padding: 32rem;
}

.App_title_d2 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_chapter_14 {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
}

.App_subtitle_c3 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 400;
    line-height: 17rem;
}

.App_dates_0e,
.App_description_fe {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 18rem;
}

.App_dates_0e {
    margin-top: 4rem;
}

.App_description_fe {
    margin-top: 20rem;
}
