.Caption_base_18 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Caption_flare_20 {
    width: 1200rem;
    height: 768rem;
    margin-top: 16rem;
    background: url('R.images.historical_battles.gui.maps.icons.battle.eventStats.bg.flare') no-repeat 50% 0 / cover;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Caption_label_b8 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    padding: 0 22rem 4rem;
    z-index: 1;
}

.mediaExtraLarge .Caption_label_b8 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.Caption_line_63 {
    width: 298rem;
    height: 1rem;
    background-image: linear-gradient(90deg, rgba(254, 254, 236, 0.6) -80%, rgba(0, 0, 0, 0) 100%);
    transform: rotate(180deg);
}

.Caption_line__right_c4 {
    transform: none;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.Header_base_27 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #e9e2bf;
}
.Header_bg_3f {
    width: 100%;
    height: 156rem;
    background: #000;
    opacity: 0.5;
}
.mediaExtraLarge .Header_bg_3f {
    height: 208rem;
}
.Header_content_cd {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
}
.Header_mapName_ea {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    width: 50%;
    margin-right: 8rem;
    text-align: right;
}
.mediaExtraLarge .Header_mapName_ea {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Header_icon_c2 {
    width: 136rem;
    height: 136rem;
    background: no-repeat center / cover;
}
.mediaExtraLarge .Header_icon_c2 {
    width: 181rem;
    height: 181rem;
}
.Header_battleInfo_ca {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-right: 5rem;
}
.mediaSmall .Header_battleInfo_ca {
    margin-right: 15rem;
}
.Header_battleMode_5f {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 3rem;
}
.mediaExtraLarge .Header_battleMode_5f {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Header_battleTask_0b {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 180rem;
}
.mediaSmall .Header_battleTask_0b {
    width: 360rem;
}
.mediaMedium .Header_battleTask_0b {
    width: 390rem;
}
.mediaLarge .Header_battleTask_0b {
    width: 500rem;
}
.mediaExtraLarge .Header_battleTask_0b {
    color: #8c8c7e;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}

.CellDecorator_base_50 {
    display: flex;
    height: 100%;
    position: relative;
}

.CellDecorator_base__small_4f.CellDecorator_base__player_58 {
    width: 263rem;
}

.mediaExtraLarge .CellDecorator_base__small_4f.CellDecorator_base__player_58 {
    width: 400rem;
}

.CellDecorator_base__small_4f.CellDecorator_base__stats_a6 {
    width: 80rem;
}

.mediaExtraLarge .CellDecorator_base__small_4f.CellDecorator_base__stats_a6 {
    width: 120rem;
}

.CellDecorator_base__medium_94.CellDecorator_base__player_58 {
    width: 266rem;
}

.mediaExtraLarge .CellDecorator_base__medium_94.CellDecorator_base__player_58 {
    width: 400rem;
}

.CellDecorator_base__medium_94.CellDecorator_base__stats_a6 {
    width: 80rem;
}

.mediaExtraLarge .CellDecorator_base__medium_94.CellDecorator_base__stats_a6 {
    width: 120rem;
}

.CellDecorator_base__big_28.CellDecorator_base__player_58 {
    width: 344rem;
}

.CellDecorator_base__big_28.CellDecorator_base__stats_a6 {
    width: 90rem;
}

.CellDecorator_base_50.CellDecorator_base__vehicle_21 {
    width: 140rem;
}

.mediaExtraLarge .CellDecorator_base_50.CellDecorator_base__vehicle_21 {
    width: 210rem;
}

.CellDecorator_base_50.CellDecorator_base__vehicleIcon_bc {
    width: 140rem;
}

.mediaExtraLarge .CellDecorator_base_50.CellDecorator_base__vehicleIcon_bc {
    width: 210rem;
}

.CellDecorator_base__bordered_bd {
    border-left-width: 1rem;
    border-left-style: solid;
    border-image-source: linear-gradient(
        180deg,
        transparent 2.66%,
        rgba(255, 255, 255, 0.2) 48.96%,
        transparent 97.89%
    );
    border-image-slice: 0 0 0 1;
    border-image-repeat: stretch;
}

.CellDecorator_border_c6 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 1rem;
    height: 31rem;
    background: linear-gradient(180deg, transparent 2.66%, rgba(255, 255, 255, 0.2) 48.96%, transparent 97.89%);
    position: absolute;
    top: 50%;
    left: 0;
}

.CellDecorator_children_2b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
}

.CellDecorator_base__stats_a6 .CellDecorator_children_2b,
.CellDecorator_base__statsLarge_27 .CellDecorator_children_2b {
    justify-content: center;
}

.CellDecorator_base__player_58 .CellDecorator_children_2b {
    padding-left: 23rem;
}

.CellDecorator_base__vehicle_21 .CellDecorator_children_2b {
    margin-left: -5rem;
    padding-left: 0;
}

.RowDecorator_base_c9 {
    height: 44rem;
    border-bottom-width: 1rem;
    border-bottom-style: solid;
    border-image-source: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.08) 15%,
        rgba(255, 255, 255, 0.08) 85%,
        transparent 100%
    );
    border-image-slice: 0 0 1 0;
    border-image-repeat: stretch;
    position: relative;
}

.RowDecorator_base__hovered_7f {
    cursor: pointer;
}

.mediaExtraLarge .RowDecorator_base_c9 {
    height: 60rem;
}
.RowDecorator_childrenWrapper_9e {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    flex: 1;
    position: relative;
    z-index: 3;
}
.RowDecorator_base__redBg_17 .RowDecorator_childrenWrapper_9e {
    opacity: 0.5;
}
.RowDecorator_base__defaultText_a2 .RowDecorator_childrenWrapper_9e {
    color: #f2f2f7;
}
.RowDecorator_base__goldText_62 .RowDecorator_childrenWrapper_9e {
    color: #feab34;
}
.RowDecorator_base__disable_95 .RowDecorator_childrenWrapper_9e {
    opacity: 0.5;
}
.RowDecorator_hoverBg_0f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255, 255, 255, 0.08) 15%,
        rgba(255, 255, 255, 0.08) 85%,
        transparent 100%
    );
    opacity: 0;
    z-index: 2;
}
.RowDecorator_base__hovered_7f .RowDecorator_hoverBg_0f {
    opacity: 1;
    top: -1rem;
    bottom: -1rem;
    transition: opacity ease-in-out 0.1s;
}
.RowDecorator_backgroundHelper_16 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.RowDecorator_base__goldBg_d0 .RowDecorator_backgroundHelper_16 {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(254, 171, 52, 0.1) 15%,
        rgba(254, 171, 52, 0.1) 85%,
        transparent 100%
    );
    top: -1rem;
    bottom: -1rem;
}
.RowDecorator_base__redBg_17 .RowDecorator_backgroundHelper_16 {
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(236, 18, 18, 0.08) 15%,
        rgba(236, 18, 18, 0.08) 85%,
        transparent 100%
    );
}

.HeaderIcon_base_af {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: opacity ease-in-out 0.1s;
}

.HeaderIcon_base__hoverEnabled_ac:hover {
    opacity: 0.8;
}

.HeaderIcon_base__highlighted_de {
    opacity: 1;
}

.HeaderIcon_icon_56 {
    width: 28rem;
    height: 20rem;
    background: no-repeat 50% / contain;
}

.mediaExtraLarge .HeaderIcon_icon_56 {
    width: 48rem;
    height: 48rem;
}

.SortHelper_base_5a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.SortHelper_base__active_ae {
    cursor: pointer;
}

.SortHelper_arrow_5f {
    width: 118rem;
    height: 6rem;
    background: url('R.images.historical_battles.gui.maps.icons.common.teamList.bg.filterArrow') no-repeat 0 / 122rem
        6rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%) rotate(-180deg);
}

.SortHelper_base__sortAsc_7b .SortHelper_arrow_5f {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -6rem;
}

.HeaderRow_base_a5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.HeaderRow_text_ff {
    margin-left: 2rem;
}

.HeaderRow_text__tabWindow_a5 {
    color: #f2f2f7;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    opacity: 0.5;
}

.mediaExtraLarge .HeaderRow_text__tabWindow_a5 {
    color: #f2f2f7;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}

.HeaderRow_text__leaderBoard_f5 {
    color: #f2f2f7;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
    opacity: 0.5;
}

.mediaExtraLarge .HeaderRow_text_ff {
    margin-left: 20rem;
}

.HeaderRow_cell_42 {
    width: 100%;
    height: 100%;
}

.HeaderRow_icon__squad_02 {
    justify-content: flex-start;
    width: 28rem;
    height: 20rem;
}

.TextOverflow_base_3b {
    flex: 0 1 auto;
    width: auto;
    line-height: 1.3;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Badge_base_ac {
    display: flex;
    justify-content: center;
    background: no-repeat center / contain;
}

.Badge_base__default_c9 {
    width: 24rem;
    height: 24rem;
}

.Badge_base__x48_e4 {
    width: 48rem;
    height: 48rem;
}

.PlayerNickname_base_32 {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 0;
}

.PlayerNickname_userName_cc {
    flex: 0 1 auto; /* the only value for correct work */
}

.PlayerNickname_igrIcon_34 {
    background: url('R.images.gui.maps.icons.library.premium_igr_big.png') no-repeat center / contain;
}

.PlayerNickname_base__default_8d .PlayerNickname_igrIcon_34 {
    width: 32rem;
    height: 14rem;
}

.PlayerNickname_base__x48_84 .PlayerNickname_igrIcon_34 {
    width: 64rem;
    height: 28rem;
}

.PlayerNickname_suffixBadgeWrapper_cc {
    display: flex;
    align-items: center;
    position: relative;
}

.PlayerNickname_suffixBadgeStripe_8a {
    background: no-repeat center / contain;
    position: absolute;
    z-index: -1;
}

.PlayerNickname_base__default_8d .PlayerNickname_suffixBadgeStripe_8a {
    width: 64rem;
    height: 24rem;
    right: 12rem;
}

.PlayerNickname_base__default_8d.PlayerNickname_base__inverted_34 .PlayerNickname_suffixBadgeStripe_8a {
    right: auto;
    left: 12rem;
    transform: rotateY(180deg);
}

.PlayerNickname_base__x48_84 .PlayerNickname_suffixBadgeStripe_8a {
    width: 68rem;
    height: 28rem;
    right: 16rem;
}

.PlayerNickname_base__x48_84.PlayerNickname_base__inverted_34 .PlayerNickname_suffixBadgeStripe_8a {
    right: auto;
    left: 16rem;
    transform: rotateY(180deg);
}

.PlayerNickname_suffixBadge_bd {
    background: no-repeat center / contain;
}

.PlayerNickname_base__default_8d .PlayerNickname_suffixBadge_bd {
    width: 24rem;
    height: 24rem;
}

.PlayerNickname_base__x48_84 .PlayerNickname_suffixBadge_bd {
    width: 32rem;
    height: 32rem;
}

.PlayerNickname_anonymizedIcon_80 {
    background: no-repeat center / contain;
}

.PlayerNickname_base__default_8d .PlayerNickname_anonymizedIcon_80 {
    width: 24rem;
    height: 24rem;
    background-image: url('R.images.gui.maps.icons.library.eye.png');
}

.PlayerNickname_base__x48_84 .PlayerNickname_anonymizedIcon_80 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.library.eye_48x48.png');
}

.PlayerInfo_base_b3 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.PlayerInfo_base__solo_ff {
    padding-left: 30rem;
}

.PlayerInfo_nickName_fd {
    flex: 1;
}

.PlayerInfo_userName__withBadge_e0 {
    padding-left: 7rem;
}

.PlayerInfo_clanTag_db {
    max-width: 60rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.PlayerInfo_squad_21 {
    background: no-repeat 50% / contain;
    text-align: center;
}

.PlayerInfo_squad__default_82 {
    color: #f2f2f7;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 18rem;
    height: 24rem;
    margin: 5rem 8rem 0 4rem;
    line-height: 18rem;
}

.PlayerInfo_squad__highContrast_e0 {
    color: #595950;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
    width: 14rem;
    height: 18rem;
    margin: 0 10rem 0 6rem;
    line-height: 14rem;
}

.PlayerInfo_squad__defaultAlly_fd {
    color: #feab34;
}

.mediaExtraLarge .PlayerInfo_squad_21 {
    width: 30rem;
    height: 36rem;
    padding-top: 7rem;
    font-size: 18rem;
}

.PlayerInfo_banIcon_00 {
    width: 16rem;
    height: 16rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: 23rem;
    left: -15rem;
    transform: translateY(-50%);
}

.mediaExtraLarge .PlayerInfo_banIcon_00 {
    width: 24rem;
    height: 24rem;
    top: 31rem;
    left: -22rem;
}

.StatValueDecorator_base_92 {
    white-space: nowrap;
    position: relative;
}

.StatValueDecorator_base__max_13 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}

.mediaExtraLarge .StatValueDecorator_base__max_13 {
    font-size: 24rem;
}

.StatValueDecorator_crown_0a {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 44rem;
    height: 44rem;
    background: no-repeat 50% / contain;
    z-index: 2;
}

.mediaExtraLarge .StatValueDecorator_crown_0a {
    width: 66rem;
    height: 66rem;
}

.StatValueDecorator_amount_5a {
    position: relative;
    z-index: 3;
}

.VehicleInfo_base_8e {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.VehicleInfo_icon_50 {
    width: 16rem;
    height: 16rem;
    margin-left: 7rem;
    margin-right: 7rem;
    background: no-repeat 50% / contain;
}

.mediaExtraLarge .VehicleInfo_icon_50 {
    width: 24rem;
    height: 24rem;
}

.VehicleInfo_label_e9 {
    max-width: 80rem;
}

.VehicleInfo_base__white_ed .VehicleInfo_label_e9 {
    color: #f2f2f7;
}

.mediaExtraLarge .VehicleInfo_label_e9 {
    max-width: 140rem;
}

.VehicleInfo_level_2b {
    margin-left: 20rem;
}

.Level_base_e5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    position: relative;
}

.mediaExtraLarge .Level_base_e5 {
    width: 40rem;
    height: 40rem;
}
.Level_border_0b {
    width: 17rem;
    height: 17rem;
    border-radius: 2rem;
    background: #feb44a;
    position: absolute;
    top: auto;
    left: auto;
    transform: rotate(45deg);
}
.mediaExtraLarge .Level_border_0b {
    width: 28rem;
    height: 28rem;
}
.Level_base__white_80 .Level_border_0b {
    background: #fff;
}
.Level_innerGlow_4c {
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    box-shadow:
        0 5rem 10rem #68000040 inset,
        0 -5rem 10rem #68000040 inset;
    background: rgb(17, 17, 17);
    position: absolute;
    top: auto;
    left: auto;
    transform: rotate(45deg);
}
.mediaExtraLarge .Level_innerGlow_4c {
    width: 26rem;
    height: 26rem;
    box-shadow:
        0 -6rem 12rem rgba(104, 0, 0, 0.25) inset,
        0 6rem 12rem rgba(104, 0, 0, 0.25) inset;
}
.Level_text_ff {
    margin-top: -1rem;
    z-index: 1;
    color: #feb44a;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.mediaExtraLarge .Level_text_ff {
    color: #feb44a;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Level_base__white_80 .Level_text_ff {
    color: #fff;
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.mediaExtraLarge .Level_base__white_80 .Level_text_ff {
    color: #fff;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.PlayerRow_cell_81 {
    margin-bottom: 2rem;
}

.TeamList_base_b7 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mediaExtraLarge .TeamList_base_b7 {
    color: #ced9d9;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    font-weight: 400;
}

.EventStatsApp_base_85 {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    position: relative;
}

.EventStatsApp_overlay_cd {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #141519;
    opacity: 0.85;
}

.EventStatsApp_table_58 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 50rem;
    position: absolute;
}

.mediaMedium .EventStatsApp_table_58 {
    margin-top: 85rem;
}

.mediaLarge .EventStatsApp_table_58 {
    margin-top: -5rem;
}

.mediaExtraLarge .EventStatsApp_table_58 {
    margin-top: -12rem;
}

.EventStatsApp_tableCaption_1d {
    margin-bottom: 38rem;
}
