.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.ImageLayer_base_ea {
    background: no-repeat center / cover;
}

.ResourceLayer_base_fe {
    width: 100%;
    height: 100%;
    position: relative;
}

.ResourceLayer_base_fe .ResourceLayer_layer_59 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ResourceLayer_base_fe .ResourceLayer_layer__video_6a {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.StatisticsButton_base_30 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 105rem;
    height: 32rem;
    border: 1rem solid rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.05) no-repeat center;
    transition:
        background-color 0.2s,
        border-color 0.2s;
    cursor: pointer;
}

.StatisticsButton_base_30:hover {
    border-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(0, 0, 0, 0.1);
}

.StatisticsButton_text_34 {
    color: #f2f2f7;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    padding-right: 7rem;
    opacity: 0.8;
}

.StatisticsButton_icon_06 {
    width: 32rem;
    height: 32rem;
    margin-left: 4rem;
    background: no-repeat center / contain;
}

.Background_base_41 {
    width: 100%;
    height: 100%;
    background: rgba(19, 19, 19, 0.4) no-repeat center / cover;
    backdrop-filter: blur(20px);
    position: relative;
}

.Background_border_ae {
    width: 1rem;
    height: 100%;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, #fff 50.5%, rgba(255, 255, 255, 0.5) 100%)
        no-repeat center / cover;
    opacity: 0.1;
    position: absolute;
    top: 0;
    right: 0;
    transform: rotate(-180deg);
}

.Background_noise_95 {
    width: 100%;
    height: 100%;
    background: no-repeat center / cover;
    opacity: 0.09;
    position: absolute;
    top: 0;
    left: 0;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

.HorizontalBar_base__nonActive_82 {
    visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

.VerticalBar_base__nonActive_42 {
    visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.ScrollWithLips_base_25 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.ScrollWithLips_lip_da {
    width: 864rem;
    height: 176rem;
    background: no-repeat center / cover;
    position: absolute;
    left: 50%;
    z-index: 2;
    pointer-events: none;
}
.ScrollWithLips_lip__top_34 {
    top: -1rem;
    transform: translate(-50%, -50%);
}
.ScrollWithLips_lip__bottom_13 {
    bottom: 0;
    transform: translate(-50%, 50%) rotate(180deg);
}
.ScrollWithLips_scroll_70 {
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}
.ScrollWithLips_scroll__loaded_12 {
    visibility: visible;
}
.ScrollWithLips_scrollContent_1e {
    display: flex;
    justify-content: center;
    width: 100%;
}
.ScrollWithLips_track_38 {
    margin: 0 0 1rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.RewardsCategory_base_89 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 200rem;
    height: 48rem;
    overflow: hidden;
}

.RewardsCategory_base__big_9e {
    width: 288rem;
    height: 80rem;
}

.RewardsCategory_icon_5b {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 48rem;
    height: 48rem;
    margin-right: 8rem;
    background: no-repeat center / cover;
    position: relative;
}

.RewardsCategory_base__big_9e .RewardsCategory_icon_5b {
    width: 80rem;
    height: 80rem;
    margin-right: 16rem;
}

.RewardsCategory_description_19 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.RewardsCategory_name_c3 {
    color: #f2f2f7;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 144rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: 0.8;
    overflow: hidden;
}

.RewardsCategory_base__big_9e .RewardsCategory_name_c3 {
    width: 192rem;
    font-size: 16rem;
}

.RewardsCategory_count_91 {
    color: #fefeec;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
}

.RewardsCategory_count__premium_plus_22,
.RewardsCategory_count__gold_38 {
    color: #ffc363;
}

.RewardsCategory_count__credits_ef {
    color: #ced9d9;
}

.RewardsCategory_count__freeXP_3e,
.RewardsCategory_count__crystal_49 {
    color: #c9c9b6;
}

.RewardsCategory_base__big_9e .RewardsCategory_count_91 {
    font-size: 18rem;
}

.CategoriesList_base_fb {
    display: flex;
    justify-content: center;
    height: 100%;
    overflow: hidden;
}
.CategoriesList_empty_90 {
    color: #f2f2f7;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    opacity: 0.8;
}
.CategoriesList_area_76 {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 312rem;
    height: calc(100vh - 157rem);
}
.mediaMedium .CategoriesList_area_76 {
    height: calc(100vh - 223rem);
}
.CategoriesList_base__wide_57 .CategoriesList_area_76 {
    width: 408rem;
}
.mediaMedium .CategoriesList_base__wide_57 .CategoriesList_area_76 {
    width: 584rem;
}
.CategoriesList_base_fb .CategoriesList_scroll_9f {
    width: auto;
}
.CategoriesList_base_fb .CategoriesList_scrollContent_43 {
    display: flex;
    justify-content: flex-start;
    width: auto;
    padding: 0 40rem;
    position: relative;
}
.mediaMedium .CategoriesList_base_fb .CategoriesList_scrollContent_43 {
    padding: 0 52rem;
}
.CategoriesList_base_fb .CategoriesList_scrollBar_02 {
    height: auto;
    top: 24rem;
    right: 8rem;
    bottom: 24rem;
}
.CategoriesList_base_fb .CategoriesList_lip_25 {
    width: 100%;
    animation: CategoriesList_fadeIn_28 0.3s ease-in;
}
.CategoriesList_reward_0a {
    margin-bottom: 12rem;
}
.CategoriesList_reward__odd_1a {
    margin-right: 4rem;
}
.CategoriesList_base__wide_57 .CategoriesList_reward__odd_1a {
    margin-right: 8rem;
}
@keyframes CategoriesList_fadeIn_28 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.Header_base_e8 {
    display: flex;
    align-items: center;
}

.Header_text_6a {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 5rem;
}

.mediaMedium .Header_text_6a {
    padding-bottom: 7rem;
    font-size: 28rem;
}

.Header_count_5b {
    color: #e9e2bf;
}

.Header_icon_50 {
    width: 24rem;
    height: 24rem;
    background: no-repeat center / cover;
    opacity: 0.5;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.ResetButton_base_d6 {
    width: 100%;
}

.Content_base_5f {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}
.Content_base_5f .Content_header_2f {
    margin: 0 0 16rem 40rem;
}
.mediaMedium .Content_base_5f .Content_header_2f {
    margin: 0 0 28rem 52rem;
}
.Content_base_5f .Content_rewards_c0 {
    height: auto;
    overflow: hidden;
    position: relative;
}
.Content_reset_e1 {
    display: flex;
    min-width: 128rem;
    margin: 24rem 0 0 40rem;
}
.mediaMedium .Content_reset_e1 {
    margin: 40rem 0 0 52rem;
}

.Popover_base_6b {
    display: flex;
    height: 100%;
    transform: translateX(-100%);
    transition: 0.3s ease-in-out transform;
}

.Popover_base__show_a5 {
    transform: translateX(0%);
}
.Popover_wrapper_20 {
    display: flex;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.Popover_close_2a {
    width: 30rem;
    height: 30rem;
    background: no-repeat center/ 13rem 15rem;
    opacity: 0.6;
    position: absolute;
    top: 16rem;
    right: 16rem;
    cursor: pointer;
}
.Popover_close_2a:hover {
    opacity: 0.8;
}
.Popover_base_6b .Popover_background_94 {
    position: absolute;
    top: 0;
    left: 0;
}
.Popover_base_6b .Popover_content_c3 {
    padding: 24rem 0;
}
.mediaMedium .Popover_base_6b .Popover_content_c3 {
    padding: 40rem 0;
}
.Popover_shadow_f7 {
    width: 280rem;
    height: 100%;
    background: radial-gradient(100% 50% at 100% 50%, #111 0%, rgba(17, 17, 17, 0) 100%, rgba(17, 17, 17, 0) 100%)
        no-repeat center / cover;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -280rem;
    transform: rotate(180deg);
    transition: 0.2s ease-in-out opacity;
    pointer-events: none;
}
.Popover_base__show_a5 .Popover_shadow_f7 {
    opacity: 0.6;
    transition: 0.3s ease-in-out opacity 0.1s;
}

@keyframes BigButton_fadeIn_33 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.BigButton_button_76 {
    min-width: 160rem;
    min-height: 48rem;
    padding: 0 32rem;
}
.BigButton_text_35 {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}

@keyframes BigButtonIco_fadeIn_c6 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.BigButtonIco_button_a6 {
    min-width: 160rem;
    min-height: 48rem;
    padding: 0 32rem;
}
.BigButtonIco_text_94 {
    color: #fefeec;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.BigButtonIco_icon_10 {
    display: flex;
    align-items: center;
    width: 16rem;
    height: 16rem;
    margin: 4rem;
    background: no-repeat center / contain;
}

.SubTitle_base_56 {
    color: #f2f2f7;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.mediaMedium .SubTitle_base_56 {
    font-size: 20rem;
}
.mediaExtraLarge .SubTitle_base_56 {
    font-size: 24rem;
}
.SubTitle_base__center_1b {
    text-align: center;
}
.SubTitle_base__left_df {
    text-align: left;
}
.SubTitle_base__right_5c {
    text-align: right;
}

.Title_base_82 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.mediaMedium .Title_base_82 {
    font-size: 56rem;
}
.mediaExtraLarge .Title_base_82 {
    font-size: 73rem;
}

.Header_base_bd {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.GuaranteedNumber_base_73 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin: 0 4rem;
    background: no-repeat center / contain;
    position: relative;
}

.GuaranteedNumber_countBg_cd {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 340rem;
    height: 220rem;
    background: no-repeat center / contain;
    position: absolute;
    z-index: -1;
    pointer-events: none;
}

.GuaranteedNumber_count_e3 {
    color: #f2f2f7;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -2rem;
    text-shadow: 0px 0px 12px #ffa800;
    z-index: 1;
}

.mediaMedium .GuaranteedNumber_count_e3 {
    margin-top: -6rem;
    font-size: 24rem;
}

.GuaranteedNumber_glow_85 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center / contain;
    opacity: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: GuaranteedNumber_light-rotation_46 40s linear infinite;
}

.GuaranteedNumber_glow__reverse_7b {
    animation: GuaranteedNumber_light-rotation-reverse_ac 40s linear infinite;
}

@keyframes GuaranteedNumber_light-rotation_46 {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes GuaranteedNumber_light-rotation-reverse_ac {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(-360deg);
    }
}

.GuaranteedTip_base_07 {
    display: flex;
    align-items: center;
    width: 45rem;
    position: relative;
}

.GuaranteedTip_base__hover_ed {
    width: 250rem;
}
.GuaranteedTip_bg_a1 {
    background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.2) 40.86%,
        rgba(255, 255, 255, 0.2) 71.28%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition:
        opacity 0.2s ease-in-out 0.2s,
        transform 0.2s ease-in-out 0.2s;
}
.GuaranteedTip_base__hover_ed .GuaranteedTip_bg_a1 {
    opacity: 1;
}
.GuaranteedTip_glow_fd {
    width: 160rem;
    height: 80rem;
    background: none no-repeat center / contain;
    opacity: 0;
    position: absolute;
    left: 0;
    animation: GuaranteedTip_fadeInGlow_c0 0.95s ease-out;
    pointer-events: none;
}
.GuaranteedTip_content_7c {
    display: flex;
    align-items: center;
    padding: 8rem;
    mask: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 20rem);
    position: relative;
    z-index: 1;
    pointer-events: none;
}
.GuaranteedTip_image_86 {
    width: 80rem;
    height: 80rem;
    margin-right: 8rem;
    background: no-repeat center / contain;
    opacity: 0.7;
    transform: translateX(-46rem);
    transition:
        opacity 0.3s ease-in-out,
        transform 0.3s ease-in-out;
    animation: GuaranteedTip_rewardAnimation_84 0.8s ease-out 0.15s backwards;
}
.GuaranteedTip_base__hover_ed .GuaranteedTip_image_86 {
    opacity: 1;
    transform: translateX(0rem);
}
.GuaranteedTip_text_e0 {
    width: 132rem;
    opacity: 0;
    transform: translateX(-30rem);
    transition:
        opacity 0.2s ease-in-out 0.2s,
        transform 0.2s ease-in-out 0.2s;
}
.GuaranteedTip_base__hover_ed .GuaranteedTip_text_e0 {
    opacity: 1;
    transform: translateX(0);
}
.GuaranteedTip_description_21 {
    color: #f2f2f7;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.GuaranteedTip_number_42 {
    margin: 0 2rem;
}
@keyframes GuaranteedTip_fadeInGlow_c0 {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    45% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
@keyframes GuaranteedTip_rewardAnimation_84 {
    0% {
        opacity: 0;
        transform: translateX(0) scale(0.9);
    }

    38% {
        opacity: 1;
        transform: scale(1.02);
    }

    100% {
        opacity: 0.7;
        transform: translateX(-46rem) scale(1);
    }
}

.Tab_base_0c {
    display: flex;
    align-items: center;
    position: relative;
}

.Tab_wrapper_11 {
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 2px;
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.1) inset;
    background: rgba(0, 0, 0, 0.1);
    cursor: default;
}

.Tab_base__active_af .Tab_wrapper_11 {
    border: 1px solid;
    border-image: linear-gradient(90deg, #ac802c 0%, #eece63 48.95%, #efd065 48.96%, #ae842e 100%) 1;
    box-shadow:
        0px 0px 15px 0px rgba(238, 80, 3, 0.3) inset,
        0px 0px 6px 0px rgba(255, 42, 0, 0.2) inset,
        0px 0px 15px 0px rgba(238, 80, 3, 0.3),
        0px 0px 6px 0px rgba(255, 42, 0, 0.2);
    background: linear-gradient(180deg, rgba(255, 42, 0, 0.05) 0.01%, rgba(255, 127, 0, 0.15) 100%);
}

.Tab_base__disable_1a .Tab_wrapper_11 {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.Tab_base__default_7e .Tab_wrapper_11 {
    cursor: pointer;
}

.Tab_shadow_1b {
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.07;
    position: absolute;
}

.Tab_image_4e {
    width: 144rem;
    height: 108rem;
    background: rgba(0, 0, 0, 0.2) no-repeat center / contain;
    opacity: 1;
}

.Tab_base__disable_1a .Tab_image_4e {
    opacity: 0.5;
}

.Tab_image__hovered_08 {
    filter: brightness(1.2);
}

.Tab_counter_c4 {
    color: #e9e2bf;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    opacity: 0.7;
    position: absolute;
    right: 8rem;
    bottom: 4rem;
}

.Tab_base__disable_1a .Tab_counter_c4 {
    opacity: 0.2;
}

.Tab_base__active_af .Tab_counter_c4 {
    opacity: 1;
}

.Tab_counter__hovered_7b {
    opacity: 1;
}

.Tab_base_0c .Tab_guaranteedTip_d9 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 100%;
}

.Tabs_base_47 {
    display: flex;
    flex-direction: column;
}

.Tabs_tab_73 {
    margin-top: 12rem;
}

.Tabs_tab__isFirst_d7 {
    margin-top: 0;
}

.Content_base_6c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.Content_base_6c .Content_header_81 {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 16rem;
    right: 0;
    left: 0;
}
.mediaMedium .Content_base_6c .Content_header_81 {
    top: 30rem;
}
.Content_wrapper_6f {
    width: 100%;
    position: relative;
}
.Content_shadow_a1 {
    width: 600rem;
    height: 250rem;
    background-image: radial-gradient(50% 50% at 50% 50%, #000, transparent);
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.Content_content_34 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}
.Content_base_6c .Content_noBoxes_b3 {
    transform: translateY(34rem);
}
.mediaMedium .Content_base_6c .Content_noBoxes_b3 {
    transform: translateY(44rem);
}
.mediaLarge .Content_base_6c .Content_noBoxes_b3 {
    transform: translateY(54rem);
}
.mediaExtraLarge .Content_base_6c .Content_noBoxes_b3 {
    transform: translateY(64rem);
}
.Content_tabs_a1 {
    position: absolute;
    top: 50%;
    left: 20rem;
    z-index: 2;
    transform: translateY(-50%);
}
.mediaMedium .Content_tabs_a1 {
    left: 40rem;
}
.Content_base_6c .Content_subTitle_23 {
    margin-bottom: 28rem;
}
.mediaExtraLarge .Content_base_6c .Content_subTitle_23 {
    margin-bottom: 36rem;
}

.NoBoxesAsset_base_9a {
    width: 275rem;
    height: 150rem;
    background: no-repeat center / contain;
}
.mediaMedium .NoBoxesAsset_base_9a {
    width: 400rem;
    height: 218rem;
}
.mediaLarge .NoBoxesAsset_base_9a {
    width: 450rem;
    height: 246rem;
}
.mediaExtraLarge .NoBoxesAsset_base_9a {
    width: 550rem;
    height: 300rem;
}

@keyframes App_fadeIn_ca {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
.App_base_d8 {
    width: 100%;
    height: 100%;
    background-color: #111;
    opacity: 0;
    overflow: hidden;
    position: relative;
    animation: App_fadeIn_ca 0s 0.25s forwards;
}
.App_base_d8 .App_layer_5f {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.App_infoButtons_24 {
    position: absolute;
    top: 16rem;
    left: 20rem;
    z-index: 1;
}
.mediaMedium .App_infoButtons_24 {
    top: 30rem;
    left: 40rem;
}
.App_infoButtons_24 {
    display: flex;
}
.App_base_d8 .App_statsButton_91 {
    margin-right: 24rem;
}
.App_closeButton_80 {
    position: absolute;
    top: 16rem;
    right: 10rem;
    z-index: 1;
}
.mediaMedium .App_closeButton_80 {
    top: 30rem;
    right: 30rem;
}
.App_popover_43 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}
@keyframes App_fadeIn_ca {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
