.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_91 {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_00 {
    justify-content: flex-start;
}

.ExtendedText_tooltip__justify-center_08 {
    justify-content: center;
}

.ExtendedText_tooltip__justify-flex-end_90 {
    justify-content: flex-end;
}

.ExtendedText_tooltip__align-flex-start_40 {
    align-content: flex-start;
}

.ExtendedText_tooltip__align-center_54 {
    align-content: center;
}

.ExtendedText_tooltip__align-flex-end_d2 {
    align-content: flex-end;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: pre;
    overflow-wrap: normal;
}

.Background_base_94 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50% / cover;
}

.Background_base__blur_69 {
    filter: blur(12px);
}

.Background_base__grayscale_1b {
    filter: grayscale(1);
}

.Background_base__blur_69.Background_base__grayscale_1b {
    filter: blur(10px) grayscale(1);
}

.Background_blur_a9 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50% / cover;
    filter: blur(12px);
}

.Background_vignette_79 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('R.images.story_mode.gui.maps.icons.common.vignette') no-repeat 50% / 100% 100%;
}

.Background_preloader_7d {
    display: none;
}

.BattleButton_base_5c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 158rem;
    height: 50rem;
    cursor: pointer;
}

.BattleButton_base__disabled_23 {
    cursor: default;
}

.BattleButton_bg_bf {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-image: 6 fill / 6rem stretch;
    background: no-repeat 50% / 100% 100%;
}

.BattleButton_bg__base_d9 {
    border-image-source: url('R.images.story_mode.gui.maps.icons.common.battle_button.normal');
}

.BattleButton_base__disabled_23 .BattleButton_bg__base_d9 {
    border-image-source: url('R.images.story_mode.gui.maps.icons.common.battle_button.disabled');
}

.BattleButton_bg__hovered_ed {
    border-image-source: url('R.images.story_mode.gui.maps.icons.common.battle_button.hover');
    opacity: 0;
    transition: opacity 0.2s ease;
}

.BattleButton_base__hovered_6a .BattleButton_bg__hovered_ed {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.BattleButton_bg__pressed_76 {
    border-image-source: url('R.images.story_mode.gui.maps.icons.common.battle_button.down');
    opacity: 0;
    transition: opacity 0.2s ease;
}

.BattleButton_base__pressed_e7 .BattleButton_bg__pressed_76 {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.BattleButton_label_29 {
    color: #f2f2f7;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: -4rem;
    white-space: nowrap;
    filter: drop-shadow(-1rem -1rem 1rem #300);
}

.BattleButton_base__disabled_23 .BattleButton_label_29 {
    opacity: 0.8;
}

.Loading_container_76 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    flex-direction: row;
}

.Loading_spinner_6c {
    width: 24rem;
    height: 24rem;
    margin-top: -2rem;
    background: url('R.images.story_mode.gui.maps.icons.common.load') no-repeat 50% / cover;
    animation: Loading_rotating_44 1.4s linear infinite;
}

@keyframes Loading_rotating_44 {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}

.Lore_base_eb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Lore_content_63 {
    width: 100%;
    height: 310rem;
    position: relative;
}

.mediaLarge .Lore_content_63 {
    height: 374rem;
}

.mediaExtraLarge .Lore_content_63 {
    height: 435rem;
}

.Lore_glow_68 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 1417rem;
    height: 805rem;
    background: url('R.images.story_mode.gui.maps.icons.common.lore.glow') no-repeat 50% / cover;
}

.Lore_glow__top_b7 {
    top: 0;
    transform: translate(-50%, -50%);
}

.Lore_glow__bottom_f7 {
    opacity: 0.6;
    bottom: 0;
    transform: translate(-50%, 50%);
}

.Lore_line_43 {
    width: 1600rem;
    height: 901rem;
    background: url('R.images.story_mode.gui.maps.icons.common.lore.line_extraSmall') no-repeat 50% / cover;
    position: absolute;
    top: -326rem;
    left: 50%;
    transform: translate(-50%);
}

.mediaMedium .Lore_line_43 {
    top: -324rem;
}

.mediaLarge .Lore_line_43 {
    width: 1920rem;
    height: 1080rem;
    background-image: url('R.images.story_mode.gui.maps.icons.common.lore.line_large');
    top: -388rem;
}

.mediaExtraLarge .Lore_line_43 {
    width: 2224rem;
    height: 1251rem;
    background-image: url('R.images.story_mode.gui.maps.icons.common.lore.line_extraLarge');
    top: -448rem;
}

.Lore_photos_ba {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 448rem;
    height: 353rem;
    margin-left: -243rem;
    margin-top: -24rem;
    background: no-repeat 50% / cover;
}

.mediaSmall .Lore_photos_ba {
    width: 558rem;
    height: 440rem;
    margin-left: -295rem;
    margin-top: -69rem;
}

.mediaMedium .Lore_photos_ba {
    width: 650rem;
    height: 513rem;
    margin-left: -355rem;
    margin-top: -105rem;
}

.mediaLarge .Lore_photos_ba {
    width: 790rem;
    height: 624rem;
    margin-left: -434rem;
    margin-top: -129rem;
}

.mediaExtraLarge .Lore_photos_ba {
    width: 1000rem;
    height: 790rem;
    margin-left: -522rem;
    margin-top: -171rem;
}

.Lore_text_6e {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 430rem;
    margin-left: 36rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0, -50%);
}

.mediaSmall .Lore_text_6e {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 520rem;
    margin-left: 57rem;
}

.mediaMedium .Lore_text_6e {
    width: 600rem;
    margin-left: 56rem;
}

.mediaLarge .Lore_text_6e {
    color: #8c8c7e;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
    width: 700rem;
    margin-left: 68rem;
}

.mediaExtraLarge .Lore_text_6e {
    color: #8c8c7e;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
    width: 870rem;
    margin-left: 84rem;
}

.Lore_textLine_f8 {
    display: flex;
    flex-wrap: wrap;
}

.PrebattleWindowApp_base_52 {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.PrebattleWindowApp_header_bb {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 39rem;
}

.mediaMedium .PrebattleWindowApp_header_bb {
    top: 48rem;
}

.mediaLarge .PrebattleWindowApp_header_bb {
    top: 68rem;
}

.PrebattleWindowApp_stage_8e {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    line-height: 1.2;
    opacity: 0.7;
}

.mediaExtraLarge .PrebattleWindowApp_stage_8e {
    color: #e9e2bf;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: -2rem;
    line-height: 1.2;
}

.PrebattleWindowApp_title_2e {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 2rem;
}

.mediaMedium .PrebattleWindowApp_title_2e {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 1rem;
}

.mediaExtraLarge .PrebattleWindowApp_title_2e {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

.PrebattleWindowApp_task_83 {
    color: #8c8c7e;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17rem;
}

.mediaMedium .PrebattleWindowApp_task_83 {
    color: #8c8c7e;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 18rem;
}

.mediaLarge .PrebattleWindowApp_task_83 {
    margin-top: 17rem;
}

.mediaExtraLarge .PrebattleWindowApp_task_83 {
    color: #8c8c7e;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 39rem;
}

.PrebattleWindowApp_attackIcon_2c {
    width: 58rem;
    height: 58rem;
    margin-top: 4rem;
    background: url('R.images.story_mode.gui.maps.icons.prebattle.icons.attack') no-repeat 50% / cover;
}

.PrebattleWindowApp_flagIcon_9d {
    width: 51rem;
    height: 52rem;
    margin-top: 4rem;
    background: url('R.images.story_mode.gui.maps.icons.prebattle.icons.flag') no-repeat 50% / cover;
}

.PrebattleWindowApp_battleButton_e0 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 50rem;
}

.PrebattleWindowApp_continueButton_93 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    min-width: 160rem;
    bottom: 53rem;
}

.PrebattleWindowApp_lore_b6 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    top: 100rem;
}

.mediaMedium .PrebattleWindowApp_lore_b6 {
    top: 94rem;
}

.mediaLarge .PrebattleWindowApp_lore_b6 {
    top: 110rem;
}

.mediaExtraLarge .PrebattleWindowApp_lore_b6 {
    top: 118rem;
}

.PrebattleWindowApp_loading_04 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 45rem;
}
