.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.ExtendedText_tooltip_91 {
    display: flex;
}

.ExtendedText_tooltip__justify-flex-start_00 {
    justify-content: flex-start;
}

.ExtendedText_tooltip__justify-center_08 {
    justify-content: center;
}

.ExtendedText_tooltip__justify-flex-end_90 {
    justify-content: flex-end;
}

.ExtendedText_tooltip__align-flex-start_40 {
    align-content: flex-start;
}

.ExtendedText_tooltip__align-center_54 {
    align-content: center;
}

.ExtendedText_tooltip__align-flex-end_d2 {
    align-content: flex-end;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.renderers_word_f3 {
    white-space: pre;
    overflow-wrap: normal;
}

.ListHeader_base_ad {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 18rem;
}

.ListHeader_title_a8 {
    color: #fefeec;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    align-items: flex-end;
    height: 40rem;
    position: relative;
    bottom: -4rem;
}

.ListHeader_base__memberChange_c2 .ListHeader_title_a8 {
    font-size: 24rem;
    bottom: -3rem;
}

.mediaMedium .ListHeader_base__memberChange_c2 .ListHeader_title_a8 {
    font-size: 28rem;
    bottom: -4rem;
}

.ListHeader_base__tankChange_fb .ListHeader_title_a8,
.ListHeader_base__personalData_aa .ListHeader_title_a8 {
    font-size: 28rem;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__large_5c {
    min-height: 48rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    visibility: inherit;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__large_5c .CButton_content_cc {
    font-size: 18rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.Counter_base_9e {
    display: flex;
    min-width: 14rem;
    height: 14rem;
    position: relative;
    z-index: 0;
    animation: Counter_show_be ease-in-out forwards;
}

.Counter_base__big_19 {
    min-width: 21rem;
    height: 21rem;
}

.Counter_base__small_3b {
    min-width: 13rem;
    height: 13rem;
}

.Counter_base__empty_98 {
    min-width: 6rem;
    height: 6rem;
}

.Counter_base__animated_40 {
    animation-duration: 0.2s;
}

.Counter_base__hidden_56 {
    animation-name: Counter_hide_b6;
}
.Counter_bg_74 {
    border: 1rem solid #fe4e0f;
    border-radius: 7rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 6rem rgba(254, 103, 0, 0.2),
        0 0 12rem 4rem rgba(249, 0, 0, 0.3);
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
.Counter_base__big_19 .Counter_bg_74 {
    border-radius: 11rem;
}
.Counter_base__small_3b .Counter_bg_74 {
    border-radius: 7rem;
}
.Counter_value_3e {
    display: flex;
    padding: 0 4rem;
    color: #fefeec;
    font-size: 11rem;
    line-height: 13rem;
    white-space: nowrap;
}
.Counter_base__big_19 .Counter_value_3e {
    padding: 0 7rem;
    font-size: 14rem;
    line-height: 20rem;
}
.Counter_base__small_3b .Counter_value_3e {
    font-size: 9rem;
    line-height: 12rem;
}
.Counter_value__text_d6 {
    padding: 0 7rem;
}
.Counter_base__big_19 .Counter_value__text_d6 {
    padding: 0 10rem;
}
.Counter_base__small_3b .Counter_value__text_d6 {
    padding: 0 5rem;
    font-size: 10rem;
}
.Counter_base__pattern_71 .Counter_value_3e {
    display: none;
}
.Counter_plus_15 {
    position: relative;
    top: -1rem;
}
.Counter_pattern_83 {
    display: none;
}
.Counter_base__pattern_71 .Counter_pattern_83 {
    display: block;
    border-radius: 50%;
    background-image: url('R.images.gui.maps.icons.components.counter.pattern');
    opacity: 0.8;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
@keyframes Counter_show_be {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes Counter_hide_b6 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

.TankName_base_f1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    line-height: 1.3;
}

.TankName_base__sizeMedium_3a {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.TankName_base__sizBig_a9 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.TankName_base__typeWhite_32 {
    color: #f2f2f7;
}

.TankName_base__typeWhiteSpanish_e2 {
    color: #e9e2bf;
}

.TankName_base__typeWhiteOrange_ac {
    color: #fefeec;
}

.TankName_base__typeColored_bc .TankName_level_bb {
    color: #e9e2bf;
}

.TankName_type_3c {
    width: 42rem;
    height: 38rem;
    background: no-repeat center / contain;
    position: relative;
}

.TankName_type__extraSmall_80 {
    margin: 0 -9rem;
    top: -8rem;
}

.TankName_type__medium_ff {
    top: -16rem;
}

.TankName_type__big_9a {
    top: -10rem;
}

.TankName_type__medium_ff,
.TankName_type__big_9a {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
}

.TankName_type__eliteExtraSmall_74 {
    margin: 0 -6rem;
}

.TankName_type__eliteMedium_10 {
    margin: 0 -16rem;
}

.TankName_type__eliteBig_ac {
    margin: 0 -13rem;
}

.TankName_base__typeColored_bc .TankName_name_56 {
    color: #8c8c7e;
}

.TankName_premiumIGR_25 {
    width: 10rem;
    height: 10rem;
    margin: 0 3rem 0 -2rem;
    background: url('R.images.gui.maps.icons.library.premium_igr_ico') no-repeat center / contain;
    position: relative;
    top: 5rem;
}

.EfficiencyIndicator_base_34 {
    display: flex;
    justify-content: center;
    width: 32rem;
    height: 22rem;
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
    pointer-events: auto;
}

.EfficiencyIndicator_base__big_a1 {
    align-items: center;
    height: 26rem;
}

.EfficiencyIndicator_base__large_dc {
    align-items: center;
    width: auto;
    height: 32rem;
    padding: 0 2rem;
}

.EfficiencyIndicator_base__large_dc.EfficiencyIndicator_base__untrained_cd {
    width: 42rem;
}

.EfficiencyIndicator_percent_6b {
    margin-top: 2rem;
    text-shadow:
        0 0 12rem rgba(255, 0, 0, 0.7),
        0 0 8rem rgba(226, 0, 0, 0.7);
    position: relative;
    color: #ffc3be;
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}

.EfficiencyIndicator_percent__full_30 {
    color: #ffffff;
    text-shadow:
        0 0 15rem rgb(238, 85, 34),
        0 0 8rem rgba(254, 171, 52, 0.6),
        0 0 4rem rgba(255, 127, 0, 0.25);
    letter-spacing: -1rem;
}

.EfficiencyIndicator_base__big_a1 .EfficiencyIndicator_percent_6b {
    position: relative;
    top: -1rem;
}

.EfficiencyIndicator_base__large_dc .EfficiencyIndicator_percent_6b {
    font-size: 22rem;
    position: relative;
    top: -2rem;
}

.EfficiencyIndicator_icon_da {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.crewWidget.slot.untrained') no-repeat center / 44rem 36rem;
}

.AcceleratedTrainingIcon_base_4f {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16rem;
    height: 16rem;
    pointer-events: auto;
}

.AcceleratedTrainingIcon_icon_45 {
    width: 34rem;
    height: 34rem;
    background: url('R.images.gui.maps.icons.crewWidget.slot.speedXpIcon') no-repeat center / contain;
}

.AnimatedLostSkill_base_55 {
    display: flex;
    position: relative;
}

.AnimatedLostSkill_base__c_24x24_d5 {
    width: 24rem;
    height: 24rem;
}

.AnimatedLostSkill_base__c_44x44_72 {
    width: 44rem;
    height: 44rem;
}

.AnimatedLostSkill_icon_d4 {
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.AnimatedLostSkill_base__c_24x24_d5 .AnimatedLostSkill_icon_d4 {
    position: absolute;
    top: -20rem;
    right: -20rem;
    bottom: -20rem;
    left: -20rem;
}

.AnimatedLostSkill_base__c_44x44_72 .AnimatedLostSkill_icon_d4 {
    position: absolute;
    top: -26rem;
    right: -26rem;
    bottom: -26rem;
    left: -26rem;
}

.AnimatedNewSkill_base_0f {
    width: 24rem;
    height: 24rem;
}

.SkillIcon_base_43 {
    display: flex;
    background: no-repeat center / contain;
    position: relative;
}

.SkillIcon_base__c_22x22_14 {
    width: 22rem;
    height: 22rem;
}

.SkillIcon_base__medium_d0 {
    width: 24rem;
    height: 24rem;
}

.SkillIcon_base__c_36x36_flat_7e {
    width: 36rem;
    height: 36rem;
}

.SkillIcon_base__big_ae {
    width: 52rem;
    height: 52rem;
}

.SkillIcon_base__c_80x80_79 {
    width: 80rem;
    height: 80rem;
}

.SkillIcon_base__c_120x90_8c {
    width: 120rem;
    height: 90rem;
}

.SkillIcon_base__dialogs_e5 {
    width: 180rem;
    height: 135rem;
}

.Skill_base_1f {
    display: flex;
    position: relative;
}

.Skill_base__c_24x24_29 {
    width: 24rem;
    height: 24rem;
}

.Skill_base__c_44x44_5a {
    width: 44rem;
    height: 44rem;
}

.Skill_background_02 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    background: rgba(0, 0, 0, 0.3);
}

.Skill_base__borderLightYellow_09 .Skill_background_02 {
    border-color: #ffdd99;
}

.Skill_base__borderYellow_3e .Skill_background_02 {
    border-color: #feab34;
}

.Skill_base__borderRed_d2 .Skill_background_02 {
    border-color: #ff2717;
}

.Skill_base__typeBonus_23 .Skill_background_02 {
    border: none;
    background: no-repeat 0 / cover;
}

.Skill_base__disabled_85 .Skill_background_02 {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0.6;
}

.Skill_base__disabled_85.Skill_base__borderYellow_3e .Skill_background_02 {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.Skill_newSkillHighLight_44 {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background: #ff5c00;
    opacity: 0.25;
}

.Skill_icon_b0 {
    position: absolute;
}

.Skill_base__disabled_85 .Skill_icon_b0 {
    opacity: 0.3;
}

.Skill_base__c_24x24_29 .Skill_icon_b0 {
    width: 22rem;
    height: 22rem;
    top: 1rem;
    left: 1rem;
}

.Skill_base__c_44x44_5a .Skill_icon_b0 {
    width: 34rem;
    height: 34rem;
    top: 5rem;
    left: 5rem;
}

.Skill_disabledOverlay_3b {
    position: absolute;
    top: 1rem;
    right: 1rem;
    bottom: 1rem;
    left: 1rem;
    background: url('R.images.gui.maps.icons.crew.skillsFrame.disabled') center / cover;
}

.LostLevelAnimation_base_f6 {
    display: flex;
    align-items: center;
    width: 0;
    position: relative;
}

.LostLevelAnimation_level_f0 {
    color: #feab34;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    position: absolute;
}

.LostLevelAnimation_level__skillLost_a2 {
    color: #ff2717;
}

.LostLevelAnimation_level__skillBlur_24 {
    text-shadow: 0 0 20rem rgba(255, 255, 255, 0.9);
    filter: blur(5rem);
    opacity: 0;
}

.LostLevelAnimation_base__c_24x24_1c .LostLevelAnimation_level_f0 {
    left: 4rem;
}

.LostLevelAnimation_base__c_44x44_44 .LostLevelAnimation_level_f0 {
    font-size: 24rem;
    left: 6rem;
}

.SkillLevel_base_d2 {
    color: #feab34;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.SkillLevel_base__highlighted_e3 {
    color: #fefeec;
    text-shadow:
        0 0 15rem #e52,
        0 0 8rem #ff2a00,
        0 0 4rem rgba(255, 127, 0, 0.25);
}

.Row_base_bb {
    display: flex;
    align-items: center;
}

.Row_skill_fb {
    overflow: hidden;
}

.Row_skill_fb + .Row_skill_fb {
    margin-left: 2rem;
}

.Row_base__c_44x44_4f .Row_skill_fb + .Row_skill_fb {
    margin-left: 4rem;
}

.Row_base__c_24x24_16.Row_base__collapseNoMargins_13 .Row_skill_fb + .Row_skill_fb {
    margin-left: -1rem;
}

.Row_base__c_24x24_16.Row_base__collapseOverlap_2c .Row_skill_fb + .Row_skill_fb {
    margin-left: 0;
}

.Row_base__c_24x24_16.Row_base__collapseReducedMargins_3b .Row_skill_fb + .Row_skill_fb {
    margin-left: 1rem;
}

.Row_base__c_24x24_16.Row_base__collapseOverlap_2c .Row_skill_fb {
    width: 20rem;
}

.Row_base__c_24x24_16.Row_base__collapseOverlap_2c .Row_skill__last_0a,
.Row_base__c_24x24_16.Row_base__collapseOverlap_2c .Row_skill__lastLearnedSkill_6c {
    width: 24rem;
}

.Row_base__c_24x24_16.Row_base__collapseOverlap_2c .Row_skill__lastLearnedSkill_6c {
    margin-right: 2rem;
}

.Row_base__c_24x24_16.Row_base__collapseOnlyLearningOverlap_19 .Row_skill__stateLearning_5d {
    width: 20rem;
}

.Row_base__c_24x24_16.Row_base__collapseOnlyLearningOverlap_19
    .Row_skill__stateLearning_5d
    + .Row_skill__stateLearning_5d {
    margin-left: 0;
}

.Row_base__c_24x24_16.Row_base__collapseOnlyLearningOverlap_19 .Row_skill_fb.Row_skill__last_0a {
    width: 24rem;
}

.Row_base__c_24x24_16.Row_base__collapseExtraOverlap_10 .Row_skill_fb {
    width: 19rem;
}

.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithLevel_90 .Row_skill_fb,
.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithEfficiency_90 .Row_skill_fb {
    width: 15rem;
}

.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithLevelAndEfficiency_4e .Row_skill_fb {
    width: 14rem;
}

.Row_base__c_24x24_16.Row_base__collapseExtraOverlap_10 .Row_skill__last_0a,
.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithLevel_90 .Row_skill__last_0a,
.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithEfficiency_90 .Row_skill__last_0a,
.Row_base__c_24x24_16.Row_base__collapseExtraOverlapWithLevelAndEfficiency_4e .Row_skill__last_0a {
    width: 24rem;
}

.Row_base__c_24x24_16 .Row_level_56 {
    margin-left: 4rem;
    position: relative;
    top: -1rem;
}

.Row_base__c_44x44_4f .Row_level_56 {
    margin-left: 6rem;
    font-size: 24rem;
}

.Row_acceleratedTrainingIcon_c7 {
    margin-left: 9rem;
}

.Row_lostSkill_32 {
    margin-left: 2rem;
}

.Row_base__c_44x44_4f .Row_lostSkill_32 {
    margin-left: 4rem;
}

.Skills_base_ec {
    display: flex;
    align-items: center;
}

.Skills_efficiency_d0 {
    margin-right: 4rem;
}

.Skills_base__c_44x44_c0 .Skills_efficiency_d0 {
    margin-right: 8rem;
}

.Skills_rows_e8 {
    display: flex;
    flex-direction: column;
}

.Skills_bonusRow_4a {
    margin-top: 2rem;
}

.Skills_base__c_44x44_c0 .Skills_bonusRow_4a {
    margin-top: 4rem;
}

.Content_base_48 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15rem 20rem 14rem;
    pointer-events: none;
}

.Content_base__disabled_e3 {
    opacity: 0.5;
}
.Content_content_cb {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.Content_name_7b {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.Content_name__postProgression_f9 {
    color: #ffffff;
    text-shadow:
        0 0 4rem rgba(251, 120, 0, 0.5),
        0 0 14rem rgba(255, 153, 0, 0.8);
}
.Content_specializationInfo_ac {
    display: flex;
    height: 18rem;
    margin: 5rem 0 9rem;
}
.Content_recruitLabel_17 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.DisabledLayer_base_1b {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.DisabledLayer_disabledContent_81 {
    display: flex;
    align-items: center;
    position: relative;
    top: -6rem;
}

.DisabledLayer_disabledIcon_21 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / cover;
}

.DisabledLayer_disabledTitle_a4 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    margin-left: 2rem;
}

.FlagIcon_base_25 {
    background: no-repeat top center / cover;
}

.FlagIcon_base__c_1080x454_6c {
    width: 1080rem;
    height: 454rem;
}

.FlagIcon_base__c_240x118_92 {
    width: 240rem;
    height: 118rem;
}

.FlagIcon_base__c_155x31_41 {
    width: 155rem;
    height: 31rem;
}

.TankmanIcon_base_f9 {
    background: no-repeat center / contain;
}

.TankmanIcon_base__big_98 {
    width: 158rem;
    height: 118rem;
}

.TankmanIcon_base__small_b2,
.TankmanIcon_base__barracks_62 {
    width: 100rem;
    height: 60rem;
}

.TankmanIcon_base__special_3f {
    width: 444rem;
    height: 300rem;
}

.TankmanIcon_base__c_204x256_97 {
    width: 204rem;
    height: 256rem;
}

.Icon_base_93 {
    display: flex;
    justify-content: center;
    width: 300rem;
    height: 122rem;
    padding-top: 4rem;
    background: no-repeat top / cover;
    overflow: hidden;
    position: relative;
}

.Icon_base__disabled_54 {
    opacity: 0.5;
}
.Icon_flag_ac {
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.DismissedCountdown_base_12 {
    display: flex;
    align-items: center;
    height: 32rem;
    position: relative;
    top: -5rem;
}

.DismissedCountdown_icon_e6 {
    width: 32rem;
    height: 32rem;
    background: url('R.images.gui.maps.icons.components.countdown.clock') no-repeat center / contain;
}

.DismissedCountdown_label_92 {
    color: #ffdd99;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: -2rem;
}

.Location_base_4d {
    display: flex;
}

.Location_icon_eb {
    width: 34rem;
    height: 24rem;
    background: no-repeat center / cover;
}

.Role_base_68 {
    width: 24rem;
    height: 24rem;
    display: flex;
    background: no-repeat center / cover;
}

.Role_base__disabled_8c {
    opacity: 0.5;
}

.TankmanCard_base_dd {
    display: flex;
    flex-direction: column;
    width: 300rem;
    height: 247rem;
    border-radius: 6rem;
    background-color: rgba(255, 255, 255, 0.05);
    position: relative;
    cursor: pointer;
}

.TankmanCard_base__default_72:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.TankmanCard_base__disabled_1f {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: default;
}

.TankmanCard_base__disabled_1f .TankmanCard_icon_a5 {
    z-index: -1;
}
.TankmanCard_cardContent_79 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6rem;
}
.TankmanCard_base__disabled_1f .TankmanCard_cardContent_79 {
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
}
.TankmanCard_disabledLayer_25 {
    z-index: 1;
}
.TankmanCard_role_02 {
    position: absolute;
    top: 8rem;
    left: 10rem;
}
.TankmanCard_location_3f {
    position: absolute;
    top: 10rem;
    right: 10rem;
}
.TankmanCard_separatorWrapper_fe {
    display: flex;
    flex-direction: column;
    margin-top: -1rem;
}
.TankmanCard_separator_73 {
    height: 1rem;
    background: linear-gradient(90deg, transparent 0%, rgba(255, 255, 255, 0.2) 50%, transparent 100%);
}
.TankmanCard_separator__top_72 {
    background: linear-gradient(90deg, transparent 0%, rgba(0, 0, 0, 0.5) 48.96%, transparent 100%);
}
.TankmanCard_actions_b5 {
    display: flex;
    position: absolute;
    right: 10rem;
    bottom: 10rem;
}
.TankmanCard_newMark_9b {
    position: absolute;
    top: -6rem;
    right: 20rem;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    visibility: hidden;
    position: relative;
}

.HorizontalBar_base__active_5e {
    visibility: visible;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    visibility: hidden;
    position: relative;
}

.VerticalBar_base__active_72 {
    visibility: visible;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: none;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.VirtualGrid_base_52 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.VirtualGridWithFade_scrollAreaFade_94 {
    mask-image: linear-gradient(0deg, transparent 14rem, #d9d9d9 100rem);
}

.TankmanVirtualList_grid_41 {
    margin: 0 -9rem;
}

.JunkTankmanCard_base_f0 {
    margin: 0 9rem 18rem;
    cursor: default;
}

.JunkTankmanList_base_8c {
    display: flex;
    flex-direction: column;
    flex: 0;
    padding-bottom: 20rem;
}
.JunkTankmanList_gridWrapper_11 {
    flex: 1;
    width: 959rem;
    margin-right: -23rem;
}
.mediaSmall .JunkTankmanList_gridWrapper_11 {
    width: 1281rem;
    margin-right: -27rem;
}
.mediaExtraLarge .JunkTankmanList_gridWrapper_11 {
    width: 1599rem;
}
.JunkTankmanList_grid_3d {
    flex: 1;
}
.JunkTankmanList_gridInner_d2 {
    justify-content: center;
}
.JunkTankmanList_confirmButtonSection_ea {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 18rem 0 5rem;
    padding-top: 44rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.mediaSmallWidth .JunkTankmanList_confirmButtonSection_ea {
    margin: 0 20rem 0 8rem;
}
.mediaLargeWidth .JunkTankmanList_confirmButtonSection_ea {
    padding-top: 62rem;
}
.JunkTankmanList_confirmButton_1c {
    padding: 6rem 45rem 7rem;
}

.JunkTankmenApp_base_a5 {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.windows.background') no-repeat center / cover;
    position: relative;
}
.JunkTankmenApp_close_b3 {
    text-transform: uppercase;
    position: absolute;
    top: 11rem;
    right: 9rem;
}
.mediaMedium .JunkTankmenApp_close_b3 {
    top: 29rem;
    right: 31rem;
}
.JunkTankmenApp_content_62 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 936rem;
    padding: 55rem 0 30rem;
    opacity: 0;
    position: relative;
    transition: opacity 0.2s ease-in-out;
}
.JunkTankmenApp_content__ready_9a {
    opacity: 1;
}
.mediaSmall .JunkTankmenApp_content_62 {
    width: 1254rem;
    padding: 59rem 0 25rem;
}
.mediaLarge .JunkTankmenApp_content_62 {
    padding: 85rem 0 75rem;
}
.mediaExtraLarge .JunkTankmenApp_content_62 {
    width: 1572rem;
}
.JunkTankmenApp_header_9d {
    flex-direction: column;
    align-items: center;
    padding-bottom: 24rem;
}
.mediaSmall .JunkTankmenApp_header_9d {
    padding-bottom: 28rem;
}
.mediaLarge .JunkTankmenApp_header_9d {
    padding-bottom: 30rem;
}
.JunkTankmenApp_description_e5 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    max-width: 740rem;
    margin-top: 18rem;
}
.mediaLarge .JunkTankmenApp_description_e5 {
    margin-top: 22rem;
}
.JunkTankmenApp_xpIcon_80 {
    width: 18rem;
    height: 18rem;
    background: url('R.images.gui.maps.icons.library.XpCostIcon') no-repeat center / cover;
    transform: translateY(3rem);
}
