.PaginationRender_base_a81c5 {
    display: flex;
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    justify-content: center;
    border: 1rem solid rgba(233, 226, 191, 0.3);
    border-radius: 2rem;
    line-height: 1.1;
    position: relative;
    cursor: pointer;
}

.PaginationRender_base_a81c5:hover {
    border-color: rgba(233, 226, 191, 0.5);
    color: #e9e2bf;
}

.PaginationRender_base__completed_fc299 {
    border-color: rgba(128, 212, 58, 0.3);
    color: #80d43a;
}

.PaginationRender_base__completed_fc299:hover {
    border-color: rgba(128, 212, 58, 0.5);
    color: #80d43a;
}

.PaginationRender_base__inaccessible_f4d4d {
    border-color: rgba(255, 39, 23, 0.3);
    color: #ff2717;
}

.PaginationRender_base__inaccessible_f4d4d:hover {
    border-color: rgba(255, 39, 23, 0.5);
    color: #ff2717;
}

.PaginationRender_base__selected_e60f3 {
    border-color: transparent;
    color: #e9e2bf;
}

.PaginationRender_base__selected_e60f3:hover {
    border-color: transparent;
    color: #e9e2bf;
}

.PaginationRender_selectedImage_f0b4c {
    width: 48rem;
    height: 38rem;
    background: url('R.images.gui.maps.icons.components.pagination.item_select') no-repeat center / contain;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.PaginationList_base_eac51 {
    display: flex;
    flex-direction: row;
}

.PaginationList_item_c0ab7 {
    width: 30rem;
    height: 20rem;
    margin-right: 10rem;
}

.PaginationList_item__last_b0c5a {
    margin-right: 0;
}

.PaginationArrowButton_base_adcab {
    display: flex;
    width: 50rem;
    position: relative;
}

.PaginationArrowButton_icon_d0c47 {
    width: 100%;
    height: 100rem;
    background: url('R.images.gui.maps.icons.components.pagination.arrow') no-repeat center / contain;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: opacity linear 0.2s;
    cursor: pointer;
}

.PaginationArrowButton_icon__back_aaeda {
    transform: translate(-50%, -50%);
}

.PaginationArrowButton_icon__forward_d958d {
    transform: translate(-50%, -50%) rotate(180deg);
}

.PaginationArrowButton_base__locked_d7a97 .PaginationArrowButton_icon_d0c47 {
    background-image: url('R.images.gui.maps.icons.components.pagination.arrow_disable');
    cursor: default;
}

.PaginationArrowButton_base_adcab:hover .PaginationArrowButton_icon_d0c47 {
    opacity: 1;
}

.PaginationArrowButton_base__locked_d7a97:hover .PaginationArrowButton_icon_d0c47 {
    opacity: 0.8;
}

.Pagination_base_c7c8a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Pagination_content_dcbcb {
    display: flex;
}

.Pagination_list_b60a1 {
    margin-top: 50rem;
}

.TextButton_base_a231c {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_bfac3 {
    flex-direction: row-reverse;
}
.TextButton_icon_cdfc0 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_fc1bb,
.TextButton_icon__forward_efa2d {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_efa2d {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_e2f0f {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_e32c0 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_d6e04 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_fc1bb .TextButton_glow_d6e04,
.TextButton_icon__forward_efa2d .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_e2f0f .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_e32c0 .TextButton_glow_d6e04 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_a231c:hover .TextButton_glow_d6e04 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_glow_d6e04 {
    opacity: 0;
}
.TextButton_caption_f4e8d {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_d358d,
.TextButton_caption__forward_ff93d,
.TextButton_caption__close_fc554 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_a231c:hover .TextButton_caption__back_d358d,
.TextButton_base_a231c:hover .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:hover .TextButton_caption__close_fc554 {
    color: #fffa9f;
}
.TextButton_base_a231c:active .TextButton_caption__back_d358d,
.TextButton_base_a231c:active .TextButton_caption__forward_ff93d,
.TextButton_base_a231c:active .TextButton_caption__close_fc554 {
    color: #ffdd99;
}
.TextButton_caption__info_c263a {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:hover .TextButton_caption__info_c263a {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_a231c:active .TextButton_caption__info_c263a {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_d3960 {
    color: #7c7c6c;
}
.TextButton_base__left_ec79d .TextButton_goto_d3960 {
    margin-left: 8rem;
}
.TextButton_base__right_bfac3 .TextButton_goto_d3960 {
    margin-right: 8rem;
}
.TextButton_shine_f8873 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ec79d .TextButton_shine_f8873 {
    left: -4rem;
}
.TextButton_base__right_bfac3 .TextButton_shine_f8873 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_a231c:hover .TextButton_shine_f8873 {
    opacity: 1;
}
.TextButton_base_a231c:active .TextButton_shine_f8873 {
    opacity: 0;
}

.Table_base_f5005 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.Table_row_a10cb {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Table_row__head_f3fc1 {
    height: 34rem;
    background: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.2), transparent);
}

.mediaMedium .Table_row__head_f3fc1 {
    height: 40rem;
}

.mediaLarge .Table_row__head_f3fc1 {
    height: 48rem;
}

.Table_row__content_bbeaf {
    padding-top: 15rem;
}

.mediaMedium .Table_row__content_bbeaf {
    padding-top: 17rem;
}

.mediaLarge .Table_row__content_bbeaf {
    padding-top: 25rem;
}

.Table_cell_aefb0 {
    display: flex;
    justify-content: center;
    width: 130rem;
}

.Table_cell__text_a051f {
    color: #c9c9b6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    justify-content: flex-start;
    width: 170rem;
}

.Table_cell__text_a051f[lang='fi'] {
    width: 200rem;
}

.Table_cell__text_a051f[lang='no'] {
    width: 250rem;
}

.Table_cell__wide_ca907 {
    width: 250rem;
}

.Table_cell__wide_ca907[lang='fi'] {
    width: 285rem;
}

.Table_cell__wide_ca907[lang='no'] {
    width: 250rem;
}

.Table_cell__inFirstRow_a0b1a {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.Table_points_c469c {
    color: #e9e2bf;

    font-size: 18rem;

    font-weight: 700;

    line-height: 1.1;
    display: flex;
    justify-content: flex-end;
    width: 36rem;
    height: 18rem;
    padding-right: 25rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.points_24') no-repeat 100% / contain;
    line-height: 0.8;
    overflow-wrap: normal;
}

.mediaMedium .Table_points_c469c {
    width: 42rem;
    height: 24rem;
    padding-right: 30rem;
    background-image: url('R.images.gui.maps.icons.battlePass.tooltips.points_24');
    line-height: 1;
}

.mediaLarge .Table_points_c469c {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    line-height: 0.8;
}

.CButton_base_bb13f {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_dd05d,
.CButton_base__primary_c75a2,
.CButton_base__primaryGreen_ae65b,
.CButton_base__primaryRed_b1341,
.CButton_base__secondary_f2c20 {
    background-size: 100% 100%;
}

.CButton_base__main_dd05d {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_c75a2 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_ae65b {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_b1341 {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_f2c20 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_f452b {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_e1273 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_c20a3,
.CButton_base__medium_ef59a {
    padding: 0 20rem;
}

.CButton_base__small_c20a3 {
    min-height: 18rem;
}

.CButton_base__medium_ef59a {
    min-height: 32rem;
}

.CButton_base__large_bafd5 {
    min-height: 48rem;
}

.CButton_base__disabled_eef7a {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira.wargaming.net/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e957b {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_dd05d .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_c75a2 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_ae65b .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_b1341 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_f2c20 .CButton_back_e957b {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_ccd7e {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_f2bb4 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_b0875 .CButton_state_f2bb4 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_bd0cb,
.CButton_stateHighlightActive_e9a8a,
.CButton_stateDisabled_ed209 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_stateHighlightHover_bd0cb {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
    opacity: 0;
}
.CButton_base_bb13f:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 1;
}
.CButton_base_bb13f:active .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__disabled_eef7a:hover .CButton_stateHighlightHover_bd0cb {
    opacity: 0;
}
.CButton_base__ghost_f452b .CButton_stateHighlightHover_bd0cb {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_e9a8a {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
    opacity: 0;
}
.CButton_base__highlightActive_db27d .CButton_stateHighlightActive_e9a8a {
    opacity: 1;
}
.CButton_stateDisabled_ed209 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem 15rem;
    visibility: hidden;
}
.CButton_base__disabled_eef7a .CButton_stateDisabled_ed209 {
    visibility: inherit;
}
.CButton_content_a99fc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_a99fc[lang='ja'],
.CButton_content_a99fc[lang='ko'],
.CButton_content_a99fc[lang='zh_tw'],
.CButton_content_a99fc[lang='zh_sg'],
.CButton_content_a99fc[lang='zh_cn'],
.CButton_content_a99fc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_dd05d .CButton_content_a99fc,
.CButton_base__primaryRed_b1341 .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_f2c20 .CButton_content_a99fc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_ae65b .CButton_content_a99fc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_e1273 .CButton_content_a99fc {
    font-size: 12rem;
}
.CButton_base__small_c20a3 .CButton_content_a99fc {
    font-size: 14rem;
}
.CButton_base__medium_ef59a .CButton_content_a99fc {
    font-size: 15rem;
}
.CButton_base__large_bafd5 .CButton_content_a99fc {
    font-size: 18rem;
}
.CButton_base__disabled_eef7a .CButton_content_a99fc {
    opacity: 0.6;
}

.FormatText_base_f27a4 {
    display: flex;
    flex-wrap: wrap;
}

.VehicleInfo_base_ccf15 {
    display: flex;
    align-items: center;
    background: left center no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
    line-height: 1;
}

.VehicleInfo_base__level1_ce595 {
    padding-left: 9rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_1');
    background-size: 9rem 16rem;
}

.VehicleInfo_base__level2_b9ad7 {
    padding-left: 12rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_2');
    background-size: 12rem 16rem;
}

.VehicleInfo_base__level3_f301a {
    padding-left: 15rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_3');
    background-size: 15rem 16rem;
}

.VehicleInfo_base__level4_c0677 {
    padding-left: 16rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_4');
    background-size: 16rem 16rem;
}

.VehicleInfo_base__level5_f359a {
    padding-left: 14rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_5');
    background-size: 14rem 16rem;
}

.VehicleInfo_base__level6_da786 {
    padding-left: 17rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_6');
    background-size: 17rem 16rem;
}

.VehicleInfo_base__level7_fb18f {
    padding-left: 20rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_7');
    background-size: 20rem 16rem;
}

.VehicleInfo_base__level8_bbf99 {
    padding-left: 23rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_8');
    background-size: 23rem 16rem;
}

.VehicleInfo_base__level9_ec941 {
    padding-left: 17rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_9');
    background-size: 17rem 16rem;
}

.VehicleInfo_base__level10_f9f6c {
    padding-left: 15rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_10');
    background-size: 15rem 16rem;
}

.VehicleInfo_base__level11_d171c {
    padding-left: 17rem;
    background-image: url('R.images.gui.maps.icons.levels.tank_level_11');
    background-size: 17rem 16rem;
}

.VehicleInfo_vehicleType_b95e7 {
    width: 16rem;
    height: 16rem;
    background: no-repeat center / contain;
}

.VehicleInfo_vehicleType__elite_ff2b2 {
    width: 24rem;
    height: 24rem;
    margin: 2rem 0 0 -2rem;
}

.VehicleInfo_vehicleName_af680 {
    color: #c9c9b6;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin-left: 3rem;
    text-shadow: 0 0 5px rgba(201, 201, 182, 0.5);
}

.VehicleList_base_e61ce {
    line-height: normal;
}
/* please use Separator component (gameface/src/views/lobby/battle_pass/tooltips/sharedComponents/Separator)*/
/* instead of this one*/
.VehicleList_separator_a8c05 {
    width: 283rem;
    height: 1rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Devider_points') 50% / contain no-repeat;
}
/* please use Rewards component (gameface/src/views/lobby/battle_pass/tooltips/sharedComponents/Rewards)*/
/* instead of this one*/
.VehicleList_rewards_a461a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 403rem;
    height: 154rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.Ribbon_large') bottom / cover no-repeat;
    color: #c9c9b6;
    font-size: 14rem;
}
.VehicleList_base_e61ce {
    display: flex;
    flex-direction: column;
}
.VehicleList_info_f04a5 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    height: 28rem;
}
.VehicleList_points_d81b9 {
    display: flex;
    align-items: flex-end;
    height: 16rem;
    padding-right: 18rem;
    background: url('R.images.gui.maps.icons.battlePass.tooltips.points_16') no-repeat 100% / contain;
    color: #7ab300;
    position: relative;
    top: 1rem;
}
.VehicleList_top_fe75c {
    color: #ffdd99;
}

.Card_base_ca27c {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150rem;
    margin: 0;
    text-align: center;
    position: relative;
    z-index: 1;
}
.mediaMedium .Card_base_ca27c {
    margin: 0 32rem;
}
.Card_base__small_b7a41 {
    width: 320rem;
}

.Card_text_f3460 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    width: 315rem;
    margin: 10rem 0;
    position: relative;
}

.mediaSmall .Card_text_f3460 {
    margin: 5rem 0 10rem;
}

.mediaMedium .Card_text_f3460 {
    width: 320rem;
    margin: -5rem 0 10rem;
}

.mediaLarge .Card_text_f3460 {
    margin: 15rem 0;
}

.Card_image_cedf3 {
    width: 80rem;
    height: 80rem;
    margin-top: 10rem;
    background: no-repeat 50% / contain;
    position: relative;
}

.mediaMedium .Card_image_cedf3 {
    width: 136rem;
    height: 136rem;
    margin-top: -10rem;
}

.Card_vehicleBonusListContainer_ae0d0 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80rem;
    margin-top: 10rem;
}

.mediaMedium .Card_vehicleBonusListContainer_ae0d0 {
    height: 136rem;
    margin-top: -10rem;
}

.Card_backgroundImage_f50b7 {
    width: 157rem;
    height: 157rem;
    background: no-repeat 50% / cover;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}

.mediaMedium .Card_backgroundImage_f50b7 {
    width: 210rem;
    height: 210rem;
}

.Card_cardTitle_e7f63 {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    width: 315rem;
    margin: 0 10rem;
    text-align: center;
    position: relative;
}

.mediaMedium .Card_cardTitle_e7f63 {
    width: 320rem;
    margin: 0 32rem;
}

.mediaLarge .Card_cardTitle_e7f63 {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 15rem;
}

.Slide_base_f0d04 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 700rem;
    height: 100%;
    position: relative;
}
.mediaExtraLarge .Slide_base_f0d04 {
    margin-top: -50rem;
}

.Slide_container_be24e {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.Slide_tableBackground_fd94d {
    width: 1024rem;
    height: 250rem;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.3) 50%, transparent);
    position: absolute;
    top: 199rem;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}

.mediaMedium .Slide_tableBackground_fd94d {
    height: 306rem;
    top: 243rem;
}

.mediaLarge .Slide_tableBackground_fd94d {
    height: 365rem;
    top: 278rem;
}

.mediaExtraLarge .Slide_tableBackground_fd94d {
    top: 368rem;
}

.Slide_tableContainer_ae02e {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 260rem;
    margin-top: 215rem;
    position: relative;
}

.mediaMedium .Slide_tableContainer_ae02e {
    height: 306rem;
    margin-top: 275rem;
}

.mediaLarge .Slide_tableContainer_ae02e {
    height: 365rem;
    margin-top: 310rem;
}

.mediaExtraLarge .Slide_tableContainer_ae02e {
    margin-top: 400rem;
}

.Slide_titleContainer_cc418 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 62rem;
    margin-top: -7rem;
    text-align: center;
    position: relative;
}

.mediaMedium .Slide_titleContainer_cc418 {
    margin-bottom: 7rem;
}

.mediaLarge .Slide_titleContainer_cc418 {
    margin-bottom: 27rem;
}

.Slide_titleImage_ca3a7 {
    width: 80rem;
    height: 80rem;
    background: no-repeat center/ contain;
    position: absolute;
    top: 0;
    transform: translateY(-70%);
    mask-image: linear-gradient(#000 0%, #000 50%, transparent 70%);
    mask-repeat: no-repeat;
}

.mediaMedium .Slide_titleImage_ca3a7 {
    width: 136rem;
    height: 136rem;
}

.Slide_title_e0032 {
    color: #f2f2f7;

    font-size: 22rem;

    font-weight: 700;

    line-height: 1.2;
    margin-bottom: 2rem;
    position: relative;
}

.mediaMedium .Slide_title_e0032 {
    color: #f2f2f7;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 6rem;
}

.Slide_description_f4dc5 {
    color: #e9e2bf;

    font-size: 14rem;

    font-weight: 400;

    line-height: 1.3;
    height: 22rem;
}

.mediaLarge .Slide_description_f4dc5 {
    margin-top: 5rem;
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Slide_cards_ceb85 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.Slide_cardsWrapper_d00a3 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* colors*/

/* buttons*/

@keyframes App_fadeOut_edb83 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes App_fadeIn_bcee9 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes App_fadeInWithScale_e639f {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes App_slideUp_cd45f {
    0% {
        opacity: 0;
        transform: translateY(20rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes App_scale_b1c6d {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes App_rotate_d6f67 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.App_base_e3abd {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.App_animationMain_ce4d6 {
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: App_fadeIn_bcee9 0.4s ease-in 0.4s 1 forwards;
}

.App_mainBg_c858c {
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.battlePass.backgrounds.common') left top / cover no-repeat;
    filter: blur(3px);
}

.App_dimBg_c6a9e {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.App_close_bcdc6 {
    position: absolute;
    top: 40rem;
    right: 40rem;
}

.App_titleContainer_d9803 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 785rem;
    text-align: center;
    position: absolute;
    top: 50rem;
    left: 50%;
    transform: translateX(-50%);
}

.mediaExtraLarge .App_titleContainer_d9803 {
    top: 96rem;
}

.App_title_d5398 {
    color: #f2f2f7;

    font-size: 22rem;

    font-weight: 700;

    line-height: 1.2;
    margin-bottom: 10rem;
}

.mediaMedium .App_title_d5398 {
    color: #f2f2f7;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.App_description_e59f3 {
    color: #c9c9b6;

    font-size: 14rem;

    font-weight: 400;

    line-height: 1.3;
    width: 700rem;
}

.mediaLarge .App_description_e59f3 {
    color: #c9c9b6;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    width: 780rem;
}

.App_pagination_f781d {
    position: absolute;
    top: 50rem;
    bottom: 85rem;
    left: 50%;
    transform: translateX(-50%);
}

.mediaExtraLarge .App_pagination_f781d {
    bottom: 135rem;
}

.App_animationBg_b78c8 {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    animation:
        App_fadeIn_bcee9 0.3s ease-out 0s 1 forwards,
        App_changeBackground_d007a 0s linear 0.6s 1 forwards;
}

@keyframes App_changeBackground_d007a {
    0% {
        background-color: #000;
    }

    100% {
        background-color: #261f19;
    }
}
