.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

.Header_base_37 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Header_textContainer_22 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Header_mainTitle_85 {
    color: #fefeec;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}

.mediaMedium .Header_mainTitle_85 {
    color: #fefeec;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
    margin-top: 9rem;
}

.mediaExtraLarge .Header_mainTitle_85 {
    color: #fefeec;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}

.Header_subTitle_fb {
    color: #fefeec;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaSmall .Header_subTitle_fb {
    color: #fefeec;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.mediaMedium .Header_subTitle_fb {
    margin-top: 9rem;
}

.mediaLarge .Header_subTitle_fb {
    color: #fefeec;
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}

.HorizontalBar_base_49 {
    display: flex;
    width: 100%;
    height: 13rem;
    position: relative;
}

.HorizontalBar_base__nonActive_82 {
    visibility: hidden;
}

.HorizontalBar_base_49 .disable,
.HorizontalBar_base_49 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.HorizontalBar_leftButton_5f,
.HorizontalBar_rightButton_03 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transform: rotate(-90deg);
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_leftButton_5f:hover,
.HorizontalBar_rightButton_03:hover {
    opacity: 1;
}

.HorizontalBar_leftButton_5f {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.HorizontalBar_rightButton_03 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.HorizontalBar_track_0d {
    flex: 1;
    margin: 0 1rem;
    position: relative;
    cursor: pointer;
}

.HorizontalBar_thumb_fd {
    display: none;
    flex: 0 0 100%;
    width: 100%;
    min-width: 20rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal') no-repeat center / 8rem
        7rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.HorizontalBar_thumb_fd:hover {
    opacity: 1;
}

.HorizontalBar_rail_32 {
    height: 0;
    border-top: 1rem solid #2f2e24;
    position: absolute;
    top: 6rem;
    right: 5rem;
    left: 5rem;
}

.HorizontalBar_rail_32:hover {
    opacity: 0.7;
}

.HorizontalScroll_base_29 {
    width: 100%;
}

.HorizontalScroll_wrapper_1e {
    display: flex;
    width: 100%;
    overflow-x: hidden;
}

.HorizontalScroll_defaultScrollArea_8d {
    width: 100%;
    margin-bottom: 7rem;
}

.VerticalBar_base_f3 {
    display: flex;
    flex-direction: column;
    width: 13rem;
    height: 100%;
    position: relative;
}

.VerticalBar_base__nonActive_42 {
    visibility: hidden;
}

.VerticalBar_base_f3 .disable,
.VerticalBar_base_f3 .disable:hover {
    opacity: 0.3;
    cursor: default;
}

.VerticalBar_topButton_d7,
.VerticalBar_bottomButton_06 {
    width: 13rem;
    height: 13rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: no-repeat center / 7rem 5rem;
    opacity: 0.5;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_topButton_d7:hover,
.VerticalBar_bottomButton_06:hover {
    opacity: 1;
}

.VerticalBar_topButton_d7 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}

.VerticalBar_bottomButton_06 {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}

.VerticalBar_track_df {
    flex: 1;
    margin: 1rem 0;
    position: relative;
    cursor: pointer;
}

.VerticalBar_thumb_32 {
    display: flex;
    flex: 0 0 13rem;
    width: 13rem;
    height: 100%;
    min-height: 20rem;
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    background: #26241b url('R.images.gui.maps.icons.components.scroll_area.thumb') no-repeat center / 7rem 8rem;
    opacity: 0.5;
    position: absolute;
    z-index: 1;
    transition: opacity 130ms linear;
    cursor: pointer;
}

.VerticalBar_thumb_32:hover {
    opacity: 1;
}

.VerticalBar_rail_43 {
    width: 0;
    height: 100%;
    border-left: 1rem solid #2f2e24;
    border-top: 5rem solid transparent;
    border-bottom: 5rem solid transparent;
    position: absolute;
    top: 0;
    left: 6rem;
    z-index: 0;
}

.VerticalBar_rail_43:hover {
    opacity: 0.7;
}

.VerticalScroll_content_cb {
    height: 100%;
    overflow-y: hidden;
}

.VerticalScroll_defaultScroll_f8 {
    display: flex;
}

.VerticalScroll_bar_1e {
    flex: 1;
    margin-left: 7rem;
}

.VerticalScroll_area_af {
    flex: 1;
}

.LevelsRewards_base_35 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 47rem;
    position: relative;
    mask-image: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 9%,
        rgba(196, 196, 196, 0.1) 10%,
        #c4c4c4 12%,
        #c4c4c4 95%,
        rgba(196, 196, 196, 0.1) 97%,
        rgba(196, 196, 196, 0) 99%
    );
}

.mediaSmall .LevelsRewards_base_35 {
    padding-top: 40rem;
}

.mediaMedium .LevelsRewards_base_35 {
    padding-top: 54rem;
    mask-image: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 8%,
        rgba(196, 196, 196, 0.1) 9%,
        #c4c4c4 11%,
        #c4c4c4 97%,
        rgba(196, 196, 196, 0.1) 99%,
        rgba(196, 196, 196, 0) 100%
    );
}

.LevelsRewards_base__centered_05 {
    mask-image: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 1%,
        rgba(196, 196, 196, 0.1) 3%,
        #c4c4c4 5%,
        #c4c4c4 95%,
        rgba(196, 196, 196, 0.1) 97%,
        rgba(196, 196, 196, 0) 99%
    );
}

.mediaMedium .LevelsRewards_base__centered_05 {
    mask-image: linear-gradient(
        90deg,
        rgba(196, 196, 196, 0) 0%,
        rgba(196, 196, 196, 0.1) 1%,
        #c4c4c4 4%,
        #c4c4c4 96%,
        rgba(196, 196, 196, 0.1) 99%,
        rgba(196, 196, 196, 0) 100%
    );
}

.LevelsRewards_header_88 {
    margin-bottom: -8rem;
}

.LevelsRewards_rewards_05 {
    display: flex;
    justify-content: flex-start;
    flex: 1;
}

.mediaExtraLargeWidth .LevelsRewards_rewards_05 {
    justify-content: center;
}

.LevelsRewards_base__centered_05 .LevelsRewards_rewards_05 {
    justify-content: center;
}

.LevelsRewards_scrollArea_6e {
    display: flex;
    margin-left: 130rem;
    margin-top: 60rem;
    margin-right: 60rem;
}

.mediaSmall .LevelsRewards_scrollArea_6e {
    margin-left: 180rem;
    margin-right: 80rem;
}

.mediaMedium .LevelsRewards_scrollArea_6e {
    margin-left: 200rem;
    margin-right: 100rem;
}

.mediaLarge .LevelsRewards_scrollArea_6e {
    margin-top: 140rem;
}

.mediaExtraLarge .LevelsRewards_scrollArea_6e {
    margin-left: 200rem;
    margin-right: 150rem;
}

.LevelsRewards_base__centered_05 .LevelsRewards_scrollArea_6e {
    margin-left: 60rem;
}

.mediaSmall .LevelsRewards_base__centered_05 .LevelsRewards_scrollArea_6e {
    margin-left: 80rem;
}

.mediaMedium .LevelsRewards_base__centered_05 .LevelsRewards_scrollArea_6e {
    margin-left: 100rem;
}

.mediaExtraLarge .LevelsRewards_base__centered_05 .LevelsRewards_scrollArea_6e {
    margin-left: 150rem;
}

.LevelsRewards_rewardsWrapper_e8 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.LevelsRewards_scrollWrapper_42 {
    overflow-x: visible;
}

.LevelsRewards_scrollContent_f8 {
    display: flex;
    min-width: 100%;
    margin: 15rem 0 16rem;
    overflow: hidden;
}

.LevelsRewards_scrollBar_d3 {
    opacity: 0;
    visibility: hidden;
}

.RewardsColumn_base_14 {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    width: 108rem;
    position: relative;
}
.mediaSmall .RewardsColumn_base_14 {
    width: 140rem;
}
.mediaMedium .RewardsColumn_base_14 {
    width: 208rem;
}
.RewardsColumn_base__disabled_0a {
    opacity: 0.4;
}

.RewardsColumn_particlesLine_dc {
    width: 1rem;
    height: 100%;
    background-image: linear-gradient(180deg, transparent 0%, rgba(255, 255, 255, 0.3) 50%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.RewardsColumn_particlesLine__right_d2 {
    right: 0;
    left: auto;
}

.RewardsColumn_rewards_8c {
    display: flex;
    flex-direction: column;
    margin-top: 20rem;
}

.mediaMedium .RewardsColumn_rewards_8c {
    margin-top: 30rem;
}

.RewardsColumn_rewardItem_9b {
    margin: 15rem 0;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.Reward_base_ea {
    display: flex;
    flex-direction: column;
    position: relative;
}

.Reward_base__s48x48_46,
.Reward_base__small_c0 {
    width: 48rem;
    height: 48rem;
}

.Reward_base__s80x80_ce,
.Reward_base__big_e5 {
    width: 80rem;
    height: 80rem;
}

.Reward_base__s128x100_c3 {
    width: 128rem;
    height: 100rem;
}

.Reward_base__s180x135_7c {
    width: 180rem;
    height: 135rem;
}

.Reward_base__s232x174_67 {
    width: 232rem;
    height: 174rem;
}

.Reward_base__s296x222_78 {
    width: 296rem;
    height: 222rem;
}

.Reward_base__s400x300_07 {
    width: 400rem;
    height: 300rem;
}

.Reward_base__s600x450_f8 {
    width: 600rem;
    height: 450rem;
}

.Reward_tooltipWrapper_b5 {
    height: 100%;
}

.Reward_icon_df {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    position: relative;
    z-index: 1;
}

.Reward_overlay_68 {
    background: no-repeat center / 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.Reward_base__s48x48_46 .Reward_overlay_68,
.Reward_base__small_c0 .Reward_overlay_68 {
    width: 96rem;
    height: 96rem;
    background-size: 100%;
    overflow: visible;
}

.Reward_base__s80x80_ce .Reward_overlay_68,
.Reward_base__big_e5 .Reward_overlay_68 {
    width: 128rem;
    height: 128rem;
}

.Reward_base__s180x135_7c .Reward_overlay_68 {
    width: 266rem;
    height: 241rem;
}

.Reward_base__s232x174_67 .Reward_overlay_68 {
    width: 344rem;
    height: 312rem;
}

.Reward_base__s296x222_78 .Reward_overlay_68 {
    width: 450rem;
    height: 408rem;
}

.Reward_base__s400x300_07 .Reward_overlay_68 {
    width: 618rem;
    height: 590rem;
}

.Reward_base__s600x450_f8 .Reward_overlay_68 {
    width: 670rem;
    height: 575rem;
}

.Reward_highlight_36 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    position: absolute;
    z-index: 0;
}

.Reward_image_89 {
    position: relative;
}

.Reward_info_72 {
    margin-top: -13rem;
    color: #e9e2bf;
    font-size: 14rem;
    line-height: 18rem;
    text-align: center;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_info_72,
.Reward_base__small_c0 .Reward_info_72 {
    margin: -10rem -10rem 0;
}

.Reward_info__multi_63 {
    margin-right: 2rem;
    text-align: right;
}

.Reward_base__s48x48_46 .Reward_info__multi_63,
.Reward_base__small_c0 .Reward_info__multi_63 {
    margin-right: 0;
}

.Reward_info__credits_ef {
    color: #e9e2bf;
}

.Reward_info__gold_36 {
    color: #ffc363;
}

.Reward_info__crystal_36 {
    color: #c9c9b6;
}

.Reward_info__premiumTank_d3 {
    color: #ffdd99;
}

.Reward_timer_d3 {
    background: no-repeat center / contain;
    position: absolute;
    z-index: 1;
}

.Reward_base__s48x48_46 .Reward_timer_d3,
.Reward_base__small_c0 .Reward_timer_d3 {
    width: 23rem;
    height: 23rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.small.timer');
    top: -6rem;
    right: -6rem;
}

.Reward_base__s80x80_ce .Reward_timer_d3,
.Reward_base__big_e5 .Reward_timer_d3 {
    width: 48rem;
    height: 48rem;
    background-image: url('R.images.gui.maps.icons.quests.bonuses.big.timer');
    top: -14rem;
    right: -14rem;
}

.VehicleName_base_f4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.VehicleName_base__white_3d {
    color: #f2f2f7;
}

.VehicleName_base__whiteSpanish_90 {
    color: #e9e2bf;
}

.VehicleName_base__whiteOrange_52 {
    color: #fefeec;
}

.VehicleName_nation_8b {
    width: 25rem;
    height: 17rem;
    margin-top: 4rem;
    margin-right: 5rem;
    background: no-repeat center / contain;
}

.VehicleName_base__colored_f2 .VehicleName_level_7d {
    color: #e9e2bf;
}

.VehicleName_type_12 {
    width: 60rem;
    height: 54rem;
    margin: 0 -14rem;
    background: no-repeat center / contain;
    position: relative;
}

.VehicleName_type__elite_0d {
    margin: 0 -8rem;
}

.VehicleName_base__extraSmall_74 .VehicleName_type_12 {
    width: 36rem;
    height: 40rem;
    margin: 0 -7rem;
    background: no-repeat center / contain;
    position: relative;
}

.VehicleName_base__extraSmall_74 .VehicleName_type__elite_0d {
    margin: 4rem -4rem 0;
}

.VehicleName_base__medium_16 .VehicleName_type_12 {
    width: 83rem;
    height: 73rem;
    margin: 0 -23rem;
    background: no-repeat center / contain;
    position: relative;
    top: -18rem;
}

.VehicleName_base__medium_16 .VehicleName_type__elite_0d {
    margin: 0 -16rem;
}

.VehicleName_base__colored_f2 .VehicleName_name_5c {
    color: #fefeec;
}

.RewardsList_base_7e {
    display: flex;
}

.RewardsList_base__vertical_9c {
    flex-direction: column;
}

.RewardsList_reward_89 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10rem;
    position: relative;
}

.RewardsList_reward__vertical_ff {
    margin: 15rem 0;
}

.RewardsList_reward__disabled_3f {
    opacity: 0.4;
}

.RewardsList_rewardSelect_d1 {
    width: 86rem;
    height: 24rem;
}

.RewardsList_btn_5a {
    width: 86rem;
    height: 24rem;
    min-height: 24rem;
}

.RewardsList_btnHolder_22 {
    margin-top: -10rem;
    position: relative;
    z-index: 1;
}

.RewardsList_label_66 {
    color: #fefeec;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    transform: translateY(-15rem);
}

.RewardsList_labelText_77 {
    margin-top: 13rem;
}

.RewardsHeader_base_92 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.RewardsHeader_level_55 {
    color: #ffffff;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    display: flex;
    width: 32rem;
    padding-top: 32rem;
    position: relative;
}

.mediaMedium .RewardsHeader_level_55 {
    width: 52rem;
    font-size: 24rem;
}

.mediaExtraLarge .RewardsHeader_level_55 {
    width: 62rem;
}

.RewardsHeader_level__achieved_30 {
    color: #80d43a;
}

.RewardsHeader_level__current_f0 {
    color: #feab34;
}

.RewardsHeader_numeral_8d {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
}

.RewardsHeader_numeral__disabled_af {
    opacity: 1;
}

.RewardsHeader_achieved_8d {
    width: 64rem;
    height: 28rem;
    background: url('R.images.gui.maps.icons.paragons.completed') no-repeat center / contain;
    position: absolute;
    bottom: -24rem;
    left: 50%;
    transform: translateX(-50%);
}

.RewardsHeader_backlight_53 {
    width: 100%;
    height: 304rem;
    background: linear-gradient(180deg, transparent 0%, rgba(254, 171, 52, 0.17) 16.86%, transparent 100%);
    position: absolute;
    top: 0;
    left: 0;
}

.RewardsHeader_particles_0e {
    width: 48rem;
    height: 136rem;
    background: url('R.images.gui.maps.icons.paragons.allRewards.col_glow') no-repeat center / contain;
    position: absolute;
    top: -24rem;
    left: 0;
}

.RewardsHeader_particles__right_9c {
    right: 0;
    left: auto;
    transform: rotateZ(180deg);
}

.App_base_43 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: url('R.images.gui.maps.icons.paragons.backgrounds.blured_background') no-repeat center / cover;
    overflow: hidden;
    animation: App_fadeIn_42 0.6s forwards;
}

.App_vignette_73 {
    width: 100%;
    height: 100%;
    background: radial-gradient(
        108.07% 92.22% at 51.17% 7.78%,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.3) 68.27%,
        rgba(0, 0, 0, 0.3) 100%
    );
    position: absolute;
}

.App_button_b5 {
    position: absolute;
    top: 70rem;
    z-index: 1;
}

.App_close_86 {
    right: 30rem;
}

.mediaMedium .App_close_86 {
    right: 40rem;
}

.App_headerWrapper_fb {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    padding-top: 54rem;
    position: absolute;
    top: 0;
    left: 0;
}

.mediaMedium .App_headerWrapper_fb {
    padding-top: 63rem;
}

.App_levelsWrapper_cd {
    display: flex;
    justify-content: center;
    flex: 1;
}

@keyframes App_fadeIn_42 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
