/* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#root,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
:root {
    --color-general-primary: #ede6d9;
    --color-general-primary-rgb: 237, 230, 217;
    --color-general-secondary: #b2afab;
    --color-general-secondary-rgb: 178, 175, 171;
    --color-general-tertiary: #8e867d;
    --color-general-tertiary-rgb: 142, 134, 125;
    --color-general-dark: #353638;
    --color-general-dark-rgb: 53, 54, 56;
    --color-currency-credits: #c5cccc;
    --color-currency-credits-rgb: 197, 204, 204;
    --color-currency-gold: #fecc88;
    --color-currency-gold-rgb: 254, 204, 136;
    --color-currency-bond: #baccbf;
    --color-currency-bond-rgb: 186, 204, 191;
    --color-currency-combat-experience: #dce0e0;
    --color-currency-combat-experience-rgb: 220, 224, 224;
    --color-currency-free-experience: #ecca9d;
    --color-currency-free-experience-rgb: 236, 202, 157;
    --color-status-alert: #ee7000;
    --color-status-alert-rgb: 238, 112, 0;
    --color-status-error: #f31201;
    --color-status-error-rgb: 243, 18, 1;
    --color-status-link: #fcf6eb;
    --color-status-link-rgb: 252, 246, 235;
    --color-status-done: #64ba21;
    --color-status-done-rgb: 100, 186, 33;
}

/* stylelint-disable selector-no-qualifying-type */
:root {
    --color-general-primary: #ede6d9;
    --color-general-primary-rgb: 237, 230, 217;
    --color-general-secondary: #b2afab;
    --color-general-secondary-rgb: 178, 175, 171;
    --color-general-tertiary: #8e867d;
    --color-general-tertiary-rgb: 142, 134, 125;
    --color-general-dark: #353638;
    --color-general-dark-rgb: 53, 54, 56;
    --color-currency-credits: #c5cccc;
    --color-currency-credits-rgb: 197, 204, 204;
    --color-currency-gold: #fecc88;
    --color-currency-gold-rgb: 254, 204, 136;
    --color-currency-bond: #baccbf;
    --color-currency-bond-rgb: 186, 204, 191;
    --color-currency-combat-experience: #dce0e0;
    --color-currency-combat-experience-rgb: 220, 224, 224;
    --color-currency-free-experience: #ecca9d;
    --color-currency-free-experience-rgb: 236, 202, 157;
    --color-status-alert: #ee7000;
    --color-status-alert-rgb: 238, 112, 0;
    --color-status-error: #f31201;
    --color-status-error-rgb: 243, 18, 1;
    --color-status-link: #fcf6eb;
    --color-status-link-rgb: 252, 246, 235;
    --color-status-done: #64ba21;
    --color-status-done-rgb: 100, 186, 33;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#HeadlessButton_root_6a626904,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.HeadlessButton_df8536fc {
    border: none;
    background: none;
    cursor: pointer;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Button_root_6bcdc8c,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Button_background_98ebcfb8,
.Button_background_98ebcfb8::after,
.Button_border_7e6390d7,
.Button_overlay_174632c8,
.Button_overlay_174632c8::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Button_background_98ebcfb8,
.Button_background_98ebcfb8::after,
.Button_border_7e6390d7,
.Button_overlay_174632c8,
.Button_overlay_174632c8::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.Button_70871946 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 2rem;
    background: none;
    position: relative;
}
.Button_base__enabled_96634d40 {
    cursor: pointer;
}
.Button_base__disabled_b713e04a {
    cursor: default;
}
.Button_base__size-extraSmall_d0cdb5ed {
    height: 24rem;
    padding: 0 8rem;
}
.Button_base__size-small_fc7095a4 {
    height: 32rem;
    padding: 0 16rem;
}
.Button_base__size-medium_814d61f0 {
    height: 40rem;
    padding: 0 24rem;
}
.Button_base__size-large_83da852e {
    height: 48rem;
    padding: 0 40rem;
}
.Button_base__theme-primary_8ba55469 {
    color: #353638;
    text-shadow: 0 1rem 0 rgba(255, 255, 255, 0.7);
}
.Button_base__theme-secondary_3fa4afc {
    color: rgba(var(--color-general-primary-rgb), 0.9);
    text-shadow: 0 1rem 0 rgba(13, 14, 16, 0.4);
}

.Button_background_98ebcfb8 {
    border-radius: 2rem;
    background-size: 100% 100%;
    transition: background-color 0.1s ease-out;
}
.Button_base__theme-primary_8ba55469 .Button_background_98ebcfb8 {
    background-image: radial-gradient(51% 50% at 50% 50%, #d9d2c5 0%, #afb1a4 100%);
}
.Button_base__theme-secondary_3fa4afc.Button_base__enabled_96634d40.Button_70871946:hover .Button_background_98ebcfb8 {
    background-color: rgba(237, 230, 217, 0.32);
}
.Button_background_98ebcfb8::after {
    border-radius: 2rem;
    background-repeat: repeat;
    background-position: center;
    background-size: cover;
    content: '';
}
.Button_base__theme-primary_8ba55469 .Button_background_98ebcfb8::after {
    background-image: url(R.images.gui.maps.icons.ui_kit.common.primary_background);
    opacity: 0.48;
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40.Button_70871946:hover
    .Button_background_98ebcfb8::after {
    opacity: 0.7;
}
.Button_base__theme-secondary_3fa4afc .Button_background_98ebcfb8::after {
    background-image: url(R.images.gui.maps.icons.ui_kit.common.secondary_background);
}

.Button_border_7e6390d7 {
    border-radius: 2rem;
    transition: opacity 0.1s ease-out;
}
.Button_base__theme-primary_8ba55469 .Button_border_7e6390d7 {
    border-image: url(R.images.gui.maps.icons.ui_kit.button.primary_button_border_pattern) 2/2rem repeat;
    box-shadow: 0 0 0 1rem rgba(13, 14, 16, 0.4);
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40 .Button_border_7e6390d7 {
    opacity: 0.8;
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40.Button_70871946:hover .Button_border_7e6390d7 {
    opacity: 1;
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40.Button_70871946:active .Button_border_7e6390d7 {
    opacity: 0.9;
}
.Button_base__theme-primary_8ba55469.Button_base__disabled_b713e04a .Button_border_7e6390d7 {
    opacity: 0.5;
}
.Button_base__theme-secondary_3fa4afc .Button_border_7e6390d7 {
    border-width: 1rem;
    border-style: solid;
    border-image: url(R.images.gui.maps.icons.ui_kit.common.secondary_border_pattern) 4/4rem round;
    box-shadow:
        0 0 0 1rem rgba(13, 14, 16, 0.4),
        inset 0 0 0 1rem rgba(13, 14, 16, 0.32);
}
.Button_base__theme-secondary_3fa4afc.Button_base__enabled_96634d40 .Button_border_7e6390d7 {
    opacity: 0.9;
}
.Button_base__theme-secondary_3fa4afc.Button_base__enabled_96634d40.Button_70871946:hover .Button_border_7e6390d7 {
    opacity: 1;
}
.Button_base__theme-secondary_3fa4afc.Button_base__disabled_b713e04a .Button_border_7e6390d7 {
    opacity: 0.6;
}

.Button_overlay_174632c8 {
    border-radius: 2rem;
    opacity: 0;
    mix-blend-mode: overlay;
    transition:
        opacity 0.1s ease-out,
        background-color 0.1s ease-out;
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40.Button_70871946:hover .Button_overlay_174632c8 {
    background-color: #fff;
    opacity: 0.4;
}
.Button_base__theme-primary_8ba55469.Button_base__enabled_96634d40.Button_70871946:active .Button_overlay_174632c8,
.Button_base__theme-secondary_3fa4afc.Button_base__enabled_96634d40.Button_70871946:active .Button_overlay_174632c8 {
    background-color: #000;
    opacity: 0.24;
}
.Button_base__disabled_b713e04a .Button_overlay_174632c8 {
    background: url(R.images.gui.maps.icons.ui_kit.patterns.disable_overlay_pattern) repeat center/10rem 10rem;
    opacity: 0.12;
}
.Button_overlay_174632c8::before {
    content: '';
}
.Button_base__theme-primary_8ba55469 .Button_overlay_174632c8::before {
    border-image: url(R.images.gui.maps.icons.ui_kit.button.primary_button_scratches) 16/16rem repeat;
}

.Button_content_298de63f {
    display: flex;
    align-items: center;
    letter-spacing: 0.02em;
    position: relative;
    transition: opacity 0.1s ease-out;
}
.Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778 {
    padding-bottom: 2rem;
}
html[lang='ja'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='ko'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='zh_tw'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='zh_sg'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='zh_cn'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='vi'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778,
html[lang='th'] .Button_base__size-extraSmall_d0cdb5ed .Button_content__fontAligned_66115778 {
    padding-bottom: 4rem;
}
.Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778 {
    padding-bottom: 1rem;
}
html[lang='ja'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='ko'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='zh_tw'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='zh_sg'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='zh_cn'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='vi'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778,
html[lang='th'] .Button_base__size-small_fc7095a4 .Button_content__fontAligned_66115778 {
    padding-bottom: 4rem;
}
.Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778 {
    padding-bottom: 2rem;
}
html[lang='ja'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='ko'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='zh_tw'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='zh_sg'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='zh_cn'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='vi'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778,
html[lang='th'] .Button_base__size-medium_814d61f0 .Button_content__fontAligned_66115778 {
    padding-bottom: 5rem;
}
.Button_base__size-large_83da852e .Button_content__fontAligned_66115778 {
    padding-bottom: 2rem;
}
html[lang='ja'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='ko'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='zh_tw'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='zh_sg'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='zh_cn'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='vi'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778,
html[lang='th'] .Button_base__size-large_83da852e .Button_content__fontAligned_66115778 {
    padding-bottom: 4rem;
}
.Button_base__theme-primary_8ba55469 .Button_content_298de63f {
    font-weight: 600;
}
.Button_base__theme-secondary_3fa4afc .Button_content_298de63f {
    font-weight: 500;
}
.Button_base__theme-secondary_3fa4afc.Button_base__enabled_96634d40.Button_70871946:active .Button_content_298de63f {
    opacity: 0.9;
}
.Button_base__theme-primary_8ba55469.Button_base__disabled_b713e04a .Button_content_298de63f {
    opacity: 0.7;
}
.Button_base__theme-secondary_3fa4afc.Button_base__disabled_b713e04a .Button_content_298de63f {
    opacity: 0.3;
}
.Button_base__size-extraSmall_d0cdb5ed .Button_content_298de63f {
    font-size: 18rem;
}
.Button_base__size-small_fc7095a4 .Button_content_298de63f {
    font-size: 20rem;
}
.Button_base__size-medium_814d61f0 .Button_content_298de63f {
    font-size: 24rem;
}
.Button_base__size-large_83da852e .Button_content_298de63f {
    font-size: 28rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#FormatText_root_d6a0698c,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.FormatText_db904f12 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    white-space: pre-wrap;
}
.FormatText_base__fullSize_a514958e {
    flex: 1 1 auto;
    width: 100%;
}
.FormatText_db904f12 span {
    flex-wrap: wrap;
    white-space: normal;
    overflow-wrap: anywhere;
}

.FormatText_nowrap_ff69eca3 {
    white-space: nowrap;
}

.FormatText_colorLegacy__blackReal {
    color: #000;
}
.FormatText_colorLegacy__whiteReal {
    color: #fff;
}
.FormatText_colorLegacy__white {
    color: #f2f2f7;
}
.FormatText_colorLegacy__whiteOrange {
    color: #fefeec;
}
.FormatText_colorLegacy__whiteSpanish {
    color: #e9e2bf;
}
.FormatText_colorLegacy__par {
    color: #8c8c7e;
}
.FormatText_colorLegacy__parSecondary {
    color: #595950;
}
.FormatText_colorLegacy__parTertiary {
    color: #37362e;
}
.FormatText_colorLegacy__infoRed {
    color: #f00;
}
.FormatText_colorLegacy__red {
    color: #ff2717;
}
.FormatText_colorLegacy__redDark {
    color: #b70000;
}
.FormatText_colorLegacy__yellow {
    color: #feab34;
}
.FormatText_colorLegacy__orange {
    color: #ee7000;
}
.FormatText_colorLegacy__cream {
    color: #fd9;
}
.FormatText_colorLegacy__brown {
    color: #cbac77;
}
.FormatText_colorLegacy__greenBright {
    color: #80d43a;
}
.FormatText_colorLegacy__green {
    color: #7ab300;
}
.FormatText_colorLegacy__greenDark {
    color: #497212;
}
.FormatText_colorLegacy__blueBooster {
    color: #cff;
}
.FormatText_colorLegacy__blueTeamkiller {
    color: #09e2ff;
}
.FormatText_colorLegacy__cred {
    color: #ced9d9;
}
.FormatText_colorLegacy__gold {
    color: #ffc363;
}
.FormatText_colorLegacy__bond {
    color: #c9c9b6;
}
.FormatText_colorLegacy__prom {
    color: #a29b70;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Currency_root_271064ec,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Currency_72d4be39 {
    display: flex;
    align-items: center;
    color: var(--color-general-secondary);
    text-shadow: 0 1rem 7rem rgba(0, 0, 0, 0.3);
}
.Currency_base__reverse_f12e61b0 {
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.Currency_base__notEnough_9a7842f {
    color: var(--color-status-error);
}
.Currency_base__credits_7b9ae721 {
    color: var(--color-currency-credits);
}
.Currency_base__gold_d6e3cbc {
    color: var(--color-currency-gold);
}
.Currency_base__freeXP_d29d5a57 {
    color: var(--color-currency-free-experience);
}
.Currency_base__crystal_f830cb47 {
    color: var(--color-currency-bond);
}
.Currency_base__tankXP_1707c68b {
    color: var(--color-currency-combat-experience);
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#WithDiscount_root_60ee455a,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.WithDiscount_b8b3aa7f {
    display: flex;
    position: relative;
    z-index: 0;
}

.WithDiscount_discount_f7ce1b97 {
    align-self: center;
    width: 20rem;
    height: 23rem;
    position: relative;
    z-index: -1;
}

.WithDiscount_icon_a6c57ca8 {
    position: absolute;
    top: 50%;
    left: 50%;
}
.WithDiscount_icon__extraSmall_97673105 {
    transform: translate(-46%, -52%);
}
.WithDiscount_icon__small_60ee455a,
.WithDiscount_icon__medium_2877fd99 {
    transform: translate(-43%, -50%);
}
.WithDiscount_icon__large_6c06eeb7 {
    transform: translate(-44%, -50%);
}
.WithDiscount_icon__extraLarge_9d22aa45 {
    transform: translate(-38%, -50%);
}
.WithDiscount_icon__xxl_4080bb18 {
    transform: translate(-42%, -50%);
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#DefaultDialogTemplate_root_d8935f55,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.DefaultDialogTemplate_2b940a27 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.DefaultDialogTemplate_overlay_a401350d {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.DefaultDialogTemplate_body_df1a2692 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    position: relative;
}

.DefaultDialogTemplate_iconImage_1ea84ffb {
    width: 188rem;
    height: 188rem;
}
.mediaExtraLarge .DefaultDialogTemplate_iconImage_1ea84ffb {
    width: 256rem;
    height: 256rem;
}

.DefaultDialogTemplate_title_ff9a8518 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: #f2f2f7;
    font-size: 30rem;
    font-weight: 500;
    line-height: 1em;
    text-align: center;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    z-index: 2;
}
.mediaMedium .DefaultDialogTemplate_title_ff9a8518 {
    font-size: 36rem;
}
.mediaExtraLarge .DefaultDialogTemplate_title_ff9a8518 {
    font-size: 48rem;
}

.DefaultDialogTemplate_description_8f648786 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.3em;
    max-width: 720rem;
    margin-top: 20rem;
    color: var(--color-general-tertiary);
    font-weight: 400;
}
.mediaMedium .DefaultDialogTemplate_description_8f648786 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaLarge .DefaultDialogTemplate_description_8f648786 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaExtraLarge .DefaultDialogTemplate_description_8f648786 {
    font-size: 28rem;
}
.DefaultDialogTemplate_description_text_9e3e132c {
    justify-content: center;
}

.DefaultDialogTemplate_divider_4d4ef886 {
    width: 400rem;
    height: 1rem;
    margin: 40rem 0 30rem;
    background: rgba(196, 198, 192, 0.5) url('R.images.gui.maps.icons.ui.noise') center/100rem 100rem repeat;
    opacity: 0.3;
    position: relative;
    z-index: 1;
}
.mediaLarge .DefaultDialogTemplate_divider_4d4ef886 {
    width: 600rem;
}

.DefaultDialogTemplate_buttonGroup_8ab4d55c {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}
.DefaultDialogTemplate_buttonGroup_8ab4d55c .DefaultDialogTemplate_button_c76aebb7 {
    min-width: 108rem;
    margin: 0 8rem;
    padding-bottom: 1rem;
}
.mediaMedium .DefaultDialogTemplate_buttonGroup_8ab4d55c .DefaultDialogTemplate_button_c76aebb7 {
    min-width: 160rem;
}
.mediaExtraLarge .DefaultDialogTemplate_buttonGroup_8ab4d55c .DefaultDialogTemplate_button_c76aebb7 {
    min-width: 190rem;
}

.DefaultDialogTemplate_closeButton_7efb3d0a {
    display: flex;
    flex-direction: column;
    width: 48rem;
    height: 48rem;
    opacity: 0.4;
    position: absolute;
    top: 30rem;
    right: 30rem;
    transition: opacity 0.2s ease-in-out;
    cursor: pointer;
}
.DefaultDialogTemplate_closeButton_7efb3d0a:hover {
    opacity: 1;
}
.DefaultDialogTemplate_closeButton_7efb3d0a:active {
    opacity: 0.5;
}

.DefaultDialogTemplate_currencyIcon_c313f742 {
    margin-left: 8rem;
}

.DefaultDialogTemplate_footer_aa9b73fa {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 10vh;
    padding: 0 61rem;
    position: relative;
    /* There is a bug in GF here, this div cannot be centered properly. position: absolute, left: 50% does not align it's left side to the center. No idea why. */
}
.DefaultDialogTemplate_footer_glowWrapper_200951f2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 64rem;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    pointer-events: none;
}
.DefaultDialogTemplate_footer_glow_cf98773e {
    width: 333rem;
    height: 64rem;
    background-image: radial-gradient(50% 100% at 50% 0%, var(--footer-highlight-color) 0%, transparent 100%);
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.2;
    mix-blend-mode: hard-light;
}
.DefaultDialogTemplate_footer_border_f9a7d920 {
    width: 333rem;
    height: 1rem;
    mask-image: linear-gradient(to right, rgba(255, 255, 255, 0), white, rgba(255, 255, 255, 0));
    background-color: var(--footer-highlight-color);
    background-size: 100rem 100rem;
}
.mediaMedium .DefaultDialogTemplate_footer_border_f9a7d920 {
    width: 400rem;
}
.mediaExtraLarge .DefaultDialogTemplate_footer_border_f9a7d920 {
    width: 544rem;
}
.DefaultDialogTemplate_footer_text_fa82ceed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    color: rgba(var(--color-general-primary-rgb), 0.5);
    text-align: center;
    position: relative;
    z-index: 1;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaMedium .DefaultDialogTemplate_footer_text_fa82ceed {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaLarge .DefaultDialogTemplate_footer_text_fa82ceed {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaExtraLarge .DefaultDialogTemplate_footer_text_fa82ceed {
    font-size: 28rem;
}
.DefaultDialogTemplate_footer_image_441f56cf {
    width: 40rem;
    height: 40rem;
    position: absolute;
    z-index: 1;
    transform: translateY(-50%);
}
.mediaMedium .DefaultDialogTemplate_footer_image_441f56cf {
    width: 60rem;
    height: 60rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Container_root_a197fc5,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Container_4ace6ad5 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Container_closeButton_1a873580 {
    margin-left: 21rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Content_root_da09528a,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Content_9d793ed8 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20rem;
}

.Content_description_a55da9f4 {
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.3em;
    color: var(--color-general-tertiary);
    font-weight: 400;
}

.Content_xp_75170af7,
.Content_freeXp_a9a9ecd5 {
    font-size: 32rem;
    font-weight: 700;
    line-height: 1.3em;
    margin-bottom: 8rem;
}

.Content_xp_75170af7 {
    padding: 0 10rem;
}

.Content_freeXp_a9a9ecd5 {
    padding-left: 10rem;
    padding-right: 5rem;
}

.Content_currencyIcon_4a4254fc {
    margin-left: 8rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#App_root_0,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.App_8d610e80 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 18, 16, 0.6);
}

.App_container_969b2431 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720rem;
}

.App_title_a4349c9 {
    color: var(--color-general-primary);
    font-size: 42rem;
    font-weight: 600;
    line-height: 1.1;
}

.App_separator_5b3379fe {
    width: 100%;
    height: 1rem;
    margin: 10rem 0;
    background-color: rgba(255, 255, 255, 0.1);
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#ItemSwitch_root_a889eac9,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.ItemSwitch_8bfe52c8 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: stretch;
}

.ItemSwitch_item_8ff88784 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}
.ItemSwitch_item_image_6247980a {
    width: 180rem;
    height: 130rem;
}
.ItemSwitch_item_label_7d996f6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150rem; /* This hack prevents a rendering bug that causes margins to be too small or text to vanish on first render */
    margin-left: 16rem;
    color: rgba(var(--color-general-primary-rgb), 0.5);
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaMedium .ItemSwitch_item_label_7d996f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaLarge .ItemSwitch_item_label_7d996f6 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.3em;
}
.mediaExtraLarge .ItemSwitch_item_label_7d996f6 {
    font-size: 28rem;
}
.ItemSwitch_item__to_a889eac9 .ItemSwitch_item_label_7d996f6 {
    color: rgba(var(--color-general-primary-rgb), 0.9);
}
.ItemSwitch_item_label_icon_caa67854 {
    display: flex;
    width: 24rem;
    height: 24rem;
    margin: 0 -4rem;
}
.mediaExtraLarge .ItemSwitch_item_label_icon_caa67854 {
    width: 48rem;
    height: 48rem;
}
.ItemSwitch_item_arrow_349d4b85 {
    width: 128rem;
    background: url('R.images.gui.maps.icons.subscription.pro_boost_switch_dialog.arrow') no-repeat center
        center/contain;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Index_root_4c46c06,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_switch_1fc72fb7 {
    margin-bottom: 56rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#BenefitList_root_8840aef,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.BenefitList_1bd95cb5 {
    display: flex;
    flex-direction: column;
}

.BenefitList_wrapper_fe67d7f7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15rem;
}
.mediaMedium .BenefitList_wrapper_fe67d7f7 {
    margin: -30rem;
}

.BenefitList_benefit_1c535c60 {
    /* If this is margin, a GF bug causes the height to be double */
    padding: 15rem;
}
.mediaMedium .BenefitList_benefit_1c535c60 {
    padding: 30rem;
}
.BenefitList_benefit_wrapper_40b9d16 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.BenefitList_benefit_label_f9b9fe45 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.3em;
    color: rgba(var(--color-general-primary-rgb), 0.9);
    line-height: 1;
    text-align: center;
}
.mediaLarge .BenefitList_benefit_label_f9b9fe45 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.3em;
    line-height: 1;
}
.mediaExtraLarge .BenefitList_benefit_label_f9b9fe45 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.3em;
    font-weight: 400;
    line-height: 1;
}
.BenefitList_benefit__emphasized_8840aef .BenefitList_benefit_label_f9b9fe45 {
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.3em;
    font-weight: 400;
    line-height: 1;
}
.mediaLarge .BenefitList_benefit__emphasized_8840aef .BenefitList_benefit_label_f9b9fe45 {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.3em;
    font-weight: 400;
    line-height: 1;
}
.mediaExtraLarge .BenefitList_benefit__emphasized_8840aef .BenefitList_benefit_label_f9b9fe45 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.3em;
    font-weight: 600;
    line-height: 1;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#SideImage_root_7e0644e9,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.SideImage_109b8ca {
    width: 450rem;
    height: 450rem;
    position: relative;
}
.mediaExtraLarge .SideImage_109b8ca {
    width: 600rem;
    height: 600rem;
}

.SideImage_image_e09cdce0 {
    width: 100%;
    height: 100%;
}

.SideImage_glow_9814931f {
    width: 675rem;
    height: 675rem;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
}
.mediaLarge .SideImage_glow_9814931f {
    width: 900rem;
    height: 900rem;
} /* stylelint-disable selector-no-qualifying-type */
:root {
    --hangar-highlight-shadow:
        0rem 0rem 15rem rgba(23, 23, 23, 0.4), 0rem 0rem 5rem rgba(23, 23, 23, 0.4), 0rem 2rem rgba(0, 0, 0, 0.3);
}

/* stylelint-disable selector-max-id */
/* stylelint-disable selector-no-qualifying-type */
#Index_root_4c46c06,
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: var(--color-general-primary);
    font-size: 14rem;
}

body,
button,
input {
    font-family: PFDINMax;
    font-weight: 400;
    letter-spacing: 0.02em;
}
html[lang='ja'] body,
html[lang='ko'] body,
html[lang='zh_tw'] body,
html[lang='zh_sg'] body,
html[lang='zh_cn'] body,
html[lang='vi'] body,
html[lang='th'] body,
html[lang='ja'] button,
html[lang='ko'] button,
html[lang='zh_tw'] button,
html[lang='zh_sg'] button,
html[lang='zh_cn'] button,
html[lang='vi'] button,
html[lang='th'] button,
html[lang='ja'] input,
html[lang='ko'] input,
html[lang='zh_tw'] input,
html[lang='zh_sg'] input,
html[lang='zh_cn'] input,
html[lang='vi'] input,
html[lang='th'] input {
    font-family: Warhelios;
    letter-spacing: 0;
}

/* stylelint-disable selector-no-qualifying-type */
/* stylelint-disable selector-no-qualifying-type */
.Index_switch_1fc72fb7 {
    margin-bottom: 56rem;
}

.Index_divider_3bcfd091 {
    width: 400rem;
    height: 1rem;
    margin: 40rem 0 30rem;
    background: rgba(196, 198, 192, 0.5) url('R.images.gui.maps.icons.ui.noise') center/100rem 100rem repeat;
    opacity: 0.3;
    position: relative;
    z-index: 1;
}
.mediaLarge .Index_divider_3bcfd091 {
    width: 600rem;
}

.Index_body_d18bc871 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.Index_main_20bd2c1e {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 540rem;
    text-align: center;
    position: relative;
}
.mediaMedium .Index_main_20bd2c1e {
    width: 702rem;
}
.mediaLarge .Index_main_20bd2c1e {
    width: 720rem;
}
.mediaExtraLarge .Index_main_20bd2c1e {
    width: 1040rem;
}

.Index_aside_cebb2516 {
    margin-right: 60rem;
}
.mediaMedium .Index_aside_cebb2516 {
    margin-right: 80rem;
}
.mediaLarge .Index_aside_cebb2516 {
    margin-right: 130rem;
}
.mediaExtraLarge .Index_aside_cebb2516 {
    margin-right: 185rem;
}

.Index_emphasizedBenefits_d6979b70 {
    margin-top: 50rem;
}
.mediaMedium .Index_emphasizedBenefits_d6979b70 {
    margin-top: 60rem;
}
.mediaLarge .Index_emphasizedBenefits_d6979b70 {
    margin-top: 75rem;
}
.mediaExtraLarge .Index_emphasizedBenefits_d6979b70 {
    margin-top: 90rem;
}

.Index_benefits_e04cc6e8 {
    margin-top: 30rem;
    margin-bottom: 50rem;
}
.mediaMedium .Index_benefits_e04cc6e8 {
    margin-top: 60rem;
    margin-bottom: 60rem;
}
.mediaLarge .Index_benefits_e04cc6e8 {
    margin-top: 70rem;
    margin-bottom: 75rem;
}
.mediaExtraLarge .Index_benefits_e04cc6e8 {
    margin-bottom: 90rem;
}

/* Override default styles */
.Index_title_e8853572.Index_title_e8853572 {
    font-size: 40rem;
    font-weight: 700;
    line-height: 1.3em;
    /* heading-46 does not exist in mono */
    width: 100%;
    font-size: 46rem;
}
.mediaMedium .Index_title_e8853572.Index_title_e8853572 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.3em;
}
.mediaLarge .Index_title_e8853572.Index_title_e8853572 {
    font-size: 64rem; /* heading-64 does not exist in mono */
}
.mediaExtraLarge .Index_title_e8853572.Index_title_e8853572 {
    font-size: 80rem;
    font-weight: 700;
    line-height: 1.3em;
}

/* Override default styles */
.Index_description_51c077a.Index_description_51c077a {
    width: 100%;
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.3em;
    line-height: 1;
}
.mediaMedium .Index_description_51c077a.Index_description_51c077a {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.3em;
    line-height: 1;
}
.mediaLarge .Index_description_51c077a.Index_description_51c077a {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.3em;
    line-height: 1;
}
.mediaExtraLarge .Index_description_51c077a.Index_description_51c077a {
    font-size: 28rem;
}
