.LoupeButton_base_bb1aa {
    width: 60rem;
    height: 60rem;
    position: relative;
    cursor: pointer;
}

.LoupeButton_icon_f984f {
    width: 100rem;
    height: 100rem;
    background: center / contain no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-image: url('R.images.gui.maps.icons.battlePass.icons.loupe');
}

.LoupeButton_iconHover_dc9e3 {
    width: 100rem;
    height: 100rem;
    background: center / contain no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    background-image: url('R.images.gui.maps.icons.battlePass.icons.loupe_hover');
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.LoupeButton_base_bb1aa:hover .LoupeButton_iconHover_dc9e3 {
    opacity: 1;
}

.LoupeButton_base_bb1aa:active .LoupeButton_iconHover_dc9e3 {
    opacity: 0.5;
}

.LoupeButton_hoverArea_b1c43 {
    position: absolute;
    cursor: pointer;
}
