.LobbySubViewBackground_base_53 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: no-repeat 50% / cover;
    z-index: -1;
}

.TextButton_base_b6 {
    display: flex;
    align-items: center;
    padding: 0 3rem;
    font-size: 12rem;
    position: relative;
    cursor: pointer;
}

.TextButton_base__right_39 {
    flex-direction: row-reverse;
}
.TextButton_icon_17 {
    width: 32rem;
    height: 32rem;
    background: no-repeat center / contain;
    position: relative;
}
.TextButton_icon__back_43,
.TextButton_icon__forward_59 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.back');
    transform: translateY(1rem);
}
.TextButton_icon__forward_59 {
    transform: rotate(180deg) translateY(1rem);
}
.TextButton_icon__close_53 {
    margin: -1rem 0;
    background-image: url('R.images.gui.maps.icons.components.text_button.close');
}
.TextButton_icon__info_33 {
    margin: -1rem -5rem;
    background-image: url('R.images.gui.maps.icons.components.text_button.info');
}
.TextButton_glow_a4 {
    width: 100%;
    height: 100%;
    background: no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.16s;
}
.TextButton_icon__back_43 .TextButton_glow_a4,
.TextButton_icon__forward_59 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.back_hover');
}
.TextButton_icon__close_53 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.close_hover');
}
.TextButton_icon__info_33 .TextButton_glow_a4 {
    background-image: url('R.images.gui.maps.icons.components.text_button.info_hover');
}
.TextButton_base_b6:hover .TextButton_glow_a4 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_glow_a4 {
    opacity: 0;
}
.TextButton_caption_82 {
    position: relative;
    transition:
        color 0.16s,
        text-shadow 0.16s;
}
.TextButton_caption__back_b9,
.TextButton_caption__forward_4e,
.TextButton_caption__close_36 {
    color: #ffdd99;
    text-shadow:
        0 0 10rem rgba(255, 42, 0, 1),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 10rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4),
        0 0 2rem rgba(255, 42, 0, 0.4),
        0 0 1rem rgba(255, 42, 0, 0.4);
}
.TextButton_base_b6:hover .TextButton_caption__back_b9,
.TextButton_base_b6:hover .TextButton_caption__forward_4e,
.TextButton_base_b6:hover .TextButton_caption__close_36 {
    color: #fffa9f;
}
.TextButton_base_b6:active .TextButton_caption__back_b9,
.TextButton_base_b6:active .TextButton_caption__forward_4e,
.TextButton_base_b6:active .TextButton_caption__close_36 {
    color: #ffdd99;
}
.TextButton_caption__info_23 {
    padding: 0 5rem;
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:hover .TextButton_caption__info_23 {
    color: #e3ffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.8),
        0 0 12rem rgba(0, 234, 255, 1),
        0 0 8rem #00eaff;
}
.TextButton_base_b6:active .TextButton_caption__info_23 {
    color: #ccffff;
    text-shadow:
        0 0 12rem rgba(31, 68, 255, 0.6),
        0 0 8rem #00eaff;
}
.TextButton_goto_e7 {
    color: #7c7c6c;
}
.TextButton_base__left_ff .TextButton_goto_e7 {
    margin-left: 8rem;
}
.TextButton_base__right_39 .TextButton_goto_e7 {
    margin-right: 8rem;
}
.TextButton_shine_e2 {
    width: 90rem;
    height: 40rem;
    background: url('R.images.gui.maps.icons.components.text_button.shine') no-repeat center / contain;
    opacity: 0;
    position: absolute;
    top: -4rem;
    transition: opacity 0.16s;
    pointer-events: none;
}
.TextButton_base__left_ff .TextButton_shine_e2 {
    left: -4rem;
}
.TextButton_base__right_39 .TextButton_shine_e2 {
    right: -4rem;
    transform: rotate(180deg);
}
.TextButton_base_b6:hover .TextButton_shine_e2 {
    opacity: 1;
}
.TextButton_base_b6:active .TextButton_shine_e2 {
    opacity: 0;
}

.ViewDecorator_base_98 {
    width: 100%;
    height: 100%;
    background: no-repeat 50% / cover;
}
.ViewDecorator_leftBlock_16 {
    position: absolute;
    top: 11rem;
    left: 10rem;
    z-index: 1;
}
.mediaSmall .ViewDecorator_leftBlock_16 {
    top: 11rem;
    left: 10rem;
}
.mediaMedium .ViewDecorator_leftBlock_16 {
    top: 31rem;
    left: 30rem;
}
.mediaExtraLarge .ViewDecorator_leftBlock_16 {
    top: 31rem;
    left: 30rem;
}
.ViewDecorator_rightBlock_75 {
    position: absolute;
    top: 11rem;
    right: 8rem;
    z-index: 1;
}
.mediaSmall .ViewDecorator_rightBlock_75 {
    top: 11rem;
}
.mediaMedium .ViewDecorator_rightBlock_75 {
    top: 31rem;
    right: 28rem;
}
.mediaExtraLarge .ViewDecorator_rightBlock_75 {
    top: 31rem;
    right: 28rem;
}
.ViewDecorator_view_31 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.CButton_base_40 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.6);
    position: relative;
    cursor: pointer;
}

.CButton_base__main_42,
.CButton_base__primary_7f,
.CButton_base__primaryGreen_6f,
.CButton_base__primaryRed_ec,
.CButton_base__secondary_50 {
    background-size: 100% 100%;
}

.CButton_base__main_42 {
    background-image: url('R.images.gui.maps.icons.components.button.back_main');
}

.CButton_base__primary_7f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary');
}

.CButton_base__primaryGreen_6f {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_green');
}

.CButton_base__primaryRed_ec {
    background-image: url('R.images.gui.maps.icons.components.button.back_primary_red');
}

.CButton_base__secondary_50 {
    background-image: url('R.images.gui.maps.icons.components.button.back_secondary');
}

.CButton_base__ghost_ed {
    border-radius: 3rem;
    box-shadow:
        0 0 0 1rem rgba(0, 0, 0, 0.3),
        0 0 0 1rem rgba(255, 255, 255, 0.15) inset;
    background-color: rgba(0, 0, 0, 0.15);
}

.CButton_base__extraSmall_27 {
    min-height: 17rem;
    padding: 0 16rem;
}

.CButton_base__small_df,
.CButton_base__medium_74 {
    padding: 0 20rem;
}

.CButton_base__small_df {
    min-height: 18rem;
}

.CButton_base__medium_74 {
    min-height: 32rem;
}

.CButton_base__disabled_d9 {
    cursor: default;
}
/* Element .back and background-image in element .base need for fix bug in GF https://jira-archive.lesta.group/browse/WOTD-158525
The bug is that under certain conditions, when using border-image, stripes appear. Strip is a single-pixel gap
between 'border-image-width' and 'fill'.
This bug is reproduced in Google Chrome 81.0.4044.113
*/
.CButton_back_e5 {
    border-image-slice: 4 fill;
    border-image-width: 4rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__main_42 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_main');
}
.CButton_base__primary_7f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary');
}
.CButton_base__primaryGreen_6f .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_green');
}
.CButton_base__primaryRed_ec .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_primary_red');
}
.CButton_base__secondary_50 .CButton_back_e5 {
    border-image-source: url('R.images.gui.maps.icons.components.button.back_secondary');
}
.CButton_texture_fe {
    background: url('R.images.gui.maps.icons.components.button.standard_texture_file');
    background-size: 155rem 31rem;
    mix-blend-mode: soft-light;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_state_11 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: box-shadow 0.16s ease-in-out;
}
.CButton_base__focus_83 .CButton_state_11 {
    border-radius: 2rem;
    box-shadow: inset 0 0 2rem 1rem rgba(255, 85, 0, 0.2);
}
.CButton_stateHighlightHover_ff,
.CButton_stateHighlightActive_35,
.CButton_stateDisabled_54 {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.CButton_base__firstHover_d5 .CButton_stateHighlightHover_ff,
.CButton_base__firstHover_d5 .CButton_stateHighlightActive_35,
.CButton_base__firstHover_d5 .CButton_stateDisabled_54 {
    transition: opacity 0.16s ease-in-out;
}
.CButton_stateHighlightHover_ff {
    background-image: linear-gradient(
        180deg,
        rgba(252, 248, 235, 0.25) 0%,
        rgba(252, 248, 235, 0.1) 50%,
        rgba(255, 255, 255, 0) 100%
    );
}
.CButton_base_40:hover .CButton_stateHighlightHover_ff {
    opacity: 1;
}
.CButton_base_40:active .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__disabled_d9:hover .CButton_stateHighlightHover_ff {
    opacity: 0;
}
.CButton_base__ghost_ed .CButton_stateHighlightHover_ff {
    box-shadow: 0 15rem 12rem 0 rgba(242, 242, 230, 0.11) inset;
    background-color: rgba(8, 6, 0, 0.18);
    background-image: none;
}
.CButton_stateHighlightActive_35 {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.15) 100%);
}
.CButton_base__highlightActive_b2 .CButton_stateHighlightActive_35 {
    opacity: 1;
}
.CButton_stateDisabled_54 {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: url('R.images.gui.maps.icons.components.button.texture_disable');
    background-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_stateDisabled_54 {
    opacity: 1;
}
.CButton_content_cc {
    display: flex;
    align-items: center;
    color: #f2f2e6;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 -1rem 1rem #000;
    letter-spacing: 0.03em;
    transform: translateY(-1rem);
}
.CButton_content_cc[lang='ja'],
.CButton_content_cc[lang='ko'],
.CButton_content_cc[lang='zh_tw'],
.CButton_content_cc[lang='zh_sg'],
.CButton_content_cc[lang='zh_cn'],
.CButton_content_cc[lang='th'] {
    font-weight: 400;
}
.CButton_base__main_42 .CButton_content_cc,
.CButton_base__primaryRed_ec .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #600;
}
.CButton_base__secondary_50 .CButton_content_cc {
    color: rgba(254, 254, 236, 0.75);
}
.CButton_base__primaryGreen_6f .CButton_content_cc {
    text-shadow: 0 -1rem 1rem #1c2502;
}
.CButton_base__extraSmall_27 .CButton_content_cc {
    font-size: 12rem;
}
.CButton_base__small_df .CButton_content_cc {
    font-size: 14rem;
}
.CButton_base__medium_74 .CButton_content_cc {
    font-size: 15rem;
}
.CButton_base__disabled_d9 .CButton_content_cc {
    opacity: 0.6;
}

.Box_mt__XS_0c {
    margin-top: 4rem;
}
.Box_mt__SM_eb {
    margin-top: 8rem;
}
.Box_mt__SMp_cf {
    margin-top: 10rem;
}
.Box_mt__MD_25 {
    margin-top: 16rem;
}
.Box_mt__MDp_49 {
    margin-top: 20rem;
}
.Box_mt__LG_e8 {
    margin-top: 32rem;
}
.Box_mt__XL_83 {
    margin-top: 64rem;
}

.Box_mr__XS_7c {
    margin-right: 4rem;
}

.Box_mr__SM_08 {
    margin-right: 8rem;
}

.Box_mr__SMp_06 {
    margin-right: 10rem;
}

.Box_mr__MD_4a {
    margin-right: 16rem;
}

.Box_mr__MDp_b6 {
    margin-right: 20rem;
}

.Box_mr__LG_d0 {
    margin-right: 32rem;
}

.Box_mr__XL_db {
    margin-right: 64rem;
}

.Box_mb__XS_bb {
    margin-bottom: 4rem;
}

.Box_mb__SM_83 {
    margin-bottom: 8rem;
}

.Box_mb__SMp_04 {
    margin-bottom: 10rem;
}

.Box_mb__MD_ed {
    margin-bottom: 16rem;
}

.Box_mb__MDp_65 {
    margin-bottom: 20rem;
}

.Box_mb__LG_c8 {
    margin-bottom: 32rem;
}

.Box_mb__XL_f8 {
    margin-bottom: 64rem;
}

.Box_ml__XS_8a {
    margin-left: 4rem;
}

.Box_ml__SM_e6 {
    margin-left: 8rem;
}

.Box_ml__SMp_fb {
    margin-left: 10rem;
}

.Box_ml__MD_2b {
    margin-left: 16rem;
}

.Box_ml__MDp_c7 {
    margin-left: 20rem;
}

.Box_ml__LG_39 {
    margin-left: 32rem;
}

.Box_ml__XL_4a {
    margin-left: 64rem;
}

.FormatText_base_d0 {
    display: flex;
    flex-wrap: wrap;
}

/* eslint-disable-next-line expectedscss*/
.Text_paragraph-P10_2c {
    font-size: 10rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_paragraph-P12_22 {
    font-size: 12rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P14_a7 {
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}
.Text_paragraph-P16_90 {
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P18_50 {
    font-size: 18rem;
    font-weight: 400;
    line-height: 1.25;
}
.Text_paragraph-P24_33 {
    font-size: 24rem;
    font-weight: 400;
    line-height: 32rem;
}
.Text_heading-H14_8b {
    font-size: 14rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H15_9e {
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
}
.Text_heading-H18_b7 {
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H20R_f6 {
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H22_27 {
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H24R_be {
    font-size: 24rem;
    font-weight: 400;
    line-height: 1.2;
}
.Text_heading-H24_0c {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
}
.Text_heading-H28_78 {
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H36_32 {
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H56_c3 {
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H73_8f {
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
}
.Text_heading-H144_a9 {
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
}
.Text_BLACK_REAL_30 {
    color: #000000;
}
.Text_WHITE_REAL_bc {
    color: #ffffff;
}
.Text_WHITE_62 {
    color: #f2f2f7;
}
.Text_WHITE_ORANGE_54 {
    color: #fefeec;
}
.Text_WHITE_SPANISH_df {
    color: #e9e2bf;
}
.Text_PAR_15 {
    color: #8c8c7e;
}
.Text_PAR_SECONDARY_5d {
    color: #595950;
}
.Text_PAR_TERTIARY_c9 {
    color: #37362e;
}
.Text_INFO_RED_30 {
    color: #ff0000;
}
.Text_RED_66 {
    color: #ff2717;
}
.Text_RED_DARK_d8 {
    color: #b70000;
}
.Text_YELLOW_ed {
    color: #feab34;
}
.Text_ORANGE_be {
    color: #ee7000;
}
.Text_CREAM_57 {
    color: #ffdd99;
}
.Text_BROWN_18 {
    color: #cbac77;
}
.Text_GREEN_BRIGHT_3f {
    color: #80d43a;
}
.Text_GREEN_e3 {
    color: #7ab300;
}
.Text_GREEN_DARK_f1 {
    color: #497212;
}
.Text_BLUE_BOOSTER_21 {
    color: #ccffff;
}
.Text_BLUE_TEAMKILLER_ab {
    color: #09e2ff;
}
.Text_CRED_f7 {
    color: #ced9d9;
}
.Text_GOLD_28 {
    color: #ffc363;
}
.Text_BOND_be {
    color: #c9c9b6;
}
.Text_PROM_65 {
    color: #a29b70;
}

/* @mixin coinCountColor {
    &__defence {
        color: #bdfbff;
    }

    &__counterattack {
        color: $CREAM;
    }

    &__offence {
        color: $WHITE;
    }
} */

.HBCoin_base_d8 {
    display: flex;
    align-items: center;
    position: relative;
}

.HBCoin_label__default_e9 {
    color: #ffffff;
}

.HBCoin_label__booster_fe {
    color: #fd9;
}

.HBCoin_label__counterattackGlow_e3 {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__offenceGlow_7c {
    text-shadow:
        0 0 4rem rgba(255, 127, 0, 0.25),
        0 0 8rem #ff2a00,
        0 0 15rem #e52;
}

.HBCoin_label__defenceGlow_78 {
    text-shadow:
        0 0 4rem rgba(0, 31, 185, 0.25),
        0 0 8rem #0075ff,
        0 0 15rem #00c2ff;
}

.HBCoin_label__animated_82 {
    transition:
        text-shadow 0.2s,
        font-size 0.2s ease-out;
}

.HBCoin_label__notEnough_0e {
    color: #ff2717;
}

.HBCoin_label__sizeP14_c0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH15_73 {
    color: #e9e2bf;
    font-size: 15rem;
    font-weight: 700;
    line-height: 1.15;
    padding-bottom: 2rem;
}

.HBCoin_label__sizeH18_f6 {
    color: #ffdd99;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 4rem;
}

.HBCoin_label__sizeH20_14 {
    padding-bottom: 3rem;
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 700;
    line-height: 1.2;
}

.HBCoin_label__sizeH22_9c {
    color: #ced9d9;
    font-size: 22rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 3rem;
}

.HBCoin_label__sizeH24_b0 {
    color: #ffdd99;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH28_6d {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 5rem;
}

.HBCoin_label__sizeH36_10 {
    color: #f2f2f7;
    font-size: 36rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 7rem;
}

.HBCoin_label__sizeH42_4f {
    padding-bottom: 7rem;
    font-size: 42rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH56_88 {
    padding-bottom: 7rem;
    color: #ffffff;
    font-size: 56rem;
    font-weight: 700;
    line-height: 1.1;
}

.HBCoin_label__sizeH73_c1 {
    color: #f2f2f7;
    font-size: 73rem;
    font-weight: 700;
    line-height: 1.1;
    padding-bottom: 16rem;
}

.HBCoin_label__sizeH144_61 {
    color: #f2f2f7;
    font-size: 144rem;
    font-weight: 700;
    line-height: 1;
    padding-bottom: 16rem;
}

.HBCoin_label__progression_08 {
    color: #fefeec;
}

.HBCoin_label__booster_fe {
    color: #ffdd99;
}

.HBCoin_maxAmount_eb {
    margin-right: 3rem;
    color: #fefeec99;
}

.HBCoin_icon_27 {
    background: no-repeat 50% / contain;
}

.HBCoin_icon__animated_17 {
    transition:
        width 0.2s linear,
        height 0.2s linear,
        margin-left 0.2s;
}

.HBCoin_icon__size16x16_6b {
    width: 16rem;
    height: 16rem;
    margin-left: 3rem;
}

.HBCoin_icon__size24x24_35 {
    width: 24rem;
    height: 24rem;
    margin-left: 3rem;
}

.HBCoin_icon__size32x32_70 {
    width: 32rem;
    height: 32rem;
    margin-left: 5rem;
}

.HBCoin_icon__size48x48_42 {
    width: 48rem;
    height: 48rem;
    margin-left: 10rem;
}

.HBCoin_icon__size80x80_ca {
    width: 80rem;
    height: 80rem;
    margin-left: 10rem;
    margin-top: 10rem;
}

.HBCoin_icon__size134x134_4d {
    width: 134rem;
    height: 134rem;
}

.HBCoin_stockBg_25 {
    width: 80rem;
    height: 45rem;
    background: url('R.images.gui.maps.icons.library.RedActionBG') no-repeat 0 / contain;
    position: absolute;
    right: -30rem;
    bottom: -17rem;
    z-index: -1;
}

.HBCoin_stockBg__sizeH18_9b {
    bottom: -12rem;
}

.HBCoin_stockBg__sizeH22_5a {
    bottom: -11rem;
}

.mediaExtraLarge .HBCoin_stockBg_25 {
    bottom: -10rem;
}

.CoinExchangeWidget_base_87 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.CoinExchangeWidget_earnings_c7 {
    display: flex;
    margin-bottom: 9rem;
    z-index: 2;
}

.mediaMedium .CoinExchangeWidget_earnings_c7 {
    margin-bottom: 6rem;
}

.mediaExtraLarge .CoinExchangeWidget_earnings_c7 {
    margin-bottom: 4rem;
}

.CoinExchangeWidget_coin_d3 {
    padding-left: 10rem;
    font-size: 22rem;
}

.CoinExchangeWidget_exchange_ec {
    position: relative;
}

.CoinExchangeWidget_button_2c {
    width: 136rem;
    height: 20rem;
    margin-right: 2rem;
    z-index: 1;
}

.CoinExchangeWidget_spark_cd {
    width: 136rem;
    height: 160rem;
    background: url('R.images.historical_battles.gui.maps.icons.common.button_spark') no-repeat 50% / contain;
    opacity: 0.5;
    position: absolute;
    top: -80rem;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

.CustomTab_base_6f {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 32rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.CustomTab_base__active_05 {
    cursor: default;
    pointer-events: none;
}

.CustomTab_text_71 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 0 15rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 229, 0.4);
    transition: color 0.16s ease-in-out;
}

.CustomTab_base__hovered_1b .CustomTab_text_71 {
    color: #ffdaab;
}

.CustomTab_base__active_05 .CustomTab_text_71 {
    color: #ffe0b6;
}

.CustomTab_divider_86 {
    width: 1rem;
    height: 100%;
    background: url('R.images.gui.maps.icons.components.tabs.tab.separator') no-repeat 50% 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    right: -1rem;
    transition: opacity 0.16s ease-in-out;
}

.CustomTab_divider__show_3d {
    opacity: 1;
}

.CustomTab_state_c6 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    z-index: -1;
    transition: background-color 0.16s ease-in-out;
    pointer-events: none;
}

.CustomTab_base_6f:hover .CustomTab_state_c6,
.CustomTab_base__active_05 .CustomTab_state_c6 {
    background-color: rgba(255, 85, 0, 0.06);
    opacity: 1;
}

.CustomTab_base__active_05 .CustomTab_state_c6 {
    opacity: 1;
}

.CustomTab_border_58 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 1rem solid rgba(255, 85, 0, 0.2);
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s;
}

.CustomTab_base__active_05 .CustomTab_border_58 {
    opacity: 1;
}

.CustomTab_stateHighlight_a4 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 337rem;
    height: 168rem;
    background: url('R.images.gui.maps.icons.components.tabs.tab.highlight') 50% 50% no-repeat;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: opacity 0.16s ease-in-out;
}

.CustomTab_base__active_05 .CustomTab_stateHighlight_a4 {
    opacity: 1;
}

.CustomTab_stateBorder_a4 {
    width: 1rem;
    background: url('R.images.gui.maps.icons.components.tabs.tab.border') 0 50% no-repeat;
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    transition: opacity 0.16s ease-in-out;
}

.CustomTab_base__active_05 .CustomTab_stateBorder_a4 {
    opacity: 1;
}

.CustomTab_stateBorder__positionLeft_7e {
    left: -1rem;
}

.CustomTab_stateBorder__positionRight_6c {
    right: -1rem;
}

@keyframes Header_fadeIn_34 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Header_fadeOut_ae {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.Header_base_1e {
    align-self: center;
    height: 113rem;
    position: relative;
}

.mediaMedium .Header_base_1e {
    height: 136rem;
}

.mediaLarge .Header_base_1e {
    height: 146rem;
}

.mediaExtraLarge .Header_base_1e {
    height: 187rem;
}

.Header_base_1e {
    width: 764rem;
}

.mediaSmall .Header_base_1e {
    width: 1056rem;
}

.mediaMedium .Header_base_1e {
    width: 1236rem;
}

.mediaLarge .Header_base_1e {
    width: 1416rem;
}

.mediaExtraLarge .Header_base_1e {
    width: 1836rem;
}

.Header_base_1e {
    position: relative;
}

.Header_header_7f {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 35rem;
}

.mediaSmall .Header_header_7f {
    margin-top: 35rem;
}

.mediaMedium .Header_header_7f {
    margin-top: 42rem;
    font-size: 36rem;
}

.mediaLarge .Header_header_7f {
    margin-top: 52rem;
}

.mediaExtraLarge .Header_header_7f {
    margin-top: 67rem;
    font-size: 56rem;
}

.Header_tabs_07 {
    display: flex;
    position: absolute;
    right: 153rem;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.Header_coinWidget_84 {
    position: absolute;
    right: -1rem;
    bottom: 1rem;
}

.mediaSmall .Header_coinWidget_84 {
    bottom: 2rem;
}

.mediaMedium .Header_coinWidget_84 {
    bottom: 1rem;
}

.ScrollArea_base_47 {
    width: 100%;
    min-width: 1rem;
    min-height: 1rem;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    position: relative;
}

.ScrollArea_base__scrollIndent_1d.ps--active-y {
    padding-right: 13rem;
}

.ScrollArea_base__scrollIndent_1d.ps--active-х {
    padding-bottom: 13rem;
}

.ScrollArea_base__verticalScrollbarMargin_50 .ps__rail-y {
    margin: 20rem 0;
    right: 5rem;
}

.ScrollArea_base__multiple_44 .ps__rail-y {
    margin-bottom: 30rem;
}

.ScrollArea_base__hidden_ec {
    visibility: hidden;
}
.ps--scrolling-dragging {
    cursor: move;
}
.ps__rail-x,
.ps__thumb-x {
    height: 13rem;
    position: absolute;
}
.ps__rail-y,
.ps__thumb-y {
    width: 13rem;
    position: absolute;
}
.ps__thumb-x,
.ps__button-start-x,
.ps__button-end-x,
.ps__thumb-y,
.ps__button-start-y,
.ps__button-end-y {
    border: 1rem solid #7e7b68;
    box-shadow: inset 0 0 1rem rgba(255, 255, 190, 0.3);
    opacity: 0.7;
}
.ps__thumb-x:hover,
.ps__button-start-x:hover,
.ps__button-end-x:hover,
.ps__thumb-y:hover,
.ps__button-start-y:hover,
.ps__button-end-y:hover {
    opacity: 1;
}
.ps__thumb-x,
.ps__button-start-x,
.ps__button-end-x {
    bottom: -6rem;
}
.ps__thumb-y,
.ps__button-start-y,
.ps__button-end-y {
    right: -6rem;
}
.ps__rail-x {
    display: none;
    margin-left: 15rem;
    border-top: 6rem solid transparent;
    border-bottom: 6rem solid transparent;
    bottom: 0;
    cursor: pointer;
}
.ps__rail-y {
    display: none;
    margin-top: 15rem;
    border-left: 6rem solid transparent;
    border-right: 6rem solid transparent;
    right: 0;
    cursor: pointer;
}
.ps__track_x,
.ps__track_y {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.background');
    background-size: 1rem;
    position: relative;
}
.ps__track_x:hover,
.ps__track_y:hover {
    opacity: 0.7;
}
.ps__track_x {
    width: 100%;
    height: 1rem;
    background-repeat: repeat-x;
    background-position: 50% 0;
}
.ps__track_y {
    width: 1rem;
    height: 100%;
    background-repeat: repeat-y;
    background-position: 0 50%;
}
.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
}
.ps__thumb-x,
.ps__thumb-y {
    background: #26241b 50% 50% no-repeat;
    transition: opacity linear 0.13s;
}
.ps__thumb-x:active,
.ps__thumb-y:active {
    opacity: 0.7;
}
.ps__thumb-x {
    min-width: 10rem;
    background-image: url('R.images.gui.maps.icons.components.scroll_area.thumb_horizontal');
    background-size: 8rem 7rem;
}
.ps__thumb-y {
    min-height: 10rem;
    background-image: url('R.images.gui.maps.icons.components.scroll_area.thumb');
    background-size: 7rem 8rem;
}
.ps__button-start-x,
.ps__button-end-x,
.ps__button-start-y,
.ps__button-end-y {
    width: 13rem;
    height: 13rem;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 7rem 5rem;
    position: absolute;
}
.ps__button-start-x.disabled,
.ps__button-end-x.disabled,
.ps__button-start-y.disabled,
.ps__button-end-y.disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}
.ps__button-start-x,
.ps__button-start-y {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_top');
}
.ps__button-end-x,
.ps__button-end-y {
    background-image: url('R.images.gui.maps.icons.components.scroll_area.arrow_down');
}
.ps__button-start-x,
.ps__button-end-x {
    transform: rotate(-90deg);
}
.ps__button-start-x {
    left: -14rem;
}
.ps__button-end-x {
    right: -14rem;
}
.ps__button-start-y {
    top: -14rem;
}
.ps__button-end-y {
    bottom: -14rem;
}

.ExtendedText_base_71 {
    display: flex;
    line-height: 1.2;
    position: relative;
}

.ExtendedText_base__zeroPadding_25 {
    padding: 0;
}

.ExtendedText_base__isTruncationAvailable_5b {
    width: 100%;
}

.ExtendedText_truncated_97 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}

.ExtendedText_truncated__hide_31 {
    opacity: 0;
}

.ExtendedText_unTruncated_b8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    align-content: flex-start;
    color: #ff2717;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
}

.colors_blackReal_fc {
    color: #000000;
}

.colors_whiteReal_31 {
    color: #ffffff;
}

.colors_white_45 {
    color: #f2f2f7;
}

.colors_whiteOrange_81 {
    color: #fefeec;
}

.colors_whiteSpanish_c3 {
    color: #e9e2bf;
}

.colors_par_5b {
    color: #8c8c7e;
}

.colors_parSecondary_fd {
    color: #595950;
}

.colors_parTertiary_97 {
    color: #37362e;
}

.colors_red_79 {
    color: #ff2717;
}

.colors_redDark_73 {
    color: #b70000;
}

.colors_yellow_76 {
    color: #feab34;
}

.colors_orange_cd {
    color: #ee7000;
}

.colors_cream_0f {
    color: #ffdd99;
}

.colors_brown_82 {
    color: #cbac77;
}

.colors_greenBright_68 {
    color: #80d43a;
}

.colors_green_fa {
    color: #7ab300;
}

.colors_greenDark_a9 {
    color: #497212;
}

.colors_blueBooster_26 {
    color: #ccffff;
}

.colors_blueTeamkiller_86 {
    color: #09e2ff;
}

.colors_cred_35 {
    color: #ced9d9;
}

.colors_gold_c3 {
    color: #ffc363;
}

.colors_bond_ce {
    color: #c9c9b6;
}

.colors_prom_83 {
    color: #a29b70;
}

.renderers_noBreakWrapper_10 {
    display: flex;
    flex-wrap: nowrap;
}

.renderers_lineBreak_b5 {
    width: 100%;
    height: 0;
}

.renderers_newLine_bd {
    flex: 1;
    width: 100%;
}

.Currency_base_57 {
    display: flex;
    align-items: center;
    position: relative;
}
.Currency_icon_c5 {
    --icon-height: 16rem;
    --icon-width: var(--icon-height);
    width: var(--icon-width);
    height: var(--icon-height);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    z-index: 1;
}
.Currency_base__small_af .Currency_icon_c5,
.Currency_base__big_bc .Currency_icon_c5,
.Currency_base__large_65 .Currency_icon_c5,
.Currency_base__extraLarge_4d .Currency_icon_c5 {
    transform: translateY(3rem);
}
.Currency_icon__credits-small_9b {
    background-image: url('R.images.gui.maps.icons.library.CreditsIcon_2');
}
.Currency_icon__credits-big_96 {
    background-image: url('R.images.gui.maps.icons.library.CreditsIcon_1');
}
.Currency_icon__credits-large_ac {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_silver');
}
.Currency_base__large_65 .Currency_icon__credits-large_ac {
    transform: translateY(4rem);
}
.Currency_icon__credits-extraLarge_16 {
    --icon-height: 80rem;
    margin-right: -2rem;
    background-image: url('R.images.gui.maps.icons.library.credits_icon_80x80');
}
.Currency_icon__gold-small_86 {
    background-image: url('R.images.gui.maps.icons.library.GoldIcon_2');
}
.Currency_base__small_af .Currency_icon__gold-small_86 {
    transform: translateY(2rem);
}
.Currency_icon__gold-big_15 {
    background-image: url('R.images.gui.maps.icons.library.GoldIcon_1');
}
.Currency_base__big_bc .Currency_icon__gold-big_15 {
    transform: translateY(4rem);
}
.Currency_icon__gold-large_36 {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_gold');
}
.Currency_base__large_65 .Currency_icon__gold-large_36 {
    transform: translateY(4rem);
}
.Currency_icon__gold-extraLarge_a0 {
    --icon-height: 80rem;
    background-image: url('R.images.gui.maps.icons.library.gold_icon_80x80');
}
.Currency_icon__crystal-small_27 {
    background-image: url('R.images.gui.maps.icons.library.CrystalIcon_2');
}
.Currency_base__small_af .Currency_icon__crystal-small_27 {
    transform: translateY(2rem);
}
.Currency_icon__crystal-big_cd {
    --icon-height: 22rem;
    --icon-width: 23rem;
    background-image: url('R.images.gui.maps.icons.library.crystal_23x22');
}
.Currency_base__big_bc .Currency_icon__crystal-big_cd {
    transform: translateY(4rem);
}
.Currency_icon__crystal-large_d3 {
    --icon-height: 48rem;
    margin-left: -1rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.money_bonds');
}
.Currency_icon__crystal-extraLarge_09 {
    --icon-height: 80rem;
    background-image: url('R.images.gui.maps.icons.library.crystal_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__crystal-extraLarge_09 {
    transform: translateY(7rem);
}
.Currency_icon__xp-small_a7 {
    background-image: url('R.images.gui.maps.icons.library.NormalXpIcon');
}
.Currency_base__small_af .Currency_icon__xp-small_a7 {
    transform: translateY(1rem);
}
.Currency_icon__xp-big_97 {
    --icon-height: 22rem;
    --icon-width: 23rem;
    margin-left: -5rem;
    background-image: url('R.images.gui.maps.icons.library.xpIcon_23x22');
}
.Currency_base__big_bc .Currency_icon__xp-big_97 {
    transform: translateY(2rem);
}
.Currency_icon__xp-large_6b {
    --icon-height: 48rem;
    margin: 0 -5rem 0 -6rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.exp');
}
.Currency_icon__xp-extraLarge_67 {
    --icon-height: 80rem;
    margin: 0 -5rem;
    background-image: url('R.images.gui.maps.icons.library.xp_tank_icon_80x80');
}
.Currency_icon__freeXP-small_ca {
    background-image: url('R.images.gui.maps.icons.library.freeXPIcon16x16');
}
.Currency_base__small_af .Currency_icon__freeXP-small_ca {
    transform: translateY(1rem);
}
.Currency_icon__freeXP-big_21 {
    --icon-height: 24rem;
    margin-left: -5rem;
    background-image: url('R.images.gui.maps.icons.library.freeXPIconBig24x24');
}
.Currency_icon__freeXP-large_c8 {
    --icon-height: 48rem;
    margin: 0 -5rem 0 -6rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.freeExp');
}
.Currency_icon__freeXP-extraLarge_58 {
    --icon-height: 80rem;
    margin: 0 -5rem;
    background-image: url('R.images.gui.maps.icons.library.free_xp_icon_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__freeXP-extraLarge_58 {
    transform: translateY(4rem);
}
.Currency_icon__equipCoin-small_32 {
    --icon-height: 16rem;
    margin-right: -2rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoin_1');
}
.Currency_base__small_af .Currency_icon__equipCoin-small_32 {
    transform: translateX(-1rem) translateY(1rem);
}
.Currency_icon__equipCoin-big_79 {
    --icon-height: 24rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoinBig');
}
.Currency_base__big_bc .Currency_icon__equipCoin-big_79 {
    transform: translateX(-5rem) translateY(3rem);
}
.Currency_icon__equipCoin-large_2c {
    --icon-height: 48rem;
    margin-right: 2rem;
    background-image: url('R.images.gui.maps.shop.rewards.c_48x48.equipCoin');
}
.Currency_icon__equipCoin-extraLarge_8a {
    --icon-height: 80rem;
    margin-right: 8rem;
    background-image: url('R.images.gui.maps.icons.library.equipCoin_icon_80x80');
}
.Currency_base__extraLarge_4d .Currency_icon__equipCoin-extraLarge_8a {
    transform: translateX(2rem) translateY(4rem);
}
.Currency_value_e1 {
    /* font-size inherit does not work here, so 1em means the size does not change */
    /* stylelint-disable-next-line */
    --font-size: 1em;
    font-size: var(--font-size);
    position: relative;
    z-index: 2;
}
.Currency_base__small_af .Currency_value_e1 {
    padding-right: 2rem;
}
.Currency_base__big_bc .Currency_value_e1 {
    --font-size: 24rem;
    padding-right: 5rem;
    font-weight: 700;
}
.Currency_base__big_bc .Currency_value_e1 + .Currency_icon_c5 {
    font-size: 24rem;
}
.Currency_base__large_65 .Currency_value_e1 {
    --font-size: 36rem;
    font-weight: 700;
}
.Currency_base__large_65 .Currency_value_e1 + .Currency_icon_c5 {
    font-size: 36rem;
}
.Currency_base__extraLarge_4d .Currency_value_e1 {
    --font-size: 56rem;
    font-weight: 700;
}
.Currency_value__freeXP_cb {
    color: #f2f2f7;
}
.Currency_value__credits_76 {
    color: #ced9d9;
}
.Currency_value__gold_dd {
    color: #ffc363;
}
.Currency_value__xp_b0,
.Currency_value__crystal_19,
.Currency_value__equipCoin_d0 {
    color: #c9c9b6;
}
.Currency_base__small_af .Currency_value__notEnough_56 {
    color: #ff2717;
}
.Currency_base__big_bc .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_base__large_65 .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_base__extraLarge_4d .Currency_value__notEnough_56 {
    color: #b70000;
}
.Currency_stock_87 {
    height: 13rem;
    color: #ffdd99;
    font-size: 13rem;
    line-height: 1;
    position: relative;
    z-index: 0;
    pointer-events: none;
}
.Currency_stock__indent_a1 {
    margin-left: 2rem;
}
.Currency_base__small_af .Currency_stock_87 {
    transform: translateY(0rem);
}
.Currency_base__big_bc .Currency_stock_87 {
    transform: translateY(4rem);
}
.Currency_base__large_65 .Currency_stock_87 {
    transform: translateY(10rem);
}
.Currency_base__extraLarge_4d .Currency_stock_87 {
    transform: translateY(18rem);
}
.Currency_stock__interactive_93 {
    pointer-events: auto;
}
.Currency_stockBackground_82 {
    width: 80rem;
    height: 45rem;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: -27rem;
    bottom: 0;
    z-index: -1;
    transform: translateY(17rem);
}

.SimplePrice_base_41 {
    display: flex;
}

.SimplePrice_oldPrice_bf {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-self: flex-end;
    margin: 0 3rem 3rem 0;
    position: relative;
}

.SimplePrice_oldPrice__small_79 {
    margin: 0 3rem 2rem 0;
}

.mediaExtraLarge .SimplePrice_oldPrice_bf {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    top: -3rem;
}

.SimplePrice_line_e0 {
    width: 100%;
    height: 1rem;
    background-color: #8c8c7e;
    position: absolute;
    bottom: 8rem;
    left: 0;
}

.MultiPrice_base_a0 {
    display: flex;
}

.MultiPrice_plus_cb {
    width: 18rem;
    height: 18rem;
    display: flex;
    align-self: center;
    background: url('R.images.historical_battles.gui.maps.icons.shop.plus') no-repeat 50% / contain;
}

.MultiPrice_plus__tiny_1a,
.MultiPrice_plus__small_5a {
    margin: 2rem 6rem 0;
}

.MultiPrice_plus__big_21 {
    margin: 6rem 4rem 0;
}

.MultiPrice_item_62 {
    display: flex;
}

@keyframes ListItem_fadeIn_dc {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes ListItem_fadeOut_05 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.ListItem_base_26 {
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 3rem;
    background-color: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    position: relative;
}

.ListItem_base__hovered_91 {
    border: 1rem solid #ffb266;
    cursor: pointer;
}

.ListItem_base_26 {
    width: 244rem;
    height: 160rem;
}

.mediaSmall .ListItem_base_26 {
    width: 336rem;
    height: 222rem;
}

.mediaMedium .ListItem_base_26 {
    width: 291rem;
    height: 210rem;
}

.mediaLarge .ListItem_base_26 {
    width: 336rem;
    height: 222rem;
}

.mediaExtraLarge .ListItem_base_26 {
    width: 441rem;
    height: 280rem;
}

.ListItem_mask_7e {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 3rem;
    box-shadow: inset 0rem 0rem 30px rgba(255, 122, 0, 0.3);
    background: rgba(13, 13, 13, 0.6);
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    pointer-events: none;
}

.ListItem_mask__hovered_d1 {
    opacity: 1;
    cursor: pointer;
}

.ListItem_base__hovered_91 .ListItem_mask_7e {
    opacity: 1;
    cursor: pointer;
}

.ListItem_flag_8f {
    width: 190rem;
    height: 158rem;
    background: no-repeat 50% / contain;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

.mediaSmall .ListItem_flag_8f {
    width: 264rem;
    height: 220rem;
}

.ListItem_icon_41 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 128rem;
    height: 96rem;
    background: no-repeat 50% / contain;
    top: 10rem;
    z-index: 0;
    pointer-events: none;
}

.mediaSmall .ListItem_icon_41 {
    width: 180rem;
    height: 135rem;
    top: 20rem;
}

.mediaMedium .ListItem_icon_41 {
    margin-left: 1rem;
    top: 9rem;
}

.mediaLarge .ListItem_icon_41 {
    margin-left: 0;
    top: 19rem;
}

.mediaExtraLarge .ListItem_icon_41 {
    width: 240rem;
    height: 180rem;
}

.ListItem_base__hovered_91 .ListItem_icon_41 {
    opacity: 0.5;
}

.ListItem_overlay_b2 {
    width: 248rem;
    height: 224rem;
    background: no-repeat 50% / contain;
    position: absolute;
    top: -82rem;
    left: -42rem;
    z-index: -1;
}

.mediaSmall .ListItem_overlay_b2 {
    top: -41rem;
    left: -35rem;
}

.mediaMedium .ListItem_overlay_b2 {
    top: -44rem;
    left: -32rem;
}

.mediaLarge .ListItem_overlay_b2 {
    top: -42rem;
    left: -34rem;
}

.mediaExtraLarge .ListItem_overlay_b2 {
    top: -20rem;
    left: -35rem;
}

.ListItem_base__hovered_91 .ListItem_overlay_b2 {
    opacity: 0.3;
}

.ListItem_specification_06 {
    height: 125rem;
    overflow: hidden;
    position: absolute;
    right: 0;
    bottom: 45rem;
    left: 0;
    z-index: 1;
}

.mediaSmall .ListItem_specification_06 {
    height: 180rem;
    bottom: 58rem;
}

.mediaMedium .ListItem_specification_06 {
    height: 146rem;
    bottom: 64rem;
}

.mediaLarge .ListItem_specification_06 {
    height: 180rem;
    bottom: 58rem;
}

.mediaLarge .ListItem_specification_06 {
    height: 219rem;
    bottom: 61rem;
}

.ListItem_text_60 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin-top: 24rem;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 15rem;
    left: 15rem;
    transform: translateY(100%);
    transition:
        transform 0.3s,
        opacity 0.3s;
    pointer-events: none;
}

.mediaSmall .ListItem_text_60 {
    margin-top: 29rem;
    right: 20rem;
    left: 21rem;
}

.mediaMedium .ListItem_text_60 {
    margin-top: 25rem;
}

.mediaLarge .ListItem_text_60 {
    margin-top: 51rem;
}

.mediaExtraLarge .ListItem_text_60 {
    margin-top: 24rem;
}

.ListItem_base__hovered_91 .ListItem_text_60 {
    opacity: 1;
    transform: translateY(0);
}

.ListItem_staticName_ba {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    opacity: 1;
    position: absolute;
    right: 15rem;
    bottom: 36rem;
    left: 15rem;
    transition: opacity 0.1s 0.1s;
}

.mediaSmall .ListItem_staticName_ba {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    right: 20rem;
    bottom: 42rem;
    left: 20rem;
}

.mediaMedium .ListItem_staticName_ba {
    bottom: 48rem;
}

.mediaExtraLarge .ListItem_staticName_ba {
    bottom: 56rem;
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.ListItem_base__hovered_91 .ListItem_staticName_ba {
    opacity: 0;
}

.ListItem_name_79 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
}

.mediaSmall .ListItem_name_79 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.mediaExtraLarge .ListItem_name_79 {
    color: #e9e2bf;
    font-size: 20rem;
    font-weight: 400;
    line-height: 1.2;
}

.ListItem_description_25 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    max-height: 70rem;
    margin-top: 7rem;
}

.mediaSmall .ListItem_description_25 {
    max-height: 110rem;
    margin-top: 8rem;
}

.mediaMedium .ListItem_description_25 {
    max-height: 70rem;
    margin-top: 9rem;
}

.mediaLarge .ListItem_description_25 {
    max-height: 110rem;
}

.mediaExtraLarge .ListItem_description_25 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    max-height: 150rem;
}

.ListItem_count_94 {
    color: #e9e2bf;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: flex-end;
    position: absolute;
    right: 15rem;
    bottom: 13rem;
    z-index: 1;
    pointer-events: none;
}

.mediaSmall .ListItem_count_94 {
    right: 20rem;
    bottom: 15rem;
}

.mediaMedium .ListItem_count_94 {
    bottom: 16rem;
}

.ListItem_warehouse_bd {
    width: 30rem;
    height: 24rem;
    margin: 0 5rem -2rem 0;
    background: url('R.images.gui.maps.icons.buttons.icon_table_comparison_inhangar') no-repeat 50% / contain;
}

.ListItem_price_70 {
    position: absolute;
    bottom: 9rem;
    left: 15rem;
    z-index: 1;
    pointer-events: auto;
}

.mediaSmall .ListItem_price_70 {
    bottom: 15rem;
    left: 20rem;
}

.mediaMedium .ListItem_price_70 {
    bottom: 13rem;
    left: 21rem;
}

.mediaExtraLarge .ListItem_price_70 {
    bottom: 11rem;
}

@keyframes List_fadeIn_c7 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes List_fadeOut_39 {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.List_base_ed {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;
    padding: 16rem 0 12rem;
}

.mediaSmall .List_base_ed {
    padding-top: 24rem;
}

.List_scroll__fadeIn_01 {
    animation: List_fadeIn_c7 0.15s ease-in-out;
}

.List_scroll__fadeOut_17 {
    animation: List_fadeOut_39 0.15s ease-in-out;
}

.List_scrollArea_08 {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 0rem;
    right: 10rem;
    bottom: 10rem;
}

.List_divider_31 {
    width: 764rem;
}

.mediaSmall .List_divider_31 {
    width: 1056rem;
}

.mediaMedium .List_divider_31 {
    width: 1236rem;
}

.mediaLarge .List_divider_31 {
    width: 1416rem;
}

.mediaExtraLarge .List_divider_31 {
    width: 1836rem;
}

.List_divider_31 {
    align-self: center;
    height: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
}

.List_scrollBox_71 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-self: center;
    width: 780rem;
    margin-left: 4rem;
}

.mediaSmall .List_scrollBox_71 {
    width: 1080rem;
    margin-left: -4rem;
}

.mediaMedium .List_scrollBox_71 {
    width: 1280rem;
    margin-left: 15rem;
}

.mediaLarge .List_scrollBox_71 {
    width: 1440rem;
    margin-left: -4rem;
}

.mediaExtraLarge .List_scrollBox_71 {
    width: 1880rem;
    margin-left: 14rem;
}

.List_item_6e {
    margin: 16rem 0 0 16rem;
}

.mediaSmall .List_item_6e {
    margin: 24rem 0 0 24rem;
}

.List_bottom_6d {
    width: 100%;
    height: 15rem;
    position: relative;
}

.mediaSmall .List_bottom_6d {
    height: 23rem;
}

.Slot_base_6c {
    border: 1rem solid rgba(255, 255, 255, 0.1);
    border-radius: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    position: relative;
}

.Slot_base__hovered_80 {
    cursor: pointer;
}

.Slot_mask_1f {
    width: 100%;
    height: 100%;
    border: 1rem solid #ffb266;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 30px rgba(255, 122, 0, 0.3);
    background: rgba(13, 13, 13, 0.6);
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
    pointer-events: none;
}

.Slot_base__hovered_80 .Slot_mask_1f {
    opacity: 1;
    z-index: 1;
}

.BundleTemplate_base_db {
    position: relative;
}

.BundleTemplate_discount_9b {
    position: absolute;
    top: -1rem;
    right: -1rem;
}

.BundleTemplate_count_26 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    position: absolute;
    right: 10rem;
    bottom: 11rem;
    z-index: 1;
}

.mediaSmall .BundleTemplate_count_26 {
    width: auto;
    right: 24rem;
    bottom: 16rem;
}

.mediaExtraLarge .BundleTemplate_count_26 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.BundleTemplate_brown_6a {
    color: #cbac77;
}

.BundleTemplate_fromPrice_f1 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
}

.mediaExtraLarge .BundleTemplate_fromPrice_f1 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.BundleTemplate_fromMultiPrice_43 {
    position: relative;
}

.mediaMedium .BundleTemplate_fromMultiPrice_43 {
    top: -2rem;
}

.BundleTemplate_container_70 {
    position: relative;
}

.BundleTemplate_bought_04 {
    width: 136rem;
    height: 100rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.bought_shadow') no-repeat 50% / contain;
    position: absolute;
    bottom: -1rem;
    left: -1rem;
    z-index: 1;
}

.BundleTemplate_status_de {
    color: #7ab300;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 15rem;
    left: 15rem;
}

.BundleTemplate_warehousIcon_50 {
    width: 30rem;
    height: 24rem;
    margin-right: 5rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.icon_table_comparison_inhangar_green') no-repeat
        50% / contain;
}

.BundleTemplate_price_8c {
    position: absolute;
    bottom: 9rem;
    left: 15rem;
    z-index: 2;
}

.mediaSmall .BundleTemplate_price_8c {
    bottom: 14rem;
    left: 20rem;
}

.mediaMedium .BundleTemplate_price_8c {
    bottom: 13rem;
}

.mediaExtraLarge .BundleTemplate_price_8c {
    bottom: 11rem;
}

.Discount_base_32 {
    width: 222rem;
    height: 132rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.discount') no-repeat 50% / contain;
}

.Discount_discount_ed {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    opacity: 1;
    position: absolute;
    top: 13rem;
    right: 16rem;
    transition: opacity 0.3s;
}

.mediaSmall .Discount_discount_ed {
    top: 15rem;
    right: 15rem;
}

.mediaExtraLarge .Discount_discount_ed {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    top: 17rem;
}

.Discount_discount__hide_12 {
    opacity: 0;
}

.Bundle_base_2c {
    width: 372rem;
    height: 158rem;
}

.mediaSmall .Bundle_base_2c {
    width: 514rem;
    height: 188rem;
}

.mediaMedium .Bundle_base_2c {
    width: 604rem;
    height: 208rem;
}

.mediaLarge .Bundle_base_2c {
    width: 694rem;
    height: 220rem;
}

.mediaExtraLarge .Bundle_base_2c {
    width: 904rem;
    height: 278rem;
}

.Bundle_slot_43 {
    margin: 0 16rem 16rem 0;
}

.mediaSmall .Bundle_slot_43 {
    margin: 0 24rem 24rem 0;
}

.Bundle_content_80 {
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 100%;
    padding: 0 16rem;
}

.mediaSmall .Bundle_content_80 {
    padding: 0 20rem;
}

.mediaMedium .Bundle_content_80 {
    padding-right: 30rem;
}

.mediaExtraLarge .Bundle_content_80 {
    padding-right: 40rem;
}

.Bundle_text_c0 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    flex: 1;
    margin-top: -4rem;
    z-index: 1;
}

.mediaSmall .Bundle_text_c0 {
    margin-top: -8rem;
}

.mediaMedium .Bundle_text_c0 {
    margin-top: -14rem;
}

.mediaLarge .Bundle_text_c0 {
    margin-top: -16rem;
}

.mediaExtraLarge .Bundle_text_c0 {
    margin-top: -24rem;
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
}

.Bundle_name_b0 {
    margin-bottom: 6rem;
    color: #e9e2bf;
}

.mediaSmall .Bundle_name_b0 {
    color: #e9e2bf;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 10rem;
}

.mediaExtraLarge .Bundle_name_b0 {
    margin-bottom: 12rem;
    font-size: 20rem;
}

.Bundle_description_1a {
    color: #8c8c7e;
}

.Bundle_icon_0c {
    width: 158rem;
    height: 82rem;
    background: no-repeat 50% / contain;
    position: relative;
    right: -6rem;
}

.mediaSmall .Bundle_icon_0c {
    width: 260rem;
    height: 135rem;
    right: -10rem;
}

.mediaMedium .Bundle_icon_0c {
    right: 0;
}

.mediaLarge .Bundle_icon_0c {
    top: 0;
    right: 19rem;
}

.mediaExtraLarge .Bundle_icon_0c {
    width: 404rem;
    height: 210rem;
    right: -1rem;
}

.EquipmentBundle_base_fe {
    width: 307rem;
    height: 298rem;
}

.mediaSmall .EquipmentBundle_base_fe {
    width: 424rem;
    height: 278rem;
}

.mediaMedium .EquipmentBundle_base_fe {
    width: 501rem;
    height: 344rem;
}

.mediaLarge .EquipmentBundle_base_fe {
    width: 574rem;
    height: 463rem;
}

.mediaExtraLarge .EquipmentBundle_base_fe {
    width: 749rem;
    height: 600rem;
}

.EquipmentBundle_slot_13 {
    margin-bottom: 16rem;
}

.mediaSmall .EquipmentBundle_slot_13 {
    margin-bottom: 24rem;
}

.EquipmentBundle_icon_6b {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 272rem;
    height: 204rem;
    margin: -30rem 0 0 -1rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.bundles.equipments_272x204') no-repeat 50% /
        contain;
}

.mediaSmall .EquipmentBundle_icon_6b {
    width: 296rem;
    height: 222rem;
    margin: 1rem 0 0;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.bundles.equipments_296x222');
}

.mediaMedium .EquipmentBundle_icon_6b {
    width: 320rem;
    height: 240rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.bundles.equipments_320x240');
}

.mediaLarge .EquipmentBundle_icon_6b {
    width: 416rem;
    height: 312rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.bundles.equipments_416x312');
}

.mediaExtraLarge .EquipmentBundle_icon_6b {
    width: 600rem;
    height: 450rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.bundles.equipments_600x450');
}

.EquipmentBundle_name_ed {
    color: #e9e2bf;
    font-size: 18rem;
    font-weight: 700;
    line-height: 1.1;
    position: absolute;
    bottom: 48rem;
    left: 16rem;
    z-index: 1;
    transition: transform 0.3s;
}

.mediaSmall .EquipmentBundle_name_ed {
    left: 21rem;
}

.mediaMedium .EquipmentBundle_name_ed {
    color: #e9e2bf;
    font-size: 24rem;
    font-weight: 700;
    line-height: 1.2;
    bottom: 54rem;
}

.mediaExtraLarge .EquipmentBundle_name_ed {
    color: #e9e2bf;
    font-size: 28rem;
    font-weight: 700;
    line-height: 1.1;
    bottom: 58rem;
}

.EquipmentBundle_slot_13:hover .EquipmentBundle_name_ed {
    transform: translateY(-42rem);
}

.mediaSmall .EquipmentBundle_slot_13:hover .EquipmentBundle_name_ed {
    transform: translateY(-34rem);
}

.mediaExtraLarge .EquipmentBundle_slot_13:hover .EquipmentBundle_name_ed {
    transform: translateY(-42rem);
}

.EquipmentBundle_description_bc {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-items: center;
    height: 40rem;
    opacity: 0;
    position: absolute;
    right: 16rem;
    bottom: 48rem;
    left: 16rem;
    z-index: 1;
    transition: opacity 0.3s;
}

.mediaSmall .EquipmentBundle_description_bc {
    height: 32rem;
    right: 21rem;
    left: 21rem;
}

.mediaMedium .EquipmentBundle_description_bc {
    bottom: 54rem;
}

.mediaExtraLarge .EquipmentBundle_description_bc {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    height: 40rem;
    bottom: 58rem;
}

.EquipmentBundle_slot_13:hover .EquipmentBundle_description_bc {
    opacity: 1;
}

.EquipmentBundle_shadow_ba {
    width: 311rem;
    height: 300rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.corner1024') no-repeat 50% / contain;
    position: absolute;
    right: -6rem;
    bottom: -6rem;
    z-index: 0;
}

.mediaSmall .EquipmentBundle_shadow_ba {
    width: 428rem;
    height: 280rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.corner1366');
    right: -7rem;
    bottom: -6rem;
}

.mediaMedium .EquipmentBundle_shadow_ba {
    width: 503rem;
    height: 346rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.corner1600');
    right: -6rem;
}

.mediaLarge .EquipmentBundle_shadow_ba {
    width: 576rem;
    height: 466rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.corner1920');
}

.mediaExtraLarge .EquipmentBundle_shadow_ba {
    width: 750rem;
    height: 602rem;
    background-image: url('R.images.historical_battles.gui.maps.icons.shop.corner2560');
    right: -7rem;
    bottom: -7rem;
}

@keyframes Showcase_fadeIn_d0 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes Showcase_fadeOut_de {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.Showcase_base_7b {
    display: flex;
    flex-direction: column;
    padding: 16rem 0 0 16rem;
}

.mediaSmall .Showcase_base_7b {
    padding: 24rem 0 0 24rem;
}

.Showcase_base__fadeIn_0b {
    animation: Showcase_fadeIn_d0 0.15s ease-in-out;
}

.Showcase_base__fadeOut_3d {
    animation: Showcase_fadeOut_de 0.15s ease-in-out;
}

.Showcase_row_b3 {
    display: flex;
}

.Showcase_footer_97 {
    color: #8c8c7e;
    font-size: 14rem;
    font-weight: 400;
    line-height: 1.3;
    display: flex;
    align-self: center;
    position: relative;
}

.mediaSmall .Showcase_footer_97 {
    margin-top: -8rem;
}

.mediaMedium .Showcase_footer_97 {
    margin-top: 2rem;
}

.mediaLarge .Showcase_footer_97 {
    margin-top: 12rem;
}

.mediaExtraLarge .Showcase_footer_97 {
    color: #8c8c7e;
    font-size: 16rem;
    font-weight: 400;
    line-height: 1.25;
    margin-top: 19rem;
}

.Showcase_info_b3 {
    display: flex;
    align-self: center;
    width: 16rem;
    height: 16rem;
    margin-left: 5rem;
    background: url('R.images.historical_battles.gui.maps.icons.shop.infoIcon') no-repeat 50% / contain;
}

.mediaExtraLarge .Showcase_info_b3 {
    margin-top: 2rem;
}

.ShopViewApp_base_c2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}
